<!--   -->
 
<h4 style="text-align:left;color:#141E46;">Business Category and Documents</h4>
 
 
  <mat-card-header>
    <div class="row mt-4">
    <div class="col">
 
      <div class="search ">
        <form class="form">
            <label for="search">
                <input #input (keyup)="applyFilter($event)" required="" autocomplete="off" placeholder="Search"
                    id="search" type="text">
                <div class="icon">
                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="swap-on">
                        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                            stroke-linecap="round">
                        </path>
                    </svg>
                    <!-- <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="swap-off">
                        <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round">
                        </path>
                    </svg> -->
                </div>
                <button  (click)="reload()" type="reset" class="close-btn">
                    <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            fill-rule="evenodd"></path>
                    </svg>
                </button>
            </label>
        </form>

    </div>&nbsp;&nbsp;&nbsp;
      <!-- <div class="search mx-1">
            <span class="fa fa-search"></span>
            <input style="font-size: 12px;" type="text" class="form-control" #input (keyup)="applyFilter($event)"
                  placeholder="Search..">
          </div>&nbsp;&nbsp;&nbsp; -->
 
 
      <button (click)="create()" style="color:white;background-color: #141E46;border-radius: 10px;font-size: 12px;" mat-raised-button
        [hidden]="valueKycadd!=='Business Category Doc-Add'">Create</button>
      <button style="color:white;background-color: #141E46;border-radius: 10px;font-size: 12px;" (click)="exportexcel()"
        mat-raised-button [hidden]="valueKycexport!=='Business Category Doc-Export'">Export</button>
    </div>
  </div>
</mat-card-header>
 
<!-- <mat-card> -->
<mat-card-content>
 
  <div class="example-container text-nowrap mt-3" style="overflow-x: scroll; scrollbar-width: thin;">
 
    <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1">
 
      <ng-container matColumnDef="businessCategoryId">
        <th mat-header-cell *matHeaderCellDef> S.No</th>
        <td mat-cell *matCellDef="let businesscategorykyc; let i = index"> {{i+1}} </td>
      </ng-container>
 
      <ng-container matColumnDef="kycDocName">
        <th mat-header-cell *matHeaderCellDef>Business Category</th>
        <td mat-cell *matCellDef="let businesscategorykyc">{{businesscategorykyc?.businessCategoryId?.categoryName}}</td>
      </ng-container>
 
      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef>Document Type</th>
        <td mat-cell *matCellDef="let businesscategorykyc">{{businesscategorykyc?.entityKycCategory?.kycCategoryName}}</td>
      </ng-container>
 
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="valueKycstatus!=='Business Category Doc-Status'">Status
        </th>
        <td mat-cell *matCellDef="let businesscategorykyc" [hidden]="valueKycstatus!=='Business Category Doc-Status'">
          <mat-slide-toggle class="example-margin" color="primary" [checked]="businesscategorykyc.activeStatus === 1"
            (change)="onSubmit($event,businesscategorykyc.businessCreationId)">
          </mat-slide-toggle>
        </td>
      </ng-container>
 
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="valueKycedit!=='Business Category Doc-Edit'"> Action
        </th>
        <td mat-cell *matCellDef="let businesscategorykyc" [hidden]="valueKycedit!=='Business Category Doc-Edit'">
          <i style="cursor: pointer;font-size:15px; color:#545497;" (click)="Edit(businesscategorykyc)"
            class="fas fa-edit"></i>
        </td>
      </ng-container>
 
      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef>Created By</th>
        <td mat-cell *matCellDef="let businesscategorykyc">{{businesscategorykyc.createdBy}}</td>
      </ng-container>
 
      <ng-container matColumnDef="createdDateTime">
        <th mat-header-cell *matHeaderCellDef>Created At</th>
        <td mat-cell *matCellDef="let businesscategorykyc">{{businesscategorykyc.createdDateTime |date:'dd/MM/yyyy hh:mm a'}}</td>
      </ng-container>
 
 
      <!-- <ng-container matColumnDef="content">
      <th  mat-header-cell *matHeaderCellDef> Mcc Code</th>
      <td mat-cell *matCellDef="let businesscategory"  style="text-align: center; font-size: small;">
        <i class="fa fa-eye"
       ></i></td>
    </ng-container> -->
      <!-- <ng-container matColumnDef="image">
      <th  mat-header-cell *matHeaderCellDef> Image</th>
      <td mat-cell *matCellDef="let viewunion">{{viewunion.image}}</td>
    </ng-container> -->
 
 
 
      <ng-container matColumnDef="modifiedBy">
        <th mat-header-cell *matHeaderCellDef> Modified By </th>
        <td mat-cell *matCellDef="let businesscategorykyc">{{businesscategorykyc.modifiedBy}}</td>
      </ng-container>
 
      <ng-container matColumnDef="modifiedDateTime">
        <th mat-header-cell *matHeaderCellDef> Modified At</th>
        <td mat-cell *matCellDef="let businesscategorykyc">{{businesscategorykyc.modifiedDateAndTime |date:'dd/MM/yyyy hh:mm a' }}</td>
      </ng-container>
 
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      <tr *matNoDataRow>
        <td class="mat-cell" colspan="0" *ngIf="searchPerformed">No Data</td>
        <td class="mat-cell" colspan="0" *ngIf="!searchPerformed && dataSource.data.length === 0">No Data
        </td>
      </tr>
    </table>
  </div>
</mat-card-content>
<mat-card-footer>
 
  <mat-paginator [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons
    aria-labels="select page of users"></mat-paginator>
 
</mat-card-footer>
<!-- </mat-card> -->