<h4 style="text-align:left;color:#141E46;">Cloud Fee AutoDebit</h4>
 
 
<mat-card-header>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="search ">
                <form class="form">
                    <label for="search">
                        <input #input  required autocomplete="off" placeholder="Search" id="search" type="text" name="search" [(ngModel)]="currentFilterValue">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <button (click)="reload()" type="reset" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
                </form>
 
            </div>
            &nbsp;&nbsp;&nbsp;
            <button (click)="autodebit(currentFilterValue)" style="color:white;background-color: #141E46;border-radius: 10px;"
                mat-raised-button>Go</button>
            &nbsp;
            <button [hidden]="valueautodebitexport!=='MMC Auto Debit-Export'"
                style="color:white;background-color: #141E46;border-radius: 10px;" (click)="exportexcel()"
                mat-raised-button>Export</button>
        </div>    &nbsp;&nbsp;&nbsp;
        <div class="col-md-2"  style="
             margin-top: 13px;">
            <input type="range" min="0" [max]="maxScroll" [(ngModel)]="scrollValue" (input)="onSliderChange($event)" />
 
        </div>
        <div class="col-md-4">
        </div>
    </div>
</mat-card-header>
 
<!-- <mat-card> -->
<mat-card-content>
 
    <div #tableContainer class="example-container mat-elevation-z8 mt-2">
 
        <table matSort mat-table [dataSource]="dataSource">
 
            <ng-container matColumnDef="merchantLogId">
                <th mat-header-cell *matHeaderCellDef> S.No</th>
                <td mat-cell *matCellDef="let viewall; let i = index"> {{i+1}} </td>
            </ng-container>
 
            <ng-container matColumnDef="accountId">
                <th mat-header-cell *matHeaderCellDef>Account Id</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.accountId}}</td>
            </ng-container>
 
            <ng-container matColumnDef="merchantLegalName">
                <th mat-header-cell *matHeaderCellDef>Merchant LegalName</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.userModel.merchantLegalName}}</td>
            </ng-container>
 
            <ng-container matColumnDef="categoryName">
                <th mat-header-cell *matHeaderCellDef>Business Category</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.userModel.businessCategoryModel.categoryName}}</td>
            </ng-container>
 
            <ng-container matColumnDef="planName">
                <th mat-header-cell *matHeaderCellDef>Plan Name</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.planName}}</td>
            </ng-container>
 
            <ng-container matColumnDef="rentalAmount">
                <th mat-header-cell *matHeaderCellDef>Cloud Fee Amount</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.rentalAmount}}</td>
            </ng-container>
 
            <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef>Reason</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.reason}}</td>
            </ng-container>
 
            <ng-container matColumnDef="rentalPeriod">
                <th mat-header-cell *matHeaderCellDef>Cloud Fee Period</th>
                <td mat-cell *matCellDef="let viewall">
                    {{ viewall.rentalPeriod }}
                </td>
            </ng-container>
 
            <ng-container matColumnDef="fromLedger">
                <th mat-header-cell *matHeaderCellDef>From Ledger Id</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.fromLedger || "-"}}</td>
            </ng-container>
            <ng-container matColumnDef="toLedger">
                <th mat-header-cell *matHeaderCellDef>To Ledger Id</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.toLedger || "-"}}</td>
            </ng-container>
 
            <ng-container matColumnDef="createAt">
                <th mat-header-cell *matHeaderCellDef>Created At</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.createAt | date : "dd/MM/yyyy hh:mm a" }}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
                <td class="mat-cell" colspan="4">No Data For
                    {{input.value}}
                </td>
 
            </tr>
        </table>
 
    </div>
</mat-card-content>
 
<!-- <mat-paginator  [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons
        aria-labels="select page of users"></mat-paginator> -->
        <mat-card-footer>
            <div class=" row d-flex justify-content-end mt-3 mx-2" *ngIf="!filter">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <button style="color:white;background-color: #141E46;">Total Entries:{{this.totalPages}}</button>
                    <button style="color:white;background-color: #141E46;" (click)="changePageIndex(pageIndex - 1)"
                        [hidden]="pageIndex === 0">Previous</button>
                    <button style="color:white;background-color: #141E46;">{{ this.currentpage}} of {{this.totalpage}}
                        Pages</button>
                    <button style="color:white;background-color: #141E46;" (click)="changePageIndex(pageIndex + 1)"
                        [hidden]="pageIndex >= totalpage - 1">Next</button>
                </div>
         
            </div>
         
            <div class=" row d-flex justify-content-end mt-3 mx-2" *ngIf="filter">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <button style="color:white;background-color: #141E46;">Total Entries:{{this.totalPages1}}</button>
                    <button style="color:white;background-color: #141E46;" (click)="changePageIndex1(pageIndex1 - 1)"
                        [hidden]="pageIndex1 === 0">Previous</button>
                    <button style="color:white;background-color: #141E46;">{{this.currentpage1}} of {{this.totalpage1}}
                        Pages</button>
                    <button style="color:white;background-color: #141E46;" (click)="changePageIndex1(pageIndex1 + 1)"
                        [hidden]="pageIndex1 >= totalpage1 - 1">Next</button>
                </div>
            </div>
        </mat-card-footer>
<!-- </mat-card> -->