<h4 style="text-align:left;color:#141E46;">SMS History</h4>

<mat-card-header>
    <div class="row ">
        <div class="col-2" style="margin-top:22px;">
            <div class="search ">
                <form class="form">
                    <label for="search">
                        <input #input required autocomplete="off" placeholder="Search" id="search" type="text" name="search" [(ngModel)]="currentfilVal">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <button (click)="reload()" type="reset" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
                </form>

            </div>

        </div>&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="col ml-5" style="margin-top:22px; font-size: 12px;">
            <button (click)="smshistory(currentfilVal)" style="color:white;background-color: #141E46;border-radius: 10px;"
                mat-raised-button>Go</button>
          
            <button style="color:white;background-color: #141E46;border-radius: 10px;font-size: 12px;" mat-raised-button
                (click)=" exportexcel()" [hidden]="valuesmshistoryexport!=='SMS History-Export'">Export</button>
        </div>

        <div class="col-2">
            <label><b>From Date:</b></label>
            <input  onkeydown="return false;" class="form-control" type="date" name="FromDate" [(ngModel)]="FromDateRange" (change)="checkDate()" [max]="maxDate"
                style="height:35px;width:150px;border-radius: 5px;">
        </div>
        <div class="col-2">
            <label><b>To Date:</b></label>
            <input  onkeydown="return false;" class="form-control" type="date" name="ToDate" [(ngModel)]="ToDateRange"  [min]="FromDateRange" [max]="maxDate"
                style="height:35px;width:150px;border-radius: 5px;">
        </div>

        <div class="col-1 mt-4">
            <button class="buttonDownload" style="font-size: 12px;" [disabled]="FromDateRange == '' || ToDateRange ==''"  mat-raised-button
                (click)="filterdate()">Filter</button>
        </div>

        <div class="col-2 mt-4">
            <button style="color:white;background-color: #141E46;border-radius: 10px;font-size: 12px;" mat-raised-button
                (click)="reset()">Reset</button>
        </div>

    </div>
</mat-card-header>
<!-- <mat-card> -->
<mat-card-content>
    <div class="example-container text-nowrap mt-2" style="overflow-x: scroll; scrollbar-width: thin;">

        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8"
            *ngIf="!showcategoryData">
            <!-- <span style="color:red;" *ngIf="!showData">{{message}}</span> -->
            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> S.No</th>
                <td mat-cell *matCellDef="let transaction; let i = index"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="accountId">
                <th mat-header-cell *matHeaderCellDef>Account Id</th>
                <td mat-cell *matCellDef="let transaction">{{ transaction?.accountId==null? transaction?.merchantId?.accountId:transaction?.accountId }}</td>
            </ng-container>
            <ng-container matColumnDef="entityname">
                <th mat-header-cell *matHeaderCellDef>Entity Name</th>
                <td mat-cell *matCellDef="let transaction">{{ transaction?.entityName==null? transaction?.merchantId?.entityName:transaction?.entityName }}</td>
            </ng-container>

            <!-- <ng-container matColumnDef="entityemail">
                <th mat-header-cell *matHeaderCellDef>Entity Email</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction?.entityEmail}}</td>
            </ng-container> -->

            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.mobileNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="smsType">
                <th mat-header-cell *matHeaderCellDef>Sms Type</th>
                <td mat-cell *matCellDef="let transaction">
                    {{transaction?.smsTitle ==null? transaction?.merchantSmsId?.type?.smsTitle:transaction?.smsTitle}}
                </td>
            </ng-container>
            <ng-container matColumnDef="smscharge">
                <th mat-header-cell *matHeaderCellDef>SMS Charge Type</th>
                <td mat-cell *matCellDef="let transaction">
                    {{transaction?.smsChargeStatus}}
                </td>
            </ng-container>

            <ng-container matColumnDef="responseStatus">
                <th mat-header-cell *matHeaderCellDef>SMS Status</th>
                <td mat-cell *matCellDef="let transaction">
                <span *ngIf="transaction?.responseStatus == 'Success'" class="text-success"> {{
                    transaction?.responseStatus}}</span>
 
                <span *ngIf="transaction?.responseStatus == 'Failed'" class="text-danger"> {{
                    transaction?.responseStatus}}</span>
                </td>
 
            </ng-container>
            <ng-container matColumnDef="responseCode">
                <th mat-header-cell *matHeaderCellDef>SMS Code</th>
                <td mat-cell *matCellDef="let transaction">{{transaction.responseCode}}</td>
            </ng-container>

            <ng-container matColumnDef="perSmsAmount">
                <th mat-header-cell *matHeaderCellDef>Charge For SMS</th>
                <td mat-cell *matCellDef="let transaction">
                    {{transaction?.perSmsAmount}}
                </td>
            </ng-container>

            <!-- <ng-container matColumnDef="smscharge">
                <th mat-header-cell *matHeaderCellDef>Sms Charge</th>
                <td mat-cell *matCellDef="let transaction">
                    {{transaction?.merchantSmsId?.type?.smsCharge}}
                </td>
            </ng-container> -->
            <!-- <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef>Created By</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.createdBy}}</td>
            </ng-container> -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Created At</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction?.createdDateTime
                    |date:'dd/MM/yyyy hh:mm a' }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
                <td class="mat-cell" colspan="0" *ngIf="searchPerformed">No Data For{{input.value}}</td>
                <td class="mat-cell" colspan="0" *ngIf="!searchPerformed && dataSource.data.length === 0">No Data
                </td>
            </tr>
        </table>
    </div>
</mat-card-content>
<mat-card-footer>
 
    <mat-paginator (page)="getData($event)" [length]="totalPages" [pageIndex]="currentpage" [pageSize]="totalpage"
    [pageSizeOptions]="[5, 10, 50, 100, 200,300,500]" aria-label="Select page">
  </mat-paginator>
   
  </mat-card-footer>