<h4 style="text-align: left; color: #141e46">Questions & Answers</h4>
&nbsp;&nbsp;
<mat-card-header>
  <div class="row mt-2">
    <div class="col">
      <div class="search ">
        <form class="form">
            <label for="search">
                <input (ngModelChange)="onSearchTextChange()" #input name="search" required autocomplete="off" placeholder="Search" id="search" type="text" [(ngModel)]="searchText">

                <div class="icon">
                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="swap-on">
                        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                            stroke-linecap="round"></path>
                    </svg>
                    <!-- <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="swap-off">
                        <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round"
                            stroke-linecap="round">
                        </path>
                    </svg> -->
                </div>
                <button type="reset" class="close-btn">
                    <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            fill-rule="evenodd"></path>
                    </svg>
                </button>
            </label>
        </form>
      </div>
      &nbsp;&nbsp;&nbsp;
      <!-- <button style="color:white;background-color: #141E46;border-radius: 10px;" class="custom-btn btn-10 me-3"
        mat-raised-button (click)="add()">Create</button> -->
      <button
        style="color: white; background-color: #141e46; border-radius: 10px"
        mat-raised-button
        (click)="exportexcel()"
      >
        Export
      </button>
      <button
        style="color: white; background-color: #141e46; border-radius: 10px"
        mat-raised-button
        (click)="close()"
      >
        Back
      </button>
    </div>
  </div>
</mat-card-header>
<!-- <mat-card> -->
<mat-card-content>
  <div class="row mt-3">
    <div class="col-12 mb-3 mb-lg-5">
      <div class="card table-nowrap table-card">
        <div class="table-responsive text-nowrap text-center">
          <table class="table table-hover" id="customers">
            <tr>
              <th>S No</th>
              <th>Entity Name</th>
              <th>Customer Name</th>
              <th>Customer Mobile</th>
              <th>Questions</th>
              <th>Answers</th>
            </tr>
            <tbody
              *ngFor="
                let item of customerresponse
                | search: searchText | paginate: { itemsPerPage: 3, currentPage: currentPage };
                let i = index
              "
            >
              <td>{{ i + 1 }}</td>
              <td>{{ item.customerId?.merchantId?.merchantLegalName }}</td>
              <td>{{ item.customerId?.customerName }}</td>
              <td>{{ item.customerId?.mobileNumber }}</td>

              <!-- <td>{{item.questionId?.questions}}</td> -->
             
              <td>
                <span *ngIf="!isFullPolicyVisible">
                  {{item.questionId?.questions  | slice:0:limit }}
                </span>
                <span *ngIf="isFullPolicyVisible">
                  {{ item.questionId?.questions  }}
                </span>
                <i style="color: #141E46;font-weight: 600;cursor: pointer;" class="read-more" (click)="read(item)">
                  <br>
                  {{ isFullPolicyVisible ? 'Read Less' : '...Read More' }}
                </i>
              </td>
              
              <td>
                <span *ngIf="item.answers == 1">Yes</span>
                <span *ngIf="item.answers == 0">No</span>
              </td>
            </tbody>
          </table>
        </div>
        <div class="text-end mt-3">
          <pagination-controls (pageChange)="currentPage= $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</mat-card-content>
