<div class="card-header">
    <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">Create Fund</h3>
</div>
<body class="page">
    <main class="main page__main">

        <form class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="withdrawalFormGroup">


            <div class="form-group">
                <label class="form-label" for="message">Bank Account:</label>
                <select class="form-select" formControlName="LedgerId">
                    <option
                          *ngFor="let subject of viewbank"
                          [value]="subject.accountNumber"
                         >
                         {{subject.accountNumber}}
                       </option>
                </select>
                <div style="color: red; font-size: 12px;margin-top: 2px;"
                *ngIf="LedgerId?.invalid && LedgerId?.touched && LedgerId?.errors?.['required']">
                Field is required
            </div>
            </div>

            <div class="form__linput">
                <label class="form__label" for="fname">Withdrawal Note</label>
                <input class="form__input" id="fname" type="text" formControlName="note" name="mccCode"
            required />
                <div style="color: red; font-size: 12px;margin-top: 2px;"
                    *ngIf="note?.invalid && note?.touched && note?.errors?.['required']">
                    Field is required
                </div>
            </div>

            <div class="form__linput">
                <label class="form__label" for="fname">Withdrawal Amount</label>
                <input class="form__input" id="fname" type="text" formControlName="amount" name="mccCode"
                 required />
                <div style="color: red; font-size: 12px;margin-top: 2px;"
                    *ngIf="amount?.invalid && amount?.touched && amount?.errors?.['required']">
                    Field is required
                </div>
            </div>


            <div class="info-row">
                <p class="info-item">Convenience Fees:  </p>
                <p class="info-item">Withdrawal:  </p>
            </div>

            <!-- Account Balance Display -->
            <div class="info-row" >
                <p class="info-items" style="text-align: center;">Account Balance: </p>
            </div>
            <div class="flex">
                <button type="submit" class="submit" [disabled]="withdrawalFormGroup.invalid" >Submit</button>
                <button type="submit" class="cancel" matDialogClose>Cancel</button>

            </div>


        </form>
    </main>
</body>