<!-- From Uiverse.io by Yaya12085 -->
<div class="card">
  <div class="header">
    <span class="icon">
      <svg
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          clip-rule="evenodd"
          d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z"
          fill-rule="evenodd"
        ></path>
      </svg>
    </span>
    <p class="alert">Progress Updates!</p>
  </div>

  <p class="message">*Your data has been initiated successfully for the Bulk upload process. Our system is now processing the data in the background</p>
  <p class="message">*This process may take a few moments, depending on the size of your uploaded data.</p>
  <p class="message">*You will see a Bulk Upload Response Status once the upload is complete it will Change pending Into Success.</p>
  <p class="message" style="color: green">"Thank you for your patience!"</p>

  <div class="actions">
    <a
      class="read"
      matDialogClose
      style="background-color: #8bc34a; color: rgba(255, 255, 255, 1)"
    >
      Okay
    </a>

    <!-- <a class="mark-as-read" href="">
            Mark as Read
        </a> -->
  </div>
</div>
