/* From Uiverse.io by Yaya12085 */
.card {
    max-width: 550px;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
}

.header {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
}

.icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: #8BC34A;
    padding: 0.5rem;
    color: rgba(255, 255, 255, 1);
}

.icon svg {
    height: 1rem;
    width: 1rem;
}

.alert {
    /* position: relative; */
    /* padding: .75rem 1.25rem; */
    margin-bottom: 0rem;
    /* border: 1px solid transparent; */
    border-radius: .25rem;
    margin-left: -22px;
}

.message {
    /* margin-top: 1rem; */
    color: #151f53;
    /* font-family: "Roboto"; */
    font-weight: 500;
    text-align: justify;
    margin-bottom: 6px;
}

.actions {
    margin-top: 1.5rem;
}

.actions a {
    text-decoration: none;
}

.mark-as-read,
.read {
    display: inline-block;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.read {
    background-color: rgba(59, 130, 246, 1);
    color: rgba(255, 255, 255, 1);
}

.mark-as-read {
    margin-top: 0.5rem;
    background-color: rgba(249, 250, 251, 1);
    color: rgba(107, 114, 128, 1);
    transition: all .15s ease;
}

.mark-as-read:hover {
    background-color: rgb(230, 231, 233);
}