<div class="body">
    <head>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    </head>
    <div class="login_form">
        <!-- Login form container -->
        <form [formGroup]="resetForm">
            <h3>Reset Password</h3>
            <!-- Login option separator -->
            <p class="separator" style="padding-top: 15px">
                <!-- <span></span> -->
            </p>
            <!-- Email input box -->
            <div class="input_box">
                <label for="email">New Password</label>
                <input type="password" placeholder="Enter your password"
                    required #passwordInput formControlName="newPassword" />
                <i class="fa-solid fa-eye-slash" id="eye1" [ngClass]="{
            'fa-eye-slash': !showPassword,
            'fa-eye': showPassword
          }" (click)="togglePasswordVisibility(passwordInput)"></i>
                <div *ngIf="
            newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)
          ">
                    <span class="error"
                        *ngIf="newPassword?.invalid  && newPassword?.touched && newPassword?.errors?.['required']">Please
                        Enter Password *</span>
                    <span class="error" style="text-align: justify"
                        *ngIf="newPassword?.invalid  && newPassword?.touched && newPassword?.errors?.['pattern']">
                        Password Must Contain Minimum 8 characters which
                        Includes at Least
                        One [A-Z],One [a-z],One [0-9] and One [! # $ % ^ & *]
                        *</span>
                </div>
            </div>
            <div class="input_box">
                <label for="email">Confirm Password</label>
                <input type="password" placeholder="Confirm your password"
                    required #passwordInput1 formControlName="confirmpassword"
                    (keyup)="checkConform(passwordInput.value, passwordInput1.value)" />
                <i class="fa-solid fa-eye-slash" id="eye" [ngClass]="{
            'fa-eye-slash': !showPassword1,
            'fa-eye': showPassword1
          }" (click)="togglePasswordVisibility1(passwordInput1)"></i>
            </div>
            <span class="error"
            *ngIf="confirmpassword?.invalid  && confirmpassword?.touched && confirmpassword?.errors?.['required']">Please
            Please Confirm Password
            *</span>
          <span class="error" style="text-align: justify;"
            *ngIf="confirmpassword?.invalid  && confirmpassword?.errors?.['pattern']">
            Password Must Contain Minimum 8 characters which Includes at Least One [A-Z],One [a-z],One [0-9] and One [!
            # $ % ^ & *]
            *</span>
            <span class="error" *ngIf="passwordsMatching == true"
                style="color: green">{{ error }}</span>
            <span class="error" *ngIf="passwordsMatching == false"
                style="color: red">{{ error }}</span>
            <!-- Login button -->
            <div class="d-flex justify-content-center">
              
                <button [disabled]="resetForm.invalid" (click)="resetpassword()" type="submit"
                class="btn mx-1" style="background-color: #7db855be">
                  Reset
                </button>
            </div>
        </form>
    </div>
</div>