  <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

<div class="body">
    <div class="login_form">
        <form [formGroup]="resetForm">
            <h3>Reset Password</h3>
            <div class="input_box">
                <label for="newPassword">New Password</label>
                <input  (keyup)="checkConform(passwordInput.value, passwordInput1.value)"  type="password" placeholder="Enter your password"  required formControlName="newPassword" #passwordInput />
               <i class="fa-solid fa-eye-slash" id="eye" [ngClass]="{'fa-eye-slash': !showPassword,'fa-eye': showPassword}" (click)="togglePasswordVisibility(passwordInput)"></i>
                <div *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)">
                    <span *ngIf="newPassword?.errors?.['required']" class="error">Please enter password</span>
                    <span *ngIf="newPassword?.errors?.['pattern']" class="error">Password must contain at least 8 characters, including one [A-Z], [a-z], [0-9], and [! # $ % ^ & *]</span>
                </div>
            </div>
            <br>
            <div class="input_box">
                <label for="confirmpassword">Confirm Password</label>
                <input onpaste="return false;" type="password"   placeholder="Confirm your password, pasting disabled" required formControlName="confirmpassword" (keyup)="checkConform(passwordInput.value, passwordInput1.value)" #passwordInput1 />
                <i class="fa-solid fa-eye-slash" id="eyes" [ngClass]="{
                    'fa-eye-slash': !showPassword1,
                    'fa-eye': showPassword1
                }" (click)="togglePasswordVisibility1(passwordInput1)"></i>
            </div>
            <span *ngIf="confirmpassword?.invalid && confirmpassword?.touched && confirmpassword?.errors?.['required']" style="color:red;font-size: 12px;">Please confirm password</span>
            <!-- <span *ngIf="confirmpassword?.invalid && confirmpassword?.errors?.['pattern']" style="color:red;font-size: 12px;">Password must meet the criteria</span> -->
<br> <!--            <span *ngIf="passwordsMatching === true" style="color:green;font-size: 12px;">{{ error }}</span>
            <span *ngIf="passwordsMatching === false" style="color:red;font-size: 12px;">{{ error }}</span> -->

            <div class="d-flex justify-content-center">
                <button  (click)="resetpassword()" style="background-color:#141E46;color:white" type="submit" class="btn mx-1">Reset</button>
            </div>
        </form>
    </div>
</div>
