@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
    --ligthgreen:#bbe06c;
    --darkgreen:#7db855be;
}
body{
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 300px;
   font-style: normal;
   background-color:#E7F0DC;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
   height:100vh;
}
.container{
    background-color:#bbe06c;
    border-radius:20px;
    position:relative;
    overflow:hidden;
    width:640px;
    height:404px;
    /* max-width:100%; */
    box-shadow: 5px 5px 10px 0px grey;
    padding:50px 0px;
    text-align:center;
}
.container p{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
}
.forgetpass{
    margin-top:20px;
}
a{
   color:black;
   text-decoration:none;
   font-size:20px;
}
button{
    font-size:12px;
    padding:10px;
    width:95px;
    height:40px;
    border-radius:5px;
    background:#141E46;
    color: white;
    margin:20px 0px;
    border:none;
}
h1{
  font-size:24px;
}
/* .container button.hidden{
    background-color:transparent;
    background-color:black;
} */
.icons i{
    margin:10px 3px 20px 3px;
}
.container form{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:100%;
    padding:0 10px;
}
 
input {
    width: 250px;
    height: 40px; /* Fixed height */
    padding: 12px;
    border-radius: 15px;
    font-size: 14px;
    margin: 10px 0;
    outline: none;
    border: 2px solid white;
    box-sizing: border-box; /* Ensures padding and border are included in the height */
}
 
/* Remove or override focus styles that might alter the height */
input:focus {
    border-color: #fff; /* Ensure border color does not change */
    box-shadow: none; /* Remove any shadow that might affect layout */
}
 
/* Add this rule if needed to override browser-specific styles */
input:focus::-webkit-input-placeholder {
    color: transparent; /* Ensure placeholder color does not affect layout */
}
 
 
.form_container{
    position: absolute;
    top: 0;
    height: 100%;
}
.sign_in{
    left: 0;
    width: 50%;
    z-index: 2;
}
 
/* .container.active .sign_in{
    transform: translateX(100%);
    opacity:0;
} */
 
 
 
.toggle_container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 130px 0 0 130px;
    z-index: 1000;
}
 
/* .container.active .toggle_container{
    transform: translateX(-100%);
    border-radius: 0 130px 130px 0;
} */
 
.toggle{
    background-color:#7db855be;
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.toggle p{
    padding-top:20px;
}
 
/* .container.active .toggle{
    transform: translateX(50%);
} */
 
.toggle_panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
 
 
 
.toggle_right{
    right: 0;
    /* transform: translateX(0); */
}
 
/* .container.active .toggle_right{
    transform: translateX(200%);
}  */
 
#eye{
    position: absolute;
    bottom: 192px;
    right: 42px;
}
/* @media (max-width:868px){
  .container{
    width:80%;
    height:370px;
}
 
@media(min-width:1200px) {
    #eye {
        color: #141E46;
        position: relative;
        bottom: 150px;
        right: 64px;
   
    }
} */
 
/* @media only screen and (max-width: 600px) {
    #eye {
        color: #141E46;
        position: relative;
        bottom: 120px;
        right: 54px;
   
    }
} */
.error{
color:red;
}
 