<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
<div class="container" style="padding: 0px;">
    <div class="form-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Update Fargin Bank</h5>
     
    </div>

    <div class="well">
        <form [formGroup]="BankForm">
            <div class="row">
               
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">Account Holder Name</label>
                    <input type="text" id="Entity Name" formControlName="accountHolderName" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountHolderName?.invalid && accountHolderName?.touched && accountHolderName?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountHolderName?.invalid && accountHolderName?.touched && accountHolderName?.errors?.['pattern']">
                  Invalid format
                    </div>
                     <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountHolderName?.invalid && accountHolderName?.touched && accountHolderName?.errors?.['maxlength']">
                             Maximum length should be 50
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="state">Account Number</label>
                    <input type="text" formControlName="accountNumber" id="state" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountNumber?.invalid && accountNumber?.touched && accountNumber?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountNumber?.invalid && accountNumber?.touched && accountNumber?.errors?.['pattern']">
                        Enter a Valid Account Number
                    </div>
                </div>
                  <div class="col-sm-4 form-group">
                    <label for="types">Type Mode</label>

                    <select class="form-control form-select"  id="types" formControlName="typemode">
                        <option value="" disabled hidden>Select</option>
                         <option value="Online">Online</option>
                          <option value="Offline">Offline</option>
                    </select>           
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="typemode?.invalid && typemode?.touched && typemode?.errors?.['required']">
                        Field is required
                    </div>
                   
                </div>

                <div class="col-sm-4 form-group">
                    <label for="state">Ledger ID</label>
                    <input type="text" formControlName="ledgerId" id="state" class="form-control">

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="ledgerId?.invalid && ledgerId?.touched && ledgerId?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px; margin-top: 2px;"
                        *ngIf="ledgerId?.invalid && ledgerId?.touched && ledgerId?.errors?.['pattern']">
                    Max 10 digits and only numbers are allowed.
                    </div>

                </div>

    <div class="col-sm-4 form-group">
                    <label for="Bussiness category">Bank Name</label>
                    <input type="text" id="Entity Name" formControlName="bankName" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="bankName?.invalid && bankName?.touched && bankName?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="bankName?.invalid && bankName?.touched && bankName?.errors?.['pattern']">
                         Please enter only letters,(max 50 characters)

                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">Branch Name</label>
                    <input type="text" id="Entity Name" formControlName="branchName" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="branchName?.invalid && branchName?.touched && branchName?.errors?.['required']">
                        Field is required
                    </div>

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="branchName?.invalid && branchName?.touched && branchName?.errors?.['pattern']">
                       Please enter only letters(max 50 characters)
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">IFSC Code</label>
                    <input type="text" id="Entity Name" formControlName="ifscCode" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="ifscCode?.invalid && ifscCode?.touched && ifscCode?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="ifscCode?.invalid && ifscCode?.touched && ifscCode?.errors?.['pattern']">
                        Enter a Valid IFSC Code
                    </div>
                </div>


            </div>
       
         
            <div>
                <button type="submit" class="btn mx-1 " style="background-color:#7db855be"
                    (click)="submit()" [disabled]="BankForm.invalid">Submit</button>
                <button type="submit" class="btn" style="background-color:#141E46;color:white" mat-dialog-close>Cancel</button>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
