<div class="row mt-1">
    <div class="col-md-8">
        <h5 style="text-align: left; color: #141e46">Offline Settlement Payout</h5>
    </div>
    <div class="col-md-4 text-end">
        <button style="
        color: white;
        background-color: #141e46;
        border-radius: 0.5rem;
        font-size: 0.875rem;
        padding: 5px 5px;
      " (click)="close()">
            Back
        </button>
    </div>
</div>
<div class="row">
    <div class="col" style="margin-top: 25px">
        <button style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button
            (click)="exportData()">Export</button>
    </div>

    <div class="col-md-3">
        <label><b>From Date:</b></label>
        <input onkeydown="return false;" [max]="maxDate" class="form-control" type="datetime-local" name="FromDate"
            [(ngModel)]="FromDateRange" (change)="checkDate()" style="height:35px;border-radius: 5px;">
    </div>
    <div class="col-md-3">
        <label><b>To Date:</b></label>
        <input onkeydown="return false;" [max]="maxDate" class="form-control" type="datetime-local" name="ToDate"
            [(ngModel)]="ToDateRange" style="height:35px;border-radius: 5px;">
    </div>

    <div class="col-md-1 mt-4">
        <button style="
        color: white;
        background-color: #141e46;
        border-radius: 10px;
        font-size: 12px;
      " mat-raised-button (click)="filterdate()" class="buttonDownload" [disabled]="!FromDateRange || !ToDateRange">
            Filter
        </button>
    </div>

    <div class="col-md-1 mt-4">
        <button style=" color: white;
        background-color: #141e46;
        border-radius: 10px;
        font-size: 12px;" mat-raised-button class="buttonDownload" [disabled]="!FromDateRange || !ToDateRange" (click)="Getall()">Reset</button>
    </div>

</div>
<!-- <mat-card> -->
<mat-card-content>
    <div class="example-container text-nowrap mt-3" style="overflow-x: scroll; scrollbar-width: thin">

        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> S.No</th>
                <td mat-cell *matCellDef="let viewall; let i = index"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="accountPayoutId">
                <th mat-header-cell *matHeaderCellDef>PayoutId ID</th>
                <td mat-cell *matCellDef="let transaction">{{ transaction.accountPayoutId }}</td>
            </ng-container>
            <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction?.amount?.toFixed(2) }}</td>
            </ng-container>
            <ng-container matColumnDef="txnReference">
                <th mat-header-cell *matHeaderCellDef>Reference</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction?.txnReference }}</td>
            </ng-container>
            <ng-container matColumnDef="txnItem">
                <th mat-header-cell *matHeaderCellDef>Txn Item</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction?.txnItem }}</td>
            </ng-container>
            <ng-container matColumnDef="txnTime">
                <th mat-header-cell *matHeaderCellDef>Txn At</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.txnTime | date : "dd/MM/yyyy hh:mm a" }}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
                <td class="mat-cell" colspan="4">No Data</td>
            </tr>
        </table>
    </div>
</mat-card-content>
<mat-card-footer>
    <mat-paginator (page)="getData($event)" [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="length"
        [pageSizeOptions]="[5, 10, 50, 100, 500, 1000]" aria-label="Select page of users"></mat-paginator>
</mat-card-footer>