<body>
  <div class="wrapper">
      <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand">FARGIN CONNECT</a>
          <div class="navbar-nav">
              <img src="assets/flagimage.png" alt="Flag Image">
          </div>
      </nav>

      <div class="container">
        <br>
          <h2 style="text-align: center;color: #141E46;">{{title}}</h2>
          <p style="text-align: justify;text-indent: 50px;">
            {{ this.entitydetails }}
          </p>
      </div>

      <!-- Footer -->
      <footer>
          <p class="footer-text">
              <span class="copyright">Copyright &copy; {{this.currentYear}}, All Rights Reserved</span>
              <a href="https://codepen.io/anupkumar92/" target="_blank"></a>
              <a href="customer/login">  Home</a> <span style="color: #141E46;font-weight: 600;">|</span>
              <a href="customer-solutions">Solutions</a> <span style="color: #141E46;font-weight: 600;">|</span>
              <a href="customer-termsandpolicy">Terms and Conditions</a> <span style="color: #141E46;font-weight: 600;">|</span>
              <a href="customer-privacy-policy">Privacy Policy</a> <span style="color: #141E46;font-weight: 600;">|</span>
              <a href="customer-refund-policy">Refund Policy</a> <span style="color: #141E46;font-weight: 600;">|</span>
              <a href="customer-disclaimer">Disclaimer</a> <span style="color: #141E46;font-weight: 600;">|</span>
              <a class="support" href="mailto:support@fargin.in">  &nbsp;support{{strings}}fargin.in</a>
          </p>
      </footer>
  </div>
</body>
