span {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  /* padding: 20px; */
}

.form-header {
  background-color: #bcdf72;
  padding: 0.7rem;
  /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
  color: #fff;
  text-align: center;
}

.table {
  margin: 0;
}

.table-bordered {
  text-align: left;
  border: 1px solid rgb(154, 154, 153);
}

.table td {
  padding: 8px;
}

.datas {
  font-weight: 700;
}

.text-success {
  color: green;
}

.text-warning {
  color: orange;
}

.text-danger {
  color: red;
}

@media (max-width: 768px) {
  .table td {
    font-size: 12px;
    padding: 6px;
  }

  .form-header h5 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 10px;
  }

  .table td {
    font-size: 10px;
    padding: 4px;
  }

  .form-header {
    padding: 0.5rem;
  }

  .form-header h5 {
    font-size: 14px;
  }
}
