.container {
    width:535px; /* Increase container width */
    padding: 0;
  }
 
  .form-header {
    background-color: #141E46 ; /* Header background color */
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0; /* Rounded corners on top */
    margin-bottom: 0.5rem;
  }
 
  .form-group label {
    font-weight: 500;
  }
 
  .form-control {
    border-radius: 0.375rem;
  }
 
  .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
 
  .btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
  }
 
  .btn {
    border-radius: 0.375rem;
  }
 
  .well {
    background-color: #ffffff; /* Card background color */
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); /* Light shadow */
  }
 
  @media (max-width: 576px) {
    .form-group label {
        font-size: 0.9rem; /* Adjust label font size for smaller screens */
    }
  }
 
  .card-header {
 
    background-color: #7db855be;
    color: #141E46;
    font-family: "Roboto";
  }
  .form__input,
.form__select,
.form__textarea {
  padding: 0.5em 0.7rem;
  border: 1px solid var(--gray-4);
  border-radius: var(--radius-2);
  width: 100%;
}
 
.form__select {
  background: inherit;
}
 
.form__textarea {
  padding: 1em 0.7rem;
  resize: vertical;
  font: inherit;
}
 
.form__btn {
  margin-right: auto;
}
 
.primary-btn {
  transition: 180ms ease-in;
  color: var(--gray-0);
  background-color: var(--green-9);
  padding: 0.7em var(--size-3);
  border: 0;
  border-radius: var(--radius-2);
  cursor: pointer;
}
 
.primary-btn:hover {
  background-color: var(--green-6);
}
 
.flex {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}