<div *ngIf="this.value1==1">
    <div class="card-header">
        <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">Update Identity Document</h3>
    </div>
   
    <body class="page">
        <main class="main page__main">
            <form class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="KycIdentityForm">
                <div class="form__linput">
                    <label class="form__label" for="fname">Document Name</label>
                    <select formControlName="identityProof" class="form-select"
                         (change)="onIdentityProofChange($event)" ngModel="{{identityProofs}}">
                                <option hidden>Select..</option>
                                <option value="Aadhar Card">Aadhar Card</option>
                                <option value="Pancard">Pancard</option>
                                <option value="Voter Id Proof">Voter Id Proof</option>
                                <option value="Passport">Passport</option>
                                <option value="Driving License">Driving License</option>
                            </select>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="identityProof?.invalid && identityProof?.touched && identityProof?.errors?.['required']">
                        Field is required
                    </div>
                </div>
               
               
             
                <div class="form__linput">
                    <label class="form__label" for="fname">Identity Proof No</label>
                    <input class="form__input" id="fname" type="text" formControlName="identityProofNo" name="gstNumber"
                        placeholder="Enter GST number..." required ngModel="{{identityProofNos}}" />
                        <div
                        *ngIf="identityProofNo && identityProofNo.invalid && (identityProofNo.touched || identityProofNo.dirty)">
                        <small *ngIf="identityProofNo.errors?.['required']"
                            style="color: red; font-size: 12px;">This field is required.</small>
                        <small *ngIf="identityProofNo.errors?.['pattern']"
                            style="color: red; font-size: 12px;">Enter a valid {{selectElement}} number.</small>
                    </div>
                </div>
 
                <div class="form__linput" *ngIf="identityProofs=== 'Driving License' || identityProofs === 'Passport'">
                    <label class="form__label"><b>Date of Birth</b></label>
                    <input  *ngIf="identityProofs === 'Passport'"
                        class="form-control"
                        id="dob"
                        type="date"
                         ngModel="{{PassportDob}}"
                        [formControlName]="identityProof.value === 'Driving License' ? 'drivingLicenceDob' : 'passportDob'"
                        [max]="today"
                       
                    />
                    <input  *ngIf="identityProofs === 'Driving License'"
                    class="form-control"
                    id="dob"
                    type="date"
                     ngModel="{{DrivingDob}}"
                    [formControlName]="identityProof.value === 'Driving License' ? 'drivingLicenceDob' : 'passportDob'"
                    [max]="today"
                   
                />
                    <!-- <div *ngIf="(selectkyc === 'Driving License' ? drivingLicenceDob : passportDob)?.invalid &&
                                 (selectkyc === 'Driving License' ? drivingLicenceDob : passportDob)?.touched &&
                                 (selectkyc === 'Driving License' ? drivingLicenceDob : passportDob)?.errors?.['required']"
                         style="color: red; font-size: 12px;">
                        Field is required
                    </div> -->
                </div>
               
                <div class="mb-3">
                    <button type="submit" class="btn mx-1 "
                        style="background-color:#7db855be" (click)="submit()">Submit</button>
                    <button type="submit" class="btn" style="background-color:#141E46;color:white"
                        matDialogClose>Cancel</button>
                </div>
   
   
            </form>
        </main>
    </body>
</div>
 
<div *ngIf="this.value1==2">
    <div class="card-header">
        <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">Update Address Document</h3>
    </div>
   
    <body class="page">
        <main class="main page__main">
            <form class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="KycAddressForm">
                <div class="form__linput">
                    <label class="form__label" for="fname">Document Name</label>
                   
                    <select formControlName="addressProof" class="form-select"
                                (change)="onAddressProofChange($event)" ngModel="{{addressProofvalue}}">
                                <option hidden>Select..</option>
                                <option  value="Aadhar Card">Aadhar Card
                                </option>
                                <option  value="Voter Id Proof">Voter Id
                                    Proof</option>
                                <option  value="Passport">Passport</option>
                                <option  value="Driving License">Driving
                                    License</option>
                            </select>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="addressProof?.invalid && addressProof?.touched && addressProof?.errors?.['required']">
                        Field is required
                    </div>
                </div>
               
               
             
                <div class="form__linput">
                    <label class="form__label" for="fname">Address Proof No</label>
                    <input class="form__input" id="fname" type="text" formControlName="addressProofNo"
           required ngModel="{{addressProofNovalue}}" />
                        <div
                        *ngIf="addressProofNo && addressProofNo.invalid && (addressProofNo.touched || addressProofNo.dirty)">
                        <small *ngIf="addressProofNo.errors?.['required']"
                            style="color: red; font-size: 12px;">This field is required.</small>
                        <small *ngIf="addressProofNo.errors?.['pattern']"
                            style="color: red; font-size: 12px;">Enter a valid {{selectElements}}
                            number.</small>
                    </div>
                </div>
                <div class="form__linput" *ngIf="addressProofvalue === 'Driving License' || addressProofvalue=== 'Passport' ">
                    <label class="form__label"><b>Date of Birth</b></label>
                    <input  *ngIf="addressProofvalue === 'Passport' "
                        class="form-control"
                        id="dob"
                        type="date"
                        ngModel="{{PassportDob}}"
                        [formControlName]="addressProof.value === 'Driving License' ? 'drivingLicenceDobs' : 'passportDobs'"
                        [max]="today"
                    />
                    <input  *ngIf="addressProofvalue === 'Driving License'"
                    class="form-control"
                    id="dob"
                    type="date"
                    ngModel="{{DrivingDob}}"
                    [formControlName]="addressProof.value === 'Driving License' ? 'drivingLicenceDobs' : 'passportDobs'"
                    [max]="today"
                />
                    <!-- <div *ngIf="(addressProof.value  === 'Driving License' ? drivingLicenceDobs : passportDobs)?.invalid &&
                                 (addressProof.value  === 'Driving License' ? drivingLicenceDobs : passportDobs)?.touched &&
                                 (addressProof.value  === 'Driving License' ? drivingLicenceDobs : passportDobs)?.errors?.['required']"
                         style="color: red; font-size: 12px;">
                        Field is required
                    </div> -->
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn mx-1 "
                        style="background-color:#7db855be" (click)="submit1()">Submit</button>
                    <button type="submit" class="btn" style="background-color:#141E46;color:white"
                        matDialogClose>Cancel</button>
                </div>
   
   
            </form>
        </main>
    </body>
</div>
 
<div *ngIf="this.value1==3">
    <div class="card-header">
        <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">Update Signature Document</h3>
    </div>
   
    <body class="page">
        <main class="main page__main">
            <form class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="KycsignatureForm">
                <div class="form__linput">
                    <label class="form__label" for="fname">Document Name</label>
                   
                    <select formControlName="signatureProof" class="form-select"
                                (change)="onasignproof($event)" ngModel="{{signatureProofvalue}}">
                                <option hidden>Select..</option>
                                <option
                                    value="Pancard">Pancard</option>
                                <option
                                    value="Passport">Passport</option>
                                <option
                                 
                                    value="Driving License">Driving License</option>
                            </select>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="signatureProof?.invalid && signatureProof?.touched && signatureProof?.errors?.['required']">
                        Field is required
                    </div>
                </div>
               
               
             
                <div class="form__linput">
                    <label class="form__label" for="fname">Signature Proof No</label>
                    <input class="form__input" id="fname" type="text" formControlName="signatureProofNo"
                        placeholder="Enter GST number..." required ngModel="{{signatureProofNovalue}}" />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="signatureProofNo?.invalid && signatureProofNo?.touched && signatureProofNo?.errors?.['required']">
                        Field is required
                    </div>
                    <small *ngIf="signatureProofNo.errors?.['pattern']"
                    style="color: red; font-size: 12px;">Enter a valid {{select}}
                    number.</small>
                </div>
                <div class="form__linput" *ngIf="signatureProofvalue === 'Driving License' || signatureProofvalue === 'Passport' ">
                    <label class="form__label"><b>Date of Birth</b></label>
                    <input *ngIf="signatureProofvalue === 'Passport'"
                        class="form-control"
                        id="dob"
                        type="date"
                             ngModel="{{PassportDob}}"
                        [formControlName]="signatureProof.value === 'Driving License' ? 'drivingLicenceDobss' : 'passportDobss'"
                        [max]="today"
                    />
                    <input *ngIf="signatureProofvalue === 'Driving License'"
                    class="form-control"
                    id="dob"
                    type="date"
                         ngModel="{{DrivingDob}}"
                    [formControlName]="signatureProof.value === 'Driving License' ? 'drivingLicenceDobss' : 'passportDobss'"
                    [max]="today"
                />
                    <!-- <div *ngIf="(signatureProofNo.value === 'Driving License' ? drivingLicenceDobss : passportDobss)?.invalid &&
                                 (signatureProofNo.value === 'Driving License' ? drivingLicenceDobss : passportDobss)?.touched &&
                                 (signatureProofNo.value === 'Driving License' ? drivingLicenceDobss : passportDobss)?.errors?.['required']"
                         style="color: red; font-size: 12px;">
                        Field is required
                    </div> -->
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn mx-1 "
                        style="background-color:#7db855be" (click)="submit2()">Submit</button>
                    <button type="submit" class="btn" style="background-color:#141E46;color:white"
                        matDialogClose>Cancel</button>
                </div>
   
   
            </form>
        </main>
    </body>
</div>