#menu {
    max-width: 700px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }
  
  .popup {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
  }
  
  .row .col-auto i.fa-close {
    font-size: 20px;
    color: #666;
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .row .col-auto i.fa-close:hover {
    color: #f44336;
  }
  
  .content {
    max-height: 300px; 
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    white-space: pre-wrap; 
  }
  


   /* .content{
    max-width: 700px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    overflow-y: scroll;

} */