<div class="mat-dialog-content">
  <div class="otp-container">
    <form>
      <h3 class="otp-title">Mobile OTP Verification</h3>
      <p>Please enter your 6-digit OTP code</p>

      <div class="otp-field mb-4 mt-3">
        <input type="text" [(ngModel)]="otpCode7" name="otpCode7" (keyup)="move($event, '', first, second)" #first
          class="form-control otp-input" maxlength="1" />
        <input type="text" [(ngModel)]="otpCode8" name="otpCode8" (keyup)="move($event, first, second, third)" #second
          class="form-control otp-input" maxlength="1" />
        <input type="text" [(ngModel)]="otpCode9" name="otpCode9" (keyup)="move($event, second, third, fourth)" #third
          class="form-control otp-input" maxlength="1" />
        <input type="text" [(ngModel)]="otpCode10" name="otpCode10" (keyup)="move($event, third, fourth, fifth)" #fourth
          class="form-control otp-input" maxlength="1" />
        <input type="text" [(ngModel)]="otpCode11" name="otpCode11" (keyup)="move($event, fourth, fifth, six)" #fifth
          class="form-control otp-input" maxlength="1" />
        <input type="text" [(ngModel)]="otpCode12" name="otpCode12" (keyup)="move($event, fifth, six, '')" #six
          class="form-control otp-input" maxlength="1" />
      </div>
      <button (click)="verfiymobile()" style="color:white;background-color: #141E46;" mat-raised-button
        type="submit">Verify</button>
      <p class="mt-1" *ngIf="displayTimer"> OTP Will be Expired Within:<span style="color:red;">{{display}}</span></p>
      <p class="resend text-muted mb-0" *ngIf="resendOtp">
        Didn't receive code? &nbsp;&nbsp;&nbsp;&nbsp; <a style="cursor: pointer;font-size: 15px;color:#9184ed ;"
          (click)="getresendOtp()">Request again</a>
      </p>
    </form>
    <button style="width: 94px;" mat-dialog-close>Close</button>

  </div>
</div>