<h4 style="text-align:left;color:#141E46;">Refund Period Details</h4>

<mat-card-header>
    <div class="row mt-4">
        <div class="col">
            <div class="search ">
                <form class="form">
                    <label for="search">
                        <input #input (keyup)="applyFilter($event)" required="" autocomplete="off" placeholder="Search"
                            id="search" type="text">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round">
                                </path>
                            </svg>
                        </div>
                        <button (click)="Getall()" type="reset" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
                </form>
            </div>
            &nbsp;&nbsp;&nbsp;
            <button [hidden]="valueadd!=='Refund Period-Add'"
                style="color:white;background-color: #141E46;border-radius: 10px;font-size: 12px;"
                class="custom-btn btn-10 " data-bs-toggle="modal" data-bs-target="#ApprovalEdits" mat-raised-button
                (click)="Addrefund()">Create</button>
            <button [hidden]="valueexport!=='Refund Period-Export'"
                style="color:white;background-color: #141E46;border-radius: 10px;font-size: 12px;"
                (click)="exportexcel()" mat-raised-button>Export</button>
        </div>
    </div>
</mat-card-header>

<mat-card-content>
    <div class="example-container text-nowrap mt-3" style="overflow-x: scroll; scrollbar-width: thin;">
        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="refundDayId">
                <th mat-header-cell *matHeaderCellDef> S.No</th>
                <td mat-cell *matCellDef="let viewall; let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="paymentMethod">
                <th mat-header-cell *matHeaderCellDef>Payment Method</th>
                <td mat-cell *matCellDef="let viewall">
                    <span *ngIf="viewall?.paymentMethod=='UPI'">UPI/QR</span>
                    <span *ngIf="viewall?.paymentMethod=='Credit Card'">Credit Card</span>
                    <span *ngIf="viewall?.paymentMethod=='Net Banking'">Net Banking</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="day">
                <th mat-header-cell *matHeaderCellDef>Refund Period</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.day}}</td>
            </ng-container>

            <ng-container matColumnDef="Edit">
                <th [hidden]="valueedit!=='Refund Period-Edit'" mat-header-cell *matHeaderCellDef mat-sort-header>Edit
                </th>
                <td [hidden]="valueedit!=='Refund Period-Edit'" mat-cell *matCellDef="let viewall"
                    (click)="Editrefunds(viewall)">
                    <i style="cursor: pointer;font-size:15px; color:#545497;" class="fas fa-edit"></i>
                </td>
            </ng-container>

            <ng-container matColumnDef="View">
                <th [hidden]="History!=='Refund Period-History'" mat-header-cell *matHeaderCellDef mat-sort-header>
                    History</th>
                <td [hidden]="History!=='Refund Period-History'" style="text-wrap: wrap;" mat-cell
                    *matCellDef="let data">
                    <i style="cursor: pointer;font-size: 17px;" class="fa fa-eye" (click)="view(data.refundDayId)"></i>
                </td>
            </ng-container>

            <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef> Created By</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.createdBy}}</td>
            </ng-container>


            <ng-container matColumnDef="createdDateTime">
                <th mat-header-cell *matHeaderCellDef> Created At</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.createdDateTime | date:'dd/MM/yyyy hh:mm a' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="modifiedBy">
                <th mat-header-cell *matHeaderCellDef>Modified By</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.modifiedBy}}</td>
            </ng-container>


            <ng-container matColumnDef="modifiedDateTime">
                <th mat-header-cell *matHeaderCellDef>Modified At</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.modifiedDateTime|date:'dd/MM/yyyy hh:mm a' }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
                <td class="mat-cell" colspan="0" *ngIf="searchPerformed">No Data</td>
                <td class="mat-cell" colspan="0" *ngIf="!searchPerformed && dataSource.data.length === 0">No Data
                </td>
            </tr>
        </table>
    </div>
</mat-card-content>

<mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons
        aria-labels="select page of users"></mat-paginator>

</mat-card-footer>