<div *ngIf="selectedTransactionType == 'Due Transaction'">
  <h4 style="text-align: left; color: #141e46">Due Online Refunds</h4>

  <mat-card-header>
    <div class="row">
      <div class="col-3 mt-4" style="margin-right: -14px">
        <select (change)="transactionsDropdown($event)" class="form-select">
          <option [selected]="selectedTransactionType == 'Due Transaction'" value="Due Transaction">
            Due Transaction
          </option>
          <option value="Additional Transaction">Additional Transaction</option>
        </select>
      </div>
      <div class="col-2 mt-4" style="margin-right: 87px">
        <div class="search">
          <form class="form1">
            <label for="search">
              <input #input required="" autocomplete="off" placeholder="Search" id="search" name="search" type="text"
                [(ngModel)]="currentfilval" />
              <div class="icon">
                <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg" class="swap-on">
                  <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round" stroke-linecap="round">
                  </path>
                </svg>
              </div>
              <button type="reset" (click)="reload()" class="close-btn">
                <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    fill-rule="evenodd"></path>
                </svg>
              </button>
            </label>
          </form>
        </div>
      </div>
      <div class="col-2 mt-4" style="margin-right: -100px">
        <button (click)="refundsearch(currentfilval)" style="
            color: white;
            background-color: #141e46;
            border-radius: 10px;
            font-size: 12px;
          " mat-raised-button>
          Go
        </button>
      </div>
      <div [hidden]="valuerefundexport!=='Online Refunds-Check Status'" class="col-1 mt-4" style="margin-right: 32px">
        <button class="btn" (click)="submitRefundfordue()" style="
              color: white;
              background-color: #141e46;
              border-radius: 10px;
              font-size: 12px;
            " mat-raised-button [disabled]="selectedPayIds.length==0">
          Check Status
        </button>
      </div>

      <div class="col-1 mt-4" style="margin-right: -13px">
        <button class="btn" (click)="filterdialogfordue()" style="
              color: white;
              background-color: #141e46;
              border-radius: 10px;
              font-size: 12px;
            " mat-raised-button>
          Filter
        </button>
      </div>

      <div class="col-1 mt-4">
        <button style="
            color: white;
            background-color: #141e46;
            border-radius: 10px;
            font-size: 12px;
          " mat-raised-button (click)="reset()">
          Reset
        </button>
      </div>
    </div>
  </mat-card-header>





  <mat-card-content>
    <div class="example-container text-nowrap mt-2" style="overflow-x: scroll; scrollbar-width: thin">
      <!-- <span *ngIf="showcategoryData" class="errormge">NO DATA FOUND</span> -->

      <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1">
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let data; let i = index">
            {{ i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="checkboxs">

          <th [hidden]="valuerefundexport!=='Online Refunds-Check Status'" mat-header-cell *matHeaderCellDef
            style="text-align: left; padding-left: 32px">
            <input type="checkbox" [(ngModel)]="selectAll" [disabled]="isAllPaid()" (change)="toggleAll()"
              title="Select All" />&nbsp;Check Status

          </th>
          <td [hidden]="valuerefundexport!=='Online Refunds-Check Status'" mat-cell *matCellDef="let data"
            style="text-align: center; padding-left: 32px">
            <input type="checkbox" [(ngModel)]="data.checked" (change)="updateSelection(data)"
              [disabled]="data.refundStatus!='INITIATED'" />
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction?.typeMode || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="refund">
          <th mat-header-cell *matHeaderCellDef>Refund Amount</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction?.refundAmount || "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="pgPaymentId">
          <th mat-header-cell *matHeaderCellDef>Payment ID</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction?.paymentId || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="reqid">
          <th mat-header-cell *matHeaderCellDef>Request ID</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction?.requestId || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="activityid">
          <th mat-header-cell *matHeaderCellDef>Activity ID</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction?.activityId || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="bankReference">
          <th mat-header-cell *matHeaderCellDef>
            Bank Reference
          <td mat-cell *matCellDef="let transaction">
            {{
            transaction?.bankReference &&
            transaction?.bankReference !== "null" &&
            transaction?.bankReference !== "-"
            ? transaction?.bankReference
            : "-"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="custname">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let data">
            {{ data?.customerName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="custmobile">
          <th mat-header-cell *matHeaderCellDef>Customer Mobile Number</th>
          <td mat-cell *matCellDef="let data">
            {{ data?.mobileNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Refund Status</th>
          <td mat-cell *matCellDef="let data">
            <span *ngIf="data?.refundStatus == 'INITIATED'" style="color: rgb(0, 4, 255)">{{ data?.refundStatus
              }}</span>

            <span *ngIf="data?.refundStatus == 'SUBMITTED'" style="color:green"> COMPLETED</span>
            <span *ngIf="data?.refundStatus == 'NOT REFUNDED'" class="text-warning"> {{ data?.refundStatus }}</span>
            <span *ngIf="data?.refundStatus == 'Success'" style="color: green">{{ data?.refundStatus }}</span>
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="createdDateTime">
        <th mat-header-cell *matHeaderCellDef>Due Generated At</th>
        <td mat-cell *matCellDef="let data">
          {{ data?.createdDateTime | date : "dd-MM-yyyy" }}
        </td>
      </ng-container> -->

        <ng-container matColumnDef="paidAmount">
          <th mat-header-cell *matHeaderCellDef>Paid Amount</th>
          <td mat-cell *matCellDef="let data">
            {{ data?.paidAmount.toFixed(2) }}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef>Created date</th>
        <td mat-cell *matCellDef="let data">
          {{ data?.createdAt | date : "dd-MM-yyyy" }}
        </td>
      </ng-container> -->

        <ng-container matColumnDef="refundDate">
          <th mat-header-cell *matHeaderCellDef>Requested Date&Time</th>
          <td mat-cell *matCellDef="let data">
            {{ data?.createdAt | date : "dd/MM/yyyy hh:mm a" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="entityname">
          <th mat-header-cell *matHeaderCellDef>Entity Name</th>
          <td mat-cell *matCellDef="let data">
            {{ data?.entityName }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr *matNoDataRow>
          <td class="mat-cell" colspan="0" *ngIf="searchPerformed">
            No Data For {{ input.value }}
          </td>
          <td class="mat-cell" colspan="0" *ngIf="!searchPerformed && dataSource.data.length === 0">
            No Data
          </td>
        </tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator (page)="getData($event)" [length]="totalPages" [pageIndex]="currentpage" [pageSize]="totalpage"
      [pageSizeOptions]="[5, 10, 50, 100, 200, 300, 500]" aria-label="Select page">
    </mat-paginator>
  </mat-card-footer>
</div>

<div *ngIf="selectedTransactionType == 'Additional Transaction'">
  <h4 style="text-align: left; color: #141e46">Additional Online Refunds</h4>

  <mat-card-header>
    <div class="row">
      <div class="col-3 mt-4" style="margin-right: -14px">
        <select (change)="transactionsDropdown($event)" class="form-select">
          <option value="Due Transaction">Due Transaction</option>
          <option [selected]="selectedTransactionType == 'Additional Transaction'" value="Additional Transaction">
            Additional Transaction
          </option>
        </select>
      </div>
      <div class="col-2 mt-4" style="margin-right: 87px">
        <div class="search">
          <form class="form1">
            <label for="search">
              <input #input required="" autocomplete="off" placeholder="Search" id="search" name="search" type="text"
                [(ngModel)]="currentfilvals" />
              <div class="icon">
                <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg" class="swap-on">
                  <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round" stroke-linecap="round">
                  </path>
                </svg>
              </div>
              <button type="reset" (click)="reloadadditional()" class="close-btn">
                <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    fill-rule="evenodd"></path>
                </svg>
              </button>
            </label>
          </form>
        </div>
      </div>
      <div class="col-2 mt-4" style="margin-right: -100px">
        <button (click)="refundsearchadditional(currentfilvals)" style="
            color: white;
            background-color: #141e46;
            border-radius: 10px;
            font-size: 12px;
          " mat-raised-button>
          Go
        </button>
      </div>
      <div [hidden]="valuerefundexport!=='Online Refunds-Check Status'" class="col-1 mt-4" style="margin-right: 32px">
        <button class="btn" (click)="submitRefundforAdditional()" style="
              color: white;
              background-color: #141e46;
              border-radius: 10px;
              font-size: 12px;
            " mat-raised-button [disabled]="selectedPayIdsAdditional.length==0">
          Check Status
        </button>
      </div>
      <div class="col-1 mt-4" style="margin-right: -13px">
        <button class="btn" (click)="filterdialogforadditional()" style="
            color: white;
            background-color: #141e46;
            border-radius: 10px;
            font-size: 12px;
          " mat-raised-button>
          Filter
        </button>
      </div>

      <div class="col-1 mt-4">
        <button style="
            color: white;
            background-color: #141e46;
            border-radius: 10px;
            font-size: 12px;
          " mat-raised-button (click)="resetadditional()">
          Reset
        </button>
      </div>
    </div>
  </mat-card-header>
  <!-- <mat-card> -->
  <mat-card-content>
    <div class="example-container text-nowrap mt-2" style="overflow-x: scroll; scrollbar-width: thin">
      <!-- <span *ngIf="showcategoryData" class="errormge">NO DATA FOUND</span> -->

      <table id="season-tble" matSort mat-table [dataSource]="dataSources" class="mat-elevation-z1">
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let data; let i = index">
            {{ i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="checkboxsadditional">

          <th [hidden]="valuerefundexport!=='Online Refunds-Check Status'" mat-header-cell *matHeaderCellDef
            style="text-align: left; padding-left: 32px">
            <input type="checkbox" [(ngModel)]="selectAllAdditional" (change)="toggleAllAdditional()"
              [disabled]="isAllPaidAdd()" title="Select All" />&nbsp; Check Status

          </th>
          <td [hidden]="valuerefundexport!=='Online Refunds-Check Status'" mat-cell *matCellDef="let data"
            style="text-align: center; padding-left: 32px">
            <input type="checkbox" [(ngModel)]="data.checked" (change)="updateSelectionAdditional(data)"
              [disabled]="data.refundStatus!='INITIATED'" />
          </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction?.typeMode || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>
            Stock Category
          </th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction.inventoryName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>
            Stock Quantity
          </th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction.quantity }}
          </td>
        </ng-container>
        <ng-container matColumnDef="refund">
          <th mat-header-cell *matHeaderCellDef>Refund Amount</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction?.refundAmount || "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="pgPaymentId">
          <th mat-header-cell *matHeaderCellDef>Payment ID</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction?.paymentId || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="reqid">
          <th mat-header-cell *matHeaderCellDef>Request ID</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction?.requestId || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="activityid">
          <th mat-header-cell *matHeaderCellDef>Activity ID</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction?.activityId || "-" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="bankReference">
          <th mat-header-cell *matHeaderCellDef>
            Bank Reference
          <td mat-cell *matCellDef="let transaction">
            {{
            transaction?.bankReference &&
            transaction?.bankReference !== "null" &&
            transaction?.bankReference !== "-"
            ? transaction?.bankReference
            : "-"
            }}
          </td>
        </ng-container>
        <ng-container matColumnDef="custname">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let data">
            {{ data?.customerName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="custmobile">
          <th mat-header-cell *matHeaderCellDef>Customer Mobile Number</th>
          <td mat-cell *matCellDef="let data">
            {{ data?.mobileNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Refund Status</th>
          <td mat-cell *matCellDef="let data">
            <span *ngIf="data?.refundStatus == 'INITIATED'" style="color: rgb(0, 4, 255)">{{ data?.refundStatus
              }}</span>
            <span *ngIf="data?.refundStatus == 'Success'" style="color: green">COMPLETED</span>
            <span *ngIf="data?.refundStatus == 'NOT REFUNDED'" class="text-warning"> {{ data?.refundStatus }}</span>
            <span *ngIf="data?.refundStatus == 'SUBMITTED'" style="color:green"> COMPLETED</span>
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="createdDateTime">
        <th mat-header-cell *matHeaderCellDef>Due Generated At</th>
        <td mat-cell *matCellDef="let data">
          {{ data?.createdDateTime | date : "dd-MM-yyyy" }}
        </td>
      </ng-container> -->

        <ng-container matColumnDef="paidAmount">
          <th mat-header-cell *matHeaderCellDef>Paid Amount</th>
          <td mat-cell *matCellDef="let data">
            {{ data?.paidAmount.toFixed(2) }}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef>Created date</th>
        <td mat-cell *matCellDef="let data">
          {{ data?.createdAt | date : "dd-MM-yyyy" }}
        </td>
      </ng-container> -->

        <ng-container matColumnDef="refundDate">
          <th mat-header-cell *matHeaderCellDef>Requested Date&Time</th>
          <td mat-cell *matCellDef="let data">
            {{ data?.createdAt | date : "dd/MM/yyyy hh:mm a" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="entityname">
          <th mat-header-cell *matHeaderCellDef>Entity Name</th>
          <td mat-cell *matCellDef="let data">
            {{ data?.entityName }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsadd; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsadd"></tr>
        <tr *matNoDataRow>
          <td class="mat-cell" colspan="0" *ngIf="searchPerformed">
            No Data For {{ input.value }}
          </td>
          <td class="mat-cell" colspan="0" *ngIf="!searchPerformed && dataSources.data.length === 0">
            No Data
          </td>
        </tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator (page)="getDataAdditional($event)" [length]="totalPages" [pageIndex]="currentpage"
      [pageSize]="totalpage" [pageSizeOptions]="[5, 10, 50, 100, 200, 300, 500]" aria-label="Select page">
    </mat-paginator>
  </mat-card-footer>
</div>








<ng-template #filterfordue>
  <div class="dialog-card-header">
    <h5 class="mb-0" style="font-weight: 500; padding: 7px; font-size: large">
      Date Filter
    </h5>
    <div class="col-md-2 d-flex justify-content-end mb-1">
      <button class="button1" (click)="close()">
        Back
      </button>
    </div>
  </div>
  <div class="dialog-body page">
    <main class="main page__main">
      <form class="form main__form" autocomplete="off" [formGroup]="dueform" role="form">
        <div class="form__linput">
          <label class="form__label" for="fname">{{
            "From Date"
            }}</label>
          <input onkeydown="return false;" class="form-control" id="fname" type="date" formControlName="fromdatedue"
            (change)="future(todatedue)" [max]="maxDate" name="fromdatedue" required />
        </div>
        <div class="form__linput">
          <label class="form__label" for="fname">{{
            "To Date"
            }}</label>
          <input onkeydown="return false;" class="form-control" id="fname" type="date" formControlName="todatedue"
            [min]="fromdatedue?.value" [max]="maxDate" name="todatedue" required />
        </div>

        <div class="mt-3">
          <button [disabled]="!dueform.valid" type="submit" class="btn mx-1" style="background-color: #7db855be"
            (click)="filterdate()">
            Filter
          </button>
          <button type="button" class="btn" style="background-color: #141e46; color: white" (click)="duereset()">
            Reset
          </button>
        </div>
      </form>
    </main>
  </div>
</ng-template>

<ng-template #filterforadditional>
  <div class="dialog-card-header">
    <h5 class="mb-0" style="font-weight: 500; padding: 7px; font-size: large">
      Date Filter
    </h5>
    <div class="col-md-2 d-flex justify-content-end mb-1">
      <button class="button1" (click)="close()">
        Back
      </button>
    </div>
  </div>
  <div class="dialog-body page">
    <main class="main page__main">
      <form class="form main__form" autocomplete="off" [formGroup]="additionalform" role="form">
        <div class="form__linput">
          <label class="form__label" for="fname">{{
            "From Date"
            }}</label>
          <input onkeydown="return false;" class="form-control" id="fname" type="date"
            formControlName="fromdateadditional" (change)="futuredate(todateadditional)" [max]="maxDate"
            name="fromdateadditional" required />
        </div>
        <div class="form__linput">
          <label class="form__label" for="fname">{{
            "To Date"
            }}</label>
          <input onkeydown="return false;" class="form-control" id="fname" type="date"
            formControlName="todateadditional" [min]="fromdateadditional?.value" [max]="maxDate" name="todateadditional"
            required />
        </div>

        <div class="mt-3">
          <button [disabled]="!additionalform.valid" type="submit" class="btn mx-1" style="background-color: #7db855be"
            (click)="filterdateadditional()">
            Filter
          </button>
          <button type="button" class="btn" style="background-color: #141e46; color: white" (click)="additionalreset()">
            Reset
          </button>
        </div>
      </form>
    </main>
  </div>
</ng-template>