<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<body >
    <div class="div">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand">FARGIN CONNECT</a>
            <div class="navbar-nav">
                <img src="assets/flagimage.png" alt="Flag Image">
            </div>
        </nav>
 
     
 
        <div class="body">
            <div class="container-fluid d-block">
              <div class="row justify-content-center">
                  <div class="col-12 col-md-6 col-lg-4" style="min-width: 360px;">
                    <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
                      <div class="card-body p-5 text-center">
                        <h3 class="mb-3" style="color:#141E46"> OTP Verification</h3>
                        <p>Please enter your 6-digit OTP code</p>
           
                        <div class="otp-field mb-4 mt-3">
                          <input  type="text"   name="otpCode1"    [(ngModel)]="otpCode1" (keyup)="move($event,'',first,second)" #first class="form-control me-1 d-inline" maxlength="1"/>
                          <input type="text" name="otpCode2"   [(ngModel)]="otpCode2" (keyup)="move($event,first,second,third)" #second class="form-control me-1 d-inline" maxlength="1" />
                          <input type="text" name="otpCode3"   [(ngModel)]="otpCode3" (keyup)="move($event,second,third,fourth)" #third class="form-control me-1 d-inline" maxlength="1"/>
                          <input  type="text" name="otpCode4"  [(ngModel)]="otpCode4"  (keyup)="move($event,third,fourth,fifth)" #fourth class="form-control me-1 d-inline" maxlength="1"/>
                          <input  type="text" name="otpCode5"  [(ngModel)]="otpCode5" (keyup)="move($event,fourth,fifth,six)" #fifth class="form-control me-1 d-inline" maxlength="1" />
                          <input type="text" name="otpCode6"  [(ngModel)]="otpCode6" (keyup)="move($event,fifth,six, '')" #six class="form-control me-1 d-inline" maxlength="1"/>
                        </div>
                        <button type="submit" (click)="verifyotp()"> Verify</button>
                        <p *ngIf="displayTimer"> OTP Will be Expired Within:<span style="color:red;">{{display}}</span></p>
                        <p class="resend text-muted mb-0" *ngIf="resendOtp">
                          Didn't receive code? &nbsp;&nbsp;&nbsp;&nbsp; <a style="cursor: pointer;font-size: 15px;color:#9184ed ;"
                          (click)="getresendOtp()">Request again</a>
                        </p>
                       
                      </div>
                    </div>
                  </div>
                </div>
           
            </div>
          </div>
 
        <footer>
            <p class="footer-text">
                <span class="copyright">Copyright &copy; {{this.currentYear}}, All Rights Reserved</span>
                <a href="customer/login">Home</a> <span style="color: #141E46;font-weight: 600;">|</span>
                <a href="customer-solutions">Solutions</a> <span style="color: #141E46;font-weight: 600;">|</span>
                <a href="customer-termsandpolicy">Terms and Conditions</a> <span style="color: #141E46;font-weight: 600;">|</span>
                <a href="customer-privacy-policy">Privacy Policy</a> <span style="color: #141E46;font-weight: 600;">|</span>
                <a href="customer-refund-policy">Refund Policy</a> <span style="color: #141E46;font-weight: 600;">|</span>
                <a href="customer-disclaimer">Disclaimer</a> <span style="color: #141E46;font-weight: 600;">|</span>
                <a class="support" href="mailto:support@fargin.in" >support{{strings}}fargin.in</a>
            </p>
        </footer>
    </div>
</body>