<h4 style="text-align:left;color:#141E46;">Customer Payments</h4>
<div class="row" style="margin-top: 3%;">
 
</div>
<div class="row mt-3">
    <div class="col-2" style="margin-top:28px;">
        <div class="search ">
            <form class="form">
                <label for="search">
                    <input #input (keyup)="applyFilter($event)" required="" autocomplete="off" placeholder="Search"
                        id="search" type="text">
                    <div class="icon">
                        <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="swap-on">
                            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                stroke-linecap="round">
                            </path>
                        </svg>
                        <!-- <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="swap-off">
                            <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round">
                            </path>
                        </svg> -->
                    </div>
                    <button  (click)="reload()" type="reset" class="close-btn">
                        <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                fill-rule="evenodd"></path>
                        </svg>
                    </button>
                </label>
            </form>

        </div>

    </div>&nbsp;&nbsp;&nbsp;
    <div class="col-2" style="margin-top:25px;">
    <button style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button
    (click)=" exportexcel()" [hidden]="valuepaymentexport!=='Customer Payment-Export'">Export</button>
    </div>
   
    <div class="col-2">
        <label><b>From Date:</b></label>
        <input class="form-control" type="date" name="FromDate" [(ngModel)]="FromDateRange"
            style="height:35px;width:150px;border-radius: 5px;">
    </div>
    <div class="col-2">
        <label><b>To Date:</b></label>
        <input class="form-control" type="date" name="ToDate" [(ngModel)]="ToDateRange"
            style="height:35px;width:150px;border-radius: 5px;">
    </div>
 
    <div class="col-1 mt-4">
        <button style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button
            (click)="filterdate()">Filter</button>
    </div>
 
    <div class="col-2 mt-4">
        <button style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button
            (click)="reset()">Reset</button>
    </div>
 
</div>
<!-- <mat-card> -->
<mat-card-content>
    <div class="table-responsive text-nowrap" style="overflow-x: scroll; scrollbar-width: thin;">
        <br> <br>   
         <span *ngIf="showcategoryData" style="text-align:center;color:red;" >NO DATA FOUND</span>
        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!
        showcategoryData
        ">
            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> S.No</th>
                <td mat-cell *matCellDef="let viewall; let i = index"> {{i+1}} </td>
            </ng-container>
 
 
           
 
            <ng-container matColumnDef="paymentId">
                <th mat-header-cell *matHeaderCellDef>Payment ID</th>
                <td mat-cell *matCellDef="let transaction">{{ transaction.pgPaymentId }}</td>
            </ng-container>
            <ng-container matColumnDef="entityname">
                <th mat-header-cell *matHeaderCellDef>Entity Name</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction?.customerId?.merchantId?.merchantLegalName }}</td>
            </ng-container>
            <ng-container matColumnDef="customername">
                <th mat-header-cell *matHeaderCellDef>Customer Name</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction?.customerId?.customerName }}</td>
            </ng-container>
            <ng-container matColumnDef="paymentmethod">
                <th mat-header-cell *matHeaderCellDef>Payment Method</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction?.paymentMethod }}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.paidAmount}}</td>
            </ng-container>
 
            <ng-container matColumnDef="paidAt">
                <th mat-header-cell *matHeaderCellDef>Paid At</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.paymentDateTime | date : "yyyy-MM-dd hh:mm a" }}
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let transaction">
                    <span *ngIf="transaction?.paymentStatus == 'Success'" class="text-success"> {{ transaction?.paymentStatus}}</span>
                    <span *ngIf="transaction?.paymentStatus   == 'Pending'" class="text-warning"> {{ transaction?.paymentStatus}}</span>
                    <span *ngIf="transaction?.paymentStatus  == 'Initiated'" class="text-danger"> {{ transaction?.paymentStatus}}</span>
 
                </td>
            </ng-container>

            <ng-container matColumnDef="Receipt">
                <th mat-header-cell *matHeaderCellDef [hidden]="valuepaymentReceipt!=='Customer Payment-Receipt'">Receipt</th>
                <td mat-cell *matCellDef="let viewall" [hidden]="valuepaymentReceipt!=='Customer Payment-Receipt'">
                    <!-- <button class="btn btn-success btn-sm"  [disabled]="viewall?.paymentStatus!='Success'" >   <i  class="fas fa-receipt" (click)="Receipt(viewall.customerPayId)"></i></button> -->
                    <button class="btn btn-success btn-sm" [disabled]="viewall?.paymentStatus!='Success'"
                        style="border:none;" (click)="Receipt(viewall.customerPayId)"> <i class="fa-solid fa-download" style="color:#fff;"></i></button>
                </td>
            </ng-container>
 
            <ng-container matColumnDef="CheckStatus">
                <th mat-header-cell *matHeaderCellDef [hidden]="valuepaymentCheckStatus!=='Customer Payment-Check Status'">Check Status</th>
                <td mat-cell *matCellDef="let transaction" [hidden]="valuepaymentCheckStatus!=='Customer Payment-Check Status'">
                  <button class="btn btn-primary btn-sm" [disabled]="transaction?.paymentStatus  != 'Initiated'" (click)="track(transaction)" style="border-radius: 10px;background-color: #141E46;"> <i style="font-size:15px;color:white;cursor: pointer;" class="fa">&#xf00c;</i></button>
                </td>
            </ng-container>
 
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef [hidden]="valuepaymentview!=='Customer Payment-View'">View</th>
                <td mat-cell *matCellDef="let transaction" [hidden]="valuepaymentview!=='Customer Payment-View'">
                    <i style="cursor: pointer;" class="fas fa-eye" style="font-size: 16px;color: rgb(39, 39, 95);"
                        (click)="transactionview(transaction?.customerPayId)"></i>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
                <td class="mat-cell" colspan="4">No Data For
                    {{input.value}}
                </td>
            </tr>
        </table>
    </div>
</mat-card-content>
<mat-card-footer>
    <mat-paginator (pageChange)="renderPage($event)" [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons
        aria-labels="select page of users"></mat-paginator>
</mat-card-footer>