<div class="dashboard">
  <div class="card border-success">
    <div class="icon">👥</div>
    <div class="title">Total Merchants</div>
    <div class="value">{{counts?.totalMerchantCount}}</div>
  </div>
  <div class="card border-success">
    <div class="icon">🆕</div>
    <div class="title">Onboarded Merchants</div>
    <div class="value">{{counts?.totalPgOnboardMerchantCount}}</div>
</div>
 
<div class="card border-success">
  <div class="icon">👤</div>
  <div class="title">Active Merchants</div>
  <div class="value">{{counts?.totalactiveMerchantCount}}</div>
</div>
<div class="card border-success">
  <div class="icon">🚫</div>
  <div class="title">Inactive Merchants</div>
  <div class="value">{{counts?.totalInActiveMerchantCount}}</div>
</div>
<div class="card border-success">
  <div class="icon">🕑</div>
  <div class="title">Pending Merchants</div>
  <div class="value">{{counts?.totalPendingMerchantCount}}</div>
</div>
<div class="card border-success">
  <div class="icon">✔️</div>
  <div class="title">Approved Merchants</div>
  <div class="value">{{counts?.totalApprovedMerchantCount}}</div>
</div>
<div class="card border-success">
  <div class="icon">🎟️</div>
  <div class="title">Total Tickets</div>
  <div class="value">{{counts?.totalTicketCount}}</div>
</div>
    <div class="card border-success">
        <div class="icon">📩</div>
        <div class="title">Total Open Tickets</div>
        <div class="value">{{counts?.totalTicketMemberOpenCount}}</div>
    </div>
    <div class="card border-success">
        <div class="icon">⏳</div>
        <div class="title">Tickets on Hold</div>
        <div class="value">{{counts?.totalTicketMemberHoldCount}}</div>
    </div>
 
 
    <div class="card border-success">
        <div class="icon">✅</div>
        <div class="title">Closed Tickets</div>
        <div class="value">{{counts?.totalTicketMemberclosedCount}}</div>
    </div>
</div>
 
 
<!-- <div class="cards  mb-3">
  <div class="card-header">
    <h5 class="card-title">Merchant Details</h5>
  </div>
  <div class="card-body">
    <select class="form-select" id="categorySelect" (change)="onCategoryChange($event)">
      <option value="" disabled selected>Select Category</option>
      <option *ngFor="let val of category" [value]="val.businessCategoryId">{{val.categoryName}}</option>
    </select>
  </div>
</div>
  <div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <canvas id="myCanvas"></canvas>
      </div>
    </div>
  </div> -->
 
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="" style="font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Merchant Details</label><br>
      <select (change)="onCategoryChange($event)"  name="" id="" class="form-select"  [value]="initialCategoryId">
        <option value="" disabled selected>Select Category</option>
        <option *ngFor="let val of category" [value]="val.businessCategoryId">{{val.categoryName}}</option>
      </select>
    </div>
 
    <div class="row d-flex justify-content-center">
      <div class="col-md-7">
        <canvas id="myCanvas"></canvas>
      </div>
    </div>