* {
  box-sizing: border-box;
}
 
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}
 
.dashboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns for each row */
  gap: 15px; /* Increased gap between cards */
}
 
.card {
  background-color: #ffffff;
  border-radius: 6px; /* Reduced border radius */
  padding: 10px; /* Reduced padding */
  margin: 0; /* Remove margin to reduce space */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
  border-left: 5px solid transparent; /* Initial left border */
}
 
.card.border-info {
  border-left-color: #0dcaf0; /* Left border color for info */
}
 
.card.border-warning {
  border-left-color: #ffc107; /* Left border color for warning */
}
 
.card.border-danger {
  border-left-color: #fd3550; /* Left border color for danger */
}
 
.card.border-success {
  border-left-color: #15ca20; /* Left border color for success */
}
 
.card:hover {
  transform: scale(1.05);
}
 
.icon {
  font-size: 24px; /* Reduced icon size */
  margin-bottom: 6px; /* Reduced margin */
}
 
.title {
  font-weight: bold;
  margin: 6px 0; /* Reduced margin */
  color: #333;
}
 
.value {
  font-size: 18px; /* Reduced font size */
  color: #007bff;
  font-weight: bold;
}
 
/* Specific styles for smaller screens */
@media (max-width: 800px) {
  .dashboard {
      grid-template-columns: repeat(2, 1fr); /* Change to 2 columns on smaller screens */
  }
}
.form-select {
  width: 50%; /* Adjust the width of the dropdown */
  margin-bottom: 10px; /* Add margin for spacing */
}
.card {
  margin-bottom: 20px; /* Spacing between cards */
}
 
.form-select {
  width: 100%;
  font-size: 1rem; /* Increase font size */
 
}
 
#myCanvas {
  width: 100%;
  height: 400px; /* Adjust height for better visibility */
}
 
.card-header {
  text-align: center; /* Center the title */
}
 
@media (max-width: 800px) {
  #myCanvas {
    height: 300px; /* Adjust canvas height for mobile */
  }
}