<div class="card-header">
    <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px; ">Add Pincode</h3>
</div>

<body class="page">
    <main class="main page__main">
        <form class="form main__form" autocomplete="off" class="form" [formGroup]="pincodeformGroup">
            <div class="form__linput">
                <label class="form__label">Pincode</label>
                <textarea class="form-control" type="text" formControlName="pincode" required ></textarea>
                <div style="color: red; font-size: 12px;margin-top: 2px;"
                    *ngIf="pincode?.invalid && pincode?.touched && pincode?.errors?.['required']">
                    Field is required
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn mx-1 " style="background-color:#7db855be" (click)="submit()"
                    [disabled]="pincodeformGroup.invalid">Submit</button>
                <button matDialogClose  type="submit" class="btn" style="background-color:#141E46;color:white">Cancel</button>
            </div>        
        </form>
    </main>
</body>