<h4 style="text-align:left;color:#141E46;">Sticker Cost </h4>

<mat-card-header>
    <div class="row mt-4">
        <div class="col">
            <button [hidden]="valuestickeradd!=='Sticker-Update'"
                style="color:white;background-color: #141E46;border-radius: 10px;" class="custom-btn btn-10 me-3"
                data-bs-toggle="modal" data-bs-target="#ApprovalEdits" mat-raised-button
                (click)="AddSticker()">Update</button>
        </div>
    </div>
</mat-card-header>

<mat-card-content>
    <div class="table-responsive text-nowrap mt-4" style="overflow-x: scroll; scrollbar-width: thin;">
        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="stickerId">
                <th mat-header-cell *matHeaderCellDef> S.No</th>
                <td mat-cell *matCellDef="let viewall; let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="stickerPerAmount">
                <th mat-header-cell *matHeaderCellDef>Cost Per Sticker</th>
                <td mat-cell *matCellDef="let viewall">{{viewall?.stickerPerAmount?.toFixed(2)}}</td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Effective From</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.effectiveDate | date:'dd/MM/yyyy' }}
                </td>
            </ng-container>

            <!-- <ng-container matColumnDef="activeStatus">
                    <th [hidden]="valuestickerstatus!=='View Sticker-Status'"  mat-header-cell *matHeaderCellDef mat-sort-header >Status</th>
            
                    <td [hidden]="valuestickerstatus!=='View Sticker-Status'"  mat-cell *matCellDef="let viewall" >
                        <mat-slide-toggle class="example-margin" color="primary" [checked]="viewall.activeStatus==='Active'"
                        (change)="ActiveStatus($event,viewall.stickerId)">
                        </mat-slide-toggle>
                    </td>
                </ng-container> -->

            <ng-container matColumnDef="deliveryDays">
                <th mat-header-cell *matHeaderCellDef>Sticker Delivery day</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.deliveryDays}}</td>
            </ng-container>

            <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef>Updated By</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.createdBy}}</td>
            </ng-container>

            <ng-container matColumnDef="View">
                <th [hidden]="valuestickerstatus!=='Sticker-History'" mat-header-cell *matHeaderCellDef mat-sort-header>
                    History</th>
                <td [hidden]="valuestickerstatus!=='Sticker-History'" style="text-wrap: wrap;" mat-cell
                    *matCellDef="let data">
                    <i style="cursor: pointer;font-size: 17px;" class="fa fa-eye" (click)="view(data.stickerId)"></i>
                </td>
            </ng-container>


            <ng-container matColumnDef="createdDateTime">
                <th mat-header-cell *matHeaderCellDef> Updated At</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.createdDateTime | date:'dd/MM/yyyy hh:mm a' }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
    </div>
</mat-card-content>

<mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtonsaria-labels="select page of users">
    </mat-paginator>
</mat-card-footer>