
<div class="mat-dialog-content">
   
     
   
    <div class="otp-container">
        
       
      <form>
        <button class="back-button" mat-dialog-close>Close</button>
        <div>
           
            <h3 class="otp-title">OTP Verification</h3>
        </div>
        <p>Please Enter a OTP code, we have send to your Mobile</p>
        <p>{{mobilenumber}}</p>
  
        <div class="otp-field mb-4 mt-3">
          <input type="text" [(ngModel)]="otpCode1" name="otpCode7" (keyup)="move($event, '', first, second)" #first
            class="form-control otp-input" maxlength="1" />
          <input type="text" [(ngModel)]="otpCode2" name="otpCode8" (keyup)="move($event, first, second, third)" #second
            class="form-control otp-input" maxlength="1" />
          <input type="text" [(ngModel)]="otpCode3" name="otpCode9" (keyup)="move($event, second, third, fourth)" #third
            class="form-control otp-input" maxlength="1" />
          <input type="text" [(ngModel)]="otpCode4" name="otpCode10" (keyup)="move($event, third, fourth, fifth)" #fourth
            class="form-control otp-input" maxlength="1" />
          <input type="text" [(ngModel)]="otpCode5" name="otpCode11" (keyup)="move($event, fourth, fifth, six)" #fifth
            class="form-control otp-input" maxlength="1" />
          <input type="text" [(ngModel)]="otpCode6" name="otpCode12" (keyup)="move($event, fifth, six, '')" #six
            class="form-control otp-input" maxlength="1" />
        </div>
        <button (click)="VerifyOtp()" style="color:white;background-color: #141E46;" mat-raised-button
          type="submit">Verify</button>
        <p class="mt-1" *ngIf="timeLeft"> OTP Will be Expired Within :<span style="color:red;">{{timeLeft}} </span> Seconds</p>
        <p class="resend text-muted mb-0" *ngIf="timeLeft == 0">
          Didn't receive code? &nbsp;&nbsp;&nbsp;&nbsp; <a style="cursor: pointer;font-size: 15px;color:#9184ed ;"
            (click)="ResendOTP()">Request again</a>
        </p>
      </form>
    </div>
  </div>