<div class="container">
  <div class="form-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Edit A-LA-CARTE</h5>
    <button type="button" class="btn btn-secondary" (click)="close()">
      Back
    </button>
  </div>

  <div class="well">
    <h4 class="card-header" style="font-weight: 500">Channel Details</h4>
    <form [formGroup]="myForm" style="margin-top: 2%">
      <div class="row mb-3">
        <div class="col-sm-4 form-group">
          <label for="Bussiness category">Broadcaster</label>
          <select
            [(ngModel)]="BroadCaster"
            formControlName="bundleChannelId"
            id="Bussiness category"
            class="form-control form-select"
          >
            <option value="" disabled selected>Select</option>
            <option
              *ngFor="let item of Broadcasters"
              [value]="item.bundleChannelId"
            >
              {{ item.broadCasterName }}
            </option>
          </select>
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="bundleChannelId?.invalid && bundleChannelId?.touched && bundleChannelId?.errors?.['required']"
          >
            Field is required
          </div>
        </div>

        <div class="col-sm-4 form-group">
          <label for="Bussiness category">MSO</label>
          <select
            [(ngModel)]="msoservice"
            formControlName="msoserviceactive"
            (change)="mso($event)"
            id="Bussiness category"
            class="form-control form-select"
          >
            <option value="" disabled selected>Select</option>
            <option *ngFor="let item of msoactive" [value]="item.serviceId">
              {{ item.serviceProviderName }}
            </option>
          </select>
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="msoserviceactive?.invalid && msoserviceactive?.touched && msoserviceactive?.errors?.['required']"
          >
            Field is required
          </div>
        </div>

        <div class="col-sm-4 form-group">
          <label for="Bussiness category">Region</label>
          <select
            [(ngModel)]="regionname"
            formControlName="regionId"
            id="Bussiness category"
            class="form-control form-select"
          >
            <option value="" disabled selected>Select</option>
            <option *ngFor="let item of msroregion" [value]="item.regionId">
              {{ item.stateName }}
            </option>
          </select>
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="regionId?.invalid && regionId?.touched && regionId?.errors?.['required']"
          >
            Field is required
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-4 form-group">
          <label for="Entity Name">Channel Name</label>
          <input
            [(ngModel)]="ChennelName"
            type="text"
            id="Entity Name"
            formControlName="channelName"
            class="form-control"
          />
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="channelName?.invalid && channelName?.touched && channelName?.errors?.['required']"
          >
            Field is required
          </div>
     <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                  " *ngIf="channelName?.invalid && channelName?.touched && channelName?.errors?.['pattern']">
Invalid format
                    </div>
                            <div style="color: red; font-size: 12px; margin-top: 2px; position: relative;"
       *ngIf="channelName?.invalid && channelName?.touched && channelName?.errors?.['maxlength']">
            Maximum length should be 50
  </div>
        </div>

        <div class="col-sm-4 form-group">
          <label for="Entity Name">Channel Number</label>
          <input
            [(ngModel)]="ChannelNumber"
            type="text"
            id="Entity Name"
            formControlName="channelNo"
            class="form-control"
          />
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="channelNo?.invalid && channelNo?.touched && channelNo?.errors?.['required']"
          >
            Field is required
          </div>
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="channelNo?.invalid && channelNo?.touched && channelNo?.errors?.['pattern']"
          >
            Only Numbers are allowed (Upto 10 Digits)
          </div>
        </div>

        <div class="col-sm-4 form-group">
          <label for="Entity Name">Generic</label>
          <input
            [(ngModel)]="Generic"
            type="text"
            id="Entity Name"
            formControlName="generic"
            class="form-control"
          />
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="generic?.invalid && generic?.touched && generic?.errors?.['required']"
          >
            Field is required
          </div>
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="generic?.invalid && generic?.touched && generic?.errors?.['pattern']"
          >
            Please enter only letters,(max 50 characters)
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-4 form-group">
          <label for="Entity Name">Language</label>
          <input
            [(ngModel)]="Language"
            type="text"
            id="Entity Name"
            formControlName="language"
            class="form-control"
          />
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="language?.invalid && language?.touched && language?.errors?.['required']"
          >
            Field is required
          </div>
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="language?.invalid && language?.touched && language?.errors?.['pattern']"
          >
            Please enter only letters,(max 50 characters)
          </div>
        </div>

        <div class="col-sm-4 form-group">
          <label for="Bussiness category">Type</label>
          <select
            [(ngModel)]="Type"
            formControlName="type"
            id="Bussiness category"
            class="form-control form-select"
          >
            <option value="" disabled selected>Select</option>
            <option value="0">Free</option>
            <option value="1">Paid</option>
          </select>
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="type?.invalid && type?.touched && type?.errors?.['required']"
          >
            Field is required
          </div>
        </div>

        <div class="col-sm-4 form-group" [hidden]="type?.value != '1'">
          <label for="Entity Name">Price</label>
          <input
            [required]="type?.value == '1'"
            [(ngModel)]="amount"
            type="text"
            id="Entity Name"
            formControlName="price"
            class="form-control"
          />
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="price?.invalid && price?.touched && price?.errors?.['pattern']"
          >
            Only positive numbers are allowed
          </div>
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="price?.invalid && price?.touched && price?.errors?.['required']"
          >
            Field is required*
          </div>
        </div>
      </div>

      <div>
        <button
          [disabled]="myForm.invalid"
          type="submit"
          class="btn mx-1"
          style="background-color: #7db855be"
          (click)="submit()"
        >
          Submit
        </button>
        <button
          type="submit"
          class="btn"
          style="background-color: #141e46; color: white"
          (click)="close()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
