<div class="card-header">
  <h3 class="mb-0" style="font-weight: 700; text-align: center; font-size: 21px">
    {{"Customer Bulk Upload" |translate}}
  </h3>
</div>

<body class="page">
  <main class="main page__main">
    <form class="form main__form" autocomplete="off" class="form" [formGroup]="customerformGroup">
      <div class="form__linput">
        <label class="form__label">{{"Upload File"|translate}}</label>
        <input type="file" class="form-control" formControlName="uploadFile" required
          (change)="uploadBulkFile($event)" />
        <div style="color: red; font-size: 12px; margin-top: 2px"
          *ngIf="uploadFile?.invalid && uploadFile?.touched && uploadFile?.errors?.['required']">
          Field is required
        </div>
      </div>

      <h5>{{"Notes"|translate}}:</h5>
      <div class="notes-container">
        <ul>
          <li style="color: red;">{{"Maximum 500 Records Only Allowed to Upload For a Single time"|translate}}</li>
          <li><span style="color:red;">{{"Date Content"|translate}}</span>
            {{"So Please Kindly Check and Update,based on this the Due is Generated"|translate}}</li>
          <li>{{"customerReferenceId: Provide your customer reference ID"|translate}}</li>
          <li>
            {{"customerMsoId: Provide your customer MSO ID if you have one; otherwise, this field is optional"|translate}}
          </li>
          <li>{{"customerName: Mandatory"|translate}}</li>
          <li>
           {{"mobileNumber: Enter the customer's registered mobile number"|translate}}
          </li>
          <li>{{"alternateMobileNumber: Optional"|translate}}</li>
          <li>{{"age: Optional"|translate}}</li>
          <li>{{"emailAddress: Optional"|translate}}</li>
          <li>
            {{"doorNumber: If you provide"|translate}} "36/4," {{"prefix it with"|translate}} "No" (e.g., "No.36/4")
          </li>
          <li>{{"blockNumber: Optional"|translate}}</li>
          <li>{{"flatNumber: Optional"|translate}}</li>
          <li>{{"houseName: Optional"|translate}}</li>
          <li>{{"apartmentName: Optional"|translate}}</li>
          <li>{{"streetName: Mandatory"|translate}}</li>
          <li>{{"area: Mandatory"|translate}}</li>
          <li>{{"landmark: Optional"|translate}}</li>
          <li>{{"countryName: Mandatory"|translate}}</li>
          <li>{{"stateName: Mandatory"|translate}}</li>
          <li>{{"cityName: Mandatory"|translate}}</li>
          <li>{{"pincodeName: Mandatory"|translate}}</li>
          <li>{{"freeLine: Enter"|translate}} "Paid" {{"or"|translate}} "Free."</li>
          
          <li>{{"advanceStatus: Enter"|translate}} "{{"Yes"|translate}}" {{"or"|translate}} "{{"No."|translate}}"</li>
          <li>
            {{"advanceAmount: If advance status is"|translate}} "{{"Yes,"|translate}}" {{"enter the amount"|translate}};
            {{"otherwise, this field is optional"|translate}}
          </li>
          <li>{{"branchStatus: Enter"|translate}} "{{"Yes"|translate}}" {{"or"|translate}} "{{"No."|translate}}"</li>
          <li>
            {{"branchName: If branch status is"|translate}} "{{"Yes,"|translate}}" {{"enter the branch name;"|translate}}
            {{"otherwise, this field is optional"|translate}}
          </li>
          <li>
            {{"setupBoxNumber: Provide the setup box number based on the setupbox inventory. The setup box number must be available and active to add"|translate}}
          </li>
          <li>
            {{"setupBoxDoorNumber: If you provide"|translate}} "36/4," {{"prefix it with"|translate}} "No" (e.g., "No.36/4")
          </li>
          <li>
            {{"setupBoxAreaName: Mandatory"|translate}}
          </li>
          <li>
            {{"setupBoxStreetName: Mandatory"|translate}}
          </li>
 
          <li>{{"channelName: Provide the channel name; optional"|translate}}</li>
          <li>{{"bouquetName: Provide the broadcaster plan name; optional"|translate}}</li>
          <li>{{"planName: Provide the LCOP plan name; mandatory"|translate}}</li>
        </ul>
      </div>
      <div class="sticky-footer">
        <button type="submit" class="btn mx-1" style="background-color: #7db855be" (click)="submit()"
          [disabled]="this.customerformGroup.invalid">
          {{"Submit"|translate}}
        </button>
        <button type="submit" class="btn" style="background-color: #141e46; color: white" (click)="close()">
          {{"Cancel"|translate}}
        </button>
      </div>
    </form>
  </main>
</body>