<div class="card-header">
    <h3
      class="mb-0"
      style="font-weight: 700; text-align: center; font-size: 21px"
    >
      Customer Bulk Upload
    </h3>
  </div>
   
  <body class="page">
    <main class="main page__main">
      <form
        class="form main__form"
        autocomplete="off"
        class="form"
        [formGroup]="customerformGroup"
      >
        <div class="form__linput">
          <label class="form__label">Upload File</label>
          <input
            type="file"
            class="form-control"
            formControlName="uploadFile"
            required
            (change)="uploadBulkFile($event)"
          />
          <div
            style="color: red; font-size: 12px; margin-top: 2px"
            *ngIf="uploadFile?.invalid && uploadFile?.touched && uploadFile?.errors?.['required']"
          >
            Field is required
          </div>
        </div>
   
        <h5>Notes:</h5>
        <div class="notes-container">
        <ul>
          <li>customerReferenceId: Provide your customer reference ID</li>
          <li>
            customerMsoId: Provide your customer MSO ID if you have one;
            otherwise, this field is optional
          </li>
          <li>customerName: Mandatory</li>
          <li>
            mobileNumber: Enter the customer's registered mobile number
          </li>
          <li>alternateMobileNumber: Optional</li>
          <li>age: Optional</li>
          <li>emailAddress: Optional</li>
          <li>
            doorNumber: If you provide "36/4," prefix it with "No" (e.g., "No.
            36/4")
          </li>
          <li>blockNumber: Optional</li>
          <li>flatNumber: Optional</li>
          <li>houseName: Optional</li>
          <li>apartmentName: Optional</li>
          <li>streetName: Mandatory</li>
          <li>area: Mandatory</li>
          <li>landmark: Optional</li>
          <li>countryName: Mandatory</li>
          <li>stateName: Mandatory</li>
          <li>cityName: Mandatory</li>
          <li>pincodeName: Mandatory</li>
          <li>freeLine: Enter "Paid" or "Free."</li>
          <li style="color: blue;">Maximum 500 Records Only Allowed to Upload</li>
          <li>We accept the  Billing date formats for due generation:<span style="color:red;">( DD/MM/YYYY, DD-MM-YYYY).</span>So Please Kindly Check and Update,based on this the Due is Generated</li>
          <li>advanceStatus: Enter "Yes" or "No."</li>
          <li>
            advanceAmount: If advance status is "Yes," enter the amount;
            otherwise, this field is optional
          </li>
          <li>branchStatus: Enter "Yes" or "No."</li>
          <li>
            branchName: If branch status is "Yes," enter the branch name;
            otherwise, this field is optional
          </li>
          <li>
            setupBoxNumber: Provide the setup box number based on the setup
            box inventory. The setup box number must be available and active to
            add
          </li>
          <li>channelName: Provide the channel name; optional</li>
          <li>bouquetName: Provide the broadcaster plan name; optional</li>
          <li>planName: Provide the LCO plan name; mandatory</li>
        </ul>
      </div>
        <div class="sticky-footer">
          <button
            type="submit"
            class="btn mx-1"
            style="background-color: #7db855be"
            (click)="submit()"
            [disabled]="this.customerformGroup.invalid"
          >
            Submit
          </button>
          <button
            type="submit"
            class="btn"
            style="background-color: #141e46; color: white"
            (click)="close()"
          >
            Cancel
          </button>
        </div>
      </form>
    </main>
  </body>