<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
 
 
<!-- payment sucess design -->
 
<body>
    <div class="wrapper">
      <input type="radio" name="slider" id="tab-1">
      <input type="radio" name="slider" id="tab-2" checked>
      <input type="radio" name="slider" id="tab-3">
      <header>
        <label  class="tab-1"></label>
        <label  class="tab-2">PAYMENT DETAILS</label>
        <label  class="tab-3"></label>
        <div class="slider"></div>
      </header>
      <div class="card-area">
        <div class="cards">
         
          <div class="row">
            <div class="price-details">
              <span class="price"></span>
              <p>Payment Status : </p>
            </div>
            <ul class="features">
              <li><i class="fas fa-check"></i><span>Bank Reference Number: </span></li>
              <li><i class="fas fa-check"></i><span>invoice Number : </span></li>
              <li><i class="fas fa-check"></i><span>order reference : </span></li>
              <li><i class="fas fa-check"></i><span>payment mode : </span></li>
              <li><i class="fas fa-check"></i><span>Date & Time:</span></li>
            </ul>
          </div>
        </div>
      </div>
      <button (click)=" Returnurl()"  >Back </button>
    </div>
 
</body>