<div class="card-header">
    <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">Edit Entity Plan</h3>
</div>

<body class="page">
    <main class="main page__main">
        <form class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="myForm">
            <p style="color:red;font-size:small"><b>Note: Please enter the amount excluding GST.</b></p>
            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">Plan Name</label>
                    <input  [(ngModel)]="planame" type="text" id="Entity Name" formControlName="planName"
                        class="form-control">
                        <div style="
                        color: red;
                        font-size: 12px;
                        margin-top: 2px;
                        position: relative;
                        ;
                      " *ngIf="planName?.invalid && planName?.touched && planName?.errors?.['required']">
                            Field is required
                        </div>
                        <div style="
                        color: red;
                        font-size: 12px;
                        margin-top: 2px;
                        position: relative;
                        ;
                      " *ngIf="planName?.invalid && planName?.touched && planName?.errors?.['pattern']">
                            Invalid format
                        </div>
                        <div style="
                        color: red;
                        font-size: 12px;
                        margin-top: 2px;
                        position: relative;
                        ;
                      " *ngIf="planName?.invalid && planName?.touched && planName?.errors?.['maxlength']">
                                Maximum length should be 50
                        </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="state">One-Time Setup Fee</label>
                    <input [(ngModel)]="onetimeamount" type="text" formControlName="technicalAmount" id="state"
                        class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="technicalAmount?.invalid && technicalAmount?.touched && technicalAmount?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="technicalAmount?.invalid && technicalAmount?.touched && technicalAmount?.errors?.['pattern']">
                        Only positive numbers are allowed
                    </div>
                </div>

                <div class="col-sm-4 form-group">
                    <label for="zip">Cloud Fee</label>
                    <input [(ngModel)]="MaintenanceAmount" type="text" formControlName="maintenanceAmount" id="zip"
                        class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="maintenanceAmount?.invalid && maintenanceAmount?.touched && maintenanceAmount?.errors?.['required']">
                        Field is required
                    </div>

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="maintenanceAmount?.invalid && maintenanceAmount?.touched && maintenanceAmount?.errors?.['pattern']">
                        Only positive numbers are allowed
                    </div>
                </div>
            </div>
            <div class="row mb-3">
               

                <div class="col-sm-4 form-group">
                    <label for="state">Voice Box Rent</label>
                    <input type="text" [(ngModel)]="VoiceBoxAdv" formControlName="voiceBoxAdvRent" id="state" class="form-control">

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="voiceBoxAdvRent?.invalid && voiceBoxAdvRent?.touched && voiceBoxAdvRent?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="voiceBoxAdvRent?.invalid && voiceBoxAdvRent?.touched && voiceBoxAdvRent?.errors?.['pattern']">
                        Only positive numbers are allowed
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="zip">Voice Box Setup Fee</label>
                    <input type="text" [(ngModel)]="VoiceBoxSet" formControlName="voiceBoxSetupFee" id="zip" class="form-control">

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="voiceBoxSetupFee?.invalid && voiceBoxSetupFee?.touched && voiceBoxSetupFee?.errors?.['required']">
                        Field is required
                    </div>

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="voiceBoxSetupFee?.invalid && voiceBoxSetupFee?.touched && voiceBoxSetupFee?.errors?.['pattern']">
                        Only positive numbers are allowed
                    </div>
                </div>

                <div class="col-sm-4 form-group">
                    <label for="Bussiness category">Cloud Fee Frequency</label>
                    <select [(ngModel)]="Frequency" formControlName="frequency" id="Bussiness category"
                        class="form-control form-select">
                        <option value="" disabled selected>Select</option>
                        <!-- <option value="Day">Daily</option>
                        <option value="Week">Weekly</option> -->
                        <option value="Month">Monthly</option>
                        <!-- <option value="Quarterly">Quarterly</option>
                        <option value="Half Yearly">Half-Yearly</option>
                        <option value="Year">Yearly</option> -->


                    </select>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="frequency?.invalid && frequency?.touched && frequency?.errors?.['required']">
                        Field is required
                    </div>
                </div>


            </div>

            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label for="zip">Yearly Renewal Fee</label>
                    <input [(ngModel)]="RenewelAmount" type="text" formControlName="renewalAmount" id="zip" class="form-control"
                     
                        placeholder="Enter amount in rupees">
                 
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="renewalAmount?.invalid && renewalAmount?.touched && renewalAmount?.errors?.['required']">
                        Field is required
                    </div>

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="renewalAmount?.invalid && renewalAmount?.touched && renewalAmount?.errors?.['pattern']">
                        Only positive numbers are allowed
                    </div>
                </div> 
                <div class="col-sm-4 form-group">
                    <label for="count">Customer Onboard Limit</label>
                    <input type="text" formControlName="countLimit" id="count" class="form-control"
                    [(ngModel)]="countlimit" >
             
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="countLimit?.invalid && countLimit?.touched && countLimit?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="countLimit?.invalid && countLimit?.touched && countLimit?.errors?.['pattern']">
                        Enter a Valid  Number
                    </div>
                </div> 
            </div>


            <div>
                <button (click)="submit()" [disabled]="myForm.invalid" type="submit" class="btn mx-1 "
                    style="background-color:#7db855be">Submit</button>
                <button type="submit" class="btn" style="background-color:#141E46;color:white"
                    matDialogClose>Cancel</button>
            </div>



        </form>
    </main>
</body>