<div class="card-header">
    <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">Update Entity Plan</h3>
</div>

<body class="page">
    <main class="main page__main">
        <form class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="myForm">
            <p style="color:red;font-size:small"><b>Note: Please enter the amount excluding GST.</b></p>
            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label for="Bussiness category">Business Category</label>
                    <select formControlName="businessCategoryId" id="Bussiness category"
                        class="form-control form-select">
                        <option value="" disabled selected>Select</option>
                        <option *ngFor="let item of details" [value]="item.businessCategoryId">
                            {{item?.businessCategoryName}}</option>

                    </select>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="businessCategoryId?.invalid && businessCategoryId?.touched && businessCategoryId?.errors?.['required']">
                        Field is Required
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">Plan Name</label>
                    <input type="text" id="Entity Name" formControlName="planName" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="planName?.invalid && planName?.touched && planName?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="planName?.invalid && planName?.touched && planName?.errors?.['pattern']">
                        Invalid format
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="planName?.invalid && planName?.touched && planName?.errors?.['maxlength']">
                        Maximum length should be 50
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="state">One-Time Setup Fee</label>
                    <input type="text" formControlName="oneTimeSetupFee" id="state" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="oneTimeSetupFee?.invalid && oneTimeSetupFee?.touched && oneTimeSetupFee?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="oneTimeSetupFee?.invalid && oneTimeSetupFee?.touched && oneTimeSetupFee?.errors?.['pattern']">
                        Only positive numbers are allowed
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="zip">Cloud Fee</label>
                    <input type="text" formControlName="cloudFee" id="zip" class="form-control">

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="cloudFee?.invalid && cloudFee?.touched && cloudFee?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="cloudFee?.invalid && cloudFee?.touched && cloudFee?.errors?.['pattern']">
                        Only positive numbers are allowed
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="state">Voice Box Rent</label>
                    <input type="text" formControlName="voiceBoxRent" id="state" class="form-control">

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="voiceBoxRent?.invalid && voiceBoxRent?.touched && voiceBoxRent?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="voiceBoxRent?.invalid && voiceBoxRent?.touched && voiceBoxRent?.errors?.['pattern']">
                        Only positive numbers are allowed
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="zip">Voice Box Setup Fee</label>
                    <input type="text" formControlName="voiceBoxSetupFee" id="zip" class="form-control">

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="voiceBoxSetupFee?.invalid && voiceBoxSetupFee?.touched && voiceBoxSetupFee?.errors?.['required']">
                        Field is required
                    </div>

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="voiceBoxSetupFee?.invalid && voiceBoxSetupFee?.touched && voiceBoxSetupFee?.errors?.['pattern']">
                        Only positive numbers are allowed
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label for="Bussiness category">Cloud Fee Frequency</label>
                    <select formControlName="cloudFeeFrequency" id="Bussiness category"
                        class="form-control form-select">
                        <option value="" disabled selected>Select</option>
                        <!-- <option value="Daily">Daily</option> -->
                        <!-- <option value="Weekly">Weekly</option> -->
                        <option value="Monthly">Monthly</option>
                        <!-- <option value="Quarterly">Quarterly</option>
                        <option value="Half-Yearly">Half-Yearly</option>
                        <option value="Yearly">Yearly</option> -->
                    </select>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="cloudFeeFrequency?.invalid && cloudFeeFrequency?.touched && cloudFeeFrequency?.errors?.['required']">
                        Field is Required
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="zip">Yearly Renewal Fee</label>
                    <input type="text" formControlName="yearlyRenewalFee" id="zip" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="yearlyRenewalFee?.invalid && yearlyRenewalFee?.touched && yearlyRenewalFee?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="yearlyRenewalFee?.invalid && yearlyRenewalFee?.touched && yearlyRenewalFee?.errors?.['pattern']">
                        *Only Positive Number are allowed
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="count">Customer Onboard Limit</label>
                    <input type="text" formControlName="customerOnboardLimit" id="count" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="customerOnboardLimit?.invalid && customerOnboardLimit?.touched && customerOnboardLimit?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="customerOnboardLimit?.invalid && customerOnboardLimit?.touched && customerOnboardLimit?.errors?.['pattern']">
                        Enter a Valid Number
                    </div>
                </div>
            </div>
            <div>
                <button (click)="submit()" [disabled]="myForm.invalid" type="submit" class="btn mx-1 "
                    style="background-color:#7db855be">Submit</button>
                <button type="submit" class="btn" style="background-color:#141E46;color:white"
                    matDialogClose>Cancel</button>
            </div>
        </form>
    </main>
</body>