<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css"
/>

<div class="card-header">
  <h3
    class="mb-0"
    style="font-weight: 700; text-align: center; font-size: 21px"
  >
    Add Service Ticket
  </h3>
</div>
<body class="page">
  <main class="main page__main">
    <form class="form main__form" [formGroup]="ticketFormGroup">
      <div class="row mb-3">
        <div class="form-group col-sm-6 mb-3">
          <label for="subject">Subject of the Ticket</label>
          <input
            type="text"
            id="subject"
            class="form-control"
            formControlName="subject"
            required
          />
          <span
            class="errormge"
            *ngIf="subject?.touched && subject?.errors?.['required']"
            >Field is required*</span
          >
        </div>

        <div class="form-group col-sm-6 mb-3">
          <label for="critical">Criticality</label>
          <select class="form-select" formControlName="ticketStatus" required>
            <option value="" selected hidden>Select an Option</option>
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
          </select>
          <span
            class="errormge"
            *ngIf="ticketStatus?.touched && ticketStatus?.errors?.['required']"
            >Field is required*</span
          >
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="document">Document</label>
        <input
          type="file"
          id="email"
          accept="image/*"
          (change)="onFileSelected($event)"
          class="form-control"
          formControlName="document"
          required
        />
        <span
          class="errormge"
          *ngIf="document?.touched && document?.errors?.['required']"
          >Field is required*</span
        >
      </div>

      <div class="form-group mb-3">
        <label for="description">Ticket Description</label>
        <textarea
          id="description"
          rows="3"
          class="form-control"
          formControlName="description"
        ></textarea>
        <span
          class="errormge"
          *ngIf="description?.touched && description?.errors?.['required']"
          >Field is required*</span
        >
      </div>

      <div class="d-flex">
      <button
        type="submit"
        class="btn mx-1"
        style="background-color: #7db855be"
        [disabled]="ticketFormGroup.invalid"
        (click)="save()"
      >
        Submit
      </button>
      <button
        type="submit"
        class="btn"
        style="background-color: #141e46; color: white"
        matDialogClose
      >
        Cancel
      </button>
    </div>
    </form>
  </main>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
