<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">


<div class="card-header">
    <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">Add Response</h3>
</div>
<div class="well">
    <form [formGroup]="ticketFormGroup">
        <div class="form-group  mb-3">
            <label for="subject">Approval Status</label>
            <select type="text" id="subject" class="form-select" formControlName="approvalStatus" required>
                <option value="Open">Open</option>
                <option value="close">Close</option>
                <option value="hold">Hold</option>
            </select>
            <span class="errormge" *ngIf="approvalStatus?.touched && approvalStatus?.errors?.['required']">Field
                is required*</span>
        </div>

    
        <div class="form-group mb-3">
            <label for="description">Remarks</label>
            <textarea id="description" rows="3" class="form-control" formControlName="remarks"></textarea>
            <span class="errormge" *ngIf="remarks?.touched && remarks?.errors?.['required']">Field
                is required*</span>
        </div>

        <button type="submit" class="btn mx-1" style="background-color:#7db855be" (click)="save()" [disabled]="ticketFormGroup.invalid">Submit</button>
        <button type="submit" class="btn" style="background-color:#141E46;color:white" (click)="close()">Cancel</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
