<div class="form-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0" style="color: black;">Add Response </h5>
</div>

<div class="well">
    <form [formGroup]="ticketFormGroup">
        <div class="form-group  mb-3">
            <label for="subject">Approval Status</label>
            <select type="text" id="subject" class="form-select" formControlName="approvalStatus" required>
                <option value="" disabled>---Select---</option>
                <option value="ReOpen"
                    *ngIf="approvalStatusValue != 'ReOpen' && approvalStatusValue!='Open' && approvalStatusValue!='open'">
                    ReOpen</option>
                <option value="Closed"
                    *ngIf="approvalStatusValue!='Close' && approvalStatusValue!='close' && approvalStatusValue!='Closed' && approvalStatusValue!='closed'">
                    Closed</option>
                <option value="Hold"
                    *ngIf="approvalStatusValue!='hold' && approvalStatusValue!='Hold' && approvalStatusValue!='Close' && approvalStatusValue!='close' && approvalStatusValue!='Closed' && approvalStatusValue!='closed'">
                    Hold</option>
            </select>
            <span class="errormge" *ngIf="approvalStatus?.touched && approvalStatus?.errors?.['required']">Field
                is required</span>
        </div>

        <div class="form-group mb-3">
            <label for="description">Remarks</label>
            <textarea id="description" rows="3" class="form-control" formControlName="remarks"></textarea>
            <span class="errormge" *ngIf="remarks?.touched && remarks?.errors?.['required']">Field
                is required</span>
            <span class="errormge" *ngIf="remarks?.errors?.['maxlength']">
                Maximum length should be 250</span>
        </div>
        <button type="submit" class="btn mx-1" style="background-color:#7db855be" (click)="save()"
            [disabled]="ticketFormGroup.invalid">Submit</button>
        <button type="submit" class="btn" style="background-color:#141E46;color:white" mat-dialog-close>Cancel</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>