<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <title>Fargin Connect</title>
</head>
<body>
 
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand">FARGIN CONNECT</a>
    <div class="navbar-nav">
        <img src="assets/flagimage.png" alt="Flag Image">
    </div>
</nav>
 
<div class="wrapper">
    <h2 style="text-align: center;color: #141E46;">Software as a Service</h2>
    <div class="container">
        <p style="text-align: justify;text-indent: 50px;">
            The term "Fargin" has Yiddish origins and means to rejoice in someone else's success or happiness gladly. "Fargin
            Connect" - we are focused on our partner's success and are an elevator for the growth of each and individual
            partner. What is Fargin Connect - how it can help us to grow and attain success? We got the question which you need
            answer from us. Need and want - both are different. Utility payments come under the need, where payments are made
            for essential services that households or businesses regularly use. These payments are typically recurring, based on
            usage, or fixed billing cycles such as monthly, quarterly, half-yearly, and Yearly. Cloud Fee services are mostly
            billed to the Customer by the Vendors every month.
            </p>
            <p style="text-align: justify;text-indent: 50px;">So, Our Fargin Connect platform - Partners who use our SaaS
            product, upload the details of the customer and their dues in recurring format. While the Customer scans the QR
            which is shared by our Partners, fetches the due bill and can clear the bill by processing the payment via UPI or
            other online payment methods. So, the Customer can clear the bills instantly and get the recurring services with no
            interruptions. For the partners - we made their collection process in easy mode. Because getting the payment for the
            Cloud Fee services is so easy. While at the time of collections, the house may be closed, children alone stay in
            the house, and no change or cash. To get a payment, the Vendor collection agent needs to wander 4 to 7 times. We
            addressed this problem and provided the solution via the "Fargin Connect" application. Partners need to subscribe to
            us as a SaaS product. Choose the service and upload the customer details along with the due date. So, that Customer
            will clear the payment dues recurringly without saying any reason. We saves the collection agent time and smoothly
            made the payment collection process. If you are one of the customers of Cloud Fee payment services, refer to this
            "Fargin Connect" application to the service provider. If you are one of the Cloud Fee service providers and would
            like to save time and easily want the payment collection process, contact us now, via mail at
            chennai{{strings}}fargin.in</p>
        <!-- More content... -->
    </div>
</div>
 
<footer>
    <p class="footer-text">
        <span class="copyright">Copyright &copy; {{this.currentYear}}, All Rights Reserved</span>
        <a href="customer/login">Home</a> <span style="color: #141E46;font-weight: 600;">|</span>
        <a href="customer-solutions">Solutions</a> <span style="color: #141E46;font-weight: 600;">|</span>
        <a href="customer-termsandpolicy">Terms and Conditions</a> <span style="color: #141E46;font-weight: 600;">|</span>
        <a href="customer-privacy-policy">Privacy Policy</a> <span style="color: #141E46;font-weight: 600;">|</span>
        <a href="customer-refund-policy">Refund Policy</a> <span style="color: #141E46;font-weight: 600;">|</span>
        <a href="customer-disclaimer">Disclaimer</a> <span style="color: #141E46;font-weight: 600;">|</span>
        <a class="support" href="mailto:support@fargin.in">support{{strings}}fargin.in</a>
    </p>
</footer>
 
</body>
</html>