.card-header {
 
    background-color:#7db855be;
    color: #141E46;
    font-family: "Roboto";
  }
  .heading{
    width:500px;
    height:558px;
    overflow: hidden;
  }
  b{
    font-size: 14px;
  }
  #answer{
    font-size: 14px;
    font-weight: 300px;
    color: #141E46;
  }