<div>
    <div class="card table-nowrap table-card">
        <div class="table-responsive text-nowrap text-center">
            <table class="table table-hover" id="customers">

                <tr style="margin-top: 2%;">
                    <th>S No</th>
                    <th>MSO</th>
                    <th>Region</th>


                </tr>

                <tbody *ngFor="let item of detailss, let i = index">

                    <td class="text-center">{{i+1}}</td>
                    <td class="text-center">{{item.broadCasterRegion.service.serviceProviderName}}</td>
                    <td class="text-center">{{item.broadCasterRegion.stateName}}</td>




                </tbody>
            </table>
            <div class="text-end mt-3">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>

            <div style="text-align: left;" matDialogClose>
                <button
                    style="background-color: rgb(94, 94, 128);color: white;border:1px solid whitesmoke ;margin-bottom: 2%; border-radius: 5px; margin-left: 2%;">Close</button>
            </div>
        </div>
    </div>

</div>