<div class="card-header">
    <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">Change Status</h3>
</div>
<body class="page">
    <main class="main page__main" [hidden]=" this.status==1">
        <form [formGroup]="myForm">
            <div class="form main__form">
                <div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="form__label" for="address"><b>Please Confirm Your Address If You
                                    Are going to Active</b></label>
                            <textarea id="fname" type="text" class="form__input" placeholder="Enter Remarks Here.."
                                cols="10" rows="2" class="form-control" formControlName="remarks"></textarea>
                            <div style="
                                color: red;
                                font-size: 12px;
                                margin-top: 2px;
                                position: relative;
                                ;
                              " *ngIf="remarks?.invalid && remarks?.touched && remarks?.errors?.['required']">
                                Field is required
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" [hidden]="this.remarks?.value==''">
                        <div class="form-check">
                            <input class="input green" type="radio" [value]="1" name="yes" id="yes"
                                (input)="activeStatus($event)" />
                            <label class="form-check-label" for="yes">
                                Yes
                            </label>
                        </div>&nbsp;&nbsp;
                        <div class="form-check">
                            <input class="input yellow" type="button" name="no" id="no" (click)="close()">
                            <label class="form-check-label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <main class="main page__main" [hidden]=" this.status==0">
        <form [formGroup]="myForm">
            <div class="form main__form">
                <div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label class="form__label" for="address"> <b>If You Click Yes All Setupbox are
                                    Inactive For This Customer</b></label>
                            <textarea id="fname" type="text" class="form__input" placeholder="Enter Remarks Here.."
                                cols="10" rows="2" class="form-control" formControlName="remarks"></textarea>
                            <div style="
                                color: red;
                                font-size: 12px;
                                margin-top: 2px;
                                position: relative;
                                ;
                              " *ngIf="remarks?.invalid && remarks?.touched && remarks?.errors?.['required']">
                                Field is required
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" [hidden]="this.remarks?.value==''">
                        <div class="form-check">
                            <input class="input green" type="radio" name="yes" id="yes" [value]="0"
                                (input)="inactiveStatus($event)">
                            <label class="form-check-label" for="yes">
                                Yes
                            </label>
                        </div>&nbsp;&nbsp;
                        <div class="form-check">
                            <input class="input yellow" type="button" name="no" id="no" (click)="close()">
                            <label class="form-check-label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
</body>