<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </header>
<div id="menu">
    <div style="padding: 5px;font-family: Arial, Helvetica, sans-serif;" >
  
      <div class="popup" style="border-radius: 5px;padding: 10px;"  >
        <div class="row" style="text-align: center;">
          <div class="col-1">
          </div>
          <div class="col-10">
            <b>Description</b>
          </div>
          <div class="col-1" >
            <i class="fa fa-close" style="font-size: 20px;"  (click)="close()"></i>
          </div>
        </div>
        <hr>
        <div class="row" style="text-align: justify;">
          <div class="col" class="content">
            <p>
            {{description}}
  
            </p>
          </div>
        </div>
    </div>
  </div>