.div {
  height: 100vh;
  background-color: #e6eafd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 
.navbar {
  background-color: #141E46;
  color: white;
}
 
.navbar-brand img {
  height: 40px;
}
 
.navbar-brand {
  color: white;
  font-size: 1.2em;
}
 
.navbar-nav {
  margin-left: auto;
}
 
.navbar-nav img {
  height: 30px;
  margin-left: 20px;
}
 
.h-custom {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
footer {
  background-color: #b7e651;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}
 
footer p {
  margin: 0;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
}
 
footer .copyright {
  font-size: 15px;
  color: black;
  font-weight: 600;
}
 
footer .support {
  color: black;
  font-size: 15px;
  font-weight: 600;
}
 
footer a {
  color: #141E46;
  text-decoration: none;
  margin: 0 5px;
  font-weight: 500;
  font-family: 'Georgia', serif;
}
 
footer a:hover {
  text-decoration: underline;
  color: black;
}
 
.form-outline {
  position: relative;
}
 
.form-outline input {
  border-radius: 20px;
  padding-left: 40px; /* Space for icon */
}
 
.form-outline .input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}
 
@media (max-width: 450px) {
  .h-custom {
      height: auto;
      padding: 20px;
  }
 
  .form-outline input {
      font-size: 14px; /* Adjust font size for smaller screens */
  }
 
  footer p {
      font-size: 14px; /* Adjusted font size for mobile */
  }
}
 
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
 
.body {
  width: 100%;
  /* min-height: 100vh; */
  padding: 0 10px;
  display: flex;
  /* background: #7db855be; */
  justify-content: center;
  align-items: center;
}
 
 
.otp-field {
  flex-direction: row;
  column-gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.otp-field input {
  height: 48px;
  width: 48px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.otp-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
  display: none;
}
 
.resend {
  font-size: 12px;
}
 
.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: black;
  font-size: 12px;
  text-align: right;
  font-family: monospace;
}
 
.footer a {
  color: black;
  text-decoration: none;
}
 button {
  width: 80%;
  height: 46px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #141E46;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom:18px;
  transition: 0.3s ease;
}
@media (max-width:868px){
 
  #block{
  min-width:440px;
}
 
 
.otp-field {
  flex-direction: row;
  column-gap: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.otp-field input {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  outline: none;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ddd;
}
}
 
 
/* ================================= */
 
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
 
  10% {
    transform: rotate(10deg);
  }
 
  30% {
    transform: rotate(0deg);
  }
 
  40% {
    transform: rotate(-10deg);
  }
 
  50% {
    transform: rotate(0deg);
  }
 
  60% {
    transform: rotate(5deg);
  }
 
  70% {
    transform: rotate(0deg);
  }
 
  80% {
    transform: rotate(-5deg);
  }
 
  100% {
    transform: rotate(0deg);
  }
}
 
@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
 
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
 
body {
  font-size: 0.9rem;
 
  /* background-color: #f1f0f6; */
  height: 100%;
  width: 100%;
  position: absolute;
}
 
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand>a,
.sidebar-wrapper .sidebar-dropdown>a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
 
/*----------------page-wrapper----------------*/
 
/* .page-wrapper {
  height: auto;
} */
 
.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}
 
.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}
 
/*----------------toggeled sidebar----------------*/
 
.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}
 
.container-fluid {
  height: inherit;
}
 
@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 250px;
  }
}
 
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
  color: white;
}
 
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
 
/*----------------sidebar-wrapper----------------*/
 
.sidebar-wrapper {
  width: 275px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
}
 
.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
 
.sidebar-wrapper a {
  text-decoration: none;
}
 
/*----------------sidebar-content----------------*/
 
.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}
 
.sidebar-content.desktop {
  overflow-y: hidden;
}
 
/*--------------------sidebar-brand----------------------*/
 
.sidebar-wrapper .sidebar-brand {
  padding: 10px 8px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #141E46;
  height: 60px;
}
 
.sidebar-wrapper .sidebar-brand>a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
 
}
 
.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
 
}
 
/*--------------------sidebar-header----------------------*/
 
.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}
 
.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}
 
.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
 
.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}
 
.sidebar-wrapper .sidebar-header .user-info>span {
  display: block;
}
 
.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}
 
.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}
 
.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}
 
/*-----------------------sidebar-search------------------------*/
 
.sidebar-wrapper .sidebar-search>div {
  padding: 10px 20px;
}
 
/*----------------------sidebar-menu-------------------------*/
 
.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
 
}
 
.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}
 
.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  /* padding: 8px 30px 8px 20px; */
  padding: 8px 2px 9px 8px;
}
 
.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}
 
.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}
 
.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  /* right: 15px; */
  right: 7px;
  top: 14px;
}
 
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}
 
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}
 
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}
 
.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}
 
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}
 
.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}
 
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
  transform: rotate(90deg);
  right: 17px;
}
 
/*--------------------------side-footer------------------------------*/
 
 
.toggle {
  height: 61px;
  width: 100%;
  background-color: #141E46;
  z-index: 10;
  position: fixed;
  /* Fixed position at the top */
 
 
 
  padding: 0 20px;
  /* Optional padding for spacing */
}
 
.center h5 {
  margin: 0;
  /* Remove default margin */
  color: white;
}
 
 
.img {
  margin-right: 8px;
}
 
 
#profile-dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  /* Ensure it stays above other content */
}
 
/* Styling for the dropdown button */
.btn {
  background-color: #141E46;
  /* Dark background color */
  color: white;
  border: none;
  padding: 12px 16px;
  font-size: 18px;
  border-radius: 24%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Smooth transitions */
}
 
.btn:hover {
  background-color: white;
  /* Darker background color on hover */
 
}
 
/* Dropdown container styling */
.dropdown {
  position: relative;
  display: inline-block;
}
 
/* Styling for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  /* Position it below the button */
  background-color: white;
  /* Dark background for better contrast */
  min-width: 220px;
  /* Increase width for better spacing */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1000;
  /* Ensure it stays above other content */
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  /* Smooth transitions */
}
 
/* Styling for dropdown links */
.dropdown-content a {
  color: #141E46;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  /* Smooth background color transition */
}
 
.dropdown-content a i {
  margin-right: 10px;
  color: #7db855be;
  /* Icon color */
}
 
.dropdown-content a:hover {
  background-color:
    #141E46;
  /* Slightly lighter dark background on hover */
  color: white
}
 
/* Show the dropdown when hovering over the button or content */
.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}
 
/* From Uiverse.io by 3bdel3ziz-T */
.select {
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: #141E46;
  overflow: hidden;
}
 
.selected {
  background-color: #fff;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: #141E46;
  z-index: 100000;
  transition: 300ms;
}
 
.select, .options {
  width: 86px; /* Set a consistent width for both the select and options elements */
}
 
 
 
.options {
  display: none;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  position: relative;
  top: 0;
  opacity: 1;
  transition: 300ms;
}
 
.select.active .options {
  display: flex;
}
 
.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #fff;
  font-size: 15px;
  width: 100%; /* Ensure options take the full width of the parent container */
}
 
.option:hover {
  background-color: #141E46;
  color: white;
}
 
.options input[type="radio"] {
  display: none;
}
 
.options label {
  display: inline-block;
  width: 100%; /* Ensure labels take the full width of the parent container */
}
 
.options label::before {
  content: attr(data-txt);
}
 
.options input[type="radio"]:checked + label {
  display: none;
}
 
.options input[type="radio"]#all:checked + label {
  display: none;
}
 
.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}
 
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}
 
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}
 
.Go-dropdown {
  position: fixed;
  top: 10px;
  right: 100px;
  z-index: 1000; /* Ensure it stays above other content */
}
 
 
 
 /* translate */
.flex-container {
  list-style: none;
  padding: 0;
  margin: 0;
}
 
 
.customer-dues {
  display: inline-block;
  vertical-align: top;
  width: 150px; /* Adjust this width as needed */
}
 
.amount {
  display: inline-block;
  vertical-align: top;
}