<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
 
<div class="container">
    <div class="form-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Add Beneficiary</h5>
        <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
    </div>
    <!-- <div class="form main__form d-flex justify-content-center">
        <input type="radio" value='1' [(ngModel)]='data'>&nbsp;<b>Bank Account</b> &nbsp;&nbsp;&nbsp;
        <input type="radio" value="0" [(ngModel)]='data'>&nbsp;<b>UPI Id</b>
    </div> -->
    <div class="well" *ngIf='data==1'>
       
        <form  autocomplete="off" class="form" [formGroup]="beneficiaryForm">
            <ul class="nav nav-tabs" >
                <li class="nav-item">
                <a class="nav-link active" id="nav" aria-current="page"  (click)="changeDataValue()" >Bank Account</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" id="nav" (click)="changeDataValue()">UPI</a>
                </li>
         
                </ul>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label class="form__label">Type</label>
                    <select class="form-select" type="text" formControlName="type" required>
                        <option value="Employee">Employee</option>
                        <option value="Vendor" #vendor>Vendor</option>
                        <option value="Others" #Other>Other</option>
                    </select>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="type?.invalid && type?.touched && type?.errors?.['required']">
                        Field is required
                    </div>
                </div>
 
                <div class="col-sm-4 form-group" *ngIf="!vendor.selected && !Other.selected">
                    <label class="form__label">Employee</label>
                    <select class="form-select" type="text" formControlName="employeeId" required
                        (ngModelChange)="viewTypes($event)">
                        <option *ngFor="let datas of employee" [value]="datas.employeeId">
                            {{datas?.employeeId?.adminName}}</option>
                    </select>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="employeeId?.invalid && employeeId?.touched && employeeId?.errors?.['required']">
                        Field is required
                    </div>
                </div>
            </div>
            <h4>Bank details</h4>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label class="form__label">Bank Name</label>
                    <input class="form-control" type="text" formControlName="bankName" required>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="bankName?.invalid && bankName?.touched && bankName?.errors?.['required']">
                        Field is required
                    </div>
                </div>
 
                <div class="col-sm-4 form-group">
                    <label class="form__label">Branch Name</label>
                    <input class="form-control" type="text" formControlName="branchName" required />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="branchName?.invalid && branchName?.touched && branchName?.errors?.['required']">
                        Field is required
                    </div>
                </div>
 
                <div class="col-sm-4 form-group">
                    <label class="form__label">Account Holder Name</label>
                    <input class="form-control" type="text" formControlName="accountHolderName" required>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="accountHolderName?.invalid && accountHolderName?.touched && accountHolderName?.errors?.['required']">
                        Field is required
                    </div>
                </div>
            </div>
 
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label class="form__label">Account Number</label>
                    <input (keypress)="numbers($event)" pattern="^[0-9]{9,18}$" minlength="9" maxlength="18" [(ngModel)]="accnumber"
                    class="form-control" type="text" formControlName="accountNumber" required />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="accountNumber?.invalid && accountNumber?.touched && accountNumber?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="accountNumber?.invalid && accountNumber?.touched && accountNumber?.errors?.['pattern']">
                       Enter Valid Account Number
                    </div>
                </div>
 
 
                <div class="col-sm-4 form-group">
                    <label class="form__label">Confirm Account Number</label>
                    <input (keyup)="checkConform(accnumber, confirmaccnumber)" (keypress)="numbers($event)" pattern="^[0-9]{9,18}$" minlength="9"
                    maxlength="18" class="form-control" type="text" formControlName="confirmAccountNumber" required [(ngModel)]="confirmaccnumber"/>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="confirmAccountNumber?.invalid && confirmAccountNumber?.touched && confirmAccountNumber?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="confirmAccountNumber?.invalid && confirmAccountNumber?.touched && confirmAccountNumber?.errors?.['pattern']">
                        Enter Valid Account Number
                    </div>
                    <div
                    [ngClass]="{ correctpassword: error == 'Going good!!',  wrongpassword: error == 'Miss Match Account Number' }"
                    class="errormess"> {{ error }} </div>
                </div>
 
 
 
                <div class="col-sm-4 form-group">
                    <label class="form__label">Email Address</label>
                    <input class="form-control" type="email" formControlName="emailAddress" required pattern='^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:.[a-zA-Z0-9-]+)*'/>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="emailAddress?.invalid && emailAddress?.touched && emailAddress?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                    *ngIf="emailAddress?.invalid && emailAddress?.touched && emailAddress?.errors?.['pattern']">
                    Enter valid Email Address*
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label class="form__label">Mobile Number</label>
                    <input (keypress)="numbers($event)" pattern='^[0-9]{10}$' class="form-control" type="text" formControlName="mobileNumber" required maxlength="10"/>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="mobileNumber?.invalid && mobileNumber?.touched && mobileNumber?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                    *ngIf="mobileNumber?.invalid && mobileNumber?.touched && mobileNumber?.errors?.['pattern']">
                    Enter Valid Mobile Number
                </div>
                </div>
              
                <div class="col-sm-4 form-group">
                    <label class="form__label">IFSC Code</label>
                    <input pattern="^[A-Z]{4}0[A-Z0-9]{6}$" class="form-control" type="text" formControlName="ifscCode" required />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="ifscCode?.invalid && ifscCode?.touched && ifscCode?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="ifscCode?.invalid && ifscCode?.touched && ifscCode?.errors?.['pattern']">
                        Enter valid IFSC Code
                    </div>
                </div>
                

                <div class="col-sm-4 form-group">
                    <label class="form__label">Account Type</label>
                    <select class="form-select" type="text" formControlName="accountType" required >
                        <option value="Saving">Saving</option>
                        <option value="Current">Current</option>
                    </select>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="accountType?.invalid && accountType?.touched && accountType?.errors?.['required']">
                        Field is required
                    </div>
                </div>
            </div>
            <div class="flex">
                <button type="submit" class="btn mx-1" style="background-color:#7db855be"
                    (click)="submit()">Submit</button>
                <button type="submit" class="btn" style="background-color:#141E46;color:white"
                    matDialogClose>Cancel</button>
            </div>

        </form>
</div>
<div class="well"  *ngIf='data==0'>

        <form class="form main__form"  [formGroup]="beneficiaryForm1">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link " id="nav" aria-current="page"  (click)="changeDataValue()" >Bank Account</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" id="nav" (click)="changeDataValue()"  >UPI</a>
                </li>
               
                </ul>
                <br>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label class="form__label">Type</label>
                    <select class="form-select" type="text" formControlName="types" required>
                        <option value="Employee">Employee</option>
                        <option value="Vendor" #vendor>Vendor</option>
                        <option value="Others" #Other>Other</option>
                    </select>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="types?.invalid && types?.touched && types?.errors?.['required']">
                        Field is required
                    </div>
                </div>
                <div class="col-sm-6 form-group" *ngIf="!vendor.selected && !Other.selected">
                    <label class="form__label">Employee</label>
                    <select class="form-select" type="text" formControlName="employeeIds" required
                        (ngModelChange)="viewTypes($event)">
                        <option *ngFor="let datas of employee" [value]="datas.merchantAdminId">
                            {{datas?.adminName}}</option>
 
                    </select>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="employeeIds?.invalid && employeeIds?.touched && employeeIds?.errors?.['required']">
                        Field is required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label class="form__label">Account Holder Name</label>
                    <input class="form-control" type="text" formControlName="accountHolderNames" required>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="accountHolderNames?.invalid && accountHolderNames?.touched && accountHolderNames?.errors?.['required']">
                        Field is required
                    </div>
                </div>
 
                <div class="col-sm-6 form-group">
                    <label class="form__label">Email Address</label>
                    <input class="form-control" type="email" formControlName="emailAddresss" required pattern='^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:.[a-zA-Z0-9-]+)*' />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="emailAddresss?.invalid && emailAddresss?.touched && emailAddresss?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                    *ngIf="emailAddresss?.invalid && emailAddresss?.touched && emailAddresss?.errors?.['pattern']">
                    Enter valid Email Address*
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label class="form__label">Mobile Number</label>
                    <input (keypress)="numbers($event)" pattern='^[0-9]{10}$' class="form-control" type="text" formControlName="mobileNumbers" required maxlength="10"/>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="mobileNumbers?.invalid && mobileNumbers?.touched && mobileNumbers?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="mobileNumbers?.invalid && mobileNumbers?.touched && mobileNumbers?.errors?.['pattern']">
                        Enter Valid Mobile Number
                    </div>
                </div>
 
                <div class="col-sm-6 form-group">
                    <label class="form__label">UPI Id</label>
                    <input class="form-control" type="text" formControlName="upiNames" required />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="upiNames?.invalid && upiNames?.touched && upiNames?.errors?.['required']">
                        Field is required
                    </div>
                </div>
            </div>
            <div class="flex">
                <button type="submit" class="btn mx-1" style="background-color:#7db855be"
                    (click)="submit()">Submit</button>
                <button type="submit" class="btn" style="background-color:#141E46;color:white"
                    (click)="back()">Cancel</button>
            </div>
 
        </form>
    </div>
</div>
 
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css"/>