<h4 style="text-align:left;color:#141E46;">Customer Ticket</h4>
<div class="row" style="margin-top: 3%;">
  <mat-card-header>
    <div class="col" style="margin-left: -15px;">

      <div class="search ">
        <form class="form">
          <label for="search">
            <input #input (keyup)="applyFilter($event)" required="" autocomplete="off" placeholder="Search" id="search"
              type="text">
            <div class="icon">
              <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round" stroke-linecap="round">
                </path>
              </svg>
              <!-- <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="swap-off">
                            <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round">
                            </path>
                        </svg> -->
            </div>
            <button (click)="reload()" type="reset" class="close-btn">
              <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  fill-rule="evenodd"></path>
              </svg>
            </button>
          </label>
        </form>

      </div>
      &nbsp;&nbsp;&nbsp;

      <!-- <button style="color:white;background-color: #141E46;border-radius: 10px;" class="custom-btn btn-10 me-3"
                data-bs-toggle="modal" data-bs-target="#ApprovalEdits" mat-raised-button (click)="addTicket()">Create</button> -->
            <button style="color:white;background-color: #141E46;border-radius: 10px;" 
                mat-raised-button (click)="exportexcel()" [hidden]="valuecustomerticketexport!=='Customer Request-Export'">Export</button>


    </div>
  </mat-card-header>
</div>
<mat-card-content>
  <!-- <span style="color: red;"  class="tableError">NO DATA FOUND</span> -->
  <div class="table-responsive text-nowrap mt-4" style="overflow-x: scroll; scrollbar-width: thin">
    <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1">
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef>S.No</th>
        <td mat-cell *matCellDef="let data; let i = index">
          {{i+1}}
        </td>
      </ng-container>

      <ng-container matColumnDef="mobileNumber">
        <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
        <td mat-cell *matCellDef="let data">
          {{ data.mobileNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef>Category Name</th>
        <td mat-cell *matCellDef="let data">
          {{ data.categoryName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef [hidden]="valuedescription!=='Customer Request-View'">Description</th>
        <td mat-cell *matCellDef="let data" [hidden]="valuedescription!=='Customer Request-View'" >
            <i style="cursor: pointer;" class="fa fa-eye" (click)="description(data.description,Description)"></i>
        </td>
    </ng-container>
 
    <ng-container matColumnDef="Comment">
      <th mat-header-cell *matHeaderCellDef [hidden]="valuedescription!=='Customer Request-View'">Comments</th>
      <td mat-cell *matCellDef="let data" [hidden]="valuedescription!=='Customer Request-View'">
          <i style="cursor: pointer;"  class="fa fa-commenting-o"  (click)="Ticketcomment(data.ticketComment,comments)"></i>
      </td>
  </ng-container>
 
      <ng-container matColumnDef="ticketId">
        <th mat-header-cell *matHeaderCellDef>Ticket Id</th>
        <td mat-cell *matCellDef="let data">
          {{ data.ticketId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ticketStatus">
        <th mat-header-cell *matHeaderCellDef>Ticket Status</th>
        <td mat-cell *matCellDef="let data">
          <span *ngIf="data?.ticketStatus=='Open'" style="color: red;font-weight: 600;">Open</span>
          <span *ngIf="data?.ticketStatus=='close'" style="color: green;font-weight: 600;">Closed</span>
          <span *ngIf="data?.ticketStatus=='hold'" style="color: orange;font-weight: 600;">Hold</span>

          <!-- {{ data.ticketStatus }} -->
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef [hidden]="valuecustomerticketedit!=='Customer Request-Edit'">Action</th>
        <td mat-cell *matCellDef="let data" [hidden]="valuecustomerticketedit!=='Customer Request-Edit'">
            <i style="cursor: pointer;font-size:15px; color:#545497;" class="fas fa-edit" (click)="update(data)"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="createdDateTime">
        <th mat-header-cell *matHeaderCellDef>Created date time</th>
        <td mat-cell *matCellDef="let data">
          {{ data.createdDateTime | date:"dd/MM/yyyy :hh:m:a" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      <tr *matNoDataRow>
        <td class="mat-cell" colspan="4">No Data For {{input.value}}
        </td>

      </tr>
    </table>

  </div>
</mat-card-content>
<mat-card-footer>

  <mat-paginator [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons
    aria-labels="select page of users"></mat-paginator>

</mat-card-footer>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">