<h4 style="text-align:left;color:#141E46;">{{"Customized Transaction" |translate}}</h4>
<mat-card-header>

<div class="row mt-4">
    <div class="col-2">
        <div class="search ">
            <form class="form">
              <label for="search">
                <input #input (keyup)="applyFilter($event)"required autocomplete="off" placeholder="Search"
                       id="search" type="text">
                <div class="icon">
                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg" class="swap-on">
                        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                              stroke-linecap="round"></path>
                    </svg>
                </div>
                <button (click)="reload()" type="reset" class="close-btn">
                    <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              fill-rule="evenodd"></path>
                    </svg>
                </button>
            </label>
 
            </form>
        </div>
    </div>&nbsp;&nbsp;&nbsp;
    <div class="col ml-5" >
      <!-- <button (click)="otherpayment(this.merchantId,input.value)" style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button>Go</button> -->
      &nbsp;
        <button style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button
            (click)="exportexcel()" [hidden]="valueotherexport!=='Customizations Payments-Export'">{{"Export" |translate}}</button>
    </div>
   
    <!-- <div class="col-2">
        <label><b>From Date:</b></label>
        <input class="form-control" type="date" name="FromDate" [(ngModel)]="FromDateRange"
            style="height:35px;width:150px;border-radius: 5px;">
    </div>
    <div class="col-2">
        <label><b>To Date:</b></label>
        <input class="form-control" type="date" name="ToDate" [(ngModel)]="ToDateRange"
            style="height:35px;width:150px;border-radius: 5px;">
    </div>
 
    <div class="col-1 mt-4">
        <button style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button
            (click)="filterdate()">Filter</button>
    </div>
 
     <div class="col-2 mt-4">
        <button style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button
            (click)="reset()">Reset</button>
    </div> -->
 
</div>
</mat-card-header>
<!-- <mat-card> -->
<mat-card-content>
    <div class="table-responsive text-nowrap mt-4" style="overflow-x: scroll; scrollbar-width: thin;">
        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> {{"S.No" |translate}}</th>
                <td mat-cell *matCellDef="let viewall; let i = index"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="paymentId">
              <th mat-header-cell *matHeaderCellDef>{{"Payment ID" |translate}}</th>
              <td mat-cell *matCellDef="let transaction">{{ transaction?.pgPaymentId || "-" }}</td>
          </ng-container>
            <ng-container matColumnDef="entityname">
                <th mat-header-cell *matHeaderCellDef>{{"Service Name" |translate}}</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction?.serviceName}}</td>
            </ng-container>
         
            <ng-container matColumnDef="paymentmethod">
                <th mat-header-cell *matHeaderCellDef>{{"Payment Method" |translate}}</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction?.paymentMethod || "-" }}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>{{"Amount" |translate}}</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.paidAmount}}</td>
            </ng-container>
            <ng-container matColumnDef="cgstPercentage">
              <th mat-header-cell *matHeaderCellDef>{{"CGST" |translate}}</th>
              <td mat-cell *matCellDef="let transaction">{{transaction?.cgstPercentage}}</td>
          </ng-container>
          <ng-container matColumnDef="sgstPercentage">
            <th mat-header-cell *matHeaderCellDef>{{"SGST" |translate}}</th>
            <td mat-cell *matCellDef="let transaction">{{transaction?.sgstPercentage}}</td>
        </ng-container>
        <ng-container matColumnDef="igstPercentage">
          <th mat-header-cell *matHeaderCellDef>{{"IGST" |translate}}</th>
          <td mat-cell *matCellDef="let transaction">{{transaction?.igstPercentage}}</td>
      </ng-container>
        <ng-container matColumnDef="totalPayableAmount">
          <th mat-header-cell *matHeaderCellDef>{{"Total Amount" |translate}}</th>
          <td mat-cell *matCellDef="let transaction">{{transaction?.totalPayableAmount}}</td>
      </ng-container>
 
            <ng-container matColumnDef="paidAt">
                <th mat-header-cell *matHeaderCellDef>{{"Paid At" |translate}}</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction?.paymentDateTime | date : "dd/MM/yyyy hh:mm a" }}
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>{{"Status" |translate}}</th>
                <td mat-cell *matCellDef="let transaction">
                    <span *ngIf="transaction?.paymentStatus == 'Success'" class="text-success"> {{ transaction?.paymentStatus}}</span>
                    <span *ngIf="transaction?.paymentStatus == 'Due Pending'" class="text-warning"> {{ transaction?.paymentStatus}}</span>
                    <span *ngIf="transaction?.paymentStatus  == 'Initiated'" style="color:blue;"> {{ transaction?.paymentStatus}}</span>
                    <span *ngIf="transaction?.paymentStatus  == 'Failure'" class="text-danger"> {{ transaction?.paymentStatus}}</span>

                </td>
            </ng-container>
            <ng-container matColumnDef="viewdata">
              <th mat-header-cell *matHeaderCellDef  [hidden]="valueotherview!=='Customizations Payments-View'" >{{"View" |translate}}</th>
              <td mat-cell *matCellDef="let data"  [hidden]="valueotherview!=='Customizations Payments-View'">
                  <i class="fa fa-eye" (click)="view(data.payId)" ></i>
                </td>
              </ng-container>
            <ng-container matColumnDef="receipt">
                <th mat-header-cell *matHeaderCellDef [hidden]="valueotherreceipt!=='Customizations Payments-Invoice'">{{"Invoice" |translate}}</th>
                <td mat-cell *matCellDef="let transaction" [hidden]="valueotherreceipt!=='Customizations Payments-Invoice'">
                  <button class="btn btn-success btn-sm" [disabled]="transaction?.paymentStatus!='Success'"  style="border:none;" (click)="viewreciept(transaction?.payId)"> <i class="fa-solid fa-download" style="color:#fff;"></i></button>
                </td>
            </ng-container>
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef [hidden]="valueotherpay!=='Customizations Payments-Pay'">{{"Pay" |translate}}</th>
                <td mat-cell *matCellDef="let transaction" [hidden]="valueotherpay!=='Customizations Payments-Pay'">
                   <button class=" btn-success btn-sm"  [disabled]="transaction?.paymentStatus =='Success'"  (click)="makepay(transaction?.payId)"><i style="cursor: pointer;" class="fas fa-money" style="font-size: 16px;color:fff;"
                    ></i>Pay</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
              <td class="mat-cell" colspan="0" *ngIf="searchPerformed">{{"No Data For" |translate}} {{input.value}}</td>
              <td class="mat-cell" colspan="0" *ngIf="!searchPerformed && dataSource.data.length === 0">{{"No Data" |translate}}</td>
            </tr>
        </table>
    </div>
</mat-card-content>
<mat-card-footer>
    <mat-paginator (pageChange)="renderPage($event)" [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons
        aria-labels="select page of users"></mat-paginator>
</mat-card-footer>
<div class="w-50 p-5 m-5 d-none">
    <!-- <form name="form" id="FormType" action="https://connect.basispay.in/checkout" method="POST"> -->
      <form name="form" id="FormType" action="https://staging-connect.basispay.in/checkout" method="POST">
      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Address</label>
            <input type="text" name="address" [(ngModel)]="Address" class="form-control" aria-describedby="emailHelp" />
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">apiKey</label>
            <input type="text" name="apiKey" [(ngModel)]="ApiKey" class="form-control" aria-describedby="emailHelp" />
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">city</label>
            <input type="text" name="city" [(ngModel)]="City" class="form-control" />
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">country</label>
            <input type="text" name="country" value="IND" class="form-control" aria-describedby="emailHelp" />
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">customerEmail</label>
            <input type="text" name="customerEmail" [(ngModel)]="Email" class="form-control"
              aria-describedby="emailHelp" />
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">customerMobile</label>
              <input type="text" name="customerMobile" [(ngModel)]="Mobile" class="form-control" />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">customerName</label>
              <input type="text" name="customerName" [(ngModel)]="EntityName" class="form-control"
                aria-describedby="emailHelp" />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">deliveryAddress</label>
              <input type="text" name="deliveryAddress" value=""  class="form-control"
                aria-describedby="emailHelp" />
            </div>
          </div>
 
          <div class="col-4">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">deliveryCity</label>
              <input type="text" name="deliveryCity" value="" class="form-control"
                aria-describedby="emailHelp" />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">deliveryCountry</label>
              <input type="text" name="deliveryCountry" value="" class="form-control" />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">deliveryMobile</label>
              <input type="text" name="deliveryMobile" value=""  class="form-control"
                aria-describedby="emailHelp" />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">deliveryName</label>
              <input type="text" name="deliveryName" value=""  class="form-control" />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">deliveryPostalCode</label>
              <input type="text" name="deliveryPostalCode" value=""  class="form-control"
                id="exampleInputPassword1" />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">deliveryRegion</label>
              <input type="text" name="deliveryRegion" value="" class="form-control" aria-describedby="emailHelp" />
            </div>
          </div>
          <div class="col-4">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">orderReference</label>
              <input type="text" name="orderReference" [(ngModel)]="orderReference" class="form-control" />
            </div>
          </div>
 
          <div class="col-4">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">postalCode</label>
              <input type="text" name="postalCode" [(ngModel)]="Pincode" class="form-control"
                aria-describedby="emailHelp" />
            </div>
          </div>
 
          <div class="col-4">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">region</label>
              <input type="text" name="region" [(ngModel)]="Statename" class="form-control"
                aria-describedby="emailHelp" />
            </div>
          </div>
        </div>
 
        <div class="col-4">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">secureHash</label>
            <input type="text" name="secureHash" [(ngModel)]="secureHash" class="form-control"
              aria-describedby="emailHelp" />
          </div>
        </div>
      </div>
      <!-- <button type="submit">submit</button> -->
    </form>
  </div>