<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>
<div id="menu">
  <div style="padding: 5px;font-family: Arial, Helvetica, sans-serif;">
    <!-- <h1 class="text-center">Policies Update</h1> -->

    <div class="popup" style="border-radius: 5px;padding: 10px;">
      <div class="row" style="text-align: center;">
        <div class="col-1">
        </div>
        <div class="col-10">
          <b>REFUND POLICY</b>
        </div>
        <div class="col-1">
          <i class="fa fa-close" style="font-size: 20px;" matDialogClose></i>
        </div>
      </div>
      <hr>
      <div class="row" style="text-align: justify;" class="content">
        <div class="col">
          <p>
            {{businesscategory.refundPolicy}}
  

          </p>
        </div>
      </div>
      <!-- <hr> -->

    </div>
  </div>