/**
   * Remove default margin.
   */
 
   body {
    margin: 0;
    height: auto;
  }
   
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
   
  .yellow {
   
    color: rgb(255, 196, 0);
  }
   
  .green {
    color: #21ba45;
   
  }
   
  .Red {
    color: red;
   
   
  }
   
  table[am-layout] {
    border: 1px solid #d4d4d4;
    width: 100%;
    height: auto;
  }
   
  table[am-layout] caption {
    text-align: left;
  }
   
  table[am-layout] thead th:first-child {
    border-left: 0 none;
  }
   
  table[am-layout] th {
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    padding: 0.80em;
    /* text-transform: uppercase; */
  }
   
  table[am-layout] th[scope="rowgroup"] {
    background-color: #f1f1f1;
    text-align: justify;
    font-weight: 100;
    color: #0e75b4;
  }
   
  table[am-layout] th[scope="rowgroup"]:first-child {
    border-left: 0 none;
  }
   
  table[am-layout] th[scope="colgroup"] {
    background-color: #f1f1f1;
  }
   
  table[am-layout] th[scope="colgroup"]:first-child {
    border-left: 0 none;
  }
   
  table[am-layout] th[scope="row"] {
    background-color: #ebecee;
  }
   
  table[am-layout] th[scope="col"] {
    background-color: #ebecee;
  }
   
  @media (orientation: portrait) {
    table[am-layout] th {
      display: none;
    }
   
    table[am-layout] th[scope="row"] {
      display: block;
      border-left: 0 none;
    }
  }
   
  table[am-layout] td {
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    padding: 0.45em;
    background-color: #ffffff;
  }
   
  table[am-layout] td:first-child {
    border-left: 0 none;
  }
   
  @media (orientation: portrait) {
    table[am-layout] td:first-child {
      text-align: right;
    }
  }
   
  @media (orientation: portrait) {
    table[am-layout] td {
      display: block;
      text-align: right;
      width: 100%;
      border: 0 none;
      padding: calc(0.5em);
    }
   
    table[am-layout] td[data-title]::before {
      float: left;
      font-weight: 200;
      text-transform: uppercase;
    }
  }
   
  strong {
    font-weight: 500;
    font-size: 15px;
  }
   
  .button {
    float: right;
    width: 80px;
    height: 33px;
    display: flex;
    align-items: center;
  
    padding: 10px 20px;
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
  }
   
   
   
  .arrow {
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .button:hover {
    background-color: rgb(77, 77, 77);
    transition-duration: .2s;
  }
   
  .button:hover .arrow {
    animation: slide-right .6s ease-out both;
  }
   
  /* arrow animation */
  @keyframes slide-right {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
   
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
   
  .button:active {
    transform: translate(1px, 1px);
    transition-duration: .2s;
  }
   
  td {
    font-size: 13px;
  }
   
  table[am-layout] tr:hover td {
    background-color: #ebecee;
  }
   
  @media (orientation: portrait) {
    table[am-layout] tr {
      display: block;
      border-bottom: 1px solid #e0e0e0;
    }
  }
   
  @media (orientation: portrait) {
    table[am-layout] tfoot tr:first-child {
      border-bottom: 1px solid #e0e0e0;
    }
  }
   
  table[am-layout] tfoot tr:last-child {
    font-weight: 400;
  }
   
  @media (orientation: portrait) {
    table[am-layout] tfoot tr:last-child {
      border-bottom: 0 none;
    }
  }
   
  table[am-layout] tfoot tr:last-child td {
    border-bottom: 0 none;
  }
   
  @media (orientation: portrait) {
    table[am-layout] tfoot {
      display: block;
    }
  }
   
  /* table[am-layout][am-layout~="zebra-stripe"] tr:nth-child(even) td {
    background-color: #f7f7f7;
  } */
   
  table[am-layout][am-layout~="zebra-stripe"] tr:hover td {
    background-color: #ebecee;
  }
   
  a {
    text-decoration: none;
  }
   
  .accept {
    color: #FFF;
    background: grey;
    padding: 3px 6px;
    cursor: pointer;
    box-shadow: 0 4px 0 0 grey;
  }
   
  .accept:hover {
    background: grey;
    box-shadow: 0 4px 0 0 grey;
  }
   
  .deny {
    color: #FFF;
    background: tomato;
    padding: 3px 14px;
    box-shadow: 0 4px 0 0 #CB4949;
  }
   
  .deny:hover {
    background: rgb(255, 147, 128);
    box-shadow: 0 4px 0 0 #EF8282;
  }