<body style="overflow-x: hidden;">
    <main style="padding:10px 20px">
        <table am-layout="zebra-stripe">
            <tbody>
         
                    <th  scope="rowgroup">
                        <div class="row">
                            <div class="col-md-6">
                                <p style="font-family:'Times New Roman', Times, serif;font-weight: 600;font-size: large;">Plan Name : {{viewbyagreement?.planName}}</p>
                              
                                </div>
                                <div class="col-md-6">
                                    <button class="button" (click)="close()">
                                        Back   
                                    </button>
                                </div>
                        </div>
                      
                    </th>
                    
                </tbody>
                <br>
    

                <div class="row p-2">
                    <div class="col-4 ">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Net Banking  (HDFC/SBI/Kotak/ICICI/Axis)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.netBankingAmount}}</td>
                                    <td>{{viewbyagreement?.netBankingPercentage}}</td>
                                    <td>{{viewbyagreement?.netBankingFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4 ">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Net Banking OtherBank  (HDFC/SBI/Kotak/ICICI/Axis)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.nbOtherBankAmount}}</td>
                                    <td>{{viewbyagreement?.nbOtherBankPercentage}}</td>
                                    <td>{{viewbyagreement?.nbOtherBankFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                       e-Collect
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.eCollectAmount}}</td>
                                    <td>{{viewbyagreement?.eCollectPercentage}}</td>
                                    <td>{{viewbyagreement?.eCollectFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                   
                 
                  
                </div>
                
<br>
<div class="row p-2">
    <div class="col-4">
        <table am-layout="zebra-stripe">
            <thead>
                <tr>
                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                        Disbursement Api
                    </td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td>Percentage</td>
                    <td>Fixed Fee</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{viewbyagreement?.disbursementApiAmount}}</td>
                    <td>{{viewbyagreement?.disbursementApiPercentage}}</td>
                    <td>{{viewbyagreement?.disbursementApiFixedFee}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <table am-layout="zebra-stripe">
            <thead>
                <tr>
                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                        International Api
                    </td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td>Percentage</td>
                    <td>Fixed Fee</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{viewbyagreement?.internationalApiAmount}}</td>
                    <td>{{viewbyagreement?.internationApiPercentage}}</td>
                    <td>{{viewbyagreement?.internationApiFixedFee}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <table am-layout="zebra-stripe">
            <thead>
                <tr>
                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                        UPI
                    </td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td>Percentage</td>
                    <td>Fixed Fee</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{viewbyagreement?.upiAmount}}</td>
                    <td>{{viewbyagreement?.upiPercentage}}</td>
                    <td>{{viewbyagreement?.upiFixedFee}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
    
                <div class="row p-2">
                
        
                 
        
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Dynamic Qr
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.dynamicQrAmount}}</td>
                                    <td>{{viewbyagreement?.dynamicQrPercentage}}</td>
                                    <td>{{viewbyagreement?.dynamicQrFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                  
                </div>
 

            
                <h5 class="mt-2" style="text-align: center;color: #0e75b4;font-weight: 600;">Cards</h5>
                <div class="row p-2">
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Rupay Debit Card (> 2000 )
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.rupayDebitCardMaxAmount}}</td>
                                    <td>{{viewbyagreement?.rupayDebitCardMaxPercentage}}</td>
                                    <td>{{viewbyagreement?.rupayDebitCardMaxFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Rupay Debit Card (< 2000)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.rupayDebitCardMinAmount}}</td>
                                    <td>{{viewbyagreement?.rupayDebitCardMinPercentage}}</td>
                                    <td>{{viewbyagreement?.rupayDebitCardMinFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Other Debit Card (> 2000 )
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.otherDebitCardMaxAmount}}</td>
                                    <td>{{viewbyagreement?.otherDebitCardMaxPercentage}}</td>
                                    <td>{{viewbyagreement?.otherDebitCardMaxFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        
                </div>
                <br>
                <div class="row p-2">
                    
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Other Debit Card (< 2000 )
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.otherDebitCardMinAmount}}</td>
                                    <td>{{viewbyagreement?.otherDebitCardMinPercentage}}</td>
                                    <td>{{viewbyagreement?.otherDebitCardMinFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Amex Card
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.amexCardAmount}}</td>
                                    <td>{{viewbyagreement?.amexCardPercentage}}</td>
                                    <td>{{viewbyagreement?.amexCardFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Dinners Card
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.dinnersCardAmount}}</td>
                                    <td>{{viewbyagreement?.dinnersCardPercentage}}</td>
                                    <td>{{viewbyagreement?.dinnersCardFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        
                </div>
                <br>
                <div class="row p-2">
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Corporate/Commercial Card
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.corporateOrCommercialCardAmount}}</td>
                                    <td>{{viewbyagreement?.corporateOrCommercialCardPercentage}}</td>
                                    <td>{{viewbyagreement?.corporateOrCommercialCardFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Prepaid Card
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.prepaidCardAmount}}</td>
                                    <td>{{viewbyagreement?.prepaidCardPercentage}}</td>
                                    <td>{{viewbyagreement?.prepaidCardFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                       Credit Card
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.creditCardAmount}}</td>
                                    <td>{{viewbyagreement?.creditCardPercentage}}</td>
                                    <td>{{viewbyagreement?.creditCardFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  

                </div>
                <h5 class="mt-2" style="text-align: center;color: #0e75b4;font-weight: 600;">Wallets</h5>
                <div class="row p-2">
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Phonepe
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.walletPhonepeAmount}}</td>
                                    <td>{{viewbyagreement?.walletPhonepePercentage}}</td>
                                    <td>{{viewbyagreement?.walletPhonepeFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Free Charge
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.walletFreeChargeAmount}}</td>
                                    <td>{{viewbyagreement?.walletFreeChargePercentage}}</td>
                                    <td>{{viewbyagreement?.walletFreeChargeFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Payzapp
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.walletPayzappAmount}}</td>
                                    <td>{{viewbyagreement?.walletPayzappPercentage}}</td>
                                    <td>{{viewbyagreement?.walletPayzappFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                  
                </div>
                <br>
                <div class="row p-2">
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Paytm
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.walletPaytmAmount}}</td>
                                    <td>{{viewbyagreement?.walletPaytmPercentage}}</td>
                                    <td>{{viewbyagreement?.walletPaytmFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Ola Money
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.walletOlaMoneyAmount}}</td>
                                    <td>{{viewbyagreement?.walletOlaMoneyPercentage}}</td>
                                    <td>{{viewbyagreement?.walletOlaMoneyFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Mobikwikk
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.walletMobikwikkAmount}}</td>
                                    <td>{{viewbyagreement?.walletMobikwikkPercentage}}</td>
                                    <td>{{viewbyagreement?.walletMobikwikkFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                  
                </div>
                <br>
                <div class="row p-2">
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Reliance Jio Money
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.walletRelianceJioMoneyAmount}}</td>
                                    <td>{{viewbyagreement?.walletRelianceJioMoneyPercentage}}</td>
                                    <td>{{viewbyagreement?.walletRelianceJioMoneyFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        
                    <div class="col-4">
                        <table am-layout="zebra-stripe">
                            <thead>
                                <tr>
                                    <td colspan="4" style="padding: 5px; text-align: center;font-weight: 600;">
                                        Airtel Money
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td>Percentage</td>
                                    <td>Fixed Fee</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{viewbyagreement?.walletAirtelMoneyAmount}}</td>
                                    <td>{{viewbyagreement?.walletAirtelMoneyPercentage}}</td>
                                    <td>{{viewbyagreement?.walletAirtelMoneyFixedFee}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                  
                </div>
              
             
        </table>
    </main>
</body>