<div class="form-header d-flex justify-content-between align-items-center mx-4">
    <h4 class="mb-0">{{Lcopdetails?.entityModel?.merchantLegalName}}</h4>
    <button type="button" class="btn btn-secondary" (click)="close()">Back</button>
</div>
<hr>

<div class="tab-container"></div>
<div class="tabs">
    <button class="tab" [class.active]="activeTab === 'PlanInfo'" (click)="selectTab('PlanInfo')"
        [hidden]="valuelcopgeneral!=='LCOP Plan Configuration-General Information'">General
        Information</button>
    <button class="tab" [class.active]="activeTab === 'free'" (click)="selectTab('free')"
        [hidden]="valuelcopfree!=='LCOP Plan Configuration-Free Channels'">Free
        Channels</button>
    <button class="tab" [class.active]="activeTab === 'Paid'" (click)="selectTab('Paid')"
        [hidden]="valuelcopPaid!=='LCOP Plan Configuration-Paid Channels'">Paid Channels</button>
    <button class="tab" [class.active]="activeTab === 'Plan'" (click)="selectTab('Plan')"
        [hidden]="valuelcopplan!=='LCOP Plan Configuration-Broadcaster Plan'">Broadcaster Plan </button>

</div>
<div class="tab-content" *ngIf="activeTab === 'PlanInfo'">
    <div class="filters">
        <div class="col-12">
            <article class=" car-details label-info">

                <div class="d-flex flex-md-row align-items-md-start align-items-center flex-column">
                    <div class="w-100">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">
                                                Entity Name</div>
                                            <div class="w-50">{{Lcopdetails?.entityModel?.entityName}}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">
                                                Entity Legal Name</div>
                                            <div class="w-50">{{Lcopdetails?.entityModel?.merchantLegalName}}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">Reference Number
                                            </div>
                                            <div class="w-50">{{Lcopdetails?.entityModel?.referenceNo}}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">Email</div>
                                            <div class="w-50">{{Lcopdetails?.entityModel?.contactEmail}}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">Mobile Number</div>
                                            <div class="w-50">{{Lcopdetails?.entityModel?.contactMobile}}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">Business Category</div>
                                            <div class="w-50">
                                                {{Lcopdetails?.entityModel?.businessCategoryModel?.categoryName}}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">Plan Name</div>
                                            <div class="w-50">{{Lcopdetails?.entityModel?.merchantPlanModel?.planName}}
                                            </div>
                                        </div>


                                    </div>


                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">
                                                LCOP Plan Name</div>
                                            <div class="w-50">{{Lcopdetails?.planName}}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">
                                                Selected Package Amount</div>
                                            <div class="w-50 ">₹{{Lcopdetails?.totalAmount}}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">Margin Amount
                                            </div>
                                            <div class="w-50"> ₹{{Lcopdetails?.price}}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">Final Plan Amount</div>
                                            <div class="w-50">₹{{Lcopdetails?.overallAmount}}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">Plan Created By</div>
                                            <div class="w-50">{{Lcopdetails?.createdBy}}</div>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">Plan Created At</div>
                                            <div class="w-50">{{Lcopdetails?.createdAt|date:"dd/MM/yyyy hh:mm a"}}</div>
                                        </div>
                                        <!-- <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">Modified By</div>
                                            <div class="w-50">{{Lcopdetails?.modifiedBy}}</div>
                                        </div>

                                        <div class="d-flex mb-2">
                                            <div class="w-50 font-weight-bold">Modified At</div>
                                            <div class="w-50">{{Lcopdetails?.modifiedAt|date:"dd/MM/yyyy hh:mm:a"}}
                                            </div>
                                        </div> -->


                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </article>




        </div>


    </div>


</div>
<div *ngIf="activeTab === 'free'">
    <div class="row">
        <div class="col-md-3 mt-4 ">
            <div class="search ">
                <form class="form">
                    <label for="search">
                        <input (ngModelChange)="onSearchTextChange()" #input name="search" required autocomplete="off"
                            placeholder="Search" id="search" type="text" [(ngModel)]="searchText">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round"></path>
                            </svg>
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round">
                                </path>
                            </svg>
                        </div>
                        <button (click)="reload()" type="reset" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
                </form>
            </div>
        </div>
        <div class="col-md-6">
        </div>

    </div>


    <div class="row mt-2">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="card table-nowrap table-card">
                <div class="table-responsive text-nowrap text-center">
                    <table class="table table-hover" id="customers">
                        <tr>
                            <th>S No </th>
                            <th>Channel Name</th>
                            <th>Channel No</th>
                            <th>Channel Type</th>
                            <th>Channel Status</th>
                            <th>Language</th>
                            <th>Generic</th>
                            <th>Price</th>
                            <th>Channel Broad Caster</th>

                        </tr>

                        <tbody
                            *ngFor="let item of Freechannels | search: searchText | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{item.alcotFreeChannel.channelName}}</td>
                            <td class="text-center">{{item.alcotFreeChannel.channelNo}}</td>
                            <td class="text-center">{{item.alcotFreeChannel.type == 1?'Paid':'Free'}}</td>
                            <td class="text-center">

                                <mat-slide-toggle class="example-margin" color="primary"
                                    [checked]="item.freeChannelStatus==1" (change)="FreeStatus($event,item.merchantFreeId)">
                                </mat-slide-toggle>

                            </td>

                            <td class="text-center">{{item.alcotFreeChannel.language}}</td>
                            <td class="text-center">{{item.alcotFreeChannel.generic}}</td>
                            <td class="text-center">{{item.alcotFreeChannel.price}}</td>
                            <td class="text-center">{{item.alcotFreeChannel.region.service.serviceProviderName}}</td>
                            <!-- <td class="text-center" style="cursor: pointer;"
                            (click)="Viewregions(this.ServiceProvideregions)"> <i class="fas fa-eye"
                                style="font-size: 16px;color: rgb(39, 39, 95);"></i></td> -->



                        </tbody>
                    </table>
                    <div class="text-end mt-3">
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div *ngIf="activeTab === 'Paid'">
    <div class="row">
        <div class="col-md-3 mt-4 ">
            <div class="search ">
                <form class="form">
                    <label for="search">
                        <input (ngModelChange)="onSearchTextChange()" #input name="search" required autocomplete="off"
                            placeholder="Search" id="search" type="text" [(ngModel)]="term">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round"></path>
                            </svg>
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round">
                                </path>
                            </svg>
                        </div>
                        <button (click)="reload()" type="reset" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
                </form>
            </div>
        </div>
        <div class="col-md-6">
        </div>

    </div>


    <div class="row mt-2">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="card table-nowrap table-card">
                <div class="table-responsive text-nowrap text-center">
                    <table class="table table-hover" id="customers">
                        <tr>
                            <th>S No </th>
                            <th>Channel Name</th>
                            <th>Channel No</th>
                            <th>Channel Type</th>
                            <th>Channel Status</th>
                            <th>Language</th>
                            <th>Generic</th>
                            <th>Price</th>
                            <th>Channel Broad Caster</th>
                            <!-- <th>Mso Details</th> -->
                        </tr>

                        <tbody
                            *ngFor="let item of PaidChanneels| search: term | paginate: { itemsPerPage: 5, currentPage: page }; let i = index">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{item.alcotPaidChannel.channelName}}</td>
                            <td class="text-center">{{item.alcotPaidChannel.channelNo}}</td>
                            <td class="text-center">{{item.alcotPaidChannel.type == 1?'Paid':'Free'}}</td>
                            <td class="text-center">

                                <mat-slide-toggle class="example-margin" color="primary"
                                    [checked]="item.paidChannelStatus==1" (change)="PaidStatus($event,item.merchantPaidId)">
                                </mat-slide-toggle>

                            </td>

                            <td class="text-center">{{item.alcotPaidChannel.language}}</td>
                            <td class="text-center">{{item.alcotPaidChannel.generic}}</td>
                            <td class="text-center">{{item.alcotPaidChannel.price}}</td>
                            <!-- <td class="text-center">{{item.alcotPaidChannel.broadCaster}}</td> -->
                            <td class="text-center">{{item.alcotPaidChannel.region.service.serviceProviderName}}</td>
                            <!-- <td class="text-center" style="cursor: pointer;"
                            (click)="Viewregions(this.ServiceProvideregions)"> <i class="fas fa-eye"
                                style="font-size: 16px;color: rgb(39, 39, 95);"></i></td> -->



                        </tbody>
                    </table>
                    <div class="text-end mt-3">
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div *ngIf="activeTab === 'Plan'">
    <div class="row">
        <div class="col-md-3 mt-4 ">
            <div class="search ">
                <form class="form">
                    <label for="search">
                        <input (ngModelChange)="onSearchTextChange()" #input name="search" required autocomplete="off"
                            placeholder="Search" id="search" type="text" [(ngModel)]="term1">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round"></path>
                            </svg>
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round">
                                </path>
                            </svg>
                        </div>
                        <button (click)="reload()" type="reset" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
                </form>
            </div>
        </div>
        <div class="col-md-6">
        </div>

    </div>


    <div class="row mt-2">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="card table-nowrap table-card">
                <div class="table-responsive text-nowrap text-center">
                    <table class="table table-hover" id="customers">
                        <tr>
                            <th>S No </th>
                            <th>Broad Caster Name</th>
                            <th>Broad Caster Plan Name</th>
                            <th>Plan Status</th>
                            <th>Plan Amount</th>
                            <th>Channels </th>

                            <!-- <th>Mso Details</th> -->
                        </tr>

                        <tbody
                            *ngFor="let item of plansnames| search: term1 | paginate: { itemsPerPage: 5, currentPage: page }; let i = index">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{item.broadCasterBouquets.bundleChannel.broadCasterName}}</td>
                            <td class="text-center">{{item.broadCasterBouquets.bouquetCreation.bouquetName}}</td>
                            <td class="text-center">

                                <mat-slide-toggle class="example-margin" color="primary"
                                    [checked]="item.bouquetChannelStatus==1" (change)="BouqueteStatus($event,item.merchantBouquetId)">
                                </mat-slide-toggle>

                            </td>
                            <td class="text-center">{{item.broadCasterBouquets.amount}}</td>
                            <td class="text-center" style="cursor: pointer;"
                                (click)="Viewchannels(item.broadCasterBouquets.bouquetId)"> <i class="fas fa-eye"
                                    style="font-size: 16px;color: rgb(39, 39, 95);"></i></td>


                        </tbody>
                    </table>
                    <div class="text-end mt-3">
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>