<mat-card-header>
    <div class="row  d-flex justify-content-start">
      <div class="col-md-6">
        <h5 style="text-wrap: nowrap;">{{"Setupbox Booked Customer Details"|translate}}</h5>
      </div>
      <div class="col-md-4  mt-1">
        <!-- <h6> Overall Plan Amount:  <span style="color:green;">₹{{ this.totalamounts }}</span></h6> -->
      </div>
      <div class="col-md-2 d-flex justify-content-end mb-1">
        <button  class="button1" (click)="close()">{{"Back"|translate}}</button>
      </div>
     
    </div>
  </mat-card-header>
 
 
  <div class="container mt-3">
    <article class="card">
      <div class="card-body">
         <h3 class="card-title mb-4">{{"General Information"|translate}}</h3>
       <div class="row">
              <div class="col-md-6 col-12">
                <div class="d-flex flex-column">
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">
                      {{"Customer Id"|translate}}:</div>
                    <div class="w-50">{{ viewcustomer?.customerReferenceId }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">
                      {{"Customer Name"|translate}}:</div>
                    <div class="w-50">{{ viewcustomer?.customerName }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">
                      {{"Email Address"|translate}}</div>
                    <div class="w-50">{{ viewcustomer?.emailAddress }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Mobile Number"|translate}}:
                    </div>
                    <div class="w-50">{{ viewcustomer?.mobileNumber }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Age"|translate}}:</div>
                    <div class="w-50">{{ viewcustomer?.age }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Area"|translate}}:</div>
                    <div class="w-50"> {{ viewcustomer?.area }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Street Name"|translate}}:</div>
                    <div class="w-50">{{ viewcustomer?.streetName }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"City Name"|translate}}:</div>
                    <div class="w-50">{{ viewcustomer?.cityName }}</div>
                  </div>
   
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Country"|translate}}
                    </div>
                    <div class="w-50">{{ viewcustomer?.countryName }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Pincode"|translate}}</div>
                    <div class="w-50">{{ viewcustomer?.pincodeName }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Land Mark"|translate}}:</div>
                    <div class="w-50">{{ viewcustomer?.landmark }}</div>
                  </div>
                </div>
              </div>
   
   
              <div class="col-md-6 col-12">
                <div class="d-flex flex-column">
   
   
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Advance Paid"|translate}}:</div>
                    <div class="w-50">
                        <span *ngIf="viewcustomer?.advanceStatus=='Yes'"> Yes</span>
                      <span *ngIf="viewcustomer?.advanceStatus=='No'"> No</span>
                    </div>
                  </div>
   
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Flat Number"|translate}}:</div>
                    <div class="w-50">{{ viewcustomer?.flatNumber }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Block Number"|translate}}:</div>
                    <div class="w-50">{{ viewcustomer?.blockNumber }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"House Name"|translate}}:</div>
                    <div class="w-50"> {{ viewcustomer?.houseName }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Door Number"|translate}}:</div>
                    <div class="w-50"> {{ viewcustomer?.doorNumber }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Alter Mobile Number"|translate}}:</div>
                    <div class="w-50"> {{ viewcustomer?.alterMobileNumber||'-' }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Apartment Name"|translate}}:</div>
                    <div class="w-50"> {{ viewcustomer?.apartmentName }}</div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"State"|translate}}:</div>
                    <div class="w-50"> {{ viewcustomer?.stateName }}</div>
                  </div>
   
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Advance Amount"|translate}}:</div>
                    <div class="w-50"> <span *ngIf="viewcustomer?.advanceStatus=='Yes'"> {{ viewcustomer?.advanceAmount
                        }}</span>
                      <span *ngIf="viewcustomer?.advanceStatus=='No'" style="text-align:center;"> -</span>
                    </div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Connection Type"|translate}}:</div>
                    <div class="w-50"> <span *ngIf="viewcustomer?.freeLine=='Paid'"> Paid</span>
                      <span *ngIf="viewcustomer?.freeLine=='Free'"> Free</span>
                    </div>
                  </div>
                  <div class="d-flex mb-2">
                    <div class="w-50 font-weight-bold">{{"Booking Status"|translate}}:</div>
                    <div class="w-50">
                        <span *ngIf="this.viewcustomer.bookingStatus==0"> Available</span>
                      <span *ngIf="this.viewcustomer.bookingStatus==1"> Booked</span>
                      <span *ngIf="this.viewcustomer?.bookingStatus==2"> Damaged</span>
 
                    </div>
                  </div>
                </div>
              </div>
   
            </div>
      </div>
    </article>
  </div>