<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">

<div class="container">
    <div class="form-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Branch</h5>
        <button type="button" class="btn btn-secondary" (click)="close()">Back</button>
    </div>

    <div class="well" style="margin-top: 2%;" *ngIf="Bankdetails==true">
        <h4 class="card-header" style="font-weight: 500">1.Branch Details</h4>
        <form [formGroup]="branch" style="margin-top: 2%;">
            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">Account Holder Name</label>
                    <input type="text" id="Entity Name" formControlName="accountHolderName" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountHolderName?.invalid && accountHolderName?.touched && accountHolderName?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountHolderName?.invalid && accountHolderName?.touched && accountHolderName?.errors?.['pattern']">
                        Enter a Valid Name
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="state">Account Number</label>
                    <input type="text" formControlName="accountNumber" id="state" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountNumber?.invalid && accountNumber?.touched && accountNumber?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountNumber?.invalid && accountNumber?.touched && accountNumber?.errors?.['pattern']">
                        Enter a Valid Account Number
                    </div>
                </div>

                <div class="col-sm-4 form-group">
                    <label for="state"> Account Id</label>
                    <input type="text" formControlName="accountId" id="state" class="form-control">

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountId?.invalid && accountId?.touched && accountId?.errors?.['required']">
                        Field is required
                    </div>

                </div>




            </div>
            <div class="row mb-3">

                <div class="col-sm-4 form-group">
                    <label for="Entity Name">Branch Name</label>
                    <input type="text" id="Entity Name" formControlName="branchName" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="branchName?.invalid && branchName?.touched && branchName?.errors?.['required']">
                        Field is required
                    </div>

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="branchName?.invalid && branchName?.touched && branchName?.errors?.['pattern']">
                        Enter a Valid Input
                    </div>
                </div>

                <div class="col-sm-4 form-group">
                    <label for="Entity Name"> Bank Name</label>
                    <input type="text" id="Entity Name" formControlName="bankName" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="bankName?.invalid && bankName?.touched && bankName?.errors?.['required']">
                        Field is required
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">IFSC Code</label>
                    <input type="text" id="Entity Name" formControlName="ifscCode" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="ifscCode?.invalid && ifscCode?.touched && ifscCode?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="ifscCode?.invalid && ifscCode?.touched && ifscCode?.errors?.['pattern']">
                        Enter a Valid IFSC Code
                    </div>
                </div>

            </div>
            <div class="row mb-3">

                <div class="col-sm-4 form-group">
                    <label for="Entity Name"> Api Key</label>
                    <input type="text" id="Entity Name" formControlName="apiKey" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="apiKey?.invalid && apiKey?.touched && apiKey?.errors?.['required']">
                        Field is required
                    </div>

                </div>


                <div class="col-sm-4 form-group">
                    <label for="Entity Name">Secret Key</label>
                    <input type="text" id="Entity Name" formControlName="secretKey" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="secretKey?.invalid && secretKey?.touched && secretKey?.errors?.['required']">
                        Field is required
                    </div>

                </div>

                <div class="col-md-4 form-group ">
                    <label class="form__label" for="ifscCode">SMS BranchName</label>
                    <input class="form-control" id="ifscCode" type="text" formControlName="smsmerchantname" required
                        placeholder="Maximum 25 Characters" />
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                    " *ngIf="smsmerchantname?.invalid && smsmerchantname?.touched && smsmerchantname?.errors?.['required']">
                                            Field is required
                    </div>

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="smsmerchantname?.errors?.['pattern']">
                        Invalid format. Only alphanumeric characters are allowed
                    </div>
                    <div style="color: red; font-size: 12px; margin-top: 2px; position: relative;"
                        *ngIf="smsmerchantname?.errors?.['maxlength']">
                        Only 25 characters are allowed
                    </div>

                </div>

            </div>
            <div>
                <button (click)="Submit()" [disabled]="branch.invalid" type="submit" class="btn mx-1 "
                    style="background-color:#7db855be">Submit</button>
                <button type="submit" class="btn" style="background-color:#141E46;color:white"
                    (click)="close()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="well" style="margin-top: 2%;" *ngIf="KYCdetails==true">
        <h4 class="card-header" style="font-weight: 500">2.KYC Details</h4>
        <mat-horizontal-stepper linear>
            <mat-step [stepControl]="firstFormGroup" label="Step 1">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Identity</ng-template>

                    <div class="form__row">
                        <div class="form__linput">
                            <label class="form__label" for="identityProof"><b>Identity Proof</b></label>
                            <select formControlName="identityProof" class="form-select"
                                (change)="onIdentityProofChange($event)">
                                <option hidden>Select..</option>
                                <option value="Aadhar Card">Aadhar Card</option>
                                <option value="Pancard">Pancard</option>
                                <option value="Voter Id Proof">Voter Id Proof</option>
                                <option value="Passport">Passport</option>
                                <option value="Driving License">Driving License</option>
                            </select>
                            <div *ngIf="identityProof?.invalid && identityProof?.touched && identityProof?.errors?.['required']"
                                style="color: red; font-size: 12px;">
                                Field is required
                            </div>
                        </div>

                        <div class="form__linput">
                            <label class="form__label"><b>Enter {{selectElement}} Number</b></label>
                            <input class="form-control" id="mccCode" type="text" formControlName="identityProofNo" />
                            <div
                                *ngIf="identityProofNo && identityProofNo.invalid && (identityProofNo.touched || identityProofNo.dirty)">
                                <small *ngIf="identityProofNo.errors?.['required']"
                                    style="color: red; font-size: 12px;">This field is required.</small>
                                <small *ngIf="identityProofNo.errors?.['pattern']"
                                    style="color: red; font-size: 12px;">Enter a valid {{selectElement}} number.</small>
                            </div>
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__linput">
                            <label class="form__label"><b>Upload Front Path</b></label>
                            <input class="form-control" formControlName="identityFrontPath"
                                (change)="onFileSelected($event)" type="file" />
                            <div *ngIf="identityFrontPath?.invalid && identityFrontPath?.touched && identityFrontPath?.errors?.['required']"
                                style="color: red; font-size: 12px;">
                                Field is required
                            </div>
                        </div>

                        <div class="form__linput">
                            <label class="form__label"><b>Upload Back Path</b></label>
                            <input class="form-control" formControlName="identityBackPath"
                                (change)="onFileSelected2($event)" type="file" />
                            <div *ngIf="identityBackPath?.invalid && identityBackPath?.touched && identityBackPath?.errors?.['required']"
                                style="color: red; font-size: 12px;">
                                Field is required
                            </div>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__linput"
                            [hidden]="identityProof?.value !='Driving License' && identityProof?.value != 'Passport'">
                            <label class="form__label"><b>Date of Birth</b></label>
                            <input *ngIf="identityProof?.value =='Driving License'"
                                [required]="identityProof?.value == 'Driving License' || identityProof?.value == 'Passport'"
                                class="form-control" id="dob" type="date" formControlName="drivingLicenceDob"
                                [max]="today" />

                            <input *ngIf="identityProof?.value =='Passport'"
                                [required]="identityProof?.value == 'Driving License' || identityProof?.value == 'Passport'"
                                class="form-control" id="dob" type="date" formControlName="passportDob" [max]="today" />
                            <div *ngIf="(identityProof?.value == 'Driving License' ? drivingLicenceDob : passportDob)?.invalid &&
                                         (identityProof?.value == 'Driving License' ? drivingLicenceDob : passportDob)?.touched &&
                                         (identityProof?.value == 'Driving License' ? drivingLicenceDob : passportDob)?.errors?.['required']"
                                style="color: red; font-size: 12px;">
                                Field is required
                            </div>
                        </div>
                        <div class="form__linput">

                        </div>
                    </div>

                    <div>
                        <button mat-raised-button matStepperNext [disabled]="firstFormGroup.invalid">Next</button>

                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Step 2">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Address</ng-template>

                    <div class="form__row">
                        <div class="form__linput">
                            <label class="form__label" for="identityType"><b>Address Proof</b></label>
                            <select formControlName="addressProof" class="form-select"
                                (change)="onAddressProofChange($event)">
                                <option hidden>Select..</option>
                                <option *ngIf="this.selectElement !='Aadhar Card'" value="Aadhar Card">Aadhar Card
                                </option>
                                <option *ngIf="this.selectElement !='Voter Id Proof'" value="Voter Id Proof">Voter Id
                                    Proof</option>
                                <option *ngIf="this.selectElement !='Passport'" value="Passport">Passport</option>
                                <option *ngIf="this.selectElement !='Driving License'" value="Driving License">Driving
                                    License</option>
                            </select>
                            <div *ngIf="addressProof?.invalid && addressProof?.touched && addressProof?.errors?.['required']"
                                style="color: red; font-size: 12px;">
                                Field is required
                            </div>
                        </div>

                        <div class="form__linput">
                            <label class="form__label"><b>Enter {{selectElements}} Number</b></label>
                            <input class="form-control" id="addressProofNo" type="text"
                                formControlName="addressProofNo" />
                            <div
                                *ngIf="addressProofNo && addressProofNo.invalid && (addressProofNo.touched || addressProofNo.dirty)">
                                <small *ngIf="addressProofNo.errors?.['required']"
                                    style="color: red; font-size: 12px;">This field is required.</small>
                                <small *ngIf="addressProofNo.errors?.['pattern']"
                                    style="color: red; font-size: 12px;">Enter a valid {{selectElements}}
                                    number.</small>
                            </div>
                        </div>

                    </div>

                    <div class="form__row">
                        <div class="form__linput">
                            <label class="form__label"><b>Upload Front Path</b></label>
                            <input class="form-control" formControlName="addressFrontPath"
                                (change)="onaddressfront($event)" type="file" />
                            <div *ngIf="addressFrontPath?.invalid && addressFrontPath?.touched && addressFrontPath?.errors?.['required']"
                                style="color: red; font-size: 12px;">
                                Field is required
                            </div>
                        </div>

                        <div class="form__linput">
                            <label class="form__label"><b>Upload Back Path</b></label>
                            <input class="form-control" formControlName="addressBackPath"
                                (change)="onaddressback($event)" type="file" />
                            <div *ngIf="addressBackPath?.invalid && addressBackPath?.touched && addressBackPath?.errors?.['required']"
                                style="color: red; font-size: 12px;">
                                Field is required
                            </div>
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__linput"
                            [hidden]="addressProof?.value !=='Driving License' && addressProof?.value !== 'Passport'">
                            <label class="form__label"><b>Date of Birth</b></label>
                            <input *ngIf="addressProof?.value =='Driving License'"
                                [required]="addressProof?.value == 'Driving License' || addressProof?.value == 'Passport'"
                                class="form-control" id="dob" type="date" formControlName="drivingLicenceDobs"
                                [max]="today" />
                            <input *ngIf="addressProof?.value =='Passport'"
                                [required]="addressProof?.value == 'Driving License' || addressProof?.value == 'Passport'"
                                class="form-control" id="dob" type="date" formControlName="passportDobs"
                                [max]="today" />
                            <div *ngIf="(selectElements === 'Driving License' ? drivingLicenceDobs : passportDobs)?.invalid &&
                                         (selectElements === 'Driving License' ? drivingLicenceDobs : passportDobs)?.touched &&
                                         (selectElements  === 'Driving License' ? drivingLicenceDobs : passportDobs)?.errors?.['required']"
                                style="color: red; font-size: 12px;">
                                Field is required
                            </div>
                        </div>
                        <div class="form__linput">

                        </div>
                    </div>
                    <div>
                        <button mat-raised-button matStepperPrevious>Back</button>
                        <button mat-raised-button matStepperNext [disabled]="secondFormGroup.invalid">Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="thirdFormGroup" label="Step 3">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Signature</ng-template>
                    <div class="form__row">
                        <div class="form__linput">
                            <label class="form__label" for="identityType"><b>Signature Proof</b></label>
                            <select formControlName="signatureProof" class="form-select"
                                (change)="onasignproof($event)">
                                <option hidden>Select..</option>
                                <option *ngIf="this.selectElements !='Pancard' && this.selectElement!='Pancard'"
                                    value="Pancard">Pancard</option>
                                <option *ngIf="this.selectElements !='Passport'&& this.selectElement!='Passport'"
                                    value="Passport">Passport</option>
                                <option
                                    *ngIf="this.selectElements !='Driving License' && this.selectElement!='Driving License'"
                                    value="Driving License">Driving License</option>
                            </select>
                            <div *ngIf="signatureProof?.invalid && signatureProof?.touched && signatureProof?.errors?.['required']"
                                style="color: red; font-size: 12px;">
                                Field is required
                            </div>
                        </div>

                        <div class="form__linput">
                            <label class="form__label"><b>Enter {{select}} Number</b></label>
                            <input class="form-control" id="signatureProofNo" type="text"
                                formControlName="signatureProofNo" />
                            <div
                                *ngIf="signatureProofNo && signatureProofNo.invalid && (signatureProofNo.touched || signatureProofNo.dirty)">
                                <small *ngIf="signatureProofNo.errors?.['required']"
                                    style="color: red; font-size: 12px;">This field is required.</small>
                                <small *ngIf="signatureProofNo.errors?.['pattern']"
                                    style="color: red; font-size: 12px;">Enter a valid {{select}} number.</small>
                            </div>
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__linput">
                            <label class="form__label"><b>Upload Front Path</b></label>
                            <input class="form-control" formControlName="signatureFrontPath"
                                (change)="onasignfront($event)" type="file" />
                            <div *ngIf="signatureFrontPath?.invalid && signatureFrontPath?.touched && signatureFrontPath?.errors?.['required']"
                                style="color: red; font-size: 12px;">
                                Field is required
                            </div>
                        </div>

                        <div class="form__linput">
                            <label class="form__label"><b>Upload Back Path</b></label>
                            <input class="form-control" formControlName="signatureBackPath"
                                (change)="onasignback($event)" type="file" />
                            <div *ngIf="signatureBackPath?.invalid && signatureBackPath?.touched && signatureBackPath?.errors?.['required']"
                                style="color: red; font-size: 12px;">
                                Field is required
                            </div>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__linput"
                            [hidden]="signatureProof?.value !='Driving License' && signatureProof?.value != 'Passport'">
                            <label class="form__label"><b>Date of Birth</b></label>
                            <input *ngIf="signatureProof?.value =='Driving License'"
                                [required]="signatureProof?.value == 'Driving License' || signatureProof?.value == 'Passport'"
                                class="form-control" id="dob" type="date" formControlName="drivingLicenceDobss"
                                [max]="today" />

                            <input *ngIf="signatureProof?.value =='Passport'"
                                [required]="signatureProof?.value == 'Driving License' || signatureProof?.value == 'Passport'"
                                class="form-control" id="dob" type="date" formControlName="passportDobss"
                                [max]="today" />
                            <div *ngIf="(select === 'Driving License' ? drivingLicenceDobss : passportDobss)?.invalid &&
                                         (select === 'Driving License' ? drivingLicenceDobss : passportDobss)?.touched &&
                                         (select  === 'Driving License' ? drivingLicenceDobss : passportDobss)?.errors?.['required']"
                                style="color: red; font-size: 12px;">
                                Field is required
                            </div>
                        </div>
                        <div class="form__linput">

                        </div>
                    </div>
                    <div>
                        <button mat-raised-button matStepperPrevious>Back</button>
                        <button mat-raised-button (click)="kycsubmit()"
                            [disabled]="thirdFormGroup.invalid">Finish</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>



    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>