<div class="container">

<div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Create Broadcaster Bouqutes </h5>
    <button type="button" class="btn btn-secondary" matDialogClose>Back</button>
</div>
<div class="well" style="margin-top: 0px;">

    <form [formGroup]="myForm">

        <div class="row">
            <div class="col-sm-12 form-group">
                <label for="Bussiness category">Select Broadcaster </label>
                <select formControlName="bundleChannelId" id="Bussiness category" class="form-control form-select">
                    <option value="" disabled selected>Select</option>
                    <option *ngFor="let item of details" [value]="item.bundleChannelId">{{item.broadCasterName}}
                    </option>


                </select>
                <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  "
                    *ngIf="bundleChannelId?.invalid && bundleChannelId?.touched && bundleChannelId?.errors?.['required']">
                    Field is required
                </div>
            </div>

            <div class="col-sm-12 form-group ">
                <label for="Entity Name">Bouquet Name</label>
                <input type="text" id="Entity Name" formControlName="bouquetName" class="form-control">
                <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="bouquetName?.invalid && bouquetName?.touched && bouquetName?.errors?.['required']">
                    Field is required
                </div>
            </div>

            <div class="col-sm-12 form-group ">
                <label for="Entity Name">Channels List</label>
                <mat-select #selects style="font-size: 12px;" class="form-select" multiple formControlName="alcotId">
                    <div class="select-all">
                        <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}"
                            (change)="toggleAllSelection()">Select All</mat-checkbox>
                    </div>
                    <mat-option [value]="items.alcotId" *ngFor="let items of channelslist">{{items?.channelslist}}

                        {{items?.channelName}}</mat-option>
                </mat-select>

                <div style="
            color: red;
            font-size: 12px;
            margin-top: 2px;
            position: relative;
            ;
          " *ngIf="alcotId?.invalid && alcotId?.touched && alcotId?.errors?.['required']">
                    Field is required
                </div>
            </div>

            <div class="col-sm-12 form-group ">
                <label for="Entity Name">Bouquet Price</label>
                <input type="text" id="Entity Name" formControlName="amount" class="form-control">
                <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="amount?.invalid && amount?.touched && amount?.errors?.['required']">
                    Field is required
                </div>
            </div>
        </div>

        <div style="margin-top: 2%;">
            <button (click)="submit()" [disabled]="myForm.invalid" type="submit" class="btn mx-1 "
                style="background-color:#7db855be">Submit</button>

        </div>
    </form>

</div>