<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css"
/>
<div class="container">
  <div class="form-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Fargin Create</h5>
    <button type="button" class="btn btn-secondary" matDialogClose>Back</button>
  </div>

  <div class="well">
    <form [formGroup]="BankFormedit">
      <div class="row mb-3">
        <div class="col-sm-4 form-group">
          <label for="accountHolderName"> Account Holder Name*</label>
          <input
            type="text"
            id="Entity Name"
            placeholder="Enter Account Holder Name"
            class="form-control"
            formControlName="accountHolderName"
          />
          <span
            class="error"
            *ngIf="accountHolderName?.touched && accountHolderName?.errors?.['required']"
            >Field Is Required</span
          >
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="accountHolderName?.invalid && accountHolderName?.touched && accountHolderName?.errors?.['pattern']"
          >
            Please enter only letters(max 50 characters)
          </div>
        </div>

        <div class="col-sm-4 form-group">
          <label for="accountNumber"> Account Number*</label>
          <input
            type="text"
            id="Entity Name"
            placeholder="Enter Account Number"
            class="form-control"
            formControlName="accountNumber"
          />
          <span
            class="error"
            *ngIf="accountNumber?.touched && accountNumber?.errors?.['required']"
            >Field Is Required</span
          >
        </div>

        <div class="col-sm-4 form-group">
          <label> Bank Name*</label>
          <input
            type="text"
            id="Entity Name"
            placeholder="Enter Bank Name"
            class="form-control"
            formControlName="bankName"
          />
          <span
            class="error"
            *ngIf="bankName?.touched && bankName?.errors?.['required']"
            >Field Is Required</span
          >
          <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="bankName?.invalid && bankName?.touched && bankName?.errors?.['pattern']">
                         Please enter only letters,(max 50 characters)

                    </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-4 form-group">
          <label for="ifscCode">IFSC Code</label>
          <input
            type="text"
            placeholder="ifscCode.."
            class="form-control"
            formControlName="ifscCode"
          />
          <span
            class="error"
            *ngIf=" ifscCode?.invalid && ifscCode?.touched && ifscCode?.errors?.['required']"
          >
            Field is Required*</span
          >
        </div>
        <div class="col-sm-4 form-group">
          <label>Branch Name</label>
          <input
            type="text"
            id="zip"
            placeholder="branchName.."
            class="form-control"
            formControlName="branchName"
            minlength="10"
            maxlength="10"
          />
          <span
            class="error"
            *ngIf=" branchName?.invalid && branchName?.touched && branchName?.errors?.['required']"
          >
            Field is Required*</span
          >
          <div style="
          color: red;
          font-size: 12px;
          margin-top: 2px;
          position: relative;
          ;
        " *ngIf="branchName?.invalid && branchName?.touched && branchName?.errors?.['pattern']">
             Please enter only letters(max 50 characters)
          </div>
        </div>

        <div class="col-sm-4 form-group">
          <label for="Mcc Code">PG Ledger ID</label>
          <input
            type="text"
            id="ledgerId"
            placeholder="ledgerId.."
            class="form-control"
            formControlName="ledgerId"
          />
          <span
            class="error"
            *ngIf=" ledgerId?.invalid && ledgerId?.touched && ledgerId?.errors?.['required']"
          >
            Field is Required*</span
          >
          <div style="color: red; font-size: 12px; margin-top: 2px;"
          *ngIf="ledgerId?.invalid && ledgerId?.touched && ledgerId?.errors?.['pattern']">
      Max 10 digits and only numbers are allowed.
      </div>
        </div>
      </div>

      <div>
        <button
          type="submit"
          class="btn mx-1"
          style="background-color: #7db855be"
          (click)="submit()"
        >
          Submit
        </button>
        <button
          matDialogClose
          type="submit"
          class="btn"
          style="background-color: #141e46; color: white"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
