<div class="card-header">
    <h5 class="mb-0" style="font-weight: 700;color:#141E46;">{{"LCOP Plan Update"|translate}}</h5>
    <!-- <button  class ="button1 ml-3"  (click)="close()">Back</button> -->
</div>



<body class="page">
    <form style="width: 934px;" autocomplete="off" class="form" role="form" [formGroup]="lcopedit">
        <span style="font-size: 17px;
        font-weight: 500;
        margin-bottom: 11px;">*{{"Lcop Final Amount"|translate}} ₹{{OverplanAmount}}</span>

        <div class="row">
            <div class="col-4 form-group">
                <label class="form__label" for="fname">{{"Free Channels"|translate}}</label>
                <mat-select #select style="font-size: 14px;width: 280px;" class="form-select" multiple
                    formControlName="free">
                    <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{ standalone: true }"
                        (change)="toggleAllSelection()">Select All</mat-checkbox>

                    <mat-option *ngFor="let data of FreeChannelsforEdit" [value]="data.alcotId">
                        {{ data.channelName }}
                    </mat-option>
                </mat-select>
                <!-- <div style="color: red; font-size: 12px; margin-top: 2px"
                    *ngIf="free?.invalid && free?.touched && free?.errors?.['required']">
                    Field is required
                </div> -->
            </div>

            <div class="col-4 form-group">
                <label class="form__label" for="fname">{{"Paid Channels"|translate}}</label>
                <mat-select #selects style="font-size: 14px;width: 280px" class="form-select" multiple
                    formControlName="paid">
                    <mat-checkbox [(ngModel)]="allSelected1" [ngModelOptions]="{ standalone: true }"
                        (change)="toggleAllSelection1()">{{"Select All"|translate}}</mat-checkbox>

                    <mat-option *ngFor="let data of PaidChannelsforEdit" [value]="data.alcotId">
                        {{ data.channelName }}
                    </mat-option>
                </mat-select>
                <!-- <div style="color: red; font-size: 12px; margin-top: 2px"
                    *ngIf="paid?.invalid && paid?.touched && paid?.errors?.['required']">
                    Field is required
                </div> -->
            </div>
            <div class="col-4 form-group">
                <label class="form__label" for="fname">{{"BroadCaster Plans"|translate}}</label>
                <mat-select #selectsplan style="font-size: 14px;" class="form-select" multiple formControlName="plans">
                    <mat-checkbox [(ngModel)]="allSelected2" [ngModelOptions]="{ standalone: true }"
                        (change)="toggleAllSelection2()">{{"Select All"|translate}}</mat-checkbox>

                    <mat-option *ngFor="let data of BouquetsforEdit" [value]="data.bouquetId">
                        {{ data.bouquetCreation?.bouquetName }}
                    </mat-option>
                </mat-select>
                <!-- <div style="color: red; font-size: 12px; margin-top: 2px"
                    *ngIf="plans?.invalid && plans?.touched && plans?.errors?.['required']">
                    Field is required
                </div> -->
            </div>
        </div>

        <div class="row">
          
        </div>


        <div>
            <button (click)="Calculate()" type="submit" class="btn mx-1"
                style="background-color: #141e46; color: white">
                {{"Calculate Package Amount"|translate}}
            </button>
        </div>

        <div style="margin-top: 3%" *ngIf="Viewamount">
            <label style="font-size: 16px;font-weight: 600;" for="exampleCheck1">{{"The Selected Channels / Plans Package Overall Amount is"|translate}}
            {{ CalculatedAmount }}<br /></label>
        </div>
        &nbsp;&nbsp;

        <div class="row">
            <div class="col-4">
                <label class="form__label" for="fname">{{"Plan Name"|translate}}</label>
                <input [(ngModel)]="plannames" type="text" class="form__input" formControlName="lcop" style="font-size: 14px;" />
                <div style="color: red; font-size: 12px; margin-top: 2px"
                    *ngIf="lcop?.invalid && lcop?.touched && lcop?.errors?.['required']">
                    Field is required
                </div>
            </div>

            <div class="col-4">
                <label class="form__label" for="fname" style="text-wrap: nowrap;">{{"Selected Package Amount"|translate}}</label>
                <input [(ngModel)]="SelectedPackageAmount" type="text" class="form-control" readonly formControlName="lpamount"
                    [ngModel]="SelectedPackageAmount || CalculatedAmount" style="font-size: 14px;" />
                <div style="color: red; font-size: 12px; margin-top: 2px"
                    *ngIf="lpamount?.invalid && lpamount?.touched && lpamount?.errors?.['required']">
                    Field is required
                </div>
            </div>
            <div class="col-4">
                <label class="form__label" for="fname">{{"Margin Amount"|translate}}</label>
                <input [(ngModel)]="price"  type="text" class="form__input" formControlName="lpoverall" style="font-size: 14px;" />
                <div style="color: red; font-size: 12px; margin-top: 2px"
                    *ngIf="lpoverall?.invalid && lpoverall?.touched && lpoverall?.errors?.['required']">
                    Field is required
                </div>
            </div>
        </div>
        <div class="mt-3">
            <button  (click)="Lcopedit()" type="submit" class="btn mx-1 "
                style="background-color:#7db855be">{{"Submit"|translate}}</button>
            <button type="submit" class="btn" style="background-color: #141e46; color: white" matDialogClose
                (click)="close()">
                {{"Cancel"|translate}}
            </button>
        </div>
    </form>
</body>