<div class="form-header d-flex justify-content-between align-items-center mx-auto">
    <h4 class="mb-0"><b>MSO:</b> {{broadCasterBouquet?.serviceProvider.serviceProviderName}}</h4>
    <button type="button" class="btn btn-secondary" style="font-size: 13px;" (click)="close()">Back</button>
 
</div>
<hr>
<!-- <div>
    <article class="card car-details label-info" style="padding:1%;padding-left: 25px;">
        <div class="w-100">
            <div class="d-flex flex-md-row flex-column">
                <h4 class="mr-3">{{details?.bouquetCreation?.bouquetName}} ₹{{details?.amount}}</h4>
            </div>
 
        </div>
    </article>
</div> -->
 
 
<div class="row">
    <div class="col-md-3 mt-2">
        <div class="search ">
            <form class="form">
                <label for="search">
                    <input (ngModelChange)="onSearchTextChange()" #input name="search" required autocomplete="off" placeholder="Search" id="search" type="text" [(ngModel)]="searchText">
   
                    <div class="icon">
                        <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="swap-on">
                            <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                stroke-linecap="round"></path>
                        </svg>
                        <!-- <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="swap-off">
                            <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round"
                                stroke-linecap="round">
                            </path>
                        </svg> -->
                    </div>
                    <button type="reset" class="close-btn">
                        <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                fill-rule="evenodd"></path>
                        </svg>
                    </button>
                </label>
            </form>
        </div>
    </div>
    <div class="col-md-6">
    </div>
    <div class="d-flex justify-content-end col-md-3 mt-2">
        <button (click)="addChaneels(broadCasterBouquet.bouquetId,broadCasterRegion?.broadCasterRegionId)" style="color:white;background-color: #141E46;border-radius: 10px;"
            mat-raised-button>Add</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12 mb-3 mb-lg-5">
        <div class="card table-nowrap table-card">
            <div class="table-responsive text-nowrap text-center">
                <table class="table table-hover" id="customers">
                    <tr>
                        <th>S No </th>
                        <th>Channel Name</th>
                        <th>Channel Number</th>
                        <th>Channel Broadcaster</th>
                        <th>Mso</th>
                        <th>Region</th>
                        <th>Generic</th>
                        <th>Language</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Edit</th>

                    </tr>
                    <span *ngIf="this.flag==2" style="color:red;">No Data</span>
 
                    <tbody
                        *ngFor="let item of channelslist | search: searchText | paginate: { itemsPerPage: 3, currentPage: currentPage }; let i = index">
                        <!-- <div *ngIf="(channelslist|filterBy:term)?.length===0" class="text-center">
                            <h6 style="color:red;">No Data Found</h6>
                        </div> -->
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">{{item.broadCasterAlcot?.channelName}}</td>
                        <td class="text-center">{{item.broadCasterAlcot?.channelNo}}</td>
                        <td class="text-center">{{item.broadCasterAlcot?.bundleChannelId?.broadCasterName}}</td>
                        <td class="text-center">{{item.broadCasterAlcot?.region?.service?.serviceProviderName}}</td>
                        <td class="text-center">{{item.broadCasterRegion.broadCasterRegion.stateName}}</td>
                        <td class="text-center">{{item.broadCasterAlcot?.generic}}</td>
                        <td class="text-center">{{item.broadCasterAlcot?.language}}</td>
                        <td class="text-center">{{item.broadCasterAlcot?.type == 1?'Paid':'Free'}}</td>
                        <td class="text-center">
                             <mat-slide-toggle class="example-margin" color="primary"
                                [checked]="item?.channelStatus==1"
                                (change)="ActiveStatus($event,item?.broadCasterAloctId)" 
style="transform: scale(0.9);padding:0">
                            </mat-slide-toggle>
                        </td>

                        <!-- <td class="text-center">
                            <i style="cursor: pointer;font-size:15px; color:#545497;" class="fas fa-edit"
                            (click)="Edit(details?.bouquetId, item.broadCasterRegionId)"></i>
                        </td>
                    -->
                    <td class="text-center">
                        <i style="cursor: pointer;font-size:15px; color:#545497;;padding:0" class="fas fa-edit"
                        (click)="Edit(item.broadCasterAlcot?.region?.regionId,item.broadCasterAloctId)"></i>
                    </td>
               

                    </tbody>
                </table>
             
            </div>
            <div class="text-end mt-3">
                <pagination-controls (pageChange)="currentPage= $event"></pagination-controls>
            </div>
            </div>
            </div>
            </div>