<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
  referrerpolicy="no-referrer" />

<body>

  <div class="bg-white rounded-2xl p-10 text-center shadow-lg text-gray-500" class="container">
    <div class="one">
      <h1 class="text-3xl">Change Password</h1>
    </div>
    <form [formGroup]="changeForm">
      <div class="my-2 text-left">
        <label for="password" class="text-sm">Old Password:</label>
        <input type="password" class="border block w-full p-2 mt-2 rounded-full" formControlName="oldpassword"
          placeholder="Enter Old password" type="password" #passwordInput maxlength="35">
        <i class="eye" style="font-size: 16px;position: relative;top:-30px;left:340px"
          (click)="togglePasswordVisibility(passwordInput)" class="fa fa-eye" [ngClass]="{
    'fa-eye-slash': !showPassword,
    'fa-eye': showPassword
  }"></i>
        <div style="
       color: red;
       font-size: 12px;
       margin-top: 1px;
       position: relative;
       ;
     " *ngIf="oldpassword?.touched && oldpassword?.errors?.['required']">
          Please Enter a New Password*
        </div>
      </div>
      <div style="
      color: red;
      font-size: 12px;
      margin-top: -24px;

      position: relative;
      ;
    " *ngIf="oldpassword?.touched && oldpassword?.errors?.['pattern']">
        Password Must Contain Minimum 8 characters which Includes at Least One [A-Z],One [a-z],One [0-9] and One [! # $
        % ^ & *]
      </div>


      <div class="my-2 text-left">
        <label for="password" class="text-sm">New Password:</label>
        <input type="password" class="border block w-full p-2 mt-2 rounded-full" placeholder="Enter New password"
          type="password" #passwordInput1 maxlength="35" required formControlName="newpassword">

        <i class="eye" style="font-size: 16px;position: relative;top:-30px;left:340px"
          (click)="togglePasswordVisibility1(passwordInput1)" class="fa fa-eye" [ngClass]="{
       'fa-eye-slash': !showPassword1,
       'fa-eye': showPassword1
     }"></i>
        <span class="error"
          *ngIf=" newpassword?.invalid && newpassword?.touched && newpassword?.errors?.['required']">Please Enter New
          Password*</span>
        <div class="error" *ngIf="newpassword?.invalid && newpassword?.touched && newpassword?.errors?.['pattern']">
          Password Must Contain Minimum 8 characters which Includes at Least One [A-Z],One [a-z],One [0-9] and One [! #
          $
          % ^ & *]
        </div>
      </div>
      <div class="my-2 text-left">
        <label for="password" class="text-sm">Confirm Password:</label>
        <input formControlName="confirmpassword" type="password" class="border block w-full p-2 mt-2 rounded-full" placeholder="Enter Confirm password"
          autocomplete="new-password" name="confirmpsw" #passwordInput2
          (keyup)="checkConform(passwordInput1.value,passwordInput2.value)">
        <i class="eye" style="font-size: 16px;position: relative;top:-30px;left:340px                                                                                                                                              
      " (click)="togglePasswordVisibility2(passwordInput2)" class="fa fa-eye" [ngClass]="{
      'fa-eye-slash': !showPassword2,
      'fa-eye': showPassword2
    }"></i>
        <span class="error"
          *ngIf=" confirmpassword?.invalid && confirmpassword?.touched && confirmpassword?.errors?.['required']">Please
          Confirm
          Password*</span>
        <span class="error"
          *ngIf="confirmpassword?.invalid && confirmpassword?.touched && confirmpassword?.errors?.['pattern']">
          Password Must Contain Minimum 8 characters which Includes at Least One [A-Z],One [a-z],One [0-9] and One [! #
          $
          % ^ & *]
  </span>
      </div>

      <div [ngClass]="{
      correctpassword: error == 'Going good!!',
      wrongpassword: error == 'Password Mismatch'
 
    }" class="errormess">
        {{ error }}

      </div>

    </form>
    <div>
      <button [disabled]="changeForm.invalid" (click)="Onsubmit()" type="submit" class="btn mx-1 "
        style="background-color:#7db855be">Submit</button>
      <button type="submit" class="btn" style="background-color:#141E46;color:white" matDialogClose>Cancel</button>
    </div>
  </div>
</body>