<div class="card-header d-flex justify-content-between align-items-center">
  <h5 class="mb-0" style="color:black;">Change Password</h5>
</div>

<body class="page">
  <main class="main page__main">
    <form class="form main__form" autocomplete="off" class="form" [formGroup]="changeForm">



      <div class="form__linput">
        <label class="form__label">Old Password</label>
        <div class="flex items-center border mt-1 form-control">
          <input onpaste="return false;" type="password" formControlName="oldpassword"
            placeholder="Enter Old Password, pasting disabled" #passwordInput maxlength="35" />
          <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
            (click)="togglePasswordVisibility(passwordInput)" style="padding-right: 12px; cursor: pointer;"></i>
        </div>
        <div style="
       color: red;
       font-size: 12px;
       margin-top: 1px;
       position: relative;
       ;
     " *ngIf="oldpassword?.touched && oldpassword?.errors?.['required']">
          Please enter your old password
        </div>
      </div>

      <div class="form__linput">
        <label class="form__label">New Password</label>
        <div class="flex items-center border mt-1 form-control">
          <input onpaste="return false;" (keyup)="checkConform(passwordInput1.value, passwordInput2.value)"
            type="password" #passwordInput1 formControlName="newpassword"
            placeholder="Enter New Password, pasting disabled" maxlength="35" required />
          <i class="fa" [ngClass]="showPassword1 ? 'fa-eye' : 'fa-eye-slash'"
            (click)="togglePasswordVisibility1(passwordInput1)" style="padding-right: 12px; cursor: pointer;"></i>
        </div>

        <span class="error"
          *ngIf=" newpassword?.invalid && newpassword?.touched && newpassword?.errors?.['required']">Please enter a new
          password</span>
        <div class="error" *ngIf="newpassword?.invalid && newpassword?.touched && newpassword?.errors?.['pattern']">
          Password Must Contain Minimum 8 characters which Includes at Least One [A-Z],One [a-z],One [0-9] and One [! #
          $
          % ^ & *]
        </div>
      </div>

      <div class="form__linput">
        <label class="form__label">Confirm Password</label>
        <div class="flex items-center border mt-1 form-control">
          <input onpaste="return false;" formControlName="confirmpassword" type="password"
            placeholder="Enter Confirm Password , pasting disabled" autocomplete="new-password" name="confirmpsw"
            #passwordInput2 (keyup)="checkConform(passwordInput1.value, passwordInput2.value)" />
          <i class="fa" [ngClass]="showPassword2 ? 'fa-eye' : 'fa-eye-slash'"
            (click)="togglePasswordVisibility2(passwordInput2)" style="padding-right: 12px; cursor: pointer;"></i>
        </div>

        <span class="error"
          *ngIf=" confirmpassword?.invalid && confirmpassword?.touched && confirmpassword?.errors?.['required']">Please
          confirm your password</span>
        <span class="error" *ngIf="confirmpassword?.touched && confirmpassword?.errors?.['pattern']">
        </span>
        <span class="error" *ngIf="error" [style.color]="isPasswordMatch ? 'green' : 'red'">{{ error }}</span>
      </div>


      <div class="mt-3">
        <button [disabled]="newpassword?.value !== confirmpassword?.value || changeForm.invalid" (click)="Onsubmit()"
          type="submit" class="btn mx-1" style="background-color:#bcdf72">
          Submit
        </button>
        <button type="submit" class="btn" style="background-color:#141E46;color:white" matDialogClose>Cancel</button>

      </div>


    </form>
  </main>
</body>