<h4 style="text-align:left;color:#141E46;">Additional Payments</h4>
<mat-card-header>
    <div class="row ">
        <div class="col-3 mt-4">
            <div class="search ">
                <form class="form">
                    <label for="search">
                        <input #input   required="" autocomplete="off" placeholder="Search"
                            id="search" type="text" name="search" [(ngModel)]="currentfilVal">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round">
                                </path>
                            </svg>
                            <!-- <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round">
                                </path>
                            </svg> -->
                        </div>
                        <button  (click)="reload()" type="reset" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
                </form>
     
            </div>
       
        </div>
        <div class="col-1 mt-4" >
            <button (click)="CustomerAdmin(currentfilVal)" style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button>Go</button>
        </div>
        <div class="col-1" style="margin-top:25px;">
        <button style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button
        (click)="exportexcel()" [hidden]="valuepaymentexport!=='Additional Payments-Export'">Export</button>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
       
        <div class="col-2">
            <label><b>From Date:</b></label>
            <input class="form-control" type="date" name="FromDate" [(ngModel)]="FromDateRange"
                style="height:35px;width:150px;border-radius: 5px;">
        </div>
        <div class="col-2">
            <label><b>To Date:</b></label>
            <input class="form-control" type="date" name="ToDate" [(ngModel)]="ToDateRange"
                style="height:35px;width:150px;border-radius: 5px;">
        </div>
     
        <div class="col-1 mt-4">
            <button style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button
                (click)="filterdate()">Filter</button>
        </div>
     
        <div class="col-1 mt-4">
            <button style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button
                (click)="reset()">Reset</button>
        </div>
     
    </div></mat-card-header>
<!-- <mat-card> -->
<mat-card-content>
    <div class="table-responsive text-nowrap mt-4" style="overflow-x: scroll; scrollbar-width: thin;">
   
         <span *ngIf="showcategoryData" style="text-align:center;color:red;" >NO DATA FOUND</span>
        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!
        showcategoryData
        ">
            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> S.No</th>
                <td mat-cell *matCellDef="let viewall; let i = index"> {{i+1}} </td>
            </ng-container>
 

            <ng-container matColumnDef="paymentId">
                <th mat-header-cell *matHeaderCellDef>Payment ID</th>
                <td mat-cell *matCellDef="let transaction">{{ transaction.pgPaymentId ||'--' }}</td>
            </ng-container>
            <ng-container matColumnDef="entityname">
                <th mat-header-cell *matHeaderCellDef>Entity Name</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction?.customerId?.merchantId?.entityName }}</td>
            </ng-container>
            <ng-container matColumnDef="customername">
                <th mat-header-cell *matHeaderCellDef>Customer Name</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction?.customerId?.customerName }}</td>
            </ng-container>
            <ng-container matColumnDef="paymentmethod">
                <th mat-header-cell *matHeaderCellDef>Payment Method</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction?.paymentMethod }}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.paidAmount}}</td>
            </ng-container>

            <ng-container matColumnDef="createdDateTime">
                <th mat-header-cell *matHeaderCellDef>Due Generated At</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.createdDateTime | date : "dd/MM/yyyy hh:mm a" }}
                </td>
            </ng-container>
 
            <ng-container matColumnDef="paidAt">
                <th mat-header-cell *matHeaderCellDef>Paid At</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.paymentDateTime | date : "dd/MM/yyyy hh:mm a" }}
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let transaction">
                    <span *ngIf="transaction?.paymentStatus == 'Success'" class="text-success"> {{
                        transaction?.paymentStatus}}</span>
                    <span *ngIf="transaction?.paymentStatus   == 'Due Pending'" class="text-warning"> {{
                        transaction?.paymentStatus}}</span>
                    <span *ngIf="transaction?.paymentStatus  == 'Initiated'" class="text-primary"> {{
                        transaction?.paymentStatus}}</span>
                    <span *ngIf="transaction?.paymentStatus  == 'Failure'" class="text-danger"> {{
                        transaction?.paymentStatus}}</span>
 
                </td>
            </ng-container>
 
            <ng-container matColumnDef="Receipt">
                <th [hidden]="valuepaymentReceipt!=='Additional Payments-Receipt'" mat-header-cell *matHeaderCellDef >Receipt</th>
                <td [hidden]="valuepaymentReceipt!=='Additional Payments-Receipt'" mat-cell *matCellDef="let viewall" >
                    <!-- <button class="btn btn-success btn-sm"  [disabled]="viewall?.paymentStatus!='Success'" >   <i  class="fas fa-receipt" (click)="Receipt(viewall.customerPayId)"></i></button> -->
                    <button class="btn btn-success btn-sm" [disabled]="viewall?.paymentStatus!='Success'"
                        style="border:none;" (click)="Receipt(viewall.customerpaymentId)"> <i class="fa-solid fa-download" style="color:#fff;"></i></button>
                </td>
            </ng-container>
 
            <ng-container matColumnDef="CheckStatus">
                <th [hidden]="valuepaymentCheckStatus!=='Additional Payments-Check Status'" mat-header-cell *matHeaderCellDef>Check Status</th>
                <td  [hidden]="valuepaymentCheckStatus!=='Additional Payments-Check Status'" mat-cell *matCellDef="let viewall">
                  <button class="btn btn-primary btn-sm" [disabled]="viewall?.paymentStatus  != 'Initiated'" (click)="track(viewall)" style="border-radius: 10px;background-color: #141E46;"> <i style="font-size:15px;color:white;cursor: pointer;" class="fa">&#xf00c;</i></button>
                </td>
            </ng-container>
 
            <ng-container matColumnDef="view">
                <th [hidden]="valuepaymentview!=='Additional Payments-View'" mat-header-cell *matHeaderCellDef >View</th>
                <td [hidden]="valuepaymentview!=='Additional Payments-View'" mat-cell *matCellDef="let transaction">
                    <i style="cursor: pointer;" class="fas fa-eye" style="font-size: 16px;color: rgb(39, 39, 95);"
                        (click)="transactionview(transaction?.customerpaymentId)"></i>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
                <td class="mat-cell" colspan="4">No Data Found
                    {{input.value}}
                </td>
            </tr>
        </table>
    </div>
</mat-card-content>
<mat-card-footer>
    <div class=" row d-flex justify-content-end mt-3 mx-2" *ngIf="filter">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button style="color:white;background-color: #141E46;">Total Entries:{{this.totalPages}}</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex(pageIndex - 1)"
                [hidden]="pageIndex === 0">Previous</button>
            <button style="color:white;background-color: #141E46;">{{ this.currentpage}} of {{this.totalpage}}
                Pages</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex(pageIndex + 1)"
                [hidden]="pageIndex >= totalpage - 1">Next</button>
        </div>
 
    </div>
 
    <div class=" row d-flex justify-content-end mt-3 mx-2" *ngIf="filter1">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button style="color:white;background-color: #141E46;">Total Entries:{{this.totalPages1}}</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex1(pageIndex1 - 1)"
                [hidden]="pageIndex1 === 0">Previous</button>
            <button style="color:white;background-color: #141E46;">{{this.currentpage1}} of {{this.totalpage1}}
                Pages</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex1(pageIndex1 + 1)"
                [hidden]="pageIndex1 >= totalpage1 - 1">Next</button>
        </div>
    </div>
    <div class=" row d-flex justify-content-end mt-3 mx-2" *ngIf="filters">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button style="color:white;background-color: #141E46;">Total Entries:{{this.totalPages2}}</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex2(pageIndex2 - 1)"
                [hidden]="pageIndex2 === 0">Previous</button>
            <button style="color:white;background-color: #141E46;">{{this.currentpage2}} of {{this.totalpage2}}
                Pages</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex2(pageIndex2 + 1)"
                [hidden]="pageIndex2 >= totalpage2 - 1">Next</button>
        </div>
    </div>
</mat-card-footer>