

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font: inherit;
}

.page {

  background-color: #fff;
  display: grid;
  grid-template-areas: "main";
  height: auto;
  font-family: var(--font-sans);
  width: 100%;
  max-width: 510px;
  margin: 0 auto;
}

.page__main {
  grid-area: main;
}

.main {
  display: grid;
  justify-items: center;
  align-items: center;
}

.main__form {
  width: 100%;
  max-width: 30em;
}

.form {
 
  background-color: #fff;
  display: grid;
  gap: 10px;
  width: 100%;
  max-width: 100%;
 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.form__row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.form__linput {
  flex: 1;
  min-width: 200px;
}

.form__label {
  font-weight: 500;
  margin-bottom:10px;
}

.form__input,
.form__select,
.form__textarea {
  padding: 0.5em 0.7rem;
 
  width: 100%;
}

.form__select {
  background: inherit;
}

.form__textarea {
  padding: 1em 0.7rem;
  resize: vertical;
  font: inherit;
}



/* .primary-btn:hover {
  background-color: var(--green-6);
} */

.flex {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.submit,
.cancel {
  border: none;
  /* border-radius: var(--radius-2); */
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit {
  background-color: #1a202c;
  color: #fff;
}

.submit:hover {
  background-color: #2d3748;
}

.cancel {
  background-color: #b44640;
  color: #fff;
}

.cancel:hover {
  background-color: #c53030;
}



@media (max-width: 600px) {
  .main__form {
    padding: 10px;
  }

  .form {
    padding: 10px;
  }

  .submit,
  .cancel {
    padding: 0.5em 1em;
    font-size: 0.875rem;
  }
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bcdf72;
  color: #141E46;
  font-family: "Roboto";
  padding: 10px;
}

mat-select {
  width: 100%;
  max-width: 475px;
}



.note {
  background-color: #f8f9fa;
  border-left: 4px solid #007bff;
  padding: 8px 12px;
  border-radius: 4px;
  margin-top: 4px;
  font-size: 12px;
  color: #495057;
  display: flex;
  align-items: center;
  gap: 8px;
}

.note ul li {
  margin: 0;
  line-height: 1.4;
}

.icon-info {
  font-size: 14px;
  color: #007bff;
}
