

.container {
  max-width: 900; /* Increase container width */
}

.form-header {
  background-color: #141E46 ; /* Header background color */
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0; /* Rounded corners on top */
  margin-bottom: 0.5rem;
}

.form-group label {
  font-weight: 500;
}

.form-control {
  border-radius: 0.375rem;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  background-color: #138496;
  border-color: #117a8b;
}

.btn {
  border-radius: 0.375rem;
}

.well {
  background-color: #ffffff; /* Card background color */
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); /* Light shadow */
}

@media (max-width: 576px) {
  .form-group label {
      font-size: 0.9rem; /* Adjust label font size for smaller screens */
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  background-color:rgba(221, 160, 221, 0.356) ;
  color: #52036e;
  font-family: "Roboto";
}

.errormess{
  color: red;
  }
  .btn-toggle {
    border-radius: 0.375rem;
    border: 1px solid #dee2e6;
    padding: 0.5rem 1rem;
    background-color: #f8f9fa;
    color: #495057;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-toggle.active {
    background-color: #7db855be;
    color: white;
    border-color: #7db855be;
  }
  
  .btn-toggle:not(.active):hover {
    background-color: #e9ecef;
    color: #495057;
  }
  
  /* .nav-tabs {
    border-bottom: 2px solid #e5e5e5; 
    background-color: #ffffff; 
    padding: 10px 10px;
  
  
}

.nav-link {
    display: block; 
    text-align: center; 
    border: 1px solid transparent;
    width:400px;
    padding: 15px 30px;
    margin-right: 10px;
    font-weight: 600;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
}
#nav
{
  background-color: rgb(230, 228, 228);
  font-size: larger;
}
.nav-link.bank-account {
    background: #d1ecf1; 
    color: #0c5460;
    border: 1px solid #bee5eb;
}

.nav-link.bank-account.active {
    background: #0c5460; 
    color: #ffffff; 
    border: 1px solid #0c5460;

}

.nav-link.upi {
    background: #e2e3e5;
    color: #383d41;
    border: 1px solid #d6d8db;
}

.nav-link.upi.active {
    background: #383d41; 
    color: #ffffff; 
    border: 1px solid #383d41; 
}

.nav-link:hover {
    background: #f1f1f1;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.nav-item + .nav-item {
    margin-left: 10px; 
} */
#nav
{
 
  font-size: medium;
  width:466px;
  border: 3px soild tan;
  text-align: center;
  
}