<!--   -->

<h4 style="text-align:left;color:#141E46;">{{"Support Request"|translate}}</h4>
<span style="    font-size: 14px;
font-weight: 500;
color: blue;">{{"Sticker Note"|translate}}</span>

<mat-card-header>
    <div class="row mt-4">

        <div class="col">

            <div class="search ">
                <form class="form">
                    <label for="search">
                        <input #input required autocomplete="off" placeholder="Search" id="search" type="text">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <button (click)="reload()" type="reset" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
                </form>

            </div>&nbsp;&nbsp;&nbsp;
            <button (click)="serviceticket(this.merchantId,input.value)"
                style="color:white;background-color: #141E46;border-radius: 10px;"
                mat-raised-button>{{"Go"|translate}}</button>
            &nbsp;
            <button style="color:white;background-color: #141E46;border-radius: 10px;" class="custom-btn btn-10 me-3"
                data-bs-toggle="modal" data-bs-target="#ApprovalEdits" mat-raised-button (click)="addTicket()"
                [hidden]="valueTicketsAdd!=='Support Request-Add'">{{"Create"|translate}}</button>
            <button style="color:white;background-color: #141E46;border-radius: 10px;" (click)=" exportexcel()"
                [hidden]="valueTicketsExport!=='Support Request-Export'" mat-raised-button>{{"Export"
                |translate}}</button>


        </div>
    </div>
</mat-card-header>

<mat-card-content>

    <div class="table-responsive text-nowrap mt-4" style="overflow-x: scroll; scrollbar-width: thin;">

        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1"
            *ngIf="!showcategoryData">

            <ng-container matColumnDef="raiseTicketId">
                <th mat-header-cell *matHeaderCellDef>{{"S.No"|translate}}</th>
                <td mat-cell *matCellDef="let data; let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="ticketid">
                <th mat-header-cell *matHeaderCellDef>{{"Ticket Id"|translate}}</th>
                <td mat-cell *matCellDef="let data">
                    {{data?.ticketId}}
                </td>
            </ng-container>

            <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef>{{"Subject"|translate}}</th>
                <td mat-cell *matCellDef="let data">
                    {{data?.subject}}
                </td>
            </ng-container>

            <ng-container matColumnDef="stickerCount">
                <th mat-header-cell *matHeaderCellDef>{{"Sticker count"|translate}}</th>
                <td mat-cell *matCellDef="let data">
                    {{data?.stickerCount}}
                </td>
            </ng-container>

            <ng-container matColumnDef="Criticallity">
                <th mat-header-cell *matHeaderCellDef>{{"Criticality"|translate}}</th>
                <td mat-cell *matCellDef="let data">
                    <span *ngIf="data?.ticketStatus=='Low'"
                        style="color:green;font-weight: 600;">Low</span>
                    <span *ngIf="data?.ticketStatus=='Medium'"
                        style="color:orange;font-weight: 600;">Medium</span>
                    <span *ngIf="data?.ticketStatus=='High'"
                        style="color:red;font-weight: 600;">High</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef [hidden]="valueTicketsview!=='Support Request-View'">
                    {{"Description"|translate}}</th>
                <td mat-cell *matCellDef="let data" [hidden]="valueTicketsview!=='Support Request-View'">
                    <i class="fa fa-eye" (click)="description(data)"></i>
                </td>
            </ng-container>

            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef [hidden]="valueTicketsImage!=='Support Request-Image'">
                    {{"Image"|translate}}</th>
                <td mat-cell *matCellDef="let data" [hidden]="valueTicketsImage!=='Support Request-Image'">
                    <i class="fa fa-image" (click)="image(data)"></i>
                </td>
            </ng-container>

            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>{{"Status"|translate}}</th>
                <td mat-cell *matCellDef="let data">
                    <span *ngIf="data?.approvalStatus=='Open'"
                        style="color: red;font-weight: 600;">Open</span>
                    <span *ngIf="data?.approvalStatus=='close'"
                        style="color: green;font-weight: 600;">Closed</span>
                    <span *ngIf="data?.approvalStatus=='hold'"
                        style="color: orange;font-weight: 600;">Hold</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="Comments">
                <th mat-header-cell *matHeaderCellDef [hidden]="valueTicketsview!=='Support Request-View'">
                    {{"Comments"|translate}}</th>
                <td mat-cell *matCellDef="let data" [hidden]="valueTicketsview!=='Support Request-View'">
                    <i class="fa fa-commenting-o" (click)="comments(data)"></i>
                </td>
            </ng-container>

            <ng-container matColumnDef="createdDateTime">
                <th mat-header-cell *matHeaderCellDef>{{"Created At"|translate}}</th>
                <td mat-cell *matCellDef="let data">{{data.createdDateTime | date : "dd/MM/yyyy hh:mm a"}}</td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef [hidden]="valueTicketsedit!=='Support Request-Edit'">
                    {{"Edit"|translate}}</th>
                <td mat-cell *matCellDef="let data" [hidden]="valueTicketsedit!=='Support Request-Edit'">
                    <button style="border: none; cursor: pointer;background:none" (click)="edit(data)"
                        [disabled]="data?.subject=='Sticker Request' || data?.approvalStatus == 'close'">
                        <i style="font-size: 20px; background: none; border:none" class="fa fa-edit"></i>
                        <!-- *ngIf="data?.approvalStatus != 'close'" -->
                    </button>
                    <!-- <span *ngIf="data?.approvalStatus == 'close'" style="color: gray;font-size: 20px;"> <i
                                            class="fa fa-edit"></i></span> -->
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
                <td class="mat-cell" colspan="0" *ngIf="searchPerformed">{{"No Data For"|translate}} {{input.value}}
                </td>
                <td class="mat-cell" colspan="0" *ngIf="!searchPerformed && dataSource.data.length === 0">{{"No
                    Data"|translate}}</td>
            </tr>
        </table>

    </div>
</mat-card-content>
<mat-card-footer>

    <mat-paginator [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons
        aria-labels="select page of users"></mat-paginator>

</mat-card-footer>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">