<div class="container">

    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Add Channels</h5>
        <button type="button" class="btn btn-secondary">Back</button>
    </div>

    <div class="well" style="margin-top: 0px;">

        <form [formGroup]="myForm">

            <div>
                <div class=" form-group ">
                    <label for="Entity Name">Channels List</label>
                    <mat-select #select style="font-size: 12px;" class="form-select" multiple formControlName="alcotId">
                        <div class="select-all">
                            <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}"
                                (change)="toggleAllSelection()">Select All</mat-checkbox>
                        </div>
                        <mat-option [value]="items.alcotId" *ngFor="let items of channelslist">

                            {{items?.channelName}}</mat-option>
                    </mat-select>

                    <div style="
            color: red;
            font-size: 12px;
            margin-top: 2px;
            position: relative;
            ;
          " *ngIf="alcotId?.invalid && alcotId?.touched && alcotId?.errors?.['required']">
                        Field is required
                    </div>
                </div>
            </div>
            <div style="margin-top: 2%;">
                <button (click)="submit()" [disabled]="myForm.invalid" type="submit" class="btn mx-1 "
                    style="background-color:#7db855be">Submit</button>

            </div>
        </form>
    </div>

</div>