<div class="card" style=" font-size: 14px;height:200px;width:500px;">
    <div class="form-header d-flex justify-content-between align-items-center">
        <h6 class="mb-0 text-center" style="color:black;">WhatsApp Message Description</h6>
        <button class="buttonDownload text-end" mat-dialog-close>Close</button>
    </div>
    <table class="table table-bordered"
        style="background-color: white; text-align: left;border: 1px solid rgb(154, 154, 153);max-width: 600px;">
        <tbody>

            <tr>
                <td id="data">{{this.id}}</td>
            </tr>


        </tbody>
    </table>

</div>