@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600;700&display=swap");
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "Mulish", sans-serif;
    /* background: linear-gradient(to bottom right, #dacdc9, #b29b93); */
}
 
.card-container {
    background-color: #ede9e2;
    padding: 50px;
    border-radius: 9px;
    /* box-shadow: -70px -35px #c5aea7; */
    max-width: 578px;
    width: 100%;
    padding-top: 25px;
}
 
.top-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
 
.top-head p {
    font-size: 16px;
    font-weight: 700;
}
 
.top-head a,
.top-head a:visited {
    color: #1e1411;
}
 
.card-container h3 {
    font-size: 21px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #2b2b2b;
}
 
.card-container p {
    font-size: 16px;
    color: #1e1411;
    margin-bottom: 9px;
    max-width: 436px;
    width: 100%;
}
 
.stats {
    display: flex;
    gap: 80px;
    margin-bottom: 20px;
}
 
.stat {
    text-align: center;
}
 
.stat-number {
    font-size: 32px;
    font-weight: 700;
    color: #1e1411;
}
 
.stat-label {
    font-size: 18px;
    color: #5f5f5f;
    font-weight: 600;
}
 
.button-container {
    display: flex;
    /* gap: 5px; */
}
 
.button {
    /* padding: 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  border: none;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  max-width: 207px;
  width: 100%;
  margin: 20px 0;
  background: none; */
 
    padding: 9px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    border: none;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    max-width: 207px;
    width: 100%;
    /* margin: 20px 0; */
    background: none;
    margin-bottom: -10px;
    margin-top: 15px;
    margin-left: 22px;
}
 
.joined-btn {
    background-color: rgb(71, 173, 71);
    color: white;
    border: 1px solid rgb(71, 173, 71);
}
 
.low-green {
    background-color:#7db855be;
}
 
.dark-green {
    background-color: rgb(71, 173, 71);
}
 
.create-post-btn {
    background-color: #1e1411;
 
    color: #fff;
}
 
.create-post-btn:hover {
    background-color: #1e1411;
    border: 1px solid white;
 
}
 
/* .joined-btn:hover {
    background-color: rgb(71, 173, 71);
 
} */
 
.card-footer {
    font-size: 16px !important;
    color: #433e3c;
    margin-top: 10px;
}
 
@media (max-width: 620px) {
    body {
        height: auto;
    }
 
    .card-container {
        /* margin: 50px auto; */
        width: 100%;
    }
}
 
@media (max-width: 500px) {
    .button-container {
        flex-direction: column;
        gap: 0;
    }
 
    .button {
        width: 100%;
        max-width: unset;
        margin-left: -2px;
 
 
    }
}