<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet" />






<div class="cards">
    <div class="card">
        <ul>
            <li class="pack">One Time Setup Fee</li>
            <li id="master" class="price bottom-bar" style="font-size: 30px;">&#8377;{{technicalTotalAmount}}</li>
            <!-- <li>Payment Id:&nbsp;</li> -->
            <li>Total Amount: &nbsp;{{technicalAmount}}</li>
            <li>GST Amount: &nbsp;{{gstAmount}}</li>
            <!-- <li>Payment Method:&nbsp;</li> -->
            <li>Payment Status: &nbsp; <p style="font-weight: 700;" [ngClass]="{
            'text-success': technicalPayStatus == 'SUCCESS',
            'text-warning': technicalPayStatus == 'Pending',
            'text-danger':technicalPayStatus=='Failure'
        }">{{ technicalPayStatus }}</p>
            </li>
            <li><button class="btn" matDialogClose>Close</button></li>
        </ul>
    </div>
</div>
<script src="script.js"></script>