<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet" />






<div class="cards">
    <div class="card">
        <ul>
            <li class="pack">{{"One Time Setup Fee"|translate}}</li>
            <li id="master" class="price bottom-bar" style="font-size: 30px;">&#8377;{{technicalTotalAmount}}</li>
            <!-- <li>Payment Id:&nbsp;</li> -->
            <!-- <li>{{"Total Amount"|translate}} (Excluding GST) : &nbsp;{{technicalAmount}}</li>
            <li>{{"Maintenance Cost"|translate}}: &nbsp;{{this.viewmerchant.maintenanceAmount}}</li> -->
            <!-- <li>{{"VoiceBox AdvRent"|translate}}: &nbsp;{{this.viewmerchant.voiceBoxAdvRent}}</li>
            <li>{{"VoiceBoxSetUp Cost"|translate}}: &nbsp;{{this.viewmerchant.voiceBoxSetupFee}}</li>
            <li>{{"GST Amount"|translate}}: &nbsp;{{gstAmount}}</li>
            <li>{{"Total Payable Amount"|translate}}: &nbsp;{{technicalTotalAmount}}</li> -->
            <table style="border:none" class="p-5">
                <tr>
                    <td>
                        {{"Total Amount"|translate}} {{"(Excluding GST)"|translate}} 
                    </td>
                    <td class="p-1">
                        :
                    </td>
                    <td>
                        &nbsp;{{technicalAmount}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"Maintenance Cost"|translate}}
                    </td>
                    <td class="p-1">
                        :
                    </td>
                    <td>
                        &nbsp; {{this.viewmerchant.maintenanceAmount}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"VoiceBox AdvRent"|translate}}
                    </td>
                    <td class="p-1">
                        :
                    </td>
                    <td>
                        &nbsp; {{this.viewmerchant.voiceBoxAdvRent}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"VoiceBoxSetUp Cost"|translate}}
                    </td>
                    <td class="p-1">
                        :
                    </td>
                    <td>
                        &nbsp;{{this.viewmerchant.voiceBoxSetupFee}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"GST Amount"|translate}}
                    </td>
                    <td class="p-1">
                        :
                    </td>
                    <td>
                        &nbsp;{{gstAmount}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"Total Payable Amount"|translate}}
                    </td>
                    <td class="p-1">
                        :
                    </td>
                    <td>
                        &nbsp; {{technicalTotalAmount}}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{"Payment Status"|translate}}
                    </td>
                    <td class="p-1">
                        :
                    </td>
                    <td style="font-weight: 700;" [ngClass]="{
                        'text-success': technicalPayStatus == 'Success',
                        'text-warning': technicalPayStatus == 'Due Pending',
                        'text-danger':technicalPayStatus=='Failure'}">
                        &nbsp; {{ technicalPayStatus }}
                    </td>
                </tr>
            </table>
            
            <!-- <li>Payment Method:&nbsp;</li> -->
            <!-- <li>{{"Payment Status"|translate}}: &nbsp; <p style="font-weight: 700;" [ngClass]="{
            'text-success': technicalPayStatus == 'SUCCESS',
            'text-warning': technicalPayStatus == 'Pending',
            'text-danger':technicalPayStatus=='Failure'
        }">{{ technicalPayStatus }}</p>
            </li> -->
            <li><button class="btn" matDialogClose>{{"Close"|translate}}</button></li>
        </ul>


     

    </div>
</div>
<script src="script.js"></script>