<div>
    <div class="card table-nowrap table-card">
        <div class="table-responsive text-nowrap text-center">
            <table class="table table-hover" id="customers">

                <tr style="margin-top: 2%;">
                    <th>{{"S.No" |translate}}</th>
                    <th>{{"Channel Name"|translate}}</th>
                    <th>{{"Channel Number"|translate}}</th>
                    <th>{{"MSO"|translate}}</th>
                    <th>{{"Region"|translate}}</th>


                </tr>

                <tbody *ngFor="let item of detailss| paginate: { itemsPerPage: itemsPerPage, currentPage: pagechannel } |search: term; let i = index">

                    <td class="text-center">{{i+1}}</td>
                    <td class="text-center">{{item.broadCasterAlcot.channelName}}</td>
                    <td class="text-center">{{item.broadCasterAlcot.channelNo}}</td>
                    <td class="text-center">{{item.broadCasterAlcot.region.service.serviceProviderName}}</td>
                    <td class="text-center">{{item.broadCasterAlcot.region.stateName}}</td>




                </tbody>
            </table>
            <div class="text-end mt-3">
                <pagination-controls (pageChange)="pagechannel = $event"></pagination-controls>
            </div>

            <div style="text-align: left;" (click)="close()">
                <button
                    style="background-color: rgb(94, 94, 128);color: white;border:1px solid whitesmoke ;margin-bottom: 2%; border-radius: 5px; margin-left: 2%;">{{"Close"|translate}}</button>
            </div>
        </div>
    </div>

</div>