.datas {
  color: black;
  font-weight: 500;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.Red {
  color: red;
}

.form-header {
  background-color: #bcdf72;
  padding: 0.7rem;
  margin-bottom: 0.1rem;
  width: 600px;
}

.buttonDownload {
  width: 70px;
  display: inline-block;
  position: relative;
  padding: 6px;
  background-color: #141E46;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  border: none;
  border-radius: 5px;
}