<div class="card-header">
    <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">Add Region</h3>
</div>
 
<body  class="page">
    <main class="main page__main">
 
        <form class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="regioncreate">
 
 
 
            <div class="form-group">
                <label class="form-label" for="message">MSO:</label>
                <select class="form-select" formControlName="serviceId">
                    <option style="text-align: center;" selected disabled>Select
                    </option>
                    <option style="text-align: center;" *ngFor="let item of activeservice;" [value]="item.serviceId">
                        {{item.serviceProviderName}}
                    </option>
                </select>
                <span style="color: red; font-size: 12px;margin-top: 2px;" class="error"
                    *ngIf="serviceId?.touched && serviceId?.errors?.['required']">Field is Required*</span>
            </div>
 
 
            <div class="form__linput">
                <label class="form-label" for="message">Region</label>
               
                    <mat-select formControlName="stateName" class="form-select" [(ngModel)]="selectedStates" multiple #select>
                        <div class="select-all">
                            <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}"
                                (change)="toggleAllSelection()">Select All</mat-checkbox>
                        </div>
                        <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
                    </mat-select>
                   
               
                <span style="color: red; font-size: 12px; margin-top: 2px;" class="error"
                      *ngIf="stateName?.touched && stateName?.errors?.['required']">Field is Required*</span>
            </div>
           
 
            <div>
                <button type="submit" class="btn" style="background-color:#7db855be"
                    [disabled]="regioncreate.invalid" (click)="RegionCreate()">Submit</button>&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn" style="background-color: #141e46; color: white" matDialogClose>
                        Cancel
                    </button>
 
            </div>
 
 
        </form>
    </main>
</body>