.container {
    width: 400px;
    /* Increase container width */
    padding: 0px;
}

.form-header {
    background-color: #141E46;
    /* Header background color */
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    /* Rounded corners on top */
    margin-bottom: 0.5rem;
}

.form-group label {
    font-weight: 500;
}

.form-control {
    border-radius: 0.375rem;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}

.btn {
    border-radius: 0.375rem;
}

.well {
    background-color: #ffffff;
    /* Card background color */
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 1.5rem;
    /* margin-top: 27px; */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    /* Light shadow */
}

@media (max-width: 576px) {
    .form-group label {
        font-size: 0.9rem;
        /* Adjust label font size for smaller screens */
    }
}

.card-header {
    display: flex;
    justify-content: space-between;
    background-color:#bcdf72;
    color: white;
    font-family: "Roboto";
}