<div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0" style="color:black">Update</h5>
    <button type="button" class="btn btn-secondary" matDialogClose>Back</button>
</div>

<body class="page">
    <main class="main page__main">
        <form class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="myForm">
            <div class="row">
                <div class="form-group">
                    <label for="Bussiness category">Broadcaster Name</label>
                    <select [(ngModel)]="Broadcastername" formControlName="bundleChannelId" id="Bussiness category"
                        class="form-control form-select">
                        <option value="" disabled selected>Select</option>
                        <option *ngFor="let item of details" [value]="item.bundleChannelId">{{item.broadCasterName}}
                        </option>
                    </select>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="bundleChannelId?.invalid && bundleChannelId?.touched && bundleChannelId?.errors?.['required']">
                        Field is required
                    </div>
                </div>
                <div class="form-group ">
                    <label for="Entity Name">Plan Name</label>
                    <input [(ngModel)]="PlanName" type="text" id="Entity Name" formControlName="bouquetName"
                        class="form-control">
                    <div style="
                        color: red;
                        font-size: 12px;
                        margin-top: 2px;
                        position: relative;
                        ;
                      " *ngIf="bouquetName?.invalid && bouquetName?.touched && bouquetName?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                  " *ngIf="bouquetName?.invalid && bouquetName?.touched && bouquetName?.errors?.['pattern']">
                        Invalid format
                    </div>
                    <div style="color: red; font-size: 12px; margin-top: 2px; position: relative;"
                        *ngIf="bouquetName?.invalid && bouquetName?.touched && bouquetName?.errors?.['maxlength']">
                        Maximum length should be 100
                    </div>
                </div>
            </div>
            <div style="margin-top: 2%;">
                <button (click)="submit()" [disabled]="myForm.invalid" type="submit" class="btn mx-1 "
                    style="background-color:#7db855be">Submit</button>
            </div>
        </form>
    </main>
</body>