<div class="card-header">
    <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">Add Business Document</h3>
</div>

<body class="page">
    <main class="main page__main">
        <form class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="fourthFormGroup">
            <div class="row">
 
                <div class="col">
                <div class="form__linput">
                    <label class="form__label" >Document Name</label>
                    <select class="form-select" formControlName="kycCategoryId"
                        (change)="docProofChange($event)">
                        <option *ngFor="let item of kycValue" [value]="item.entityKycCategory?.kycCategoryId">
                            {{item.entityKycCategory.kycCategoryName}}
                        </option>
 
                       
                    </select>
                    <div *ngIf="kycCategoryId?.invalid && kycCategoryId?.touched && kycCategoryId?.errors?.['required']"
                        style="color: red; font-size: 12px;">
                        Field is required
                    </div>
                </div>
                </div>
 
                <div class="col">
                <div class="form__linput">
                    <label class="form__label">Document ID</label>
                    <input class="form-control" id="docNumber" type="text" formControlName="docNumber"  required />
                    <!-- <div *ngIf="docNumber && docNumber.invalid && (docNumber.touched || docNumber.dirty)">
                        <small *ngIf="docNumber.errors?.['required']" style="color: red; font-size: 12px;">This field is
                            required.</small>
                        <small *ngIf="docNumber.errors?.['pattern']" style="color: red; font-size: 12px;">Enter a valid
                            {{selectElement4}} number.</small>
                    </div> -->
                    <div *ngIf="docNumber?.invalid && docNumber?.touched && docNumber?.errors?.['maxlength']"
                    style="color: red; font-size: 12px;">
                    Maximum length should be 15
                    </div>
                </div>
                </div>
 
            </div>
 
            <div class="row">
                <div class="col">
                    <div class="form__linput">
                        <label class="form__label">Expiry Date</label>
                        <input  onkeydown="return false;" class="form-control"  type="date" formControlName="expiryDate">
                        <!-- <div style="color: red; font-size: 12px;margin-top: 2px;"
                            *ngIf="expiryDate?.invalid && expiryDate?.touched && expiryDate?.errors?.['required']">
                            Field is required
                        </div> -->
                    </div>
                </div>
                <div class="col">
                    <div class="form__linput">
                        <label class="form__label">Upload Front Copy</label>
                        <input class="form-control" formControlName="docFrontPath" (change)="docfront($event)" type="file"/>
                        <div *ngIf="docFrontPath?.invalid && docFrontPath?.touched && docFrontPath?.errors?.['required']"
                            style="color: red; font-size: 12px;">
                            Field is required
                        </div>
                    </div>
                </div>
            </div>
           
 
            <div class="row">  
                <div class="col">    
                <div class="form__linput">
                    <label class="form__label">Upload Back Copy</label>
                    <input class="form-control" formControlName="docBackPath" (change)="docback($event)" type="file"/>
                    <div *ngIf="docBackPath?.invalid && docBackPath?.touched && docBackPath?.errors?.['required']"
                        style="color: red; font-size: 12px;">
                        Field is required
                    </div>
                </div>
                </div>
                <div class="col">
 
                </div>
            </div>

            <div>
                <button (click)="docSubmit()" [disabled]="fourthFormGroup.invalid" type="submit" class="btn mx-1 "
                    style="background-color:#7db855be">Submit</button>
                <button type="submit" class="btn" style="background-color:#141E46;color:white"
                matDialogClose>Cancel</button>
            </div>
        
        </form>
    </main>
</body>