<div class="card-header">
    <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">Add BankDetails</h3>
</div>

<body class="page">
    <main class="main page__main">
        <form class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="BankForm">
            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label class="form__label" for="Entity Name">AccountHolderName</label>
                    <input type="text" id="Entity Name" formControlName="accountHolderName" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountHolderName?.invalid && accountHolderName?.touched && accountHolderName?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountHolderName?.invalid && accountHolderName?.touched && accountHolderName?.errors?.['pattern']">
                        *Enter a valid Name
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="state" class="form__label">Account Number</label>
                    <input type="text" formControlName="accountNumber" id="state" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountNumber?.invalid && accountNumber?.touched && accountNumber?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountNumber?.invalid && accountNumber?.touched && accountNumber?.errors?.['pattern']">
                        *Enter a valid AccountNumber
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="state"  class="form__label">Ledger ID</label>
                    <input type="text" formControlName="ledgerId" id="state" class="form-control">
                    <div style="color: red; font-size: 12px; margin-top: 2px;"
                    *ngIf="ledgerId?.invalid && ledgerId?.touched && ledgerId?.errors?.['pattern']">
                    Must be exactly 4 digits and only numbers are allowed.
                </div>
                  
                </div>
               
            </div>
            <div class="row mb-3">
              
                <div class="col-sm-4 form-group">
                    <label for="Bussiness category"  class="form__label">Select Bank</label>
                    <select formControlName="bankName" id="Bussiness category" class="form-control form-select">
                        <option *ngFor="let item of BankNames" [value]="item.bankId">{{item.bankName}}</option>

                    </select>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="bankName?.invalid && bankName?.touched && bankName?.errors?.['required']">
                        Field is required
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Bussiness category" class="form__label">Account Type</label>
                    <select formControlName="accountType" id="Bussiness category" class="form-control form-select">
                        <option value="" disabled selected>Select</option>
                        <option value="Savings account">Savings account</option>
                        <option value="Current account">Current account</option>
 


                    </select>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountType?.invalid && accountType?.touched && accountType?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountType?.invalid && accountType?.touched && accountType?.errors?.['pattern']">
                        *Enter a valid AccountType
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Entity Name" class="form__label">Branch Name</label>
                    <input type="text" id="Entity Name" formControlName="branchName" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="branchName?.invalid && branchName?.touched && branchName?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="branchName?.invalid && branchName?.touched && branchName?.errors?.['pattern']">
                        *Enter a valid branch Name
                    </div>
                </div>

             
            </div>

            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label for="Entity Name" class="form__label">IFSC Code</label>
                    <input type="text" id="Entity Name" formControlName="ifscCode" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="ifscCode?.invalid && ifscCode?.touched && ifscCode?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="ifscCode?.invalid && ifscCode?.touched && ifscCode?.errors?.['pattern']">
                        *Enter a valid IFSC Code
                    </div>
                </div>
            </div>

            <div>
                <button (click)="submit()" [disabled]="BankForm.invalid" type="submit" class="btn mx-1 "
                    style="background-color:#7db855be">Submit</button>
                <button type="submit" class="btn" style="background-color:#141E46;color:white"
                    matDialogClose>Cancel</button>
            </div>



        </form>
    </main>
</body>