<div class="heading">
    <div class="card-header">
        <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">Transaction Info</h3>
    </div>
    <div class="p-3">
        <div class="row mt-1">
            <div class="col"><b>Transaction ID</b></div>
            <div class="col" id="answer"></div>
        </div>
        <div class="row mt-3">
            <div class="col"><b>Bank Reference Number</b></div>
            <div class="col" id="answer">ertry</div>
        </div>
        <div class="row mt-3">
            <div class="col"><b>Payment ID</b></div>
            <div class="col" id="answer">rtryyt</div>
        </div>
        <div class="row mt-3">
            <div class="col"><b>Account ID</b></div>
            <div class="col" id="answer"></div>
        </div>
        <div class="row mt-3">
            <div class="col"><b>Customer Name</b></div>
            <div class="col" id="answer"></div>
        </div>
        <div class="row mt-3">
            <div class="col"><b>Customer Email</b></div>
            <div class="col" id="answer"></div>
        </div>
        <div class="row mt-3">
            <div class="col"><b>Customer Mobile</b></div>
            <div class="col" id="answer"></div>
        </div>
        <div class="row mt-3">
            <div class="col"><b>Merchant OrderNumber</b></div>
            <div class="col" id="answer"></div>
        </div>
        <div class="row mt-3">
            <div class="col"><b>Payment Method</b></div>
            <div class="col" id="answer"></div>
        </div>

        <div class="row mt-3">
            <div class="col"><b>Message</b></div>
            <div class="col" id="answer"></div>
        </div>
        <div class="row mt-3">
            <div class="col"><b>Paid At</b></div>
            <div class="col" id="answer"></div>
        </div>
        <div class="row mt-3">
            <div class="col"><b>Description</b></div>
            <div class="col" id="answer"></div>
        </div>
    </div>
</div>