<h4 style="text-align:left;color:#141E46;">Cloud Fee Payments</h4>
<mat-card-header>
    <div class="row ">
        <div class="col-3 mt-4">
            <div class="search ">
                <form class="form">
                    <label for="search">
                        <input #input required autocomplete="off" placeholder="Search" id="search" type="text" name="search" [(ngModel)]="currentfilVal">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <button (click)="reload()" type="reset" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>

                </form>

            </div>

        </div>


        <div class="col-1 mt-4">
            <button (click)="subscription(currentfilVal)"
                style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button>Go</button>
        </div>
        <div class="col-1 mt-4">
            <button [hidden]="valuemaintainexport!=='Subscription Payment-Export'"
                style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button
                (click)=" exportexcel()">Export</button>
        </div>&nbsp;&nbsp;

        <div class="col-2">
          
        </div>

        <div class="col-3 mt-4">
            <select [(ngModel)]="backs" class="form-select" (change)="Filter($event)">
                <option value="" disabled selected>Dues,Filters</option>
                <option value="Filterbycloudffeesearch">Filter By Cloud Fee</option>
                <option value="Datefiltercloudfee">Date Filter</option>
                <option value="DuegenerateCloudFee">Due Generation</option>
              </select>
        </div>

        <div class="col-1 mt-4">
            <button style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button
                (click)="reset()">Reset</button>
        </div>

    </div>
</mat-card-header>
<!-- <mat-card> -->
<mat-card-content>
    <div class="example-container mt-4">

        <span *ngIf="showcategoryData" style="text-align:center;color:red;">NO DATA FOUND</span>
        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!
        showcategoryData
        "> <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> S.No</th>
                <td mat-cell *matCellDef="let viewall; let i = index"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="paymentId">
                <th mat-header-cell *matHeaderCellDef>Payment ID</th>
                <td mat-cell *matCellDef="let transaction">{{ transaction.pgPaymentId ||'--'}}</td>
            </ng-container>
            <ng-container matColumnDef="entityname">
                <th mat-header-cell *matHeaderCellDef>Entity Name</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction?.merchantId?.entityName }}</td>
            </ng-container>

            <ng-container matColumnDef="paymentmethod">
                <th mat-header-cell *matHeaderCellDef>Payment Method</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction?.paymentMethod }}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.paidAmount}}</td>
            </ng-container>
            <ng-container matColumnDef="cgst">
                <th mat-header-cell *matHeaderCellDef>CGST Percentage</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.cgstPercentage}}</td>
            </ng-container>
            <ng-container matColumnDef="sgst">
                <th mat-header-cell *matHeaderCellDef>SGST Percentage</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.sgstPercentage}}</td>
            </ng-container>
            <ng-container matColumnDef="igst">
                <th mat-header-cell *matHeaderCellDef>IGST Percentage</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.igstPercentage}}</td>
            </ng-container>

            <!-- <ng-container matColumnDef="smscgst">
                <th mat-header-cell *matHeaderCellDef>Sms CGST Percentage</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.smsCgstPercentage}}</td>
            </ng-container>
            <ng-container matColumnDef="smssgst">
                <th mat-header-cell *matHeaderCellDef>Sms SGST Percentage</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.smsSgstPercentage}}</td>
            </ng-container>
            <ng-container matColumnDef="smsigst">
                <th mat-header-cell *matHeaderCellDef>Sms IGST Percentage</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.smsIgstPercentage}}</td>
            </ng-container>
             -->
            <ng-container matColumnDef="totalamount">
                <th mat-header-cell *matHeaderCellDef>Total Payable Amount</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.totalPayableAmount}}</td>
            </ng-container>

            <ng-container matColumnDef="createdDateTime">
                <th mat-header-cell *matHeaderCellDef>Due Generated At</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.createdDateTime | date : "dd-MM-yyyy hh:mm a"
                    }}
                </td>
            </ng-container>

            <ng-container matColumnDef="paidAt">
                <th mat-header-cell *matHeaderCellDef>Paid At</th>
                <td mat-cell *matCellDef="let transaction"> {{ transaction.paymentDateTime | date : "dd-MM-yyyy hh:mm a"
                    }}
                </td>
            </ng-container>

            <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef>Sms Count</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.smsCount}}</td>
            </ng-container>
            <ng-container matColumnDef="percount">
                <th mat-header-cell *matHeaderCellDef>SmsCost PerCount</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.smsPerAmount}}</td>
            </ng-container>
            <ng-container matColumnDef="totalcost">
                <th mat-header-cell *matHeaderCellDef>Total SmsCost</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.smsTotalAmount}}</td>
            </ng-container>


            <ng-container matColumnDef="stickerCount">
                <th mat-header-cell *matHeaderCellDef>Sticker Count</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.stickerCount}}</td>
            </ng-container>

            <ng-container matColumnDef="otherPayAmount">
                <th mat-header-cell *matHeaderCellDef>Otherpay Amount</th>
                <td mat-cell *matCellDef="let transaction">{{transaction?.otherPayAmount}}</td>
            </ng-container>


            <ng-container matColumnDef="receipt">
                <th mat-header-cell *matHeaderCellDef [hidden]="valuemaintainInvoice!=='Subscription Payment-Invoice'">
                    Invoice</th>
                <td mat-cell *matCellDef="let transaction"
                    [hidden]="valuemaintainInvoice!=='Subscription Payment-Invoice'">
                    <button class="btn btn-success btn-sm" [disabled]="transaction?.paymentStatus!='Success'"
                        style="border:none;" (click)="viewreciept(transaction?.maintenancePayId)"> <i
                            class="fa-solid fa-download" style="color:#fff;"></i></button>
                </td>
            </ng-container>

            <ng-container matColumnDef="CheckStatus">
                <th mat-header-cell *matHeaderCellDef
                    [hidden]="valuemaintaincheck!=='Subscription Payment-Check Status'">Check Status</th>
                <td mat-cell *matCellDef="let transaction"
                    [hidden]="valuemaintaincheck!=='Subscription Payment-Check Status'">
                    <button class="btn btn-primary btn-sm" [disabled]="transaction?.paymentStatus  != 'Initiated'"
                        (click)="track(transaction)" style="border-radius: 10px;background-color: #141E46;"> <i
                            style="font-size:15px;color:white;cursor: pointer;" class="fa">&#xf00c;</i></button>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let transaction"> <span *ngIf="transaction?.paymentStatus == 'Success'"
                        class="text-success"> {{
                        transaction?.paymentStatus}}</span>
                    <span *ngIf="transaction?.paymentStatus   == 'Due Pending'" class="text-warning"> {{
                        transaction?.paymentStatus}}</span>
                    <span *ngIf="transaction?.paymentStatus  == 'Initiated'" class="text-primary"> {{
                        transaction?.paymentStatus}}</span>
                    <span *ngIf="transaction?.paymentStatus  == 'Failure'" class="text-danger"> {{
                        transaction?.paymentStatus}}</span>


                </td>
            </ng-container>

            <ng-container matColumnDef="Manualpay">
                <!-- [hidden]="valueduesmanual!=='Customer dues-Manual Payment'" -->
                <th mat-header-cell *matHeaderCellDef>Manual
                    Payment</th>
                <!-- [hidden]="valueduesmanual!=='Customer dues-Manual Payment'" -->
                <td mat-cell *matCellDef="let viewall">
                    <button [disabled]="viewall.paymentStatus == 'Success' || viewall.paymentStatus == 'Due Cancelled' "
                        class="btn btn-success btn-sm" style="border:none;"
                        (click)="manuvalpayments(viewall.maintenancePayId)"> <i class="fa-solid fa-address-card"
                            style="color:#fff;cursor:pointer"></i></button>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef [hidden]="valuemaintainview!=='Subscription Payment-View'">View
                </th>
                <td mat-cell *matCellDef="let transaction" [hidden]="valuemaintainview!=='Subscription Payment-View'">
                    <i style="cursor: pointer;" class="fas fa-eye" style="font-size: 16px;color: rgb(39, 39, 95);"
                        (click)="transactionview(transaction?.maintenancePayId)"></i>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
                <td class="mat-cell" colspan="4">No Data Found
                    {{input.value}}
                </td>
            </tr>
        </table>
    </div>
</mat-card-content>
<mat-card-footer>
    <div class=" row d-flex justify-content-end mt-3 mx-2" *ngIf="filter">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button style="color:white;background-color: #141E46;">Total Entries:{{this.totalPages}}</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex(pageIndex - 1)"
                [hidden]="pageIndex === 0">Previous</button>
            <button style="color:white;background-color: #141E46;">{{ this.currentpage}} of {{this.totalpage}}
                Pages</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex(pageIndex + 1)"
                [hidden]="pageIndex >= totalpage - 1">Next</button>
        </div>
 
    </div>
 
    <div class=" row d-flex justify-content-end mt-3 mx-2" *ngIf="filter1">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button style="color:white;background-color: #141E46;">Total Entries:{{this.totalPages1}}</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex1(pageIndex1 - 1)"
                [hidden]="pageIndex1 === 0">Previous</button>
            <button style="color:white;background-color: #141E46;">{{this.currentpage1}} of {{this.totalpage1}}
                Pages</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex1(pageIndex1 + 1)"
                [hidden]="pageIndex1 >= totalpage1 - 1">Next</button>
        </div>
    </div>
    <div class=" row d-flex justify-content-end mt-3 mx-2" *ngIf="filters">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button style="color:white;background-color: #141E46;">Total Entries:{{this.totalPages2}}</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex2(pageIndex2 - 1)"
                [hidden]="pageIndex2 === 0">Previous</button>
            <button style="color:white;background-color: #141E46;">{{this.currentpage2}} of {{this.totalpage2}}
                Pages</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex2(pageIndex2 + 1)"
                [hidden]="pageIndex2 >= totalpage2 - 1">Next</button>
        </div>
    </div>
    <div class=" row d-flex justify-content-end mt-3 mx-2" *ngIf="filter3">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button style="color:white;background-color: #141E46;">Total Entries:{{this.totalPages3}}</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex3(pageIndex3 - 1)"
                [hidden]="pageIndex3 === 0">Previous</button>
            <button style="color:white;background-color: #141E46;">{{this.currentpage3}} of {{this.totalpage3}}
                Pages</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex3(pageIndex3 + 1)"
                [hidden]="pageIndex3 >= totalpage3 - 1">Next</button>
        </div>
    </div>
</mat-card-footer>


<!-- Maintenance pay -->
  
<ng-template #CloudFeeSearch>
    <div style="width:386px" class="dialog-card-header">
        <h3 class="mb-0" style="text-align: center; font-size: 20px;">
            Filter Cloud Fee payments
        </h3>
        <div class="col-md-2 d-flex justify-content-end mb-1">
            <button class="button1" (click)="close()">Back</button>
          </div>
    </div>
    <!-- <div class="dialog-body page"> -->
        <main class="main page__main">
            <form  [formGroup]="cloudfeesearch"  class="form main__form" autocomplete="off" role="form">
                <div class="search-dropdown-container">
                   
                    <div class="form__linput">
                        <label class="form__label custom-label" for="fnames">Search entity</label>
                        <div class="search-input-with-button">
                            <input formControlName="search1" style="border: 1px solid #ccc;" class="form-control wider-input" id="fnames" (input)="onInputChange($event)" type="text"  name="search" required/>
                            <button type="button" (click)="onSearchClick()" class="search-button">Go</button>
                        </div>
                        <p-dropdown  
                        formControlName="search" 
                            *ngIf="options && options.length" 
                            [options]="options" 
                            [(ngModel)]="selectedOption" 
                            optionLabel="entityName" 
                            placeholder="Select Entity"
                            [style]="{'width':'261px', 'margin-top': '-2',height:'40px'}" 
                            (onChange)="onDropdownChange($event)">
                        </p-dropdown>
                    </div>

                    <div class="form__linput">
                        <label class="form__label" for="pay">Payment Status</label>
                        <select style="width: 260px;" class="form-control form-select wider-input" formControlName="pay" name="pay">
                          <option value="Success">Success</option>
                          <option value="Initiated">Initiated</option>
                          <option value="Due Pending">Due Pending</option>
                          <option value="Failure">Failure</option>
                        </select>
                      </div>
                        </div>
                    
                    <div style="margin-left:20px" class="form__linput ">
                        <label class="form__label custom-label" for="startDate">Start Date</label>
                        <input (change)="future(endDate)" [max]="maxDate" formControlName="startDate" style="border: 1px solid #ccc;width:260px" class="form-control wider-input" id="startDate" type="date" name="startDate">
                        
                    </div>

                    <div style="margin-left:20px" class="form__linput">
                        <label class="form__label custom-label" for="endDate">End Date</label>
                        <input [min]="startDate?.value" [max]="maxDate" formControlName="endDate" style="border: 1px solid #ccc;width:260px" class="form-control wider-input" id="endDate" type="date" name="endDate">
                    </div>


                <div style="margin-left:20px" class="mt-3">
                    <button type="submit" [disabled]="cloudfeesearch.invalid" (click)="CloudFee()" class="btn mx-1" style="background-color: #7db855be;height:39px;">
                      Filter
                    </button>
                    <button (click)="resetsearch()" type="button" class="btn" style="background-color: #141e46; color: white;height:39px;">
                      Reset
                    </button>
                  </div>
                  <br>
            </form>
        </main>
    <!-- </div> -->
</ng-template>



<!-- Date filter customer -->
<ng-template #CloudFeeDateFilter>
    <div style="width:386px" class="dialog-card-header">
        <h3 class="mb-0" style="text-align: center; font-size: 20px;">
            Filter Cloud Fee Payment
        </h3>
        <div class="col-md-2 d-flex justify-content-end mb-1">
            <button class="button1" (click)="close()">Back</button>
        </div>
    </div>

    <main class="main page__main">
        <form [formGroup]="Datefiltercloudfee" class="form main__form" autocomplete="off" role="form">
            <div class="search-dropdown-container">

                <div class="form__linput">
                    <label class="form__label custom-label" for="FromDateRange">From Date:</label>
                    <input (change)="future(this.Datefiltercloudfee.gset('ToDateRange')?.value)" [max]="maxDate" class="form-control"  formControlName="FromDateRange" style="border: 1px solid #ccc;width:322px" class="form-control wider-input" id="FromDateRange" type="date">
                </div>

                <div  class="form__linput ">
                    <label class="form__label custom-label" for="ToDateRange">To Date:</label>
                    <input  [min]="this.Datefiltercloudfee.get('FromDateRange')?.value" [max]="maxDate" class="form-control"  formControlName="ToDateRange" style="border: 1px solid #ccc;width:322px" class="form-control wider-input" id="ToDateRange" type="date">
                </div>

                <div style="margin-left:20px" class="mt-3">
                    <button type="submit" [disabled]="Datefiltercloudfee.invalid" (click)="filterdate()" class="btn mx-1" style="background-color: #7db855be;height:39px;">
                        Filter
                    </button>
                    <button (click)="resetfilter()" type="button" class="btn" style="background-color: #141e46; color: white;height:39px;">
                        Reset
                    </button>
                </div>
                <br>
            </div>
        </form>
    </main>
</ng-template>


<!-- Due Generation -->
<ng-template #DueGenerated>
    <div style="width:386px" class="dialog-card-header">
        <h3 class="mb-0" style="text-align: center; font-size: 20px;">
           Due Generation
        </h3>
        <div class="col-md-2 d-flex justify-content-end mb-1">
            <button class="button1" (click)="close()">Back</button>
          </div>
    </div>
    <!-- <div class="dialog-body page"> -->
        <main  style="height:387px" class="main page__main">
            <form  [formGroup]="Duegenerate"  class="form main__form" autocomplete="off" role="form">
               
                <div class="search-dropdown-container">
                   <p style="color:blue;text-wrap: nowrap;">Note: Generate Dues for Particular Merchants</p>
                    <div class="form__linput">
                        <label class="form__label custom-label" style="margin-top: -4px;" for="fnames">Search entity</label>
                        <div class="search-input-with-button">
                            <input formControlName="search2" style="border: 1px solid #ccc;" class="form-control wider-input" id="fnames" (input)="onInputChange($event)" type="text"  name="search" required/>
                            <button type="button" (click)="onSearchClick()" class="search-button">Go</button>
                        </div>
                        <p-dropdown 
                        formControlName="searches" 
                        [options]="options" 
                        [(ngModel)]="selectedOption" 
                        optionLabel="entityName" 
                        placeholder="Select Entity"
                        [style]="{'width':'265px', 'margin-top': '8px','height':'45px'}" 
                        (onChange)="onDropdownChange($event)">
                    </p-dropdown>
                    </div>
 
                </div>
                
            <div style="margin-left:16px;margin-top:51px;" class="row">
            <div class='col-8'>
                    <button type="submit" (click)="Duegeneration()" [disabled]="Duegenerate.invalid" class="btn mx-1" style="background-color: #7db855be;height:39px;">
                        Generate Due
                    </button>
            </div>
            <div class='col-4'>
                    <button (click)="resetdue()" type="button" class="btn" style="background-color: #141e46; color: white;height:39px;">
                      Reset
                    </button>
            </div>

            </div>
                  <br>
            </form>
        </main>
    <!-- </div> -->
</ng-template>