* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  margin: 0;
  height: 530px;
}




/* === BASE HEADING === */

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: 300;

  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.correctpassword {
  color: green;
}

.wrongpassword {
  color: red
}

.errormess {
  text-align: left;
  margin-bottom: 3px;
  margin-top: -25px;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}

h1 em {
  font-style: normal;
  font-weight: 600;
}

/* === HEADING STYLE #1 === */
.one h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.one h1:before {

  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #b80000;
}

.one h1:after {

  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #b80000;
}


.container {
  width: 400px;
  margin: 10px;
  height: auto;
}

.error {
  color: red;
  font-size: 12px;
}