mat-card {
    margin: 1%;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
   
  }
   
  .container {
    /* width: 80%; */
    text-align: center;
   
    /* margin: 50px auto;
    background-color: #fff; */
    /* padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); */
  }
   
  .container h3 {
    /* color: #333; */
    /* border-bottom: 2px solid #333; */
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
   
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
   
  ng-container {
    text-align: center;
  }
   
  th {
    background-color: #bcdf72 !important;
    color: #141E46;
    font-weight: 700;
    white-space: nowrap;
    text-shadow: #ffffff;
    font-family: "Roboto";
   
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
  }
   
  td {
    font-size: 14px;
   
    white-space: nowrap;
    padding: 8px;
    /* border: 3px solid whitesmoke; */
    font-family: Roboto, "Helvetica Neue", sans-serif;
   
  }
   
  .mat-mdc-form-field {
    font-size: 20px;
    width: 50%;
  }
   
  mat-card-content th,
  mat-card-content td {
   
    padding: 8px;
    text-align: center;
  }
   
  mat-card-content tr:nth-child(even) {
    background-color: #f2f2f2;
   
  }
   
  mat-card-content tr:nth-child(odd) {
    background-color: #ffffff;
  }
   
   
  .mat-mdc-table .mdc-data-table__header-row {
    height: 0px;
    background-color: antiquewhite;
    /* background: linear-gradient(180deg, rgba(17, 197, 77, 0.548) 0%, rgb(82, 143, 89) 100%); */
    color: white;
  }
   
  .mat-mdc-table .mdc-data-table__row {
    height: 45px;
  }
   
  
   
  /* close button */
  .close-btn {
    /* removing default bg of button */
    background: none;
    border: none;
    right: calc(var(--padding) - var(--gap));
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
   
   
  .example-container {
    max-height: 323px;
    height: 100%;
    overflow: auto;
    scrollbar-width: auto;
  }
   
  table {
    width: 100%;
  }
  .dialog-card-header {
    display: flex;
    justify-content: space-between;
    background-color: #7db855be;
    color: #141E46;
    font-family: "Roboto";
    padding: 10px;
  }
   
  .dialog-body {
    padding: 16px;
  }
   
  .dialog-body .form {
    box-shadow: none;
  }
   
  .dialog-body .form__linput,
  .dialog-body .form__label,
  .dialog-body .form__input {
    margin-bottom: 12px; /* Adjust this value as needed for spacing */
  }
   
  .dialog-body .btn {
    margin-top: 10px;
  }
   
   
   
  .refresh-btn {
    background:none;
    color: black; /* Contrasting color for the icon */
    font-size: 26px; /* Visible and clear */
    border: none; /* No border for a minimalistic look */
    border-radius: 5px; /* Slight rounding for a modern feel */
    padding-bottom: 20px; /* Equal padding on all sides */
    height: 20px;
    width:28px;
   
    cursor: pointer; /* Pointer to indicate it's clickable */
  }