<!--   -->

<h4 style="text-align:left;color:#141E46;"> Customers</h4>
<mat-card-header>
    <div class="row mt-4">

        <div class="col">

            <div class="search ">
                <form class="form">
                    <label for="search">
                        <input #input required autocomplete="off" placeholder="Search" id="search" type="text" name="search" [(ngModel)]="currentfilval">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <button (click)="reload()" type="reset" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
                </form>

            </div>&nbsp;&nbsp;&nbsp;
            <button (click)="customer(currentfilval)" style="color:white;background-color: #141E46;border-radius: 10px;"
                mat-raised-button>Go</button>
            &nbsp;
            <button style="color:white;background-color: #141E46;border-radius: 10px;" (click)=" exportexcel()"
                mat-raised-button [hidden]="valueCustomerExport!=='Customers-Export'">Export</button>

        </div>

    </div>
</mat-card-header>
<!-- <mat-card> -->
<mat-card-content>

    <div class="example-container
    mt-4">


        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="customerId">
                <th mat-header-cell *matHeaderCellDef> S.No</th>
                <td mat-cell *matCellDef="let viewall; let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="customerName">
                <th mat-header-cell *matHeaderCellDef>Customer Name</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.customerName}}</td>
            </ng-container>

            <ng-container matColumnDef="customerReferenceId">
                <th mat-header-cell *matHeaderCellDef>Customer Id</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.customerReferenceId}}</td>
            </ng-container>

            <ng-container matColumnDef="entityName">
                <th mat-header-cell *matHeaderCellDef>Entity Name</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.merchantId?.entityName}}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="merchantLegalName">
                <th mat-header-cell *matHeaderCellDef>Merchant Legal Name</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.merchantId?.merchantLegalName}}</td>
            </ng-container> -->

            <ng-container matColumnDef="categoryName">
                <th mat-header-cell *matHeaderCellDef>Category </th>
                <td mat-cell *matCellDef="let viewall">{{viewall.merchantId?.businessCategoryModel?.categoryName}}</td>
            </ng-container>

            <ng-container matColumnDef="emailAddress">
                <th mat-header-cell *matHeaderCellDef>Email Address</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.emailAddress}}</td>
            </ng-container>

            <ng-container matColumnDef="mobileNumber">
                <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.mobileNumber}}</td>
            </ng-container>
            <ng-container matColumnDef="routeassigned">
                <th mat-header-cell *matHeaderCellDef>Route Assigned Status</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.routeAssignedStatus==0? 'Not Assigned':'Signed'}}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="flatNumber">
                <th mat-header-cell *matHeaderCellDef>Flat Number</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.flatNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="blockNumber">
                <th mat-header-cell *matHeaderCellDef>Block Number</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.blockNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="stbNumber">
                <th mat-header-cell *matHeaderCellDef>STB Number</th>
                <td mat-cell *matCellDef="let viewall">{{viewall.stbId.setupBoxNumber}}</td>
            </ng-container> -->

            <ng-container matColumnDef="Viewcustomer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="valueCustomerView!=='Customers-View'">
                    View Customer</th>
                <td style="cursor: pointer;" mat-cell *matCellDef="let viewall"
                    (click)="Viewparticularcustomer(viewall.customerId)"
                    [hidden]="valueCustomerView!=='Customers-View'">
                    <i class="fas fa-eye" style="font-size: 16px;color: rgb(39, 39, 95);"></i>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
                <td class="mat-cell" colspan="4">No Data For {{input.value}}
                </td>
            </tr>
        </table>

    </div>
</mat-card-content>
<mat-card-footer>

    <!-- <mat-paginator [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons
        aria-labels="select page of users"></mat-paginator> -->


    <div class=" row d-flex justify-content-end mt-3 mx-2" *ngIf="!filter">
        <div class="col-md-7"></div>
        <div class="col-md-5">
            <button style="color:white;background-color: #141E46;">Total Entries:{{this.totalPages}}</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex(pageIndex - 1)"
                [hidden]="pageIndex === 0">Previous</button>
            <button style="color:white;background-color: #141E46;">{{ this.currentpage}} of {{this.totalpage}}
                Pages</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex(pageIndex + 1)"
                [hidden]="pageIndex >= totalpage - 1">Next</button>
        </div>
    </div>
    <div class=" row d-flex justify-content-end mt-3 mx-2" *ngIf="filter">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button style="color:white;background-color: #141E46;">Total Entries:{{this.totalPages1}}</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex1(pageIndex1 - 1)"
                [hidden]="pageIndex1 === 0">Previous</button>
            <button style="color:white;background-color: #141E46;">{{this.currentpage1}} of {{this.totalpage1}}
                Pages</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex1(pageIndex1 + 1)"
                [hidden]="pageIndex1 >= totalpage1 - 1">Next</button>
        </div>
    </div>

</mat-card-footer>
<!-- </mat-card> -->