<mat-dialog-content class="mat-typography" style="width: 804px;">
  <div class="row">
    <div class="col">
      <div class="search">
        <form class="form">
          <label for="search">
            <input #input (keyup)="applyFilter($event)" autocomplete="off" placeholder="Search" id="search"
              type="search" />
            <div class="icon">
              <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round" stroke-linecap="round">
                </path>
              </svg>
            </div>
            <button (click)="reload()" type="reset" class="close-btn">
              <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  fill-rule="evenodd"></path>
              </svg>
            </button>
          </label>
        </form>
      </div>
    </div>
    <div class="col text-end">
      <button matDialogClose style="color:white;background-color: #141E46;font-size: 14px;">Close</button>
    </div>

  </div>


  <div class="example-container text-nowrap mt-3" style="overflow-x: scroll; scrollbar-width: thin">
    <!-- <span  class="errormge">NO DATA FOUND</span> -->

    <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1">
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef>S.No</th>
        <td mat-cell *matCellDef="let data; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="permission">
        <th mat-header-cell *matHeaderCellDef>Enabled Permission</th>
        <td mat-cell *matCellDef="let data">
          {{ data?.permission?.permission }}
        </td>
      </ng-container>
      <ng-container matColumnDef="sub">
        <th mat-header-cell *matHeaderCellDef>Enabled Actions</th>
        <td mat-cell *matCellDef="let data">
          {{ data?.subPermissions }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No Data</td>
      </tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 500]" showFirstLastButtons
    aria-labels="select page of users"></mat-paginator>
</mat-dialog-content>