.container {
  max-width: 900; /* Increase container width */
}

.form-header {
  background-color: #141e46; /* Header background color */
  color: white;
  padding: 0.3rem;
  margin-bottom: 0;
}

.form-group label {
  font-weight: 500;
}

.form-control {
  border-radius: 0.375rem;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  background-color: #138496;
  border-color: #117a8b;
}

.btn {
  border-radius: 0.375rem;
}

.well {
  height: 450px;  
  width: 700px; 
   background-color: #ffffff; /* Card background color */
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); /* Light shadow */
}

@media (max-width: 576px) {
  .form-group label {
    font-size: 0.9rem; /* Adjust label font size for smaller screens */
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(221, 160, 221, 0.356);
  color: #52036e;
  font-family: "Roboto";
}

th {
  background-color: #7db855be !important;
  color: #141e46;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  
}
td {
  font-size: 14px;
  white-space: nowrap;
}
