<div class="card" style=" font-size: 14px;height:590px;">
    <div class="form-header d-flex justify-content-between align-items-center">
        <h6 class="mb-0 text-center" style="color:#fff;">Transaction Information</h6>
        <button type="button" class="btn btn-secondary" mat-dialog-close>Back</button>
    </div>
        <table class="table table-bordered"
            style="background-color: white; text-align: left;border: 1px solid rgb(154, 154, 153);">
            <tbody>
                <tr>
                    <td class="datas">Payment ID</td>
                    <td id="data">{{content?.paymentId}}</td>
                </tr>
                <tr>
                    <td class="datas">Account ID</td>
                    <td id="data">{{content?.attempt?.accountId}}</td>
                </tr>
                <tr>
                    <td class="datas">Terminal ID</td>
                    <td id="data">{{content?.attempt?.terminalId}}</td>
                </tr>
                <tr>
                    <td class="datas">Bank Reference
                    <span  *ngIf="content?.bankReference == null || content?.bankReference == 'null' ">-</span>
                    <span *ngIf="content?.bankReference != null && content?.bankReference != 'null'">  {{content?.bankReference}}</span>
                </td>
            </tr>
               
                <tr>
                    <td class="datas">Payment Status</td>
                    <td id="data">
                        <span *ngIf="content?.attempt?.completed =='SUCCESS'" class="text-success">{{content?.attempt?.completed}}</span>
                        <span *ngIf="content?.attempt?.completed =='FAILURE'" class="text-danger">{{content?.attempt?.completed}}</span>

                    </td>
                </tr>
                <tr>
                    <td class="datas">Customer Name</td>
                    <td id="data">{{content?.attempt?.customer}}</td>
                </tr>
                <tr>
                    <td class="datas">VPA</td>
                    <td id="data">{{content?.attempt?.vpa}}</td>
                </tr>
                <!-- <tr>
                    <td class="datas">Merchant OrderNumber</td>
                    <td id="data">{{content?.attempt?.merchantOrderNo}}</td>
                </tr> -->
                <tr>
                    <td class="datas">Total Payable Amount</td>
                    <td id="data"  class="text-success">₹{{content?.attempt?.amount}}</td>
                </tr> 
                <tr>
                    <td class="datas">IGST</td>
                    <td id="data" >{{content?.igst ||'--'}}</td>
                </tr>
                <tr>
                    <td class="datas">CGST</td>
                    <td id="data" >{{content?.cgst ||'--'}}</td>
                </tr>
                <tr>
                    <td class="datas">SGST</td>
                    <td id="data" >{{content?.sgst ||'--'}}</td>
                </tr>
                <!-- <tr>
                    <td class="datas">Status</td>
                    <td id="data" >{{content?.status ||'--'}}</td>
                </tr> -->
                <!-- <tr> -->
                <!-- <td class="datas">Card Expiry</td>
                <td id="data">
                 <span  *ngIf="content?.cardExpiry == null || content?.cardExpiry == 'null' ">-</span>
                 <span *ngIf="content?.cardExpiry != null && content?.cardExpiry != 'null'">  {{content?.cardExpiry}}</span>  
                  </td>
            </tr>
            <tr >
                <td class="datas">Card Masked No</td>
                <td id="data">
                    <span  *ngIf="content?.cardNoMasked == null || content?.cardNoMasked == 'null' ">-</span>
                    <span *ngIf="content?.cardNoMasked != null && content?.cardNoMasked != 'null'">  {{content?.cardNoMasked}}</span>  
                    </td>
            </tr>
                <tr>
                    <td class="datas">Paid At</td>
                    <td id="data">{{ content?.paymentDateTime | date:'dd-MM-yyyy hh:mm a'}}
                    </td>
                </tr> -->
                <!-- <tr>
                    <td class="datas">Status</td>
                    <td id="data" style="font-weight: 500;">
                        <span *ngIf="content?.paymentStatus == 'Success'" class="text-success">
                            {{ content?.paymentStatus}}</span>
 
                        <span *ngIf="content?.paymentStatus   == 'Pending'" class="text-warning">
                            {{ content?.paymentStatus || '--'}}</span>
 
                        <span *ngIf="content?.paymentStatus  == 'Initiated'" class="text-warning">
                            {{ content?.paymentStatus||'--'}}</span>
 
                            <span *ngIf="content?.paymentStatus  == 'Failure'" class="text-danger">
                                {{ content?.paymentStatus||'--'}}</span>
     
                    </td>
                </tr> -->
             
            </tbody>
        </table>
 
 
    </div>
 