
 
*,
*::before,
*::after {
  box-sizing: border-box;
}
 
button {
  font: inherit;
}
 
.page {
  color: var(--gray-9);
 
  display: grid;
  grid-template-areas: "main";
  height: auto;
  font-family: var(--font-sans);
}
 
.page__main {
  grid-area: main;
}
 
.main {
  display: grid;
  justify-items: center;
  align-items: center;
}
 
.main__form {
  width: 100%;
  max-width: 30em;
  /* Max width for the form */
}
 
.form {

  display: grid;
  width: 100%;
  max-width: 100%;

  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.form__linput {
  display: grid;
  margin-bottom: 10px;
}
 
.form__label {
  margin-bottom: 10px;
}
 
.form__input,
.form__select,
.form__textarea {
  padding: 0.5em 0.7rem;
 
  width: 100%;
}
 
.form__select {
  background: inherit;
}
 
.form__textarea {
  padding: 1em 0.7rem;
  resize: vertical;
  font: inherit;
}
 
.form__btn {
  margin-right: auto;
}
 

 
.flex {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}
 
.submit,
.cancel {
  border: none;
  border-radius: var(--radius-2);
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
 
.submit {
  background-color: #1a202c;
  color: #fff;
}
 
.submit:hover {
  background-color: #2d3748;
}
 
.cancel {
  background-color: #b44640;
  color: #fff;
}
 
.cancel:hover {
  background-color: #c53030;
}
 
@media (max-width: 600px) {
  .main__form {
    padding: 10px;
  }
 
  .form {
    padding: 10px;
  }
 
  .submit,
  .cancel {
    padding: 0.5em 1em;
    font-size: 0.875rem;
  }
}
 
 
.card-header {
 
  background-color: #bcdf72;
  color: #141E46;
  font-family: "Roboto";
}
 

.notes-container {
  overflow-y: auto;
  max-height: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  /* margin-top: 1rem; */
  width: 100%;
  text-align: left; /* Align text to left for better readability */
}
 
.notes-container ul {
  padding: 0;
  list-style-type: disc; /* Add bullet points */
  margin-left: 20px; /* Indent the list for better alignment */
}
 
.notes-container ul li {
  margin-bottom: 0.5rem;
}