<i
  style="
    margin-left: 95%;
    font-size: 27px;
    margin-bottom: 1px;
    margin-top: 4px;
    color: red;
  "
></i>

<img
  *ngIf="imageSrc"
  [src]="imageSrc"
  style="
    width: 500px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  "
/>

<div *ngIf="!imageSrc" style="background-color: lightgray" class="text-center">
  <!-- <i class="bi bi-person-circle" style="color: gray; font-size: 200px"></i> -->
  <img
    src="../../../../assets/images.png"
    alt=""
    srcset=""
    style="width: 500px; height: 300px"
  />
</div>

<div class="p-2">
  <form [formGroup]="myForm">
    <label class="form__label">Update Channel Logo</label>
    <input
      class="form-control"
      formControlName="logo"
      (change)="onFileSelected($event)"
      type="file"
    />

    <button
      class="buttonDownload mt-2"
      [disabled]="myForm.invalid"
      (click)="submit($event)"
    >
      Update
    </button>
    <button class="buttonDownloads mt-2" matDialogClose>Cancel</button>
  </form>
</div>
