@import "https://unpkg.com/open-props";
 
*,
*::before,
*::after {
  box-sizing: border-box;
}
 
button {
  font: inherit;
}
 
.page {
  color: var(--gray-9);
  background-color: var(--gray-0);
  display: grid;
  grid-template-areas: "main";
  height: auto;
  width: 100%;
  /* padding: 10px; */
  /* margin-left: 80px; */
  font-family: var(--font-sans);
}
 
.page__main {
  grid-area: main;
}
 
.main {
  display: grid;
  justify-items: center;
  align-items: center;
  /* padding: var(--size-3); */
}
 
.main__form {
  width: 100%;
  max-width: 40em;

  /* Max width for the form */
}
 
.form {
  color: var(--gray-9);
  background-color: #fff;
  display: grid;
  width: 100%;
  max-width: 100%;
  border: 1px solid var(--gray-4);
  border-radius: var(--radius-2);
  padding: var(--size-3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
.form__linput {
  display: grid;
  margin-bottom: var(--size-3);
}
 
.form__label {
  margin-bottom: var(--size-2);
}
 
.form__input,
.form__select,
.form__textarea {
  padding: 0.5em 0.7rem;
  border: 1px solid var(--gray-4);
  border-radius: var(--radius-2);
  width: 100%;
}
 
.form__select {
  background: inherit;
}
 
.form__textarea {
  padding: 1em 0.7rem;
  resize: vertical;
  font: inherit;
}
 
 
 
 
 
 
@media (max-width: 600px) {
  .main__form {
    padding: var(--size-2);
  }
 
  .form {
    padding: var(--size-2);
  }
 
}
 
 
 
.button1 {
  background-color: black;
  border: 1px solid black;
  border-radius: .5rem;
  color: #f9fafb;
  font-size: .875rem;
  line-height: 1.25rem;
  padding: .25rem 0.50rem;
  width: 80px;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
 
.form__label {
  font-weight: 500;
}



/* card */

.container {
  max-width: 900;
  /* Increase container width */
}

.form-header {
  background-color: #141E46;
  /* Header background color */
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  /* Rounded corners on top */
  margin-bottom: 0.5rem;
}

.form-group label {
  font-weight: 500;
}

.form-control {
  border-radius: 0.375rem;
}



.well {
  background-color: #ffffff;
  /* Card background color */
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  padding: 1.5rem;
  /* margin-top: 27px; */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  /* Light shadow */
}

@media (max-width: 576px) {
  .form-group label {
      font-size: 0.9rem;
      /* Adjust label font size for smaller screens */
  }
}

.card {
  /* display: flex;
  justify-content: space-between; */
  background-color: #bcdf72;
  color: white;
  font-family: "Roboto";
}


.otp-field {
  flex-direction: row;
  column-gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.otp-field input {
  height: 48px;
  width: 48px;
  border-radius: 6px;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.otp-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
  display: none;
}