<div class="card-header">
    <h3 class="mb-0" style="font-weight: 700">Edit Terms & Policy</h3>
    <button (click)="close()">Back</button>
</div>
 
<body class="page">
    <main class="main page__main">
 
 
        <form class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="editadminpolicy">
 
            <div class="form-group">
                <label class="form-label" for="message">Merchant Name:</label>
                <select class="form-select" formControlName="merchantId">
                    <option style="text-align: center;" selected disabled>---Select--
                    </option>
                 
                    <option ngModel="{{policyview?.merchantName}}" style="text-align: center;" *ngFor="let item of MerchantName;"
                    [value]="item.merchantId">
                    {{item.merchantLegalName}}
                </option>
                </select>
                <span style="color: red; font-size: 12px;margin-top: 2px;" class="error"
                    *ngIf="merchantId?.touched && merchantId?.errors?.['required']">Field is
                    Required</span>
            </div>
 
 
            <div class="form__linput">
                <label class="form__label" for="fname">Terms and Condition</label>
 
                <textarea  ngModel="{{policyview?.termAndCondition}}" class="form__input" id="fname" type="text"
                    formControlName="termAndCondition" name="termAndCondition"
                    placeholder="Enter Terms and condition..." name="" id="" cols="25" rows="4"></textarea>
 
                <!-- <input required/> -->
                <div style="color: red; font-size: 12px;margin-top: 2px;"
                    *ngIf="termAndCondition?.invalid && termAndCondition?.touched && termAndCondition?.errors?.['required']">
                    Field is required
                </div>
            </div>
 
            <div class="form__linput">
                <label class="form__label" for="fname">Disclaimer</label>
                <textarea ngModel="{{policyview.disclaimer}}" class="form__input" id="fname" type="text"
                    formControlName="disclaimer" name="disclaimer" placeholder="Enter Disclaimer..." name="" id=""
                    cols="25" rows="3"></textarea>
                <div style="color: red; font-size: 12px;margin-top: 2px;"
                    *ngIf="disclaimer?.invalid && disclaimer?.touched && disclaimer?.errors?.['required']">
                    Field is required
                </div>
            </div>
 
            <div class="form__linput">
                <label class="form__label" for="fname">Privacy Policy</label>
                <textarea ngModel="{{policyview?.privacyPolicy}}" class="form__input" id="fname" type="text"
                    formControlName="privacyPolicy" name="privacyPolicy" placeholder="Enter Privacy Policy..." name=""
                    id="" cols="25" rows="3"></textarea>
 
                <div style="color: red; font-size: 12px;margin-top: 2px;"
                    *ngIf="privacyPolicy?.invalid && privacyPolicy?.touched && privacyPolicy?.errors?.['required']">
                    Field is required
                </div>
            </div>
 
 
            <div class="form__linput">
                <label class="form__label" for="fname">Refund Policy</label>
                <textarea ngModel="{{policyview.refundPolicy}}" class="form__input" id="fname" type="text"
                    formControlName="refundPolicy" name="refundPolicy" placeholder="Enter Refund Policy..." name=""
                    id="" cols="25" rows="3"></textarea>
                <div style="color: red; font-size: 12px;margin-top: 2px;"
                    *ngIf="refundPolicy?.invalid && refundPolicy?.touched && refundPolicy?.errors?.['required']">
                    Field is required
                </div>
            </div>
 
            <div>
                <button type="submit" class="submit" [disabled]="editadminpolicy.invalid"
                    (click)="adminedit()">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="cancel" matDialogClose (click)="close()">Cancel</button>
            </div>
        </form>
    </main>
</body>