table {
  font-size: 13px;
  font-weight: 400;
}


#customers {
  border-collapse: collapse;
  width: 100%;
}
.swap-off {
transform: rotate(-80deg);
opacity: 0;
visibility: hidden;
}
/* close button */
.close-btn {
/* removing default bg of button */
background: none;
border: none;
right: calc(var(--padding) - var(--gap));
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
color: #111;
padding: 0.1em;
width: 20px;
height: 20px;
border-radius: 50%;
transition: 0.3s;
opacity: 0;
transform: scale(0);
visibility: hidden;
}

.search {
position: relative;
color: #aaa;
font-size: 16px;
}

.search {display: inline-block;}

.search input {
width: 250px;
height: 32px;
border: 1px solid #aaa;
border-radius: 5px;
}

.search input { text-indent: 5px;}
.search .fa-search {
position: absolute;
top: 10px;
left: 10px;
}

.search .fa-search {left: auto; right: 10px;}


.demo-row-is-clicked {
font-weight: bold;
}

.form {
--input-bg: #FFf;
/*  background of input */
--padding: 1.5em;
--rotate: 80deg;
/*  rotation degree of input*/
--gap: 2em;
/*  gap of items in input */
--icon-change-color: #15A986;
/*  when rotating changed icon color */
--height: 40px;
/*  height */
width: 250px;
padding-inline-end: 1em;
/*  change this for padding in the end of input */
background: var(--input-bg);
position: relative;
border-radius: 15px;
}

.form label {
display: flex;
align-items: center;
width: 100%;
height: var(--height);
}

.form input {
width: 100%;
padding-inline-start: calc(var(--padding) + var(--gap));
outline: none;
background: none;
border: 0;
}
/* style for both icons -- search,close */
.form svg {
/* display: block; */
color: #111;
transition: 0.3s cubic-bezier(.4,0,.2,1);
position: absolute;
height: 15px;
}
.icon {
position: absolute;
left: var(--padding);
transition: 0.3s cubic-bezier(.4,0,.2,1);
display: flex;
justify-content: center;
align-items: center;
}
#customers th {
  text-align: center;
  color: black;
  background-color: #7db855be;
  font-size: 13px;
  font-weight: 600;
}

.broadcaster-info-container {
 
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 20px; /* Padding around the content */
}

.broadcaster-info-container h4,
.broadcaster-info-container h6 {
  color: #141E46; /* Custom text color */
}

.broadcaster-info-container h4 span,
.broadcaster-info-container h6 span {
  font-weight: 600; /* Bold text for the details */
}

.broadcaster-info-container hr {
  border-top: 1px solid #dee2e6; /* Separator line */
}

.broadcaster-info-container .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
 
.form input:focus ~ .icon {
  transform: rotate(var(--rotate)) scale(1.3);
}
 
.form input:focus ~ .icon .swap-off {
  opacity: 1;
  transform: rotate(-80deg);
  visibility: visible;
  color: var(--icon-change-color);
}
 
.form input:focus ~ .icon .swap-on {
  opacity: 0;
  visibility: visible;
}
 
.form input:valid ~ .icon {
  transform: scale(1.3) rotate(var(--rotate))
}
 
.form input:valid ~ .icon .swap-off {
  opacity: 1;
  visibility: visible;
  color: var(--icon-change-color);
}
 
.form input:valid ~ .icon .swap-on {
  opacity: 0;
  visibility: visible;
}
 
.form input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: 0s;
}
