* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.body {
    width: 100%;
    /* padding-top: 200px; */
}
 
 
.container {
    max-width: 642px;
    width: 100%;
    /* padding: 20px; */
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px; */
}
 
.card {
    /* background-color: #fff; */
    position: relative;
    /* border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3); */
    /* padding-top: 200px; */
    border: none;
}
 
/* .card img{
    width: 90%;
    height: 250px;
    object-fit: cover;
    position: absolute;
    top: -50px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
} */
 
.card-body {
    padding: 20px;
}
 
.card-body .card-title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
 
.card-body .card-text {
    font-size: 14px;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 23px;
    font-weight: 500;
    max-height: 260px;
    height: 100%;
    overflow-y: scroll;
}
 
.card-body .btn {
    width: 25%;
    display: block;
    text-align: center;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.4s ease;
}
 
/* .card-body .btn:hover {
    background-color: blue;
    color: #fff;
} */
 
@media screen and (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
        grid-row-gap: 100px;
    }
 
 
}