
<div class="card" style=" font-size: 14px;height:300px;" >
    <div class="form-header d-flex justify-content-between align-items-center">
        <h6 class="mb-0 text-center" style="color:#fff;">Onboard Information</h6>
        <button type="button" [hidden]="valueonboardadd!=='Entity View-Onboard Information-Add'"  class="btn" style="background-color:#141E46;color:white" (click)="editKeys(this.merchantId)" mat-dialog-close><i class="fas fa-edit" style="color:#fff;"></i></button>
    </div>
        <table class="table table-bordered"
            style="background-color: white; text-align: left;border: 1px solid rgb(154, 154, 153);">
            <tbody>
                <tr>
                    <td class="datas">Account ID</td>
                    <td id="data">{{ detaislone?.accountId }}</td>
                </tr>
                <tr>
                    <td class="datas">Api Key</td>
                    <td id="data" >{{ detaislone?.apikey | slice:0:10 }} &nbsp;<i class="fa-regular fa-copy" style="color:green;font-size:18px"  (click)="copyText(detaislone?.apikey)"></i>
                        <span *ngIf="copySuccess" style="color: green;">Copied!</span>
                    </td>
                </tr>
                <tr>
                    <td class="datas">Secret Key</td>
                    <td id="data">{{ detaislone?.secretkey | slice:0:10 }}
                        &nbsp;<i class="fa-regular fa-copy" style="color:green;font-size:18px"  (click)="copyText1(detaislone?.secretkey)"></i>
                        <span *ngIf="copySuccesss" style="color: green;">Copied!</span>
                    </td>
                </tr>
                <tr>
                    <td class="datas">Onboard Status</td>
                    <td id="data">

                        <span *ngIf="detaislone?.onBoardStatus == 'true'">Approved</span>
                        <span *ngIf="detaislone?.onBoardStatus == 'false'">Pending</span>
                    </td>
                </tr>          
            </tbody>
        </table>
       <div class="text-start mt-0 mx-3">
        <button class="buttonDownload" 
        mat-dialog-close>Close</button>
       </div>
    </div>
    


