<table>
  <tbody>
    <tr></tr>
    <tr>
      <td>
        <h4
          style="
            text-align: left;
            margin-bottom: 10px;
            margin-top: 1%;
            margin-left: 10px;
          "
        >
          Bank Matching Details
        </h4>
      </td>
      <td>
        <button
          matDialogClose
          style="
            background: #161685;
            color: white;
            border: 1px solid #161685;
            margin-bottom: 7px;
            border-radius: 3px;
          "
        >
          Close
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="container table-responsive" style="padding: 1px">
  <table class="table table-bordered table-hover" style="width: 700px">
    <thead class="thead-dark">
      <tr>
        <th scope="col">S.NO</th>
        <th scope="col">Name</th>
        <th scope="col">Given Details</th>
        <th scope="col">Facheck Details</th>
        <th scope="col">Matching Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Account Holder Name</td>
        <td>{{ this.Bankdetails?.accountHolderName }}</td>
        <td>{{ this.bankverifyres?.accountName }}</td>
        <td
          [ngClass]="{
            'text-success':
              this.Bankdetails?.accountHolderName ===
              this.bankverifyres?.accountName,
            'text-danger':
              this.Bankdetails?.accountHolderName !==
              this.bankverifyres?.accountName
          }"
        >
          {{
            this.Bankdetails?.accountHolderName ===
            this.bankverifyres?.accountName
              ? "Matched"
              : "Not
                    Matched"
          }}
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Account Number</td>
        <td>{{ this.Bankdetails?.accountNumber }}</td>
        <td>{{ this.bankverifyres?.accountNumber }}</td>
        <td
          [ngClass]="{
            'text-success':
              this.Bankdetails?.accountNumber ===
              this.bankverifyres?.accountNumber,
            'text-danger':
              this.Bankdetails?.accountNumber !==
              this.bankverifyres?.accountNumber
          }"
        >
          {{
            this.Bankdetails?.accountNumber ===
            this.bankverifyres?.accountNumber
              ? "Matched"
              : "Not
                    Matched"
          }}
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Bank Name</td>
        <td>{{ this.Bankdetails?.bankId?.bankName }}</td>
        <td>{{ this.bankverifyres?.bankName }}</td>
        <td
          [ngClass]="{
            'text-success':
              this.Bankdetails?.bankId?.bankName ===
              this.bankverifyres?.bankName,
            'text-danger':
              this.Bankdetails?.bankId?.bankName !==
              this.bankverifyres?.bankName
          }"
        >
          {{
            this.Bankdetails?.bankId?.bankName === this.bankverifyres?.bankName
              ? "Matched"
              : "Not Matched"
          }}
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Branch Name</td>
        <td>{{ this.Bankdetails?.branchName }}</td>
        <td>{{ this.bankverifyres?.branchName }}</td>
        <td
          [ngClass]="{
            'text-success':
              this.Bankdetails?.branchName === this.bankverifyres?.branchName,
            'text-danger':
              this.Bankdetails?.branchName !== this.bankverifyres?.branchName
          }"
        >
          {{
            this.Bankdetails?.branchName === this.bankverifyres?.branchName
              ? "Matched"
              : "Not Matched"
          }}
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>IFSC Code</td>
        <td>{{ this.Bankdetails?.ifscCode }}</td>
        <td>{{ this.bankverifyres?.ifsc }}</td>
        <td
          [ngClass]="{
            'text-success':
              this.Bankdetails?.ifscCode === this.bankverifyres?.ifsc,
            'text-danger':
              this.Bankdetails?.ifscCode !== this.bankverifyres?.ifsc
          }"
        >
          {{
            this.Bankdetails?.ifscCode === this.bankverifyres?.ifsc
              ? "Matched"
              : "Not Matched"
          }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
