<body>
    <span>
        <div class="card" style="width: 570px; font-size: 14px;height:auto">
            <div class="form-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">{{"Dues" |translate}}</h5>
                <button type="button" class="btn btn-secondary" mat-dialog-close>{{"Back" |translate}}</button>
            </div>
            <div class="card">
                <table class="table table-bordered">
                    <tbody style="width:900px">
                        <tr>
                            <td class="datas">{{"Payment ID" |translate}}</td>
                            <td id="data">{{ view?.pgPaymentId }}</td>
                        </tr>
                       <tr>
                            <td class="datas">{{"Payment Status" |translate}}</td>
                            <td id="data" style="font-weight: 500;">
                                <span *ngIf="view?.paymentStatus == 'Success'" class="text-success">
                                    {{ view?.paymentStatus}}</span>
 
                                <span *ngIf="view?.paymentStatus   == 'Due Pending'" class="text-warning">
                                    {{ view?.paymentStatus }}</span>
 
                                <span *ngIf="view?.paymentStatus  == 'Failure'" class="text-danger">
                                    {{ view?.paymentStatus}}</span>
 
                            <span *ngIf="view?.paymentStatus  == 'Initiated'" style="color:blue;">
                                {{ view?.paymentStatus}}</span>

                                <span *ngIf="view?.paymentStatus  == 'Due Cancelled'" style="color:red;">
                                    {{ view?.paymentStatus}}</span>
                                <span *ngIf="view?.paymentStatus  == 'Payment Incomplete'" style="color:red;">
                                    {{ view?.paymentStatus}}</span>
                             
                            </td>
                        </tr>
                        <tr>
                            <td class="datas">{{"Due Amount" |translate}}</td>
                            <td id="data" class="text-success">₹{{ view?.totalPayableAmount }}</td>
                        </tr>
                       
 
                       
                        <!-- <tr>
                            <td class="datas">Order Reference No</td>
                            <td id="data">{{ view?.orderReference}}</td>
                        </tr> -->
                        <tr>
                            <td class="datas">{{"Bank Reference No" |translate}}</td>
                            <td id="data">{{ view?.bankReference}}</td>
                        </tr>
                        <tr>
                            <td class="datas">{{"Payment Method" |translate}}</td>
                            <td id="data">{{ view?.paymentMethod}}</td>
                        </tr>
                        <tr>
                            <td class="datas">{{"Card Expiry" |translate}}</td>
                            <td id="data">
                             <span  *ngIf="view?.cardExpiry == null || view?.cardExpiry == 'null' ">-</span>
                             <span *ngIf="view?.cardExpiry != null && view?.cardExpiry !== 'null'">  {{view?.cardExpiry}}</span>  
                              </td>
                        </tr>
                        <tr>
                            <td class="datas">{{"Card Masked No" |translate}}</td>
                            <td id="data">
                                <span  *ngIf="view?.cardNoMasked == null || view?.cardNoMasked == 'null'">-</span>
                                <span *ngIf="view?.cardNoMasked != null && view?.cardNoMasked !== 'null'">  {{view?.cardNoMasked}}</span>  
                                </td>
                        </tr>
 
                        <tr>
                            <td class="datas">{{"Paid At" |translate}}</td>
                            <td id="data">{{ view?.paymentDateTime | date:"dd/MM/yyyy hh:mm a" }}
                            </td>
                        </tr>
                     
                    </tbody>
                </table>
 
 
            </div>
            <!-- <div class="text-center mb-1">
                <button type="submit" class="btn" style="background-color:#141E46;color:white"
                    (click)="cancel()">Close</button>
            </div> -->
        </div>
    </span>
</body>