.card-header {
 
    background-color:#7db855be;
    color: #141E46;
    font-family: "Roboto";
  }
   
  .buttonDownload {
    width:90px;
    display: inline-block;
    position: relative;
    padding:10px;
    background-color: #4CC713;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    border: none;
    border-radius: 5px;
   }
   .form__label{
    font-weight: 500;
  }
   
  .button-container {
    display: flex;
    gap: 15px; /* Adjust the gap between buttons as needed */
    
    font-size: 12px;
  }
  /* Base styles for modal content */
  .modal-body {
  padding: 15px;
  }
   
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
   
  .responsive-image {
  width: 100%;   /* Make the image responsive */
  max-width: 550px;  /* Set a max-width for larger screens */
  height: 270px;  /* Maintain aspect ratio */
  justify-content: center;
  }
   
  .no-data-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  }
   
  /* Responsive adjustments */
  @media (max-width: 768px) {
  .responsive-image {
    max-width: 100%;  /* Take full width on smaller screens */
  }
  .no-data-container {
    width: 90%;  /* Allow for a bit more margin on smaller screens */
    text-align: center;
  }
  }
   
  @media (max-width: 576px) {
  .responsive-image {
    max-width: 100%;
  }
  .no-data-container {
    width: 100%; /* On extra-small screens, the "No Data Found" message will use full width */
    text-align: center;
  }
  }
   