<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{"Campaign Image"|translate}}</h5>
      </div>
    <div class="modal-body">
      <div *ngIf="DocView">
        <img [src]="imageUrl" class="center responsive-image" />
      </div>
      <div *ngIf="!DocView">
        <div class="text-center mt-4 no-data-container">
          <h2>{{"No Data Found"|translate}}</h2>
        </div>
      </div>
    </div>
   
    <div class="p-2">
      <form [formGroup]="logoUpdate">
          <label class="form__label">{{"File"|translate}}</label>
          <input class="form-control sm" type="file" name="logo" formControlName="fileImage" accept="image/*" (change)="onFileSelected($event)">
      
          <div class="button-container mt-3">
            <button class="buttonDownload" (click)="Update()">{{"Update"|translate}}</button>
            <button style="font-size: 13px;" type="button" class="btn btn-danger" (click)="close()">{{"Close"|translate}}</button>
          </div>
      </form>
    
    </div>
</div>

