.container {
  max-width: 1500px;
  margin-bottom: 10px;
}

.form-header {
  background-color: #141E46;
  color: white;
  padding: 0.5rem;
  margin-top: 10px;
  border-radius: 0.5rem 0.5rem 0 0;
}

.form-group label {
  font-weight: 500;
}

.form-control {
  border-radius: 0.375rem;
}



.well {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .form-group label {
    font-size: 0.9rem;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  background-color: #bcdf72;
  color: white;
  font-family: "Roboto";
}

.error {
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin-top: 2px;
  position: relative;
  ;
}

.error1 {
  color: red;
  font-size: 12px;
  margin-top: 2px;
  font-weight: 500;
  position: relative;
}