* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  .body {
    width: 100%;
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    background: #7db855be;
    justify-content: center;
    align-items: center;
  }
  
  
  .otp-field {
    flex-direction: row;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .otp-field input {
    height: 48px;
    width: 48px;
    border-radius: 6px;
    outline: none;
    font-size: 1.125rem;
    text-align: center;
    border: 1px solid #ddd;
  }
  .otp-field input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .otp-field input::-webkit-inner-spin-button,
  .otp-field input::-webkit-outer-spin-button {
    display: none;
  }
  
  .resend {
    font-size: 12px;
  }
  
  .footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
    font-size: 12px;
    text-align: right;
    font-family: monospace;
  }
  
  .footer a {
    color: black;
    text-decoration: none;
  }
   button {
    width: 80%;
    height: 46px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #141E46;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom:18px;
    transition: 0.3s ease;
  }
  @media (max-width:868px){

    #block{
    min-width:440px;
  }
    
  
  .otp-field {
    flex-direction: row;
    column-gap: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .otp-field input {
    height: 20px;
    width: 20px;
    border-radius: 3px;
    outline: none;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ddd;
  }
}