<div class="card" style=" font-size: 14px;height:149px;" >
    <div class="form-header d-flex justify-content-between align-items-center">
        <h6 class="mb-0 text-center" style="color:black;">SMS Description</h6>
        <button class="buttonDownload text-end"
        mat-dialog-close>Close</button>
    </div>
        <table class="table table-bordered"
            style="background-color: white; text-align: left;border: 1px solid rgb(154, 154, 153);max-width: 600px;">
            <tbody>
                
                <tr>
                    <!-- <td style="font-weight: 600;" class="datas">Description</td> -->
                    <td  id="data">{{this.id}}</td>
                </tr>
              
                <!-- <tr>
                    <td class="datas">Onboard Status</td>
                    <td id="data">
 
                        <span *ngIf="detaislone?.onBoardStatus == 'true'">Approved</span>
                        <span *ngIf="detaislone?.onBoardStatus == 'false'">Pending</span>
                    </td>
                </tr>           -->
            
            </tbody>
        </table>
   
    </div>