.container {
    padding: 1rem;
  }
  
  .form-header {
    background-color: #7db855be;
    color: white;
    padding: 0.75rem;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .well {
    border: 1px solid #dee2e6;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    height: auto;
  }
  
  .content {
    padding: 20px;
    height: auto;
  }
  
  .form-group label {
    font-weight: 500;
  }
  
  .form-control {
    border-radius: 0.375rem;
  }
  
  .btn {
    border-radius: 0.375rem;
  }
  
  @media (min-width: 992px) {
    .dialog-content {
      width: 550px;
      max-width: 90%;
    }
  }
  
  @media (max-width: 992px) {
    .dialog-content {
      width: 90vw;
      max-width: 550px;
    }
  }
  
  @media (max-width: 768px) {
    .form-header {
      flex-direction: column;
      text-align: center;
    }
  
    .form-header h5 {
      margin-bottom: 1rem;
    }
  
    .form-header button {
      width: auto;
      margin-top: 0.5rem;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      padding: 0.5rem;
      max-width: 90%;
    }
  
    .form-group label {
      font-size: 0.9rem;
    }
  
    .form-header button {
      width: auto;
      font-size: 0.875rem;
      padding: 0.25rem 0.5rem;
    }
  
    .well {
      padding: 1rem;
      overflow-y: auto;
    }
  }
  
  .buttonDownload {
    width:49px;
    display: inline-block;
    position: relative;
    padding:6px;
    background-color: #141E46;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    border: none;
    border-radius: 5px;
   }