<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css"
/>
<div class="card-header d-flex justify-content-between align-items-center">
  <h5 class="mb-0">Update Sms</h5>
</div>
<div class="container">
  <div class="well">
    <form [formGroup]="myForm">
      <div class="row mt-3">
        <div class="col-12 form-group">
          <label class="form__label" for="smsFors">SMS Type</label>
          <select
            class="form-select"
            id="period"
            formControlName="smsForpaid"
            ngModel="{{ Smsdetails?.smsCharge }}"
          >
            <option hidden>Select--</option>
 
            <option value="Free">Free</option>
            <option value="Paid">Paid</option>
          </select>
 
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="smsForpaid?.invalid && smsForpaid?.touched && smsForpaid?.errors?.['required']"
          >
            Field is required
          </div>
        </div>
 
        <div class="col-12 form-group ">
          <label class="form__label" for="merchantPosition">Selected SMS Template </label>
          <input class="form-control" id="merchantPosition" type="text" readonly formControlName="smsFor">
         
      </div>
        <!-- <div class="col-12 form-group">
          <label class="form__label" for="Bussiness category"
            >SMS Template</label
          >
          <select id="smsFors" class="form-select" formControlName="smsFor">
            <option [value]="items.smsTempId" *ngFor="let items of freepaid">
              {{ items?.smsTitle }}
            </option>
          </select>
 
          <div
            style="
              color: red;
              font-size: 12px;
              margin-top: 2px;
              position: relative;
            "
            *ngIf="smsFor?.invalid && smsFor?.touched && smsFor?.errors?.['required']"
          >
            Field is required
          </div>
        </div> -->
      </div>
 
      <div class="mb-3">
        <button
          (click)="submit()"
          [disabled]="myForm.invalid"
          type="submit"
          class="btn mx-1"
          style="background-color: #7db855be"
        >
          Submit
        </button>
        <button
          type="submit"
          class="btn"
          style="background-color: #141e46; color: white"
          matDialogClose
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>