@import "https://unpkg.com/open-props";

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font: inherit;
}

.page {
  color: var(--gray-9);
  background-color: var(--gray-0);
  display: grid;
  grid-template-areas: "main";
  height: auto;
  font-family: var(--font-sans);
}

.page__main {
  grid-area: main;
}

.main {
  display: grid;
  justify-items: center;
  align-items: center;
  /* padding: var(--size-3); */
  
}

.main__form {
  width: 100%;
  max-width: 30em;
}

.form {
  color: var(--gray-9);
  /* background-color: var(--gray-3); */
  display: grid;
  width: 100%;
  max-width: 100%;
  border: 1px solid var(--gray-4);
  border-radius: var(--radius-2);
  padding: var(--size-3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form__header {
  text-align: center;
  background-color: #141E46;
  color: white;
  padding: 5px 9px 8px;
  font-size: large;
  border-radius: 10px;
  box-shadow: 3px 3px #7db855be;
  margin-bottom: var(--size-3);
}

.form__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-3);
}

.form__linput {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: var(--size-2);
}

.form__input,
.form__select {
  padding: 0.5em 0.7rem;
  border: 1px solid var(--gray-4);
  border-radius: var(--radius-2);
  width: 100%;
}

.form__select {
  background: inherit;
}

.form__error {
  color: red;
  font-size: 12px;
  margin-top: 2px;
}

.form__buttons {
  /* display: flex; */
  justify-content: space-between;
  margin-top: var(--size-3);
}

.form__btn {
  border: none;
  border-radius: var(--radius-2);
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.form__btn--submit {
  background-color: #7db855be;
  color: #fff;
}

.form__btn--submit:hover {
  background-color: #6b9e43;
}

.form__btn--cancel {
  background-color: #141E46;
  color: #fff;
}

.form__btn--cancel:hover {
  background-color: #0d1a2b;
}

@media (max-width: 600px) {
  .form__grid {
    grid-template-columns: 1fr;
  }


  .form__btn {
    margin-bottom: var(--size-2);
  }
}


.card-header {

  background-color: #7db855be;
  color: #141E46;
  font-family: "Roboto";
  text-align: center;
}