<h5 style="text-align:left;color:#141E46;">Fargin Terms and Policy</h5>
<mat-card-header>
    <div class="row mt-5">
        <div class="col">
            <div class="search ">
                <form class="form">
                    <label for="search">
                        <input #input (keyup)="applyFilter($event)" required="" autocomplete="off" placeholder="Search"
                            id="search" type="text">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round">
                                </path>
                            </svg>
                            <!-- <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round">
                                </path>
                            </svg> -->
                        </div>
                        <button  (click)="reload()" type="reset" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
                </form>
 
            </div>
&nbsp;&nbsp;&nbsp;
            <button (click)="create()" style="color:white;background-color: #141E46;border-radius: 10px;"
                mat-raised-button [hidden]="valuefarginpolicyadd!=='Fargin Policy-Add'"> Create</button>
            <button style="color:white;background-color: #141E46;border-radius: 10px;" (click)="exportexcel()"
                mat-raised-button [hidden]="valuefarginpolicyexport!=='Fargin Policy-Export'">Export</button>
        </div>
    </div>
</mat-card-header>
<!-- <mat-card> -->
<mat-card-content>
    <div class="table-responsive text-nowrap  mt-4" style="overflow-x: scroll; scrollbar-width: thin;">
        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1">
            <ng-container matColumnDef="policyId">
                <th mat-header-cell *matHeaderCellDef> S.No</th>
                <td mat-cell *matCellDef="let data; let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="termAndCondition">
                <th mat-header-cell *matHeaderCellDef>Terms and
                    Condition</th>
                <td mat-cell *matCellDef="let data" >
                    <div class="privacy-policy-container">
                        <!-- Display the sliced text based on whether the full text is visible -->
                        <span *ngIf="!isFullPolicyVisible">
                            {{ data.termAndCondition | slice:0:limit }}
                        </span>
                        <span *ngIf="isFullPolicyVisible">
                            {{ data.termAndCondition }}
                        </span>
                        <i style="color: #141E46;font-weight: 600;cursor: pointer;" class="read-more"
                            (click)="Terms(data)">
                            <br>
                            {{ isFullPolicyVisible ? 'Read Less' : '...Read More' }}
                        </i>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="disclaimer">
                <th mat-header-cell *matHeaderCellDef >Disclaimer</th>
                <td mat-cell *matCellDef="let data" >
                    <div class="privacy-policy-container">
                        <!-- Display the sliced text based on whether the full text is visible -->
                        <span *ngIf="!isFullPolicyVisible">
                            {{ data.disclaimer | slice:0:limit }}
                        </span>
                        <span *ngIf="isFullPolicyVisible">
                            {{ data.disclaimer }}
                        </span>
                        <i style="color: #141E46;font-weight: 600;cursor: pointer;" class="read-more"
                            (click)="Disclaimer(data)">
                            <br>
                            {{ isFullPolicyVisible ? 'Read Less' : '...Read More' }}
                        </i>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="privacyPolicy">
                <th mat-header-cell *matHeaderCellDef>Privacy Policy
                </th>
                <td mat-cell *matCellDef="let data">
                    <div class="privacy-policy-container">
                        <!-- Display the sliced text based on whether the full text is visible -->
                        <span *ngIf="!isFullPolicyVisible">
                            {{ data.privacyPolicy | slice:0:limit }}
                        </span>
                        <span *ngIf="isFullPolicyVisible">
                            {{ data.privacyPolicy }}
                        </span>
                        <i style="color: #141E46;font-weight: 600;cursor: pointer;" class="read-more"
                            (click)="privacypolicy(data)">
                            <br>
                            {{ isFullPolicyVisible ? 'Read Less' : '...Read More' }}
                        </i>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="refundPolicy">
                <th mat-header-cell *matHeaderCellDef >Refund Policy
                </th>
                <td mat-cell *matCellDef="let data" >
                    <div class="privacy-policy-container">
                        <!-- Display the sliced text based on whether the full text is visible -->
                        <span *ngIf="!isFullPolicyVisible">
                            {{ data.refundPolicy | slice:0:limit }}
                        </span>
                        <span *ngIf="isFullPolicyVisible">
                            {{ data.refundPolicy }}
                        </span>
                        <i style="color: #141E46;font-weight: 600;cursor: pointer;" class="read-more"
                            (click)="refundpolicy(data)">
                            <br>
                            {{ isFullPolicyVisible ? 'Read Less' : '...Read More' }}
                        </i>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="Edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="valuetermedits!=='Fargin Policy-Edit'">
                    Action</th>
                <td mat-cell *matCellDef="let data" [hidden]="valuetermedits!=='Fargin Policy-Edit'">
                    <i style="cursor: pointer;font-size:15px; color:#545497;" (click)="Edit(data.policyId )"
                        class="fas fa-edit"></i>
                </td>
            </ng-container>

            <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef>Created By</th>
                <td mat-cell *matCellDef="let data">{{data.createdBy}}</td>
            </ng-container>

            <ng-container matColumnDef="createdDateTime">
                <th mat-header-cell *matHeaderCellDef>Created Date</th>
                <td mat-cell *matCellDef="let data">{{data.createdDateTime|date:"dd-MM-yyyy hh:mm a"}}</td>
            </ng-container>

            <ng-container matColumnDef="modifiedBy">
                <th mat-header-cell *matHeaderCellDef>Modified By</th>
                <td mat-cell *matCellDef="let data">{{data.modifiedBy}}</td>
            </ng-container>

            <ng-container matColumnDef="modifiedDateTime">
                <th mat-header-cell *matHeaderCellDef>ModifiedDateTime</th>
                <td mat-cell *matCellDef="let data">{{data.modifiedDateTime|date:"dd-MM-yyyy hh:mm a"}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
                <td class="mat-cell" colspan="4">No Data For {{input.value}}
                </td>
            </tr>
        </table>
    </div>
</mat-card-content>
<mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons
        aria-labels="select page of users"></mat-paginator>
</mat-card-footer>