<div class="container">

    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Create LCOP</h5>
        <button type="button" class="btn btn-secondary" matDialogClose>Back</button>
    </div>

    <div class="well" style="margin-top: 0px;">
        <form [formGroup]="myForm">

            <div class="row">
                <div class="form-group">
                    <label for="websites">LCOP Plans </label>
                    <mat-select
                      #select3
                      style="font-size: 12px"
                      class="form-select"
                      multiple
                      formControlName="lcop"
                      [ngModel]="lcp"
                    >
                      <div class="select-all">
                        <mat-checkbox
                          [(ngModel)]="allSelected3"
                          [ngModelOptions]="{ standalone: true }"
                          (change)= "toggleAllSelection3()"
                          >Select All</mat-checkbox
                        >
                      </div>
                      <mat-option *ngFor="let itemss of ActiveLCOP" [value]="itemss.lcopId">
                        {{ itemss?.planName }}
                      </mat-option>
                    </mat-select>
                    <div
                      style="
                        color: red;
                        font-size: 12px;
                        margin-top: 2px;
                        position: relative;
                      "
                      *ngIf="lcop?.invalid && lcop?.touched && lcop?.errors?.['required']"
                    >
                      Field is required
                    </div>
                  </div>

            </div>

            <div style="margin-top: 2%;">
                <button (click)="submit()" [disabled]="myForm.invalid" type="submit" class="btn mx-1 "
                    style="background-color:#7db855be">Submit</button>

            </div>

        </form>
    </div>

</div>
