<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="d-flex justify-content-end mb-1">
    <button class="button1" (click)="close()">Back</button>
</div>

<div class="navtabs">
    <div class="navtab" data-target="home"><i class="fa-solid fa-building-columns"></i>&nbsp;&nbsp;Transaction</div>
    <div class="navtab" data-target="about" (click)="viewsettlement(this.id)"><i
            class='fas fa-handshake'></i>&nbsp;&nbsp;Settlement</div>
    <div class="navtab" data-target="contact" (click)="ViewRefund(this.id)"><i
            class='fas fa-hand-holding-usd'></i>&nbsp;&nbsp;Refund</div>
    <div class="navtab" data-target="page4" (click)="Viewqr(this.id)"><i class="fa-solid fa-qrcode"></i>&nbsp;&nbsp;QR
        Generation</div>
    <div class="navtab" data-target="page5" (click)="Viewcustomer(this.id)"><i
            class="fa-solid fa-user"></i>&nbsp;&nbsp;Customers</div>

</div>


<div class="tab-container">
    <div class="tabs">
        <button class="tab" [class.active]="activeTab === 'events'" (click)="selectTab('events')">General
            Information</button>
        <button class="tab" [class.active]="activeTab === 'materials'" (click)="selectTab('materials')">Bank
            Information</button>
        <button class="tab" [class.active]="activeTab === 'videos'" (click)="selectTab('videos')">KYC Documents</button>
        <button class="tab" [class.active]="activeTab === 'doot1'" (click)="selectTab('doot1')">Final Approval</button>
    </div>
    <div class="tab-content" *ngIf="activeTab === 'events'">
        <div class="filters">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="p-1 mx-3" style="color: #141E46;font-weight: 500;font-size:20px;">Personal
                            Information</h5>
                    </div>
                    <div class="col-md-2 d-flex justify-content-end">
                        <i class="fas fa-edit" style="color: #141E46;font-weight: 500;font-size:20px;"
                            (click)="editpersonalInfo(this.id)"></i>
                    </div>
                </div>
                <hr>
                <article class=" car-details label-info">
                    <div class="d-flex flex-md-row align-items-md-start align-items-center flex-column">
                        <div class="w-100">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="d-flex flex-column">
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">
                                                    Reference Number</div>
                                                <div class="w-50">{{detaislone?.referenceNo}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">
                                                    Entity Name</div>
                                                <div class="w-50">{{detaislone?.entityName}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Merchant Legal Name
                                                </div>
                                                <div class="w-50">{{detaislone?.merchantLegalName}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Account DisplayName</div>
                                                <div class="w-50">{{detaislone?.accountDisplayName}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Bussiness category</div>
                                                <div class="w-50">
                                                    {{detaislone?.businessCategoryModel?.categoryName}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">MCC Code</div>
                                                <div class="w-50">{{detaislone?.mccCode}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Billing Address</div>
                                                <div class="w-50">{{detaislone?.billingAddress}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Area</div>
                                                <div class="w-50">{{detaislone?.area}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">City</div>
                                                <div class="w-50">{{detaislone?.city}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Pincode</div>
                                                <div class="w-50">{{detaislone?.zipcode}}</div>
                                            </div>

                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Api Key</div>
                                                <div class="w-50">
                                                    <span *ngIf="detaislone?.apikey"> {{detaislone?.apikey }}</span>
                                                    <span *ngIf="detaislone?.apikey==null"
                                                        style="color: orangered;font-weight: 600;">-</span>
                                                </div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Pg OnboardStatus</div>
                                                <div class="w-50">
                                                    <span *ngIf="detaislone?.onBoardStatus=='true'"
                                                        style="color: green;font-weight: 600;">Approved</span>
                                                    <span *ngIf="detaislone?.onBoardStatus=='false'"
                                                        style="color: red;font-weight: 600;">Pending</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="d-flex flex-column">
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Contact Name</div>
                                                <div class="w-50">{{detaislone?.contactName}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Contact Email</div>
                                                <div class="w-50">{{detaislone?.contactEmail}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Primary Mobile Number
                                                </div>
                                                <div class="w-50">{{detaislone?.contactMobile}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Secondary Mobile Number</div>
                                                <div class="w-50">{{detaislone?.secondaryMobile}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Website</div>
                                                <div class="w-50">{{detaislone?.website}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Location Served</div>
                                                <div class="w-50">{{detaislone?.locationServed}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Service Offered</div>
                                                <div class="w-50">{{detaislone?.serviceOffered}}</div>
                                            </div>

                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Country</div>
                                                <div class="w-50">{{detaislone?.country}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">State</div>
                                                <div class="w-50">{{detaislone?.stateName}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Gst</div>
                                                <div class="w-50">{{detaislone?.gstIn}}</div>
                                            </div>

                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Secret key</div>
                                                <div class="w-50">
                                                    <span *ngIf="detaislone?.secretkey"> {{detaislone?.secretkey
                                                        }}</span>
                                                    <span *ngIf="detaislone?.secretkey==null"
                                                        style="color: orangered;font-weight: 600;">-</span>
                                                </div>
                                            </div>

                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">PG Onboard</div>
                                                <div class="w-50">
                                                    <button class="buttonDownload"
                                                        (click)="pgOnboard()">OnBoard</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <button class="btn clear"></button>
        </div>
        <h5 class="p-1 mx-3" style="color: #141E46;font-weight: 500;font-size:20px;">Personal Approval Status</h5>
        <hr>
        <div class="filters">
            <div class="col-12">
                <article class=" car-details label-info">
                    <div class="d-flex flex-md-row align-items-md-start align-items-center flex-column">
                        <div class="w-100">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="d-flex flex-column">
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">
                                                    Approval Status</div>
                                                <div class="w-50">{{this.detaislone?.approvalStatusL1}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">
                                                    Approved By</div>
                                                <div class="w-50">{{this.detaislone?.approvedByL1}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">
                                                    Comments</div>
                                                <div class="w-50 mx-2"
                                                    style="font-size:18px;cursor: pointer;color:#141E46;"><span
                                                        (click)="leveloneComments(this.detaislone?.comment)"><i
                                                            class="fas fa-comments"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="d-flex flex-column">
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Approval At</div>
                                                <div class="w-50">{{this.detaislone?.approvedDateTimeL1}}</div>
                                            </div>
                                            <div class="d-flex mb-2">
                                                <div class="w-50 font-weight-bold">Approval</div>
                                                <div class="w-50"><button class="buttonDownload"
                                                        (click)="levelOneApproval(this.id)">Approval</button></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <button class="btn clear"></button>
        </div>
    </div>
    <div *ngIf="activeTab === 'materials'">

        <mat-card-header>
            <div class="row  d-flex justify-content-start">
                <div class="col-md-3">
                    <div class="search ">
                        <form class="form">
                            <label for="search">
                                <input #input required="" autocomplete="off" placeholder="Search" id="search"
                                    type="text" [(ngModel)]="searchText">
                                <div class="icon">
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                            stroke-linecap="round"></path>
                                    </svg>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                        <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round"
                                            stroke-linecap="round">
                                        </path>
                                    </svg>
                                </div>
                                <button type="reset" class="close-btn">
                                    <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd"
                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                            fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </label>
                        </form>
                    </div>
                </div>
                <div class="col-md-2 mt-1">
                    <button (click)="addbank(this.id)"
                        style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button>Add
                        Bank</button>
                </div>


            </div>
        </mat-card-header>

        <div class="row mt-4">
            <div class="col-12 mb-3 mb-lg-5">
                <div class="card table-nowrap table-card">
                    <div class="table-responsive text-nowrap text-center">
                        <table class="table table-hover" id="customers">
                            <tr>
                                <th>S No </th>
                                <th>Beneficiary Name</th>
                                <th>Account Number</th>
                                <th>Account Type</th>
                                <th>IFSC Code</th>
                                <th>Bank Name</th>
                                <th>Branch Name</th>
                                <th>Approval Status</th>
                                <th>Bank Status</th>
                                <th>Primary Status</th>
                                <th>Approval</th>
                                <th>Approvet At</th>
                                <th>Comments</th>
                                <th>Action</th>
                                <th>Verification</th>
                            </tr>
                            <tbody
                                *ngFor="let item of bankdetails| paginate: { itemsPerPage: 3, currentPage: currentPage } | search: searchText;let i=index">
                                <td>{{i+1}}</td>
                                <td>{{item.accountHolderName}}</td>
                                <td>{{item.accountNumber}}</td>
                                <td>{{item.accountType}}</td>
                                <td>{{item.ifscCode}}</td>
                                <td>{{item.bankName}}</td>
                                <td>{{item.branchName}}</td>
                                <td [ngClass]="{
                                                    yellow: item?.approvalStatus === 'Pending',
                                                    green: item?.approvalStatus === 'approved',
                           
                                                    Red: item?.approvalStatus == 'Rejected'
                                                  }">{{item.approvalStatus}}</td>
                                <td><span> <mat-slide-toggle class="example-margin" color="primary"
                                            [checked]="item.activeStatus==1"
                                            (change)="bankStatus($event,item.merchantBankId)">
                                        </mat-slide-toggle></span>

                                </td>
                                <td><span>
                                        <mat-slide-toggle class="example-margin" color="primary"
                                            [checked]="item.primaryAccountStatus==1"
                                            (change)="onSubmit($event,item.merchantBankId)">
                                        </mat-slide-toggle>
                                    </span>

                                </td>
                                <td><button class="buttonDownload"
                                        (click)="BankApproval(item.merchantBankId)">Approval</button>
                                </td>
                                <td>{{item.approvalDateTime|date:"dd/MM/yyyy hh:mm:a"}}</td>
                                <td><span (click)="BankComments(item.reMarks)"><i class="fas fa-comments"
                                            style="text-align: center;cursor: pointer;font-size:15px; color:#545497;"></i></span>
                                </td>

                                <td><span><i style="text-align: center;cursor: pointer;font-size:15px; color:#545497;"
                                            (click)="editbank(item)" class="fas fa-edit"></i></span></td>
                                <td>
                                    <span>
                                        <i style="overflow:hidden;color:#141E46;font-size:20px;"
                                            [matMenuTriggerFor]="menu" class="fa-solid fa-circle-info">
                                            <mat-menu #menu="matMenu">
                                                <button style="font-size: 10px;" mat-menu-item
                                                    (click)="bankInfo(item.bavId)">Info</button>
                                                <button style="font-size: 10px;" mat-menu-item
                                                    [disabled]="item.facheckStatus==1"
                                                    (click)="bankVerification(item.merchantBankId)">Verify</button>
                                                <button style="font-size: 10px;" mat-menu-item
                                                    [disabled]="item.facheckStatus==0  || item.facheckStatus==2"
                                                    (click)="bankVerification(item.merchantBankId)">
                                                    Re-Verify </button>
                                            </mat-menu>
                                        </i>
                                    </span>
                                </td>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-end mt-3">
                        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="activeTab === 'videos'">
        <mat-card-header>
            <div class="row  d-flex justify-content-start">
                <div class="col-md-3">
                    <div class="search ">
                        <form class="form">
                            <label for="search">
                                <input #input required="" autocomplete="off" placeholder="Search" id="search"
                                    type="text" [(ngModel)]="searchText">
                                <div class="icon">
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                            stroke-linecap="round"></path>
                                    </svg>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                        <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round"
                                            stroke-linecap="round">
                                        </path>
                                    </svg>
                                </div>
                                <button type="reset" class="close-btn">
                                    <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd"
                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                            fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </label>
                        </form>
                    </div>
                </div>
                <div class="col-md-2 mt-1">
                    <button (click)="addKycdocuments(this.id,this.businessCategoryId)"
                        style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button>Add
                        KYC</button>
                </div>
            </div>
        </mat-card-header>

        <div class="row mt-4">
            <div class="col-12 mb-3 mb-lg-5">
                <div class="card table-nowrap table-card">
                    <div class="table-responsive text-nowrap text-center">
                        <table class="table table-hover" id="customers">
                            <tr>
                                <th>S No </th>
                                <th>KYC Name</th>
                                <th>KYC Number</th>
                                <th>KYC File</th>
                                <th>Approval Status</th>
                                <th>Approval</th>
                                <th>Approved By</th>
                                <th>Approval At</th>
                                <th>Comments</th>
                                <th>Action</th>
                                <th>Verification Status</th>
                                <th>Verfication </th>
                            </tr>
                            <!-- <div *ngIf="(KYCDetails|filter:term)?.length===0" class="text-center">
                                    <h6 style="color:red;">No Data Found</h6>
                                </div> -->
                            <tbody
                                *ngFor="let item of KYCDetails| paginate: { itemsPerPage: 3, currentPage: currentPage } | search: searchText;let i=index">
                                <td>{{i+1}}</td>
                                <td>{{item.docName}}</td>
                                <td>{{item.docNumber}}</td>
                                <td><span (click)="getFrontPath(item.merchantDocumentId)"><i class='fa-regular fa-image'
                                            style='font-size:15px;cursor: pointer;color:#545497;'></i></span>
                                    <span (click)="getBackPath(item.merchantDocumentId)"><i class='fa-regular fa-image'
                                            style='font-size:15px;cursor: pointer;color:#545497;'></i></span>
                                </td>
                                <td [ngClass]="{
                                                        yellow: item?.approvalStatus === 'Pending',
                                                        green: item?.approvalStatus === 'approved',
                               
                                                        Red: item?.approvalStatus == 'Rejected'
                                                      }">{{item.approvalStatus}}</td>
                                <td><button class="buttonDownload"
                                        (click)="KycApproval(item.merchantDocumentId)">Approval</button>
                                <td>
                                    {{item.approvalBy}}
                                </td>
                                <td>{{item.approvalDateTime}}</td>
                                <td><span (click)="KYCComments(item.reMarks)"><i class="fas fa-comments"
                                            style="text-align: center;cursor: pointer;font-size:15px; color:#545497;"></i></span>
                                </td>
                                <td><span (click)="editKycDocuments(item.merchantDocumentId)"><i class="fas fa-edit"
                                            style="text-align: center;cursor: pointer;font-size:15px; color:#545497;"></i></span>
                                </td>

                                <td class="text-center">
                                    <span *ngIf="item.facheckStatus == 1"
                                        style="font-size:14px;color:green;">Verified</span>
                                    <span *ngIf="item.facheckStatus == 0" style="font-size:14px;color:red;">
                                        Not-Verified</span>
                                </td>
                                <td>
                                    <span>
                                        <i style="overflow:hidden;color:#141E46;font-size:20px;"
                                            [matMenuTriggerFor]="menu" class="fa-solid fa-circle-info">
                                            <mat-menu #menu="matMenu">
                                                <button style="font-size: 10px;" mat-menu-item
                                                    (click)="KycInfo(item.kycId,item.docName)">Info</button>
                                                <button style="font-size: 10px;" mat-menu-item
                                                    [disabled]="item.kycId==1"
                                                    (click)="FacheckVerification(item.docName,item.docNumber,item.merchantDocumentId,item.approvalBy)">Verify</button>
                                                <button style="font-size: 10px;" mat-menu-item
                                                    [disabled]="item.kycId==0"
                                                    (click)="FacheckVerification(item.docName,item.docNumber,item.kycId,item.approvalBy)">
                                                    Re-Verify </button>
                                            </mat-menu>
                                        </i>
                                    </span>

                                </td>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-end mt-3">
                    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="activeTab === 'doot1'">
        <mat-card-header>
            <div class="row  d-flex justify-content-start">
                <div class="col-md-3">
                    <div class="search ">
                        <form class="form">
                            <label for="search">
                                <input #input required="" autocomplete="off" placeholder="Search" id="search"
                                    type="text" [(ngModel)]="searchText">
                                <div class="icon">
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                        <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                            stroke-linecap="round"></path>
                                    </svg>
                                    <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                        <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round"
                                            stroke-linecap="round">
                                        </path>
                                    </svg>
                                </div>
                                <button type="reset" class="close-btn">
                                    <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd"
                                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                            fill-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </label>
                        </form>
                    </div>
                </div>

            </div>
        </mat-card-header>
        <div class="row mt-4">
            <div class="col-12 mb-3 mb-lg-5">
                <div class="card table-nowrap table-card">
                    <div class="table-responsive text-nowrap text-center">
                        <table class="table table-hover" id="customers">
                            <tr>
                                <th>S No </th>
                                <th>Overall Approval Status</th>
                                <th>Approved By</th>
                                <th>Approval At</th>
                                <th>Approval</th>
                                <th>Comments</th>
                            </tr>
                            <tbody>
                                <!-- <div *ngIf="(detaislone|filterBy:term)?.length===0" class="text-center">
                                        <h6 style="color:red;">No Data Found</h6>
                                    </div> -->
                                <td class="text-center">1</td>
                                <td class="text-center">{{this.detaislone?.approvalStatusL2}}</td>
                                <td class="text-center">{{this.detaislone?.approvedByL2}}</td>
                                <td class="text-center">{{this.detaislone?.approvedDateTimeL2}}</td>
                                <td class="text-center"><button class="buttonDownload"
                                        (click)="levelTwoApproval(this.id)">Approval</button>
                                <td style="text-align: center;font-size:15px;cursor: pointer;color:#545497;"><span
                                        (click)="levelTwoComments(this.detaislone?.commentL2)"><i
                                            class="fas fa-comments"></i></span></td>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-end mt-3">
                    <pagination-controls (pageChange)="p= $event"></pagination-controls>
                </div>
            </div>

        </div>
    </div>
</div>