<div class="card-header">
    <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;color:black">QR Creation</h3>
    <button type="button" class="btn btn-secondary" matDialogClose>Close</button>
</div>

<body class="page">
    <main class="main page__main">
        <form class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="myForm">
            <div class=" mb-3">
                <div class="form-group">
                    <label for="Entity Name">URL Name*</label>
                    <input type="text" id="Entity Name" formControlName="QRName" class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="QRName?.invalid && QRName?.touched && QRName?.errors?.['required']">
                        Field is required
                    </div>
                    <!-- <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                  " *ngIf="QRName?.invalid && QRName?.touched && QRName?.errors?.['pattern']">
                  Enter a Valid Url Name
                </div> -->
                </div>

            </div>
            <div>
                <button (click)="Submit()" [disabled]="myForm.invalid || isCreated" type="submit" class="btn"
                    style="background-color:#7db855be">Create</button>
            </div>
        </form>
        <div class="form-check" style="margin-top: 1%;" *ngIf="ViewURL ==true">
            <label class="form-check-label" for="exampleCheck1">The URL has to be like this :
              <span style="color: rgb(16, 16, 92);">{{this.EntityURLLink}}</span>  </label>
        </div>

        <div class="form-check" style="margin-top: 3%;margin-left: -66%;" *ngIf="ViewURL ==true">
            <input style="border: 2px solid #3F51B5;;" type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="Check"
                (ngModelChange)="selectss(Check)">
            <label class="form-check-label" for="exampleCheck1">Select & Generate
            </label>
        </div>&nbsp;&nbsp;&nbsp;
        <button style="  margin-left: -165%;   background: #1a2873;
    border: 1px solid;" (click)="GenerateQr()" [hidden]="ADD == false" type="submit" class="my-3 btn btn-danger">Generate
            QR</button>


    </main>

</body>