
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">

<div class="container">
  <div class="form-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Employee Creation</h5>
      <button type="button" class="btn btn-secondary" (click)="close()">Back</button>
  </div>
  <div class="well">
      <form [formGroup]="employeeFormGroup">
          <div class="row mb-3">
              <div class="col-sm-4 form-group">
                  <label for="firstName">Employee Name</label>
                  <input type="text" id="firstName" placeholder="Enter First Name Here.." class="form-control" formControlName="employeeName">
                  <div
                  style="color: red; font-size: 12px"
                  *ngIf="employeeName.invalid && employeeName.touched"
                >
                Field is Required
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="lastName">Mobile Number</label>
                <input type="text" id="lastName"      minlength="10"
                maxlength="10" placeholder="Enter Mobile Number.." class="form-control" formControlName="mobileNumber">
                <div
                style="color: red; font-size: 12px"
                *ngIf="mobileNumber.invalid && mobileNumber.touched"
              >
                Enter a Valid Mobile Number
              </div>
            </div>

            <div class="col-sm-4 form-group">
                <label for="lastName">Email</label>
                <input type="email" id="lastName" placeholder="Enter Email Address.." class="form-control" formControlName="emailAddress">
                <div
                style="color: red; font-size: 12px"
                *ngIf="emailAddress.invalid && emailAddress.touched"
              >
                Enter a Valid Email Address
              </div>
            </div>
          
          </div>
         
          <div class="row mb-3">
          
        
      
              <div class="col-sm-4 form-group">
                  <label for="city">City Name</label>
                  <input formControlName="city" type="text" id="city" placeholder="Enter City Name Here.." class="form-control">
                  <div
                  style="color: red; font-size: 12px"
                  *ngIf="city.invalid && city.touched"
                >
                Field is Required
                </div>
              </div>
            
              <div class="col-sm-4 form-group">
                  <label for="zip">Pincode</label>
                  <input type="text" id="zip" placeholder="Enter Zip Code Here.." class="form-control" formControlName="pincode"      maxlength="6"
                  minlength="6">
                  <div
                  style="color: red; font-size: 12px"
                  *ngIf="pincode.invalid && pincode.touched"
                >
                Field is Required
                </div>
              </div>

              
            <div class="form-group">
              <label for="address">Address</label>
              <textarea id="fname" type="text" class="form__input" placeholder="Enter Address Here.." cols="10" rows="2" class="form-control" formControlName="area"></textarea>
              <div
              style="color: red; font-size: 12px"
              *ngIf="area.invalid && area.touched"
            >
            Field is Required
            </div>
          </div>
       
          </div>
          <div>
            <button (click)="OnSubmit()" [disabled]="this.employeeFormGroup.invalid" type="submit" class="btn mx-1 "style="background-color:#7db855be">Submit</button>
            <button type="submit"  class="btn"style="background-color:#141E46;color:white"  (click)="close()">Cancel</button>
          </div>
      </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>