


<div style="margin-top: -18px;
    margin-bottom: 13px;" class="row" *ngIf="checkStatus">
  <div class="col-md-12" *ngIf="valueannouncements=='Dashboard-Announcement'">
    <label class="form-label"><b style="font-size: 18px; text-align: center;">{{"Announcements" | translate}}<img 
          width="20" alt="" srcset=""></b></label>
    <marquee behavior="scroll" scrollamount="5" [scrollDelay]="5" onmouseover="this.stop();" onmouseout="this.start();"
      style="background-color: #fff; border-radius: 10px;">
      <div class="p-2" id="marquee-item">
        <span style="font-size: 20px;color: green;" *ngFor="let data of announcement"> 
          {{data.announcementContentEnglish}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </div>
    </marquee>
  </div>
</div>


<section id="advertisers" class="advertisers-service-sec " [hidden]="valuedashboardcontent!=='Dashboard-View'">
  <div class="container" [hidden]="checkStatus">

    <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center">
      <div class="col">
        <div class="service-card">
          <div class="row">
            <div class="section-header text-center">
              <h2 class="fw-bold fs-1">
                {{"Enable"|translate}}
                <span class="b-class-secondary"> {{"Dashboard"|translate}} </span> {{"features"|translate}}
              </h2>
              <p class="sec-icon"><i class="fa-solid fa-gear"></i></p>
            </div>
          </div>
          <br />

          <p class="text-center">
            {{"To ensure smooth access to the dashboard functionalities, please complete the following steps:"|translate}}
          </p>
          <div class="row mt-3">
            <div class="col-12 ">
              <ul class="list-unstyled ">
                <li>
                  <p style="font-weight: 500">
                    <i class="fa-solid fa-check-circle" style="color: green"></i>
                    {{"Verify your Email Address and Mobile Number:"|translate}}
                    <a [routerLink]="['/dashboard/view-email']" style="color: darkblue">{{"Click Here"|translate}}</a>
                  </p>
                </li>

                <li>
                  <p style="font-weight: 500">
                    <i class="fa-solid fa-check-circle" style="color: green"></i>
                    {{"Pay the One-time Setup Fee:"|translate}}
                    <a [routerLink]="['/dashboard/view-email']" style="color: darkblue">{{"Click Here"|translate}}</a>
                  </p>
                </li>

                <li>
                  <p style="font-weight: 500">
                    <i class="fa-solid fa-check-circle" style="color: green"></i>
                    {{"Acknowledge all required policies:"|translate}}
                    <a [routerLink]="['/dashboard/view-terms']" style="color: darkblue">{{"Click Here"|translate}}</a>
                    <small style="font-weight: 600; color: red; display: block; margin-left: 25px;">
                      {{"Note: (Please ensure you have read and accepted all four policies to proceed)"|translate}}
                    </small>
                  </p>

                </li>
                <li [hidden]="smsactive==0">
                  <p style="font-weight: 500">
                    <i class="fa-solid fa-check-circle" style="color: green"></i>
                    {{"Approval For SMS:"|translate}}
                    <a [routerLink]="['/dashboard/viewsms']" style="color: darkblue">{{"Click Here"|translate}}</a>
                    <small style="font-weight: 600; color: red; display: block; margin-left: 25px;">
                      {{"Note: (Please ensure you have to approve or reject the sms service to proceed)"|translate}}
                    </small>
                  </p>

                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="dashboard" [hidden]="!checkStatus">
  <div class="card-container">
    <div
      class="card"
      [hidden]="valueCustomerOverview !== 'Dashboard-Customer Overview'"
    >
      <div class="card-header">
        <div class="icon">👥</div>
        <div class="title">{{"Customer Overview" | translate}}</div>
      </div>
      <div class="card-content">
        <div class="stat">
          <div class="stat-title">{{"Total Customer" | translate}}</div>
          <div class="stat-value">
            <span class="value">{{ customercount?.totalCustomerCount }}</span>
            <a routerLink="/dashboard/view-customer" class="details-link">{{"Details" | translate}}</a>
          </div>
        </div>
        <div class="stat">
          <div class="stat-title">{{"Active Customer" | translate}}</div>
          <div class="stat-value">
            <span class="value">{{
              customercount?.totalActiveCustomerCount
            }}</span>
             <a routerLink="/dashboard/view-activecustomer" class="details-link">{{"Details" | translate}}</a>
          </div>
        </div>
        <div class="stat">
          <div class="stat-title">{{"Inactive Customer" | translate}}</div>
          <div class="stat-value">
            <span class="value">{{
              customercount?.totalInActiveCustomerCount
            }}</span>
             <a routerLink="/dashboard/view-inactivecustomer" class="details-link">{{"Details" | translate}}</a>
          </div>
        </div>
        <div class="stat">
          <div class="stat-title">{{"Pending Dues" | translate}}</div>
          <div class="stat-value">
            <span class="value">{{
              duepending?.pendingCount || 0
            }}</span>
             <a routerLink="/dashboard/view-pending" class="details-link">{{"Details" | translate}}</a>
          </div>
        </div>
      </div>
    </div>
 
    <div
    class="card"
    [hidden]="valueTicketOverview !== 'Dashboard-Ticket Overview'"
  >
    <div class="card-header">
      <div class="icon">🎟️</div>
      <div class="title">{{"Ticket Overview" | translate}}</div>
    </div>
    <div class="card-content">
      <div class="stat">
        <div class="stat-title">{{"Total Tickets" | translate}}</div>
        <div class="stat-value">
          <span class="value">{{
            customercount?.totalCustomerTicketCount
          }}</span>
           <a routerLink="/dashboard/customer-viewall" class="details-link">{{"Details" | translate}}</a>
        </div>
      </div>
      <div class="stat">
        <div class="stat-title">{{"Total Open Tickets" | translate}}</div>
        <div class="stat-value">
          <span class="value">{{ customercount?.totalOpenTicketCount }}</span>
          <a routerLink="/dashboard/view-openticket" class="details-link">{{"Details" | translate}}</a>
        </div>
      </div>
      <div class="stat">
        <div class="stat-title"> {{"Tickets on Hold" | translate}}</div>
        <div class="stat-value">
          <span class="value">{{ customercount?.totalHoldTicketCount }}</span>
          <a routerLink="/dashboard/view-holdticket" class="details-link">{{"Details" | translate}}</a>
        </div>
      </div>
      <div class="stat">
        <div class="stat-title"> {{"Closed Tickets" | translate}}</div>
        <div class="stat-value">
          <span class="value">{{
            customercount?.totalCloseTicketCount
          }}</span>
           <a routerLink="/dashboard/view-closedticket" class="details-link">{{"Details" | translate}}</a>
        </div>
      </div>
    </div>
  </div>
   
    <div
      class="card"
      [hidden]="valueemployeeOverview !== 'Dashboard-Employee Overview'"
    >
      <div class="card-header" >
        <div class="icon">👥</div>
        <div class="title"> {{"Employee Overview" | translate}}</div>
      </div>
      <div class="card-content">
        <div class="stat">
          <div class="stat-title"> {{"Total Employee" | translate}}</div>
          <div class="stat-value">
            <span class="value">{{
              dashboardemployecount?.totalCount || 0
            }}</span>
             <a routerLink="/dashboard/view-admin" class="details-link">{{"Details" | translate}}</a>
          </div>
        </div>
        <div class="stat">
          <div class="stat-title"> {{"Active Employee" | translate}}</div>
          <div class="stat-value">
            <span class="value">{{ dashboardemployecount?.activeCount  || 0 }}</span>
            <a routerLink="/dashboard/view-active" class="details-link">{{"Details" | translate}}</a>
          </div>
        </div>
        <div class="stat">
          <div class="stat-title"> {{"Inactive Employee" | translate}}</div>
          <div class="stat-value">
            <span class="value">{{ dashboardemployecount?.inActiveCount || 0 }}</span>
            <a routerLink="/dashboard/view-inactive" class="details-link">{{"Details" | translate}}</a>
          </div>
        </div>
 
      </div>
    </div>
  </div>
</div>
&nbsp;
 <div [hidden]="!checkStatus" >
  <div [hidden]="valueemployeetrans!=='Dashboard-Employee Transaction Details'">
  <div class="section"  [hidden]="roleName=='Merchant Super admin'" >
    <div class="card">
      <h5>{{adminName}} Collection Report</h5>
      <div class="row mt-3 ml-3">
        <div class="col-md-4">
          <label for="period" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif">Select
            Period</label><br />
          <select [(ngModel)]="selectedemployee" (ngModelChange)="getemployeebasedtransaction(selectedemployee)" style="font-size: 12px" id="period"
            class="form-select">
            <option hidden>Select--</option>
       
            <option value="employeetodays">Today</option>
            <option value="employlastdays">Last 7 Days</option>
            <option value="employthismonth">This Month</option>
          </select>
        </div>
       
        </div>
      <div class="transaction-details">
      
        <div class="transaction-item">
          <span class="amount">₹ {{ employeebasedtrasnaction?.totalAmount || 0 }}</span>
          <span class="amount">({{ employeebasedtrasnaction?.totalCount}})</span>
         
          <p class="label success">Total Amount</p>
        </div>

        <div class="transaction-item">
          <span class="amount">₹ {{ employeebasedtrasnaction?.successAmount || 0 }}</span>
          <span class="amount">({{ employeebasedtrasnaction?.successCount}})</span>

         
          <p class="label success">Success Amount</p>
        </div>

        <div class="transaction-item">
          <span class="amount">₹ {{ employeebasedtrasnaction?.PendingAmount || 0 }}</span>
          <span class="amount">({{ employeebasedtrasnaction?.pendingCount}})</span>

         
          <p class="label success">Pending Amount</p>
        </div>
     
     
      </div>
   
   
    </div>
   
  </div>
</div>
</div> 
&nbsp;

<div class="section" [hidden]="!checkStatus">
  <div class="card" [hidden]="valuetodatrans!=='Dashboard-Today Transaction'">
    <h5>{{"Today's Transaction" | translate}}</h5>
    <div class="transaction-details">
      <!-- <div class="transaction-item">
        <span class="amount">₹ {{ customertotal?.totalAmount || 0 }}</span>
        <p class="label total">Total Amount</p>
      </div> -->
      <div class="transaction-item">
        <span class="amount">₹  {{ customertotal?.successAmount || 0 }}</span>
        <span >
          ({{ customertotal?.successCount}})
        </span>
        <p class="label success"> {{"Successful Amount" | translate}}</p>
      </div>
      <div class="transaction-item">
        <span class="amount">₹  {{ customertotal?.failureAmount || 0 }}</span>
        <span >
          ({{ customertotal?.failureCount}})
        </span>
        <p class="label failed"> {{"Failure Amount" | translate}}</p>
      </div>
      <!-- <div class="transaction-item">
        <span class="amount">₹  {{ customertotal?.pendingAmount || 0 }}</span>
        <p class="label pending">Pending Amount</p>
      </div> -->
    </div>
  </div>
</div>

&nbsp;

<div class="section" [hidden]="!checkStatus">
  <div class="card" [hidden]="valuereminder!=='Dashboard-Reminder Status'" >
    <h5> {{"Reminder Status" | translate}}
    </h5>
    <div class="row mt-3 ml-3">
      <div class="col-md-4">
        <label for="period" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif">{{"Select Period" | translate}}</label><br />
        <select [(ngModel)]="selectedonoff" (change)="getonoffstatus(selectedonoff)" style="font-size: 12px" id="period"
          class="form-select">
          <option hidden>{{"Select" | translate}}</option>
          <option value="todayonoff">{{"Today" | translate}}</option>
          <option value="yesterdayonoff"> {{"Yesterday" | translate}}</option>
        </select>
      </div>
      </div>
   
    <div class="transaction-details" *ngIf="selectedonoff=='todayonoff'">
      <div class="transaction-item">
        <span class="amount">{{ ontoday?.activatedDateCount || 0 }}</span>
        <p class="label success">{{"ON Status" | translate}}</p>
        <a routerLink="/dashboard/onstatus" class="details-link">{{"Details" | translate}}
        </a>
      </div>
      <div class="transaction-item">
        <span class="amount">{{ ontoday?.inActivatedDateCount || 0 }}</span>
        <p class="label failed"> {{"OFF Status" | translate}}</p>
        <a routerLink="/dashboard/offstatus" class="details-link">{{"Details" | translate}}
        </a>
      </div>
     
    </div>
 
    <div class="transaction-details" *ngIf="selectedonoff=='yesterdayonoff'">
      <div class="transaction-item">
        <span class="amount">{{ onyesterday?.activatedDateCount || 0 }}</span>
        <p class="label success">{{"ON Status" | translate}}</p>
        <a routerLink="/dashboard/yesterdayonstatus" class="details-link">{{"Details" | translate}}
        </a>
      </div>
      <div class="transaction-item">
        <span class="amount">{{ onyesterday?.inActivatedDateCount || 0 }}</span>
        <p class="label failed">{{"OFF Status" | translate}}</p>
        <a routerLink="/dashboard/yesterdayoffstatus" class="details-link">{{"Details" | translate}}
        </a>
      </div>
     
    </div>
  </div>
</div>
&nbsp;


<div class="section" [hidden]="!checkStatus">
  <div class="card" [hidden]="valuecustomerstatus!=='Dashboard-customer Active Inactive'"  >
    <h5>{{"Customer Active/Inactive Status"|translate}}</h5>
    <div class="row mt-3 ml-3">
      <div class="col-md-4">
        <label for="period" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif">{{"Select Period"|translate}}</label><br />
        <select [(ngModel)]="selectedactiveinactive" (change)="getactiveinactivecustomer(selectedactiveinactive)" style="font-size: 12px" id="period"
          class="form-select">
          <option hidden>{{"Select"|translate}}--</option>
          <option value="activelast">{{"Last Month"|translate}}</option>
          <option value="activemonth">{{"This Month"|translate}}</option>
        </select>
      </div>
      </div>
   
    <div class="transaction-details">
      <div class="transaction-item">
        <span class="amount">{{ activeinactive?.excistingCount || 0 }}</span>
        <p class="label total">{{"Existing Customer"|translate}}</p>
       
      </div>
      <div class="transaction-item">
        <span class="amount">{{ activeinactive?.newCount || 0 }}</span>
        <p class="label total">{{"New Customer"|translate}}</p>
       
      </div>
      <div class="transaction-item">
        <span class="amount">{{ activeinactive?.activeCount || 0 }}</span>
        <p class="label success">{{"Active Customer"|translate}}</p>
     
      </div>
      <div class="transaction-item">
        <span class="amount">{{ activeinactive?.inActiveCount || 0 }}</span>
        <p class="label failed">{{"Inactive Customer"|translate}}</p>
     
      </div>
    </div>
 
 
  </div>
</div>
&nbsp;
<!--
<div class="container mt-2" *ngIf="(emailststaus === 1 && smsstatus === 1 && technical === 'SUCCESS' || technical==='Success')">
<div class=" text-center">
    <h5>Today's Transaction Details</h5>
</div>
 
 
<canvas id="myCanva"  height="100"></canvas> -->

<div class="section" [hidden]="!checkStatus">
  <div class="card" [hidden]="valuetomontlydatrans!=='Dashboard-Monthly Collection Amount'">
    <h5>{{"Monthly Collection" | translate}}
    </h5>
 
 
    <div class="row mt-3 ml-3">
      <div class="col-md-4">
        <label for="period" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif">{{"Select Period" | translate}}</label><br />
        <select [(ngModel)]="selectedPeriods" (ngModelChange)="getmonthtransaction(selectedPeriods)" style="font-size: 12px" id="period"
          class="form-select">
          <option hidden>{{"Select" | translate}}</option>
     
          <option value="LastMonths">{{"Last Month" | translate}}</option>
          <option value="thisMonths">{{"This Month" | translate}}</option>
          <option value="customRanges">{{"Custom Range" | translate}}</option>
        </select>
      </div>
      <div class="col-md-4" *ngIf="selectedPeriods === 'customRanges'">
        <label style="font-size: 12px; font-family: Arial, Helvetica, sans-serif"> {{"From Date" | translate}} &nbsp; &nbsp; &nbsp;&nbsp;
 &nbsp; &nbsp;{{"To Date" | translate}}</label><br />
        <div class="input-group">
          <input style="font-size: 12px; height: 35px" type="date" class="form-control" [(ngModel)]="fromDates" />
          <input type="date" style="font-size: 12px; height: 35px" class="form-control" [(ngModel)]="toDates"  [max]="maxDate" />
          <button (click)="custom()" class="btn btn" style="
          border: none;
          background: linear-gradient(
            45deg,
            rgba(16, 211, 78, 0.548) 0%,
            rgb(43, 132, 52) 100%
          );
          color: white;
        ">
            {{"Search" | translate}}
          </button>
        </div>
      </div>
      <div class="col-md-4">
       
      </div>
      </div>
    <div class="transaction-details">
      <div class="transaction-item">
        <span class="amount">
          ₹ {{lastmonth?.totalAmount || 0}}
        </span>
        <span>
          ({{ lastmonth?.totalCount || 0 }})
        </span>
        <p class="label total">{{"Total Dues Generated" | translate}}</p>
      </div>
      <div class="transaction-item">
        <span class="amount">₹ {{ lastmonth?.successAmount || 0 }}</span>
        <span >
          ({{ lastmonth?.successCount || 0}})
        </span>
        <p class="label success">{{"Total Collected Amount" | translate}}</p>
      </div>
      <div class="transaction-item">
        <span class="amount"> ₹ {{ lastmonth?.onlineCollectedAmount || 0 }}</span>
        <span>
          ({{ lastmonth?.onlineCount || 0 }})
        </span>
        <p class="label cancelled">{{"Online Collected Amount" | translate}}</p>
      </div>
      <div class="transaction-item">
        <span class="amount"> ₹ {{ lastmonth?.offlineCollectedAmount || 0 }}</span>
        <span>
          ({{ lastmonth?.offlineCount || 0 }})
        </span>
        <p class="label offline">{{"Offline Collected Amount" | translate}}</p>
      </div>
 
    </div>
    &nbsp;
    <div class="transaction-details">
      <div class="transaction-item">
        <span class="amount"> ₹ {{ lastmonth?.PendingAmount || 0 }}</span>
        <span >
          ({{ lastmonth?.pendingCount || 0}})
        </span>
        <p class="label pending">{{"Pending Amount" | translate}}</p>
      </div>
   
      <div class="transaction-item">
        <span class="amount"> ₹ {{ lastmonth?.dueCancelAmount || 0 }}</span>
        <span >
          ({{ lastmonth?.dueCancelCount || 0}})
        </span>
        <p class="label failed">{{"Cancelled Amount" | translate}}</p>
      </div>
      <div class="transaction-item">
        <span class="amount"> ₹ {{ lastmonth?.refundAmount || 0 }}</span>
        <span >
          ({{ lastmonth?.refundCount || 0}})
        </span>
        <p class="label refund">{{"Refund Amount" | translate}}</p>
      </div>
    </div>
 
    <div class="transaction-details percentages">
      <div class="transaction-item success-percentage">
        <span class="amount">{{ lastmonth?.successCountPercentage || 0 }}</span>
        <p class="label success">{{"Success Count Percentage" | translate}}</p>
      </div>
      <!-- <div class="transaction-item failed-percentage">
        <span class="amount">{{ lastmonth?.failedCountPercentage || 0 }}</span>
        <p class="label failed">Failed Count Percentage</p>
      </div> -->
    </div>
  </div>
 
</div>
 


 
&nbsp;


<div class="section" [hidden]="!checkStatus">
  <div class="card" [hidden]="valueCollectionAnalytics!=='Dashboard-Additional Collection Analytics'">
    <h5>{{"Additional Collection Analytics"|translate}}</h5>
 
 
    <div class="row mt-3 ml-3">
      <div class="col-md-4">
        <label for="period" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif">{{"Select Period"|translate}}</label><br />
        <select [(ngModel)]="selectedadditionalPeriods" (ngModelChange)="getadditionalmonthtransaction(selectedadditionalPeriods)" style="font-size: 12px" id="period"
          class="form-select">
          <option hidden>{{"Select"|translate}}--</option>
          <option value="LastaditionalMonths">{{"Last Month"|translate}}</option>
          <option value="thisadditionalMonths">{{"This Month"|translate}}</option>
        </select>
      </div>
   
      </div>
    <div class="transaction-details">
      <div class="transaction-item">
        <span class="amount">
          ₹ {{additionalmonth?.totalAmount || 0}}
        </span>
        <span>
          ({{ additionalmonth?.totalCount || 0 }})
        </span>
        <p class="label total"> {{"Total Dues Generated"|translate}}</p>
      </div>
      <div class="transaction-item">
        <span class="amount">₹ {{ additionalmonth?.successAmount || 0 }}</span>
        <span >
          ({{ additionalmonth?.successCount || 0}})
        </span>
        <p class="label success">{{"Total Collected Amount"|translate}}</p>
      </div>
      <div class="transaction-item">
        <span class="amount"> ₹ {{ additionalmonth?.onlineCollectedAmount || 0 }}</span>
        <span>
          ({{ additionalmonth?.onlineCount || 0 }})
        </span>
        <p class="label cancelled">{{"Online Collected Amount"|translate}}</p>
      </div>
   
 
    </div>
    &nbsp;
    <div class="transaction-details">
 
      <div class="transaction-item">
        <span class="amount"> ₹ {{ additionalmonth?.offlineCollectedAmount || 0 }}</span>
        <span>
          ({{ additionalmonth?.offlineCount || 0 }})
        </span>
        <p class="label offline">{{"Offline Collected Amount"|translate}}</p>
      </div>
      <div class="transaction-item">
        <span class="amount"> ₹ {{ additionalmonth?.PendingAmount || 0 }}</span>
        <span >
          ({{ additionalmonth?.pendingCount || 0}})
        </span>
        <p class="label pending">{{"Pending Amount"|translate}}</p>
      </div>
   
      <div class="transaction-item">
        <span class="amount"> ₹ {{ additionalmonth?.dueCancelAmount || 0 }}</span>
        <span >
          ({{ additionalmonth?.dueCancelCount || 0}})
        </span>
        <p class="label failed">{{"Cancelled Amount"|translate}}</p>
      </div>
      <!-- <div class="transaction-item">
        <span class="amount"> ₹ {{ additionalmonth?.refundAmount || 0 }}</span>
        <span >
          ({{ additionalmonth?.refundCount || 0}})
        </span>
        <p class="label refund"> Refund Amount</p>
      </div> -->
    </div>
 
    <div class="transaction-details percentages">
      <div class="transaction-item success-percentage">
        <span class="amount">{{ additionalmonth?.successCountPercentage || 0 }}</span>
        <p class="label success">{{"Success Count Percentage"|translate}}</p>
      </div>
      <!-- <div class="transaction-item failed-percentage">
        <span class="amount">{{ lastmonth?.failedCountPercentage || 0 }}</span>
        <p class="label failed">Failed Count Percentage</p>
      </div> -->
    </div>
  </div>
 
</div>
&nbsp;
 

<div [hidden]="branchstatus==false">
  <div class="section" [hidden]="!checkStatus">
    <div class="card" [hidden]="valueBranchwise!=='Dashboard-Branch Wise Transaction Details'">
      <h5>{{"Branch Wise Monthly Collection Analytics" | translate}}</h5>
   
   
    <div class="row mt-3 ml-3">
      <div class="col-md-4">
       
        <label for="period" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif">{{"Select Branch" | translate }}</label><br />
     
          <select (change)="branch($event)"
          id="branchId" class="form-select" style="font-size: 12px">
          <option value="" disabled selected> {{"Select" | translate }}</option>
          <option *ngFor="let item of branchviews" [value]="item.branchId">
              {{item.branchName}}</option>
   
      </select>
      </div>
      <div class="col-md-4">
        <label for="period" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif">
          {{"Select Period" | translate }}
         </label><br />
        <select [(ngModel)]="selectedbranchPeriods" (change)="getbranchmonthtransaction($event)" style="font-size: 12px" id="period"
          class="form-select">
          <option hidden>{{"Select"|translate}}--</option>
     
          <option value="branchLastMonths"> {{"Last Month" | translate }}</option>
          <option value="branchthisMonths"> {{"This Month" | translate }}</option>
          <option value="branchcustomRanges"> {{"Custom Range" | translate }}</option>
        </select>
      </div>
      <div class="col-md-4" *ngIf="selectedbranchPeriods === 'branchcustomRanges'">
        <label style="font-size: 12px; font-family: Arial, Helvetica, sans-serif">{{"From Date" | translate }} &nbsp; &nbsp; &nbsp;&nbsp;
  &nbsp; &nbsp; {{"To Date" | translate }}</label><br />
        <div class="input-group">
          <input style="font-size: 12px; height: 35px" type="date" class="form-control" [(ngModel)]="branchfromDates" />
          <input type="date" style="font-size: 12px; height: 35px" class="form-control" [(ngModel)]="branchtoDates"  [max]="maxDate" />
          <button (click)="branchcustom()" class="btn btn" style="
          border: none;
          background: linear-gradient(
            45deg,
            rgba(16, 211, 78, 0.548) 0%,
            rgb(43, 132, 52) 100%
          );
          color: white;
        ">
         {{"Search" | translate }}
          </button>
        </div>
      </div>
      <div class="col-md-4">
       
      </div>
      </div>
   
   
      <div class="transaction-details">
        <div class="transaction-item">
          <span class="amount">
            ₹ {{branchmonth?.totalAmount || 0}}
          </span>
          <span>
            ({{ branchmonth?.totalCount || 0 }})
          </span>
          <p class="label total">{{"Total Dues Generated" | translate }}</p>
        </div>
        <div class="transaction-item">
          <span class="amount">₹ {{ branchmonth?.onlineCollectedAmount || 0 }}</span>
          <span >
            ({{ branchmonth?.onlineCount || 0 }})
          </span>
          <p class="label success">{{"Online Collected Amount" | translate }}</p>
        </div>
        <div class="transaction-item">
          <span class="amount"> ₹ {{ branchmonth?.offlineCollectedAmount || 0}}</span>
          <span>
            ({{ branchmonth?.offlineCount || 0 }})
          </span>
          <p class="label cancelled">{{"Offline Collected Amount" | translate }}</p>
        </div>
     
     
   
      </div>
      &nbsp;
      <div class="transaction-details">
        <div class="transaction-item">
          <span class="amount"> ₹ {{ branchmonth?.PendingAmount || 0 }}</span>
          <span >
            ({{ branchmonth?.pendingCount || 0}})
          </span>
          <p class="label pending">{{"Pending Amount" | translate }}</p>
        </div>
        <div class="transaction-item">
          <span class="amount"> ₹ {{ branchmonth?.dueCancelAmount || 0 }}</span>
          <span >
            ({{ branchmonth?.dueCancelCount || 0}})
          </span>
          <p class="label failed"> {{"Cancelled Amount" | translate }}</p>
        </div>
        <div class="transaction-item">
          <span class="amount"> ₹ {{ branchmonth?.refundAmount || 0 }}</span>
          <span >
            ({{ branchmonth?.refundCount || 0}})
          </span>
          <p class="label refund"> {{"Refund Amount" | translate }}</p>
        </div>
      </div>
   
      <div class="transaction-details percentages">
        <div class="transaction-item success-percentage">
          <span class="amount">{{ branchmonth?.successCountPercentage || 0 }}</span>
          <p class="label success"> {{"Success Count Percentage" | translate }}</p>
        </div>
     
      </div>
    </div>
   
  </div>
</div>

 
&nbsp;

<div class="section" [hidden]="!checkStatus">
  <div class="card" [hidden]="valuesetupbox!=='Dashboard-SetupBox'">
    <h5>{{"SetupBox" | translate}}</h5>
    <div class="transaction-details">
      <div class="transaction-item">
        <span class="amount">{{ dashboardallcotes?.totalCount || 0 }}</span>
        <p class="label total">{{"Total Count" | translate}}</p>
        <a routerLink="/dashboard/view-bulk" class="details-link">{{"Details" | translate}}</a>
      </div>
      <div class="transaction-item">
        <span class="amount">
          {{ dashboardallcotes?.allocateCount || 0 }}
       
        </span>
        <p class="label success">{{"Booked Count" | translate}}</p>
        <a routerLink="/dashboard/view-booking" class="details-link">{{"Details" | translate}}</a>
      </div>
      <div class="transaction-item">
        <span class="amount">{{
          dashboardallcotes?.unAllocateCount || 0
        }}</span>
        <p class="label failed">{{"Available Count" | translate}}</p>
        <a routerLink="/dashboard/view-free" class="details-link">{{"Details" | translate}}</a>
      </div>
      <div class="transaction-item">
        <span class="amount">{{ dashboardallcotes?.fault || 0 }}</span>
        <p class="label fault">{{"Damaged Count" | translate}}</p>
        <a routerLink="/dashboard/view-faulty" class="details-link">{{"Details" | translate}}</a>
      </div>

      <div class="transaction-item">
        <span class="amount">{{ dashboardallcotes?.dueStatusOFF || 0 }}</span>
        <p class="label pending">{{"Due Status OFF" | translate}}</p>
        <a routerLink="/dashboard/duestatusoff" class="details-link">{{"Details" | translate}}</a>
      </div>
     
    </div>
  </div>
</div>
&nbsp;

<div [hidden]="valueTransactionDetails !== 'Dashboard-Transaction Details'">
  <div class="card" [hidden]="!checkStatus">
    <div class="container mt-2">
      <div class="text-center">
        <h5>{{"Transaction Details" | translate}}</h5>
      </div>
      <form [formGroup]="transactionform">
        <div class="row mt-4">
          <div class="col-md-4">
            <label
              for="period"
              style="font-size: 12px; font-family: Arial, Helvetica, sans-serif"
              >{{"Select Period" | translate}}</label
            ><br />
            <select
              [(ngModel)]="selectedPeriod"
              (ngModelChange)="get(selectedPeriod)"
              formControlName="selectperiods"
              style="font-size: 12px"
              id="period"
              class="form-select"
            >
              <option hidden>{{"Select" | translate}}</option>
              <option value="Last7Days">{{"Last 7 Days" | translate}}</option>
              <option value="Last14Days">{{"Last 14 Days" | translate}}</option>
              <option value="LastMonth">{{"Last Month" | translate}}</option>
              <option value="thisMonth">{{"This Month" | translate}}</option>
              <option value="customRange">{{"Custom Range" | translate}}</option>
            </select>
          </div>
 
          <div class="col-md-4" *ngIf="selectedPeriod === 'customRange'">
            <label
              style="font-size: 12px; font-family: Arial, Helvetica, sans-serif"
              >From Date &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; To Date</label
            ><br />
            <div class="input-group">
              <input
                style="font-size: 12px; height: 35px"
                type="date"
                class="form-control"
                [(ngModel)]="fromDate"
                formControlName="selecttransaction"
              />
              <input
                type="date"
                style="font-size: 12px; height: 35px"
                class="form-control"
                [(ngModel)]="toDate"
                [max]="maxDate"
                formControlName="selecttransaction"
              />
              <button
                (click)="customranges()"
                class="btn btn"
                style="
                  border: none;
                  background: linear-gradient(
                    45deg,
                    rgba(16, 211, 78, 0.548) 0%,
                    rgb(43, 132, 52) 100%
                  );
                  color: white;
                "
              >
                Go
              </button>
            </div>
          </div>
 
       
          <div class="col-md-4 mt-4"> <button style="color: white; background-color: rgb(179, 3, 3); border-radius: 10px;" (click)="resetTransactionForm()" mat-raised-button> {{"Reset" | translate}}</button> </div>
        </div>
      </form>
      &nbsp;
      <canvas id="myCanvas" height="100"></canvas>
      &nbsp;&nbsp;
    </div>
    <br />
  </div>
</div>
&nbsp;


<div [hidden]="valuecustomerwise !== 'Dashboard-Customer Wise Transaction Details'">
  <div class="card" [hidden]="!checkStatus">
    <div class="container mt-2">
      <div class="text-center">
        <h5> {{"Customer Wise Transaction Details" | translate}}</h5>
      </div>
      <form [formGroup]="customertransactionform">
        <div class="row mt-4">
          <div class="col-md-4">
            <label
              for="searchCustomer"
              style="font-size: 12px; font-family: Arial, Helvetica, sans-serif"
              >  {{"Search Customer" | translate}}</label
            ><br />
            <div class="input-group">
              <input
                type="text"
                id="searchCustomer"
                [(ngModel)]="searchInput"
                formControlName="search"
                (input)="errorMessage = ''; transactionErrorMessage = ''"
                class="form-control"
                style="font-size: 12px; height: 35px"
                [placeholder]="'Search by Mobile Number' | translate"
              />
              <button
                (click)="searchCustomer()"
                class="btn"
                style="
                  border: none;
                  background: linear-gradient(
                    45deg,
                    rgba(16, 211, 78, 0.548) 0%,
                    rgb(43, 132, 52) 100%
                  );
                  color: white;
                "
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
            <div *ngIf="errorMessage" class="error-message">
              {{ errorMessage }}
            </div>
            <div *ngIf="transactionErrorMessage" class="error-message">
              {{ transactionErrorMessage }}
            </div>
          </div>
          <div class="col-md-4 mt-4">
            <button
              style="
                color: white;
                background-color: rgb(179, 3, 3);
                border-radius: 10px;
              "
              (click)="resetcustomerTransactionForm()"
              mat-raised-button
            >
               {{"Reset" | translate}}
            </button>
          </div>
        </div>
      </form>
      &nbsp;
      <div [hidden]="searchResult">
        <div class="text-center">
          <i class="fas fa-chart-bar" style="font-size: 100px; color: #ccc"></i>
          <p style="color: black; font-size: 20px">
             {{"Search a customer to see transaction details" | translate}}
          </p>
        </div>
      </div>
      <canvas
        id="mycustomerCanvas"
        height="100"
        [hidden]="!searchResult"
      ></canvas>
    </div>
    <br />
  </div>
</div>
 
&nbsp;
<div [hidden]="!checkStatus" >
  <div class="card" [hidden]="roleName!=='Merchant Super admin'">
    <div class="container mt-2" >
      <div class="text-center">
        <h5>{{"Employee Transaction Details"| translate}}</h5>
      </div>
      <form [formGroup]="employeeform">
        <div class="row mt-4">
          <div class="col-md-4">
            <label
              for="period"
              style="font-size: 12px; font-family: Arial, Helvetica, sans-serif"
              >{{"Select Period"| translate}}</label
            ><br />
            <select
              (change)="getemployee($event)"
              formControlName="periods"
              style="font-size: 12px"
              id="period"
              class="form-select"
            >
              <option hidden>Select--</option>
              <option value="todayEmployee">{{"Today"| translate}}</option>
              <option value="Last7DaysEmployee">{{"Last 7 Days" | translate}}</option>
              <option value="thisMonthEmployee">{{"This Month"| translate}}</option>
            </select>
          </div>
 
          <div class="col-md-4">
            <label  for="period"
            style="font-size: 12px; font-family: Arial, Helvetica, sans-serif"
              >{{"Select Employee"| translate}}</label
            ><br />
            <select
              style="font-size: 12px"
              id="period"
              class="form-select"
              (change)="getmerchantadminid($event)"
              formControlName="selectemployee"
            >
              <option selected disabled>{{"Select"| translate}}</option>
              <option
                *ngFor="let item of viewemployee"
                [value]="item.merchantAdminId"
              >
                {{ item.adminName }}
              </option>
            </select>
          </div>
          <div class="col-md-4 mt-4">
            <button style="color:white;background-color: rgb(179, 3, 3);border-radius: 10px;" (click)="reset()"
            mat-raised-button >{{"Reset" | translate}}</button>
          </div>
        </div>
      </form>
      &nbsp;
      <canvas id="myEmployeeCanvas" height="100"></canvas>
      &nbsp;&nbsp;
    </div>
    <br />
  </div>
</div>


<div class="row" [hidden]="!checkStatus">

  <div class="col-6" [hidden]="valuesevendays!=='Dashboard-Seven Days Payment Method'">
    <div class="card">
      <canvas id="sevenChartCanvas"></canvas>
      <div class="card-body">
        <!-- First Row -->
        <div class="row">
          <!-- <div class="col">
            <div>{{ sevenss?.intiateCount }}</div>
            <div><strong> Total Request</strong></div>
          </div> -->
          <div class="col">
            <div class="d-flex justify-content-center">{{ sevenss?.totalCount || 0}}</div>
            <div class="d-flex justify-content-center"><strong>{{"Total Count" | translate}}</strong></div>
          </div>
        </div>
        <!-- <hr style="height:2px;border-width:0;color:gray;background-color:gray"> -->
        <!-- Second Row -->
        <!-- <div class="row">
          <div class="col">
            <div class="d-flex justify-content-center">Success Amount</div>
            <div class="d-flex justify-content-center"><b>₹{{ sevenss?.successAmount || 0}}</b></div>
            <div class="d-flex justify-content-center">Success Percentage &nbsp;<b>{{ sevenss?.successPercentage ||0 }}% </b></div>
            <div class="d-flex justify-content-center"></div>
          </div>
          <div class="col text-right">
            <div class="d-flex justify-content-center">Pending Amount</div>
            <div class="d-flex justify-content-center"><b>₹{{ sevenss?.pendingAmount || 0 }}</b></div>
            <div class="d-flex justify-content-center">Pending Percentage &nbsp; <b> {{ sevenss?.failurePercentage || 0}}% </b></div>
            <div class="d-flex justify-content-center"></div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <div class="col-6" [hidden]="valuetop!=='Dashboard-Top Payment Methods'">
    <div class="card">
      <h5>{{"Top Payment Methods (For Past 7 Days)" | translate}}</h5>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{"Payment Method" | translate}}</th>
              <th>{{"Count" | translate}}</th>
              <th>{{"Amount" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let method of customersevenday">
              <td>
                {{
                method.paymentMethod
                ? method.paymentMethod
                : "Not Specified"
                }}
              </td>
              <td>{{ method.count }}</td>
              <td>₹{{ method.amount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>