<div class="container">
  <div class="main-body">
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li style="color:#141E46;font-weight: 700;font-family: 'Times New Roman', Times, serif;"
          class="breadcrumb-item active" aria-current="page">USER PROFILE</li>
      </ol>
    </nav>


    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                width="150">
              <div class="mt-3">
                <h4>{{adminname}}</h4>
                <!-- <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                <!-- <button style="background-color: #7db855be;" class="btn btn mx-2">Follow</button>
                      <button style="background-color: #141E46;color: white;" class="btn btn-outline">Message</button> -->
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{adminname}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">

                {{emailaddress}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile Number</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{mobilenumber}}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{address}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a  (click)="click()" style="background-color:#7db855be;width: max-content;font-weight:500;" class="btn btn-info "
                  target="__blank">Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>