<div class="container">
  <div class="main-body">

        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li style="color:#141E46;font-weight: 700;font-family: 'Times New Roman', Times, serif;"
                    class="breadcrumb-item active" aria-current="page">USER PROFILE</li>
            </ol>
        </nav>

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <div [hidden]="logoLink!== 'NA'">
                                <img src="/assets/fargin_blue.png"  class="w-100" />
                            </div>

                            <div [hidden]="logoLink=='NA'">
                                <img [src]="logoLink" class="w-100" />
                            </div>
                         
<!--                            
                            <div class="mt-3">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFCm6U-R7Dh4WAGASSJFN9RaPTnxmDeV1cVqitzJ1yXslCORiVstDy8rB0YgI5YCRkCJo&usqp=CAU" alt="Admin" class="rounded-circle" width="150">
                            </div> -->
                                 
                            <div class="mt-3">
                             
                                <h4>{{viewmerchant?.merchantpersonal?.entityName}}</h4>
                                <p class="text-secondary mb-1">{{viewmerchant?.merchantpersonal?.merchantLegalName}}</p>
                                <!-- <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{adminName}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mobile</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{mobilenumber}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{address}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 style="white-space: nowrap;" class="mb-0">One time setup fee</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <span  style="font-size: 14px; font-weight: 700;"  class=text-warning *ngIf="viewmerchant?.merchantpersonal?.technicalPayStatus=='Pending' ">
                                    Pending
                                  </span>
                                  <span  style="font-size: 14px; font-weight: 700;"  class=text-success *ngIf="viewmerchant?.merchantpersonal?.technicalPayStatus == 'SUCCESS' || viewmerchant?.merchantpersonal?.technicalPayStatus == 'Success'">
                                    Success
                                  </span>
                                  <span   style="font-size: 14px; font-weight: 700;"  class=text-danger *ngIf="viewmerchant?.merchantpersonal?.technicalPayStatus == 'Failure'">
                                    Failure
                                  </span>
                                 
                                  <span   style="font-size: 14px; font-weight: 700;"   class=text-warning *ngIf="viewmerchant?.merchantpersonal?.technicalPayStatus == 'Initiated'">
                                    Failure
                                  </span>
                            </div>
                            <!-- <div class="col-sm-2">
                                <a [hidden]="viewmerchant?.merchantpersonal?.technicalPayStatus=='Success' || viewmerchant?.merchantpersonal?.technicalPayStatus=='SUCCESS'"
                                    (click)="OnSubmit()" style="background-color:#7db855be;color: white;"
                                    class="btn btn-info">Pay Now</a>
                            </div> -->
                        </div>
                        <hr>
                        <!-- one time setup fee -->
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 style="white-space: nowrap;" class="mb-0">Invoice</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                           <span>
                            <button class="btn btn-success btn-sm" *ngIf="viewmerchant?.merchantpersonal?.technicalPayStatus =='Success'" style="border:none;" (click)="viewreciept(viewmerchant?.merchantpersonal?.merchantId)"> <i class="fa-solid fa-download" style="color:#fff;"></i></button>
                           </span>
                        </div>
                        </div>
                        <hr>
                        <div class="row"  [hidden]="viewmerchant?.merchantpersonal?.technicalPayStatus?.toLowerCase() !== 'success'">
                            <div class="col-sm-3" [hidden]="viewmerchant?.merchantpersonal?.qrImage == null">
                                <h6 class="mb-0">QR</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" [hidden]="viewmerchant?.merchantpersonal?.qrImage ==null">
                                <button
                             
                                (click)="viewQr()"
                            >
                                <i class="fas fa-qrcode" style="font-size:20px"></i>
                            </button>
                            </div>
                            <div class="col-sm-3" >
                                <h6 class="mb-0" [hidden]="viewmerchant?.merchantpersonal?.qrImage!=null">QR</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" [hidden]="viewmerchant?.merchantpersonal?.qrImage!=null">
                                <button
                             
                                (click)="viewQrmessage()"
                            >
                                <i class="fas fa-qrcode" style="font-size:20px"></i>
                            </button>
                            </div>
                            
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a style="background-color:#7db855be;width: max-content;font-weight:500;" class="btn btn-info" target="__blank" (click)="goback()">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
   