<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description"
    content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3" />
  <title>Sidebar template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />

</head>

<body>
  <div class="page-wrapper chiller-theme toggled">
    <div class="toggle">
      <a id="show-sidebar" class="btn btn-sm btn-dark">
        <i class="fas fa-bars"> </i>
      </a>

      <div class="text-start" style="margin-left:260px; margin-top: 20px;">
        <h5 style="color: white;">
          Welcome,{{adminName}}
        </h5>


      </div>
      <div class="search-dropdown">
      <!-- From Uiverse.io by 3bdel3ziz-T --> 
      <div class="select">
  <div
      class="selected"
      data-default="English"
      data-one="Tamil"
      data-two="Hindi"
  >
  <svg
        xmlns="http://www.w3.org/2000/svg"
        height="1em"
        viewBox="0 0 512 512"
        class="arrow"
  >
  <path
          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
          fill="#141E46"
          ></path>
  </svg>
  </div>
  <div class="options">
  <div title="all">
  <input id="all" name="option" type="radio" checked=""  (click)="switchLanguage('en')" />
  <label class="option" for="all"   data-txt="English"></label>
  </div>
  <div title="option-1">
  <input id="option-1" name="option" type="radio" (click)="switchLanguage('ta')" />
  <label class="option" for="option-1" data-txt="Tamil"></label>
  </div>
  <div title="option-2">
  <input id="option-2" name="option" type="radio" (click)="switchLanguage('hi')" />
  <label class="option" for="option-2" data-txt="Hindi"></label>
  </div>
  </div>
  </div>

             
      </div>

      <div class="dropdown" id="profile-dropdown">
        <button class="btn dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>

        </button>
        <!-- [hidden]="valueprofile!=='Profile'" -->
        <div class="dropdown-content">
          <a routerLink="view-profile"><i class="fa fa-user" aria-hidden="true"></i>
            &nbsp; Profile</a>
          <a (click)="changepassword()"><i class="fa fa-key" aria-hidden="true"></i> &nbsp; Change
            Password</a>
          <a (click)="logout()"><i class="fas fa-sign-out-alt"></i> &nbsp; Log Out</a>
        </div>
      </div>
    </div>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <div class="img">
            <img style="width: 70px; height: 45px" src="assets/fargin_blue.png" />
          </div>
          <a style="color: white">Fargin Connect
            Entity
          </a>
          <div id="close-sidebar">
            <i class="fas fa-bars"></i>
          </div>
        </div>
        <div class="">

        </div>

        <div class="sidebar-menu" style="cursor: pointer">
          <ul>
            <li class="header-menu">
              <span></span>
            </li>
            <!-- [hidden]="valueDashboard!=='Dashboard'" -->
            <li [hidden]="valueDashboard!=='Dashboard'">
              <a routerLink="content">
                <i class="fa fa-windows"></i>
                <span style="font-size: 13px;">{{"Dashboard" | translate}}</span>
              </a>
            </li>

            <li>
              <a routerLink="view-email" [hidden]="valueVerification!=='Verification'">
                <i class="fa fa-check-circle"></i>
                <span style="font-size: 13px;">{{"Verfication" | translate}}</span>
              </a>
            </li>

            <div [hidden]="valueCustomer!=='Customer'">
              <li [hidden]="!checkStatus">
                <a routerLink="view-customer">
                  <i class="fa fa-user-plus"></i>
                  <span style="font-size: 13px">{{"CustomerOnboard" | translate}}</span>
                </a>
              </li>
            </div>
            <li [hidden]="valueAgreement!=='Agreement'">
              <a routerLink="viewagreements">
                <i class="fa fa-handshake"></i>
                <span style="font-size: 13px">{{"Agreement" | translate}}</span>
              </a>
            </li>
            <div [hidden]="valueDues!=='Subscription'">
              <li [hidden]="!checkStatus">
                <a routerLink="Merchant-view">
                  <i class="fa-regular fa-clock"></i>
                  <span style="font-size: 13px">{{"Subscription" | translate}}
                  </span>
                </a>
              </li>
            </div>
            <div [hidden]="valuerenewal!=='Renewal'">
              <li [hidden]="!checkStatus">
                <a routerLink="viewrenewal">
                  <i class="fas fa-sync"></i>
                  <span style="font-size: 13px">{{"Renewal" | translate}}
                  </span>
                </a>
              </li>
            </div>
            <div [hidden]="offlineQrEnableStatus=='0'">
              <div [hidden]="valuestatic!=='Static QR Transactions'">
                <li [hidden]="!checkStatus">
                  <a routerLink="offline-transactions">
                    <i class="fa fa-qrcode"></i>
                    <span style="font-size: 13px">{{"Static QR Transactions" | translate}}</span>
                  </a>
                </li>
              </div>
            
            </div>
            <div [hidden]="valueonline!=='Online Refunds'">
              <li [hidden]="!checkStatus">
                <a routerLink="refund-for-merchant">
                  <i class="fa-solid fa-money-bills" style="font-size: 14px;" aria-hidden="true"></i>
              
                  <span style="font-size: 13px">{{"Online Refunds" | translate}}
                  </span>
                </a>
              </li>
            </div>

            <div [hidden]="valuecustomerdues!=='Customer dues'">
              <li [hidden]="!checkStatus">
                <a routerLink="transaction-view">
                  <i class="fas fa-rupee-sign"></i>
                  <span style="font-size: 13px;">{{"Customer Dues" | translate}}</span>
                </a>
              </li>
            </div>
            <div [hidden]="valueAdditionalTransactions!=='Additional Transactions'">
              <li [hidden]="!checkStatus">
                <a routerLink="additional-transactions">
                  <i class="fa fa-money"></i>
                  <span style="font-size: 13px">{{"Additional Transactions" | translate}}</span>
                </a>
              </li>
            </div>

            <div [hidden]="valueCustomizations!=='Customizations Payments'">
              <li [hidden]="!checkStatus">
                <a routerLink="other-payments-viewall">
                  <i class="fa-solid fa-money-bill"></i>
                  <span style="font-size: 13px">{{"Customization Payments" | translate}}</span>
                </a>
              </li>
            </div>
           

            <div [hidden]="valueDueStatusHistory!=='Due Status History'">
              <li [hidden]="!checkStatus">
                <a routerLink="duestatushistory">
                  <i class="fa fa-history" style="font-size: 14px;" aria-hidden="true"></i>
                  <span style="font-size: 13px">{{"Due Status History" | translate}}
                  </span>
                </a>
              </li>
            </div>
            <div [hidden]="valuesurvey!=='Customer Survey'">
              <li [hidden]="!checkStatus">
                <a routerLink="view-surveyquestions">
                  <i class="fa-solid fa-square-poll-vertical" style="font-size: 14px;" aria-hidden="true"></i>
                  <span style="font-size: 13px" >{{"Customer Survey" | translate}}
                  </span>
                </a>
              </li>
            </div>

            <div [hidden]="branchstatus==false">
              <li [hidden]="valueBranch!=='Branch'">
                <a routerLink="branches-viewall">
                  <i class="fa-solid fa-sitemap" style="font-size: 14px;" aria-hidden="true"></i>
                  <span style="font-size: 13px">{{"Branch" | translate}}
                  </span>
                </a>
              </li>
            </div>



            <div [hidden]="valueserviceticket!=='Support Request' && valuecutomerticket!=='Customer Request'">
              <li class="sidebar-dropdown">
                <a>
                  <i class="fa-solid fa-ticket"></i>
                  <span style="font-size: 13px">{{"Service Request" | translate}}</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li routerLink="view-serviceticket" [hidden]="valueserviceticket!=='Support Request'">
                      <a>{{"Support Request" | translate}}</a>
                    </li>
                    <li [hidden]="valuecutomerticket!=='Customer Request'">
                      <a routerLink="customer-viewall">{{"Customer Request" | translate}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                          class="mb-2" matBadgeColor="warn" matBadge="{{customercount?.totalOpenTicketCount}}"
                          matBadgeSize="medium" matBadgeOverlap="true">
                        </span> </a>
                    </li>

                  </ul>
                </div>
              </li>
            </div>

            <!-- <div
            [hidden]="valuecustomerreport!=='Customer Reports'
            && valueDuesReports!=='Dues Reports'
            && valueSetupboxReports!=='Setupbox Reports' ">
            <li [hidden]="checkStatus!==true" class="sidebar-dropdown">
              <a>
                <i class="fas fa-file-alt"></i>
                <span style="font-size: 13px">Reports</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li [hidden]="valuecustomerreport!=='Customer Reports'">
                    <a routerLink="view-customerreports">Customer Reports</a>
                  </li>
                  <li [hidden]="valueDuesReports!=='Dues Reports'">
                    <a routerLink="view-duesreports">Dues Reports</a>
                  </li>

                  <li [hidden]="valueSetupboxReports!=='Setup Box Reports'">
                    <a routerLink="view-setupboxreports">Setupbox Reports</a>
                  </li>

                </ul>
              </div>
            </li>
          </div> -->
 
            <!-- <div [hidden]="valueBeneficiary!=='Beneficiary' && valuefunds!=='Fund Transfer'">
              <li *ngIf="emailststaus==1 && smsstatus==1 && technical=='SUCCESS'|| technical=='Success'"
                class="sidebar-dropdown">
                <a>
                  <i class="fa fa-credit-card"></i>
                  <span>Pay Out</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li routerLink="view-beneficiary" [hidden]="valueBeneficiary!=='Beneficiary'">
                      <a>Beneficiary</a>
                    </li>
                    <li routerLink="viewwithdrawal" [hidden]="valuefunds!=='Fund Transfer'">
                      <a>Fund Transfer</a>
                    </li>

                  </ul>
                </div>
              </li>
            </div>
             <li *ngIf="emailststaus==1 && smsstatus==1" >
                <a routerLink="view-withdrawal">
                  <i class="fa fa-times"></i>
                  <span>Withdrawal Request</span>
                </a>
              </li> -->
            <!-- <div >
              <li [hidden]="checkStatus!==true" class="sidebar-dropdown">

                <a>
                  <i class="fas fa-hands-holding-child icon"></i>
                  <span style="font-size: 13px">Payout</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                  
                  </ul>
                </div>
              </li>
            </div> -->

            <div [hidden]="valuetermscondition!=='Terms and Condition' && valuedisclaimer!=='Disclaimer' 
                && valueprivacypolicy!=='Privacy Policy' && valuerefund!=='Refund Policy'">
              <li class="sidebar-dropdown">
                <a>
                  <i class="fas fa-hands-holding-child icon"></i>
                  <span style="font-size: 13px">{{"Policies" | translate}}</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li [hidden]="valuetermscondition!=='Terms and Condition'">
                      <a routerLink="view-terms">{{"Terms and Condition" | translate}}</a>
                    </li>
                    <li [hidden]="valuedisclaimer!=='Disclaimer'">
                      <a routerLink="view-disclaimer">{{"Disclaimer" | translate}}</a>
                    </li>
                    <li [hidden]="valueprivacypolicy!=='Privacy Policy'">
                      <a routerLink="view-privacy">{{"Privacy Policy" | translate}}</a>
                    </li>
                    <li [hidden]="valuerefund!=='Refund Policy'">
                      <a routerLink="view-refund">{{"Refund Policy" | translate}}</a>
                    </li>
                  </ul>
                </div>
              </li>
            </div>

            <div [hidden]="valuesms!=='SMS Service' && valuesmshistory!=='SMS History'">
              <li class="sidebar-dropdown" [hidden]="smsactive==0">
                <a>
                  <i class="fas fa-sms"></i>
                  <span style="font-size: 13px">{{"SMS" | translate}}</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li routerLink="viewsms" [hidden]="valuesms!=='SMS Service'">
                      <a>{{"SMS Service" | translate}}</a>
                    </li>
                    <li routerLink="smshistory" [hidden]="valuesmshistory!=='SMS History'">
                      <a>{{"SMS History" | translate}}</a>
                    </li>
                  </ul>
                </div>
              </li>
            </div>

            <div [hidden]="valueChannelConfiguration!=='Channel Configuration' 
              && valuePlanConfiguration!=='Plan Configuration'
               && valueLCOPPlanConfiguration!=='LCOP Plan Configuration'">

              <li [hidden]="!checkStatus" class="sidebar-dropdown">
                <a>
                  <i class="fa-solid fa-tv"></i>
                  <span style="font-size: 13px;">{{"Channels & Packages" | translate}}</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li [hidden]="valueChannelConfiguration!=='Channel Configuration'">
                      <a routerLink="channel-configuration">{{"Channel Configuration" | translate}}</a>
                    </li>
                    <li [hidden]="valuePlanConfiguration!=='Plan Configuration'">
                      <a routerLink="plan-configuration">{{"Plan Configuration" | translate}}</a>
                    </li>

                    <li [hidden]="valueLCOPPlanConfiguration!=='LCOP Plan Configuration'">
                      <a routerLink="lcopviewall">{{"LCOP Plan Configuration" | translate}}</a>
                    </li>

                  </ul>
                </div>
              </li>
            </div>


            <div [hidden]="valuebulksetup!=='Setup box Status'&& valuecustomerbulk!=='Customer Status' && valuecustomerbulksetupbox!=='Customer Setupbox Status'&& valueRouteStatus!=='Route Status'">
              <li class="sidebar-dropdown" [hidden]="!checkStatus">
                <a>
                  <i class="fas fa-upload"></i>
                  <span style="font-size: 13px">{{"Bulk Upload Status" | translate}}</span>
                </a>

                <div class="sidebar-submenu" >
                  <ul>
                    <li [hidden]="valuebulksetup!=='Setup box Status'">
                      <a routerLink="response-bulk">
                        <span>{{"Setupbox Status" | translate}}</span>
                      </a>
                    </li>
                    <!-- [hidden]="valuecustomerbulk!=='Customer Status'" -->
                    <li [hidden]="valuecustomerbulk!=='Customer Status'">
                      <a routerLink="customer-bulkresponse">
                        <span>{{"Customer Status" | translate}}</span>
                      </a>
                    </li>
                    <li [hidden]="valuecustomerbulksetupbox!=='Customer Setupbox Status'">
                      <a routerLink="setupboxresponse">
                        <span>
                          {{"Customer Setupbox Status" | translate}}</span>
                      </a>
                    </li>
                    <li [hidden]="valueRouteStatus!=='Route Status'" >
                      <a routerLink="route-bulkresponse">
                        <span>  {{"Route Status" | translate}}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </div>

            <!-- <div>
              <ul>
                <li [hidden]="!checkStatus" class="sidebar-dropdown">
                  <a>
                    <i class="fas fa-user-cog"></i>
                    <span style="font-size: 13px">Language</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li>
                        <a (click)="switchLanguage('en')">English</a>
                      </li>

                      <li>
                        <a (click)="switchLanguage('ta')">Tamil</a>
                      </li>
                      <li>
                        <a (click)="switchLanguage('te')">Telugu</a>
                      </li>
                      <li>
                        <a (click)="switchLanguage('kn')">Kannada</a>
                      </li>
                      <li>
                        <a (click)="switchLanguage('ml')">Malayalam</a>
                      </li>
                      <li>
                        <a (click)="switchLanguage('hi')">Hindi</a>
                      </li>

                    
                    
                    </ul>
                  </div>
                </li>
              </ul>
            </div> -->

            <div
              [hidden]="valueregion!=='Region' && valueRouteConfiguration=='Route Configuration' && valuesetup!=='Setup Box Inventory' && valueServiceProvider!=='Service Provider Payments' && valueCategory!=='Category'">
              <li [hidden]="!checkStatus" class="sidebar-dropdown">
                <a>
                  <i class="fa fa-globe"></i>
                  <span style="font-size: 13px">  {{"Main Master" | translate}}</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li [hidden]="valueServiceProvider!=='Service Provider Payments'">
                      <a style="text-wrap: nowrap;" routerLink="service-provider-link-viewall">{{"Service Provider Payments" | translate}}</a>
                    </li>
                    <li routerLink="view-region" [hidden]="valueregion!=='Region'">
                      <a> {{"Region" | translate}}</a>
                    </li>
                    <li routerLink="view-route">
                      <a>{{"Route Configuration" | translate}}</a>
                    </li>

                    <li routerLink="view-bulk" [hidden]="valuesetup!=='Setup Box Inventory'">
                      <a>{{"Setupbox Inventory" | translate}}</a>
                    </li>
                    <li [hidden]="valueCategory!=='Category'">
                      <a routerLink="category-viewall">{{ 'Category' | translate }}</a>
                    </li>
                    <!-- <li routerLink="app-pincode">
                      <a>Pincode</a>
                    </li>
                    <li routerLink="area-viewall">
                      <a>Area</a>
                    </li>
                    <li routerLink="street-viewall">
                      <a>Street</a>
                    </li> -->
 
                  </ul>
                </div>
              </li>
            </div>

            <div [hidden]="valuerole!=='Role' && valueemployee!=='Employee'">
              <ul>
                <li [hidden]="!checkStatus" class="sidebar-dropdown">
                  <a>
                    <i class="fas fa-user-cog"></i>
                    <span style="font-size: 13px">{{ 'User Management' | translate }}</span>
                  </a>
                  <div class="sidebar-submenu">
                    <ul>
                      <li routerLink="view-role" [hidden]="valuerole!=='Role'">
                        <a>{{ 'Role' | translate }}</a>
                      </li>
                      <li routerLink="view-admin" [hidden]="valueemployee!=='Employee'">
                        <a>{{ 'Employee' | translate }}</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>

          


          </ul>
        </div>
      </div>
    </nav>

    <div>
      <main class="page-content" style="background-color: #dde1e9; height: 100vh">
        <div style="margin-top: 50px">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>

</html>