<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
  <title>Sidebar template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


</head>

<body>
  <div class="page-wrapper chiller-theme toggled">
    <div class="toggle">

      <a id="show-sidebar" class="btn btn-sm btn-dark">
        <i class="fas fa-bars">
        </i>
      </a>

      <div class="center">
        <h2 style="font-size: 20px; margin-left:45px;"> WELCOME FARGIN CONNECT</h2>
      </div>
      <div class="dropdown" id="profile-dropdown">
        <button class="btn dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </button>
        <div class="dropdown-content">
          <a><i class="fa fa-user" aria-hidden="true"></i> &nbsp; Profile</a>
          <a (click)="changepassword()"><i class="fa fa-key" aria-hidden="true"></i> &nbsp; Change Password</a>
          <a><i class="fas fa-sign-out-alt"></i> &nbsp; Log Out</a>
        </div>
      </div>

    </div>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <div class="img">
            <img style="width: 70px;height: 45px;" src="assets/fargin_connect_logo.jpg">
          </div>
          <a style="color: white;">Fargin Connect</a>
          <div id="close-sidebar">
            <i class="fas fa-bars"></i>
          </div>
        </div>
        <div class="">

        </div>

        <!-- sidebar-search  -->
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>General</span>
            </li>

            <li style="cursor: pointer;">
              <a>
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>

              </a>
            </li>

            <li>
              <a routerLink="entity-viewall">
                <i class="fa fa-user-plus"></i>
                <span>Entity Onboard</span>

              </a>
            </li>
            <li>
              <a routerLink="fas fa-user-plus">
                <i class="fas fa-hands-holding-child icon"></i>
                <span routerLink="Terms-policy">Terms and Policy</span>

              </a>
            </li>
            <li class="sidebar-dropdown" style="cursor: pointer;">
              <a>
                <i class="fa fa-cogs"></i>
                <span>Main Master</span>

              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a routerLink="view-category">Business Category

                    </a>
                  </li>
                  <li>
                    <a routerLink="Business-kyc">Business KYC</a>
                  </li>
                  <li>
                    <a routerLink="Region">Region</a>
                  </li>
                  <li>
                    <a routerLink="service-provider">MSO</a>
                  </li>

                  <li>
                    <a routerLink="viewfacheckkey">Facheck Key</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown" style="cursor: pointer;">
              <a>
                <i class="fa fa-globe"></i>
                <span>User Management</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a routerLink="/dashboard/admindetails">Admin
                    </a>
                  </li>

                  <li routerLink="view-role">
                    <a>Role</a>
                  </li>

                </ul>
              </div>

            </li>

            <!-- <li class="sidebar-dropdown">
              <a>
                <i class="far fa-gem"></i>
                <span>Components</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a>General</a>
                  </li>
                  <li>
                    <a>Panels</a>
                  </li>
                  <li>
                    <a>Tables</a>
                  </li>
                  <li>
                    <a>Icons</a>
                  </li>
                  <li>
                    <a>Forms</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sidebar-dropdown">
              <a>
                <i class="fa fa-chart-line"></i>
                <span>Charts</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a>Pie chart</a>
                  </li>
                  <li>
                    <a>Line chart</a>
                  </li>
                  <li>
                    <a>Bar chart</a>
                  </li>
                  <li>
                    <a>Histogram</a>
                  </li>
                </ul>
              </div>
            </li> -->

            <!-- <li class="header-menu">
            <span>Extra</span>
          </li> -->

            <li class="header-menu">
              <span>Extra</span>
            </li>
            <li routerLink="/dashboard/viewticket">
              <a>
                <i class="fa fa-book"></i>
                <span>Ticket</span>
              </a>
            </li>


          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>

    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content" style="background-color:#dde1e9;height: 100vh;">
      <div style="margin-top:50px;">


        <router-outlet></router-outlet>
      </div>
    </main>
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</body>

</html>