<div class="body">

  <div class="login_form">
    <!-- Login form container -->
    <form [formGroup]="forgotForm">
      <h3>Forgot Password</h3>
      <!-- Login option separator -->
      <p class="separator" style="padding-top: 15px;">
        <!-- <span></span> -->
      </p>
      <!-- Email input box -->
      <div class="input_box">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Enter email address" required  formControlName="emailAddress"/>
        <span class="error"
                      *ngIf=" emailAddress?.invalid && emailAddress?.touched && emailAddress?.errors?.['required']">
                      Field is Required</span>
                    <span class="error"
                      *ngIf="emailAddress?.invalid && emailAddress?.touched && emailAddress?.errors?.['pattern']">
                      Enter
                      the Valid Email Address</span>
      </div>
       <!-- Login button -->
<div class="d-flex justify-content-center">
  <button type="submit" [disabled]="this.forgotForm.invalid" (click)="getForgotPassword()">Recover My Password</button>

</div> 
<p class="sign_up"><a (click)="back()">Oh I remembered!</a></p>

    </form>
  </div>
</div>