<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">

<div class="card-header">
    <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">{{"Edit Service Ticket" |translate}}</h3>
</div>

<body class="page">
    <main class="main page__main">
        <div class="form main__form">
            <form [formGroup]="editFormGroup">

                <div class="row">
                    <div class="form-group col-sm-6 mb-3">
                        <label for="subject">{{"Subject of the Ticket" |translate}}</label>
                        <select value="{{subjects}}" class="form-select" formControlName="subject" required>
                            <option value="" selected hidden>{{"Select an Option"|translate}}</option>
                            <option value="Sticker Request">Sticker Request</option>
                            <option value="Payment Processing Failures">Payment Processing Failures</option>
                            <option value="Refunds/Chargebacks">Refunds/Chargebacks</option>
                            <option value="Incorrect Billing">Incorrect Billing</option>
                            <option value="Failed Transactions">Failed Transactions</option>
                            <option value="Payment Confirmation Delays">Payment Confirmation Delays</option>
                            <option value="Compatibility Problems">Compatibility Problems</option>
                            <option value="Data Loss/Corruption">Data Loss/Corruption</option>
                            <option value="Performance Issues">Performance Issues</option>
                            <option value="Installation/Setup Problems">Installation/Setup Problems</option>
                            <option value="Software Bugs/Errors">Software Bugs/Errors</option>
                        </select>
                        <span class="errormge" *ngIf="subject?.touched && subject?.errors?.['required']">Field is
                            required*</span>
                    </div>
                    <!-- Sticker Count Input -->
                    <div [hidden]="subject?.value!='Sticker Request'"  class="form-group col-sm-6 mb-3">
                        <label for="stickerCount">{{"Sticker Count"|translate}}</label>
                        <input [required]="subject?.value=='Sticker Request'" [pattern]="'^[0-9]+$'" type="text" id="stickerCount" class="form-control"
                            formControlName="stickerCount" (input)="calculateTotal()" />
                        <span class="errormge" *ngIf="stickerCount?.touched && stickerCount?.errors?.['required']">Field
                            is required*</span>
                        <span class="errormge" *ngIf="stickerCount?.touched && stickerCount?.errors?.['pattern']">
                            Please enter a valid positive number*
                        </span>
                    </div>


                    <!-- Total Amount Display -->
                    <br><br>
                    <div *ngIf="subject?.value === 'Sticker Request'" class="form-group mb-3">
                        <label style="text-align: wrap; text-indent: 10px;">
                            <b>{{"Note"|translate}}: "{{"Total Amount for Sticker cost is" |translate}} {{ totalAmount || 0 }}"
                                <br>
                                <p style="text-indent: 55px;"> "{{"Maximum delivery days is"|translate}} {{deliveryDays}}</p>
                            </b>
                        </label>
                    </div>
                <!-- </div>
                <!-- <div class="row"> -->
                    <div class="form-group col-sm-6 mb-3">
                        <label for="critical">{{"Criticality" |translate}}</label>
                        <select class="form-select" formControlName="ticketStatus" required value="{{critical}}">

                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                        <span class="errormge" *ngIf="ticketStatus?.touched && ticketStatus?.errors?.['required']">Field
                            is required*</span>
                    </div>

                    <div class="form-group mb-3">
                        <label for="description">{{"Ticket Description" |translate}}</label>
                        <textarea id="description" rows="3" class="form-control" formControlName="description"
                            value="{{descriptions}}"></textarea>
                        <span class="errormge" *ngIf="description?.touched && description?.errors?.['required']">Field
                            is required*</span>
                    </div>
                </div>

                <div class="d-flex">
                    <button type="submit" class="btn mx-1" style="background-color:#7db855be" (click)="save()"
                        >{{"Submit" |translate}}</button>
                    <button type="submit" class="btn" style="background-color:#141E46;color:white"
                        (click)="cancel()">{{"Cancel" |translate}}</button>
                </div>


            </form>
            <form [formGroup]="editImageForm">
                <div class="row">
                    <div class="col-md-8 mt-1">
                        <label for="document">{{"Document" |translate}}</label>
                        <input type="file" id="email" class="form-control" formControlName="document" accept="image/*"
                            (change)="onFileSelected($event)">
                    </div>
                    <div class="col-md-4 mt-4">
                        <button [disabled]="editImageForm.invalid" type="submit" class="btn mx-1"
                            style="background-color:#7db855be;margin-top: 10px;"
                            (click)="onsubmit($event)">{{"Upload" |translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>