<div class="card-header">
    <h3 class="mb-0" style="font-weight: 700;text-align:center;font-size: 21px;">Add KYC Documents</h3>
</div>

<body class="page">
    <main class="main page__main">
        <form class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="KycForm">
          <div class="row">
            <div class="col-md-6">
                <div class="form__linput">
                    <label class="form__label" for="fname">Document Name</label>
                    <select id="Bussiness category" class="form-control form-select" formControlName="documentname">
                        <option value="" disabled selected>Select</option>
                        <option *ngFor="let item of categorydetails" [value]="item.kycDocName">
                            {{item.kycDocName}}</option>
                    </select>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="documentname?.invalid && documentname?.touched && documentname?.errors?.['required']">
                        Field is required
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form__linput" *ngIf="documentname?.value=='Aadhaar'">
                    <label class="form__label" for="fname">Aadhar Cardnumber</label>
                    <input class="form__input" id="fname" type="text" formControlName="documentNumber" name="documentNumber"
                        placeholder="Enter Aadharcard number..." required />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="documentNumber?.invalid && documentNumber?.touched && documentNumber?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="documentNumber?.invalid && documentNumber?.touched && documentNumber?.errors?.['pattern']">
                        Please Enter Valid Aadharcard Number*
                    </div>
    
                </div>
                <div class="form__linput" *ngIf="documentname?.value=='PAN'">
                    <label class="form__label" for="fname">Pancard Number</label>
                    <input class="form__input" id="fname" type="text" formControlName="panNumber" name="panNumber"
                        placeholder="Enter Pancard number..." required />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="panNumber?.invalid && panNumber?.touched && panNumber?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="panNumber?.invalid && panNumber?.touched && panNumber?.errors?.['pattern']">
                        Please Enter Valid Pancard Number*
                    </div>
                </div>
                <div class="form__linput" *ngIf="documentname?.value=='Passport'">
                    <label class="form__label" for="fname">Passport Number</label>
                    <input class="form__input" id="fname" type="text" formControlName="passportNumber" name="passportNumber"
                        placeholder="Enter Passport number..." required />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="passportNumber?.invalid && passportNumber?.touched && passportNumber?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="passportNumber?.invalid && passportNumber?.touched && passportNumber?.errors?.['pattern']">
                        Please Enter Valid Pancard Number*
                    </div>
                </div>
                <div class="form__linput" *ngIf="documentname?.value=='GST'">
                    <label class="form__label" for="fname">GSt Number</label>
                    <input class="form__input" id="fname" type="text" formControlName="gstNumber" name="gstNumber"
                        placeholder="Enter GST number..." required />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="gstNumber?.invalid && gstNumber?.touched && gstNumber?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="gstNumber?.invalid && gstNumber?.touched && gstNumber?.errors?.['pattern']">
                        Please Enter Valid Pancard Number*
                    </div>
                </div>
                <div class="form__linput" *ngIf="documentname?.value=='Driving License'">
                    <label class="form__label" for="fname">DrivingLicense Number</label>
                    <input class="form__input" id="fname" type="text" formControlName="drivingLicenseNumber"
                        name="gstNumber" placeholder="Enter DrivingLicense number..." required />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="drivingLicenseNumber?.invalid && drivingLicenseNumber?.touched && drivingLicenseNumber?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="drivingLicenseNumber?.invalid && drivingLicenseNumber?.touched && drivingLicenseNumber?.errors?.['pattern']">
                        Please Enter Valid Pancard Number*
                    </div>
                </div>
                <div class="form__linput" *ngIf="documentname?.value=='Cin'">
                    <label class="form__label" for="fname">Cinch Number</label>
                    <input class="form__input" id="fname" type="text" formControlName="cinch" name="gstNumber"
                        placeholder="Enter Cinch number..." required />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="cinch?.invalid && cinch?.touched && cinch?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="cinch?.invalid && cinch?.touched && cinch?.errors?.['pattern']">
                        Please Enter Valid Pancard Number*
                    </div>
                </div>
                <div class="form__linput" *ngIf="documentname?.value=='VoterId'">
                    <label class="form__label" for="fname">VoterId Number</label>
                    <input class="form__input" id="fname" type="text" formControlName="voterid" name="gstNumber"
                        placeholder="Enter VoterId number..." required />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="voterid?.invalid && voterid?.touched && voterid?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="voterid?.invalid && voterid?.touched && voterid?.errors?.['pattern']">
                        Please Enter Valid Pancard Number*
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form__linput">
                    <label class="form__label" for="Frontpath">Document Front-Path</label>
                    <input class="form__input" id="Frontpath" type="file" formControlName="documentfront" name="Frontpath"
                        required (change)="getdocument($event)" />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="documentfront?.invalid && documentfront?.touched && documentfront?.errors?.['required']">
                        Field is required
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form__linput">
                    <label class="form__label" for="Backpath">Document Back-Path</label>
                    <input class="form__input" id="Backpath" type="file" formControlName="documentback" name="Backpath"
                        placeholder="Mcc code..." required (change)="getBackdocument($event)" />
                    <div style="color: red; font-size: 12px;margin-top: 2px;"
                        *ngIf="documentback?.invalid && documentback?.touched && documentback?.errors?.['required']">
                        Field is required
                    </div>
                </div>
            </div>
        </div>
            <div class="mb-3">
                <button (click)="submit()" type="submit" class="btn mx-1 "
                    style="background-color:#7db855be">Submit</button>
                <button type="submit" class="btn" style="background-color:#141E46;color:white"
                    matDialogClose>Cancel</button>
            </div>
        </form>
    </main>
</body>