<h4 style="text-align:left;color:#141E46;">Entity Service Request</h4>
 
    <mat-card-header>
        <div class="row mt-5">
 
        <div class="col">
 
            <div class="search">
                <form class="form">
                    <label for="search">
                        <input #input (keyup)="applyFilter($event)" required="" autocomplete="off" placeholder="Search"
                            id="search" type="text">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round"></path>
                            </svg>
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round">
                                </path>
                            </svg>
                        </div>
                        <button type="reset" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
                </form>
 
            </div>&nbsp;&nbsp;&nbsp;
            <button style="color:white;background-color: #141E46;border-radius: 10px;" (click)="exportexcel()"
                mat-raised-button>Export</button>
        </div>
</div>
    </mat-card-header>
 
<mat-card-content>
    <div class="table-responsive text-nowrap mt-4" style="overflow-x: scroll; scrollbar-width: thin;">
        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
            <ng-container matColumnDef="raiseTicketId">
                <th mat-header-cell *matHeaderCellDef> S.No</th>
                <td mat-cell *matCellDef="let data; let i = index"> {{i+1}} </td>
            </ng-container>
 
            <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef>Subject</th>
                <td mat-cell *matCellDef="let data">
                    {{data?.subject}}
                </td>
            </ng-container>
 
 
            <ng-container matColumnDef="Criticallity">
                <th mat-header-cell *matHeaderCellDef>Ticket Status</th>
                <td mat-cell *matCellDef="let data">
                    <span *ngIf="data?.ticketStatus=='Low'" style="color:green;">Low</span>
                    <span *ngIf="data?.ticketStatus=='Medium'" style="color:orange;">Medium</span>
                    <span *ngIf="data?.ticketStatus=='High'" style="color:red;">High</span>
 
                </td>
            </ng-container>
 
         
 
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let data">
                    <i class="fa fa-eye" (click)="description(data)"></i>
                </td>
            </ng-container>
 
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef>Image</th>
                <td mat-cell *matCellDef="let data">
                    <i class="fa fa-image" (click)="image(data)"></i>
                </td>
            </ng-container>
 
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Approval Status</th>
                <td mat-cell *matCellDef="let data">
                    <span *ngIf="data?.approvalStatus=='Open'" style="color: red;">Open</span>
                    <span *ngIf="data?.approvalStatus=='close'" style="color: green;">Closed</span>
                    <span *ngIf="data?.approvalStatus=='hold'" style="color: orange;">Hold</span>
 
                </td>
            </ng-container>
 
            <ng-container matColumnDef="Comments">
                <th mat-header-cell *matHeaderCellDef>Remarks</th>
                <td mat-cell *matCellDef="let data">
 
                    <i class="fa fa-commenting-o" (click)="comment(data)"></i>
                </td>
            </ng-container>
 
            <ng-container matColumnDef="createdDateTime">
                <th mat-header-cell *matHeaderCellDef>Created At</th>
                <td mat-cell *matCellDef="let data">{{data.createdDateTime}}</td>
            </ng-container>
 
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let data">
                    <i style="cursor: pointer;font-size:15px; color:#545497;" class="fas fa-edit" (click)="update(data)"></i>
                </td>
            </ng-container>
 
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
                <td class="mat-cell" colspan="4" style="color: red;font-weight: 600;">No Data Found
                    {{input.value}}
                </td>
            </tr>
        </table>
 
    </div>
</mat-card-content>
 
<mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons
        aria-labels="select page of users"></mat-paginator>
</mat-card-footer>
 
 
 
 
 
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">