mat-card {
  width: 500px;
  height: 458px;
  overflow-x: hidden;
}
.form-header {
  display: flex;
  justify-content: space-between;
  background-color: #bcdf72;
  color: 141e46;
  font-family: "Roboto";
  padding: 10px;
}
