.container {
    max-width: 900;
    /* Increase container width */
}

.form-header {
    background-color: #141E46;
    /* Header background color */
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    /* Rounded corners on top */
    margin-bottom: 0.5rem;
}

.form-group label {
    font-weight: 500;
}

.form-control {
    border-radius: 0.375rem;
}



.well {
    background-color: #ffffff;
    /* Card background color */
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 1.5rem;
    /* margin-top: 27px; */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    /* Light shadow */
}

@media (max-width: 576px) {
    .form-group label {
        font-size: 0.9rem;
        /* Adjust label font size for smaller screens */
    }
}

.card-header {
    display: flex;
    justify-content: space-between;
    background-color: #bcdf72;
    color: white;
    font-family: "Roboto";
}
.table{
    max-height: 100px; /* Adjust based on your needs */
    position: relative;
    overflow-y: hidden;
    padding:10px;
  }

  th{
    background-color: #bcdf72 !important;
    color: #fff;
    font-weight: 600; 
    font-size:14px;
    white-space: nowrap;
    text-shadow: #ffffff;
    text-align: center;
  }
  
  td{
    white-space: nowrap;
    background-color: #fff;
    font-weight: 600; 
    font-size:14px;
    text-align: center;

  }