<!--MAIN-->
<main>
    <table>
        <thead>
            <tr>
                <th>S.no</th>
                <th>Doc Name</th>
                <th>Doc Number</th>
                <th>Verfication Status</th>
                <th>Info</th>
                <th>Action</th>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="ID">100344</td>
                <td data-label="Name">John</td>
                <td data-label="Country">USA</td>
                <td data-label="Age">37</td>
                <td data-label="DOB">April 30, 1988</td>
                <td data-label="Status"><span class="active">Active</span></td>

            </tr>
            <tr>
                <td data-label="ID">100344</td>
                <td data-label="Name"><img src="https://i.postimg.cc/FR5xjr4g/user.png" alt="" />John</td>
                <td data-label="Country"><img src="https://i.postimg.cc/vZXRqKBV/usa.png" alt="" />USA</td>
                <td data-label="Age">37</td>
                <td data-label="DOB">April 30, 1988</td>
                <td data-label="Status"><span class="active">Active</span></td>
            </tr>

        </tbody>
    </table>
</main>