<div class="body">
  <div class="container-fluid d-block">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
        <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
          <div class="card-body p-5 text-center">
            <h3 class="mb-3" style="color:#141E46"> OTP Verification</h3>
            <p>Please enter your 6-digit OTP code</p>
 
            <div class="otp-field mb-4 mt-3">
              <input type="text" style="width: 60px;height:50px;" name="otpCode1" [(ngModel)]="otpCode1"
                (keyup)="move($event,'',first,second)" #first class="form-control me-1 d-inline" maxlength="1" />
              <input type="text" style="width: 60px;height:50px;" name="otpCode2" [(ngModel)]="otpCode2"
                (keyup)="move($event,first,second,third)" #second class="form-control me-1 d-inline" maxlength="1" />
              <input type="text" style="width: 60px;height:50px;" name="otpCode3" [(ngModel)]="otpCode3"
                (keyup)="move($event,second,third,fourth)" #third class="form-control me-1 d-inline" maxlength="1" />
              <input type="text" style="width: 60px;height:50px;" name="otpCode4" [(ngModel)]="otpCode4"
                (keyup)="move($event,third,fourth,fifth)" #fourth class="form-control me-1 d-inline" maxlength="1" />
              <input type="text" style="width: 60px;height:50px;" name="otpCode5" [(ngModel)]="otpCode5"
                (keyup)="move($event,fourth,fifth,six)" #fifth class="form-control me-1 d-inline" maxlength="1" />
              <input type="text" style="width: 60px;height:50px;" name="otpCode6" [(ngModel)]="otpCode6"
                (keyup)="move($event,fifth,six, '')" #six class="form-control me-1 d-inline" maxlength="1" />
            </div>
            <button type="submit" [disabled]="!isOtpComplete()" (click)="verifyotp()"> Verify</button>
            <p *ngIf="displayTimer"> OTP Will be Expired Within:<span style="color:red;">{{display}}</span></p>
 
            <p class="resend text-muted mb-0" *ngIf="resendOtp">
              Didn't receive code? &nbsp;&nbsp;&nbsp;&nbsp;
              <a style="cursor: pointer;font-size: 15px;color:#9184ed ;" (click)="getresendOtp()">Request again</a>
            </p>
 
          </div>
        </div>
      </div>
    </div>
 
  </div>
</div>