
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0" style="color:black">Update</h5>
        <button type="button" class="btn btn-secondary" matDialogClose>Back</button>
    </div>
  

    
    <body style="width: 500px;" class="page">
        <main  class="main page__main">
        <form  class="form main__form" autocomplete="off" class="form" role="form" [formGroup]="myForm">
           
            <div class="form__linput">
                    <label class="form__label" for="Entity Name">Broadcaster Name</label>
                    <input class="form-control"  [(ngModel)]="boutuquename" type="text" id="Entity Name" formControlName="broardCaste"
                        class="form-control">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="broardCaste?.invalid && broardCaste?.touched && broardCaste?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                  " *ngIf="broardCaste?.invalid && broardCaste?.touched && broardCaste?.errors?.['pattern']">
                      Please enter only letters,numbers,(max 50 characters)
                    </div>
             </div>

            <div style="margin-top: 2%;">
                <button (click)="submit()" [disabled]="myForm.invalid" type="submit" class="btn mx-1 "
                    style="background-color:#7db855be">Submit</button>

            </div>
        </form>
        </main>
    </body>
