<div class="row mt-2">
    <div class="col-md-3">
        <h5 style="text-align:left;color:#141E46;">Entity Settlement</h5>
    </div>
    <div class="col-md-8">
    </div>
    <div class="col-md-1">
        <button class="button1" (click)="close()">Back</button>
    </div>
</div>
<mat-card-header>
    <div class="row mt-4">
        <div class="col">
            <div class="search mx-1">
                <form class="form">
                    <label for="search">
                        <input #input (keyup)="applyFilter($event)" required="" autocomplete="off" placeholder="Search"
                            id="search" type="text">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round"></path>
                            </svg>
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-off">
                                <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round">
                                </path>
                            </svg>
                        </div>
                        <button type="reset" (click)="reload()" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
                </form>

            </div>&nbsp;&nbsp;&nbsp;
            <button style="color:white;background-color: #141E46;border-radius: 10px;" (click)="exportexcel()"
                mat-raised-button [hidden]="valuesettlementexport!=='Entity View Settlement-Export'">Export</button>
        </div>
    </div>
</mat-card-header>
<mat-card-content>
    <div class="table-responsive text-nowrap mt-4" style="overflow-x: scroll; scrollbar-width: thin;">
        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="settlementId">
                <th mat-header-cell *matHeaderCellDef> S.No</th>
                <td mat-cell *matCellDef="let data; let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="payoutId">
                <th mat-header-cell *matHeaderCellDef>Payout ID</th>
                <td mat-cell *matCellDef="let data">
                    {{data?.payoutId ||'--'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let data">
                    {{data?.amount ||'--'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="reference">
                <th mat-header-cell *matHeaderCellDef>Reference</th>
                <td mat-cell *matCellDef="let data">
                    {{data?.reference ||'--'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="txnItem">
                <th mat-header-cell *matHeaderCellDef>Txn Item</th>
                <td mat-cell *matCellDef="let data">
                    {{data?.txnItem ||'--'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Txn Time</th>
                <td mat-cell *matCellDef="let data">
                    {{data?.createdAt ||'--'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="View">
                <th mat-header-cell *matHeaderCellDef [hidden]="valuesettlementview!=='Entity View Settlement-View'">View</th>
                <td mat-cell *matCellDef="let data" [hidden]="valuesettlementview!=='Entity View Settlement-View'">
                    <i class="fas fa-eye" style="font-size: 16px;color: rgb(39, 39, 95);"
                        (click)="viewpayout(data.accountId)"></i>
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
                <td class="mat-cell"  >No Data For
                    {{input.value}}
                </td>
            </tr>
        </table>
    </div>
</mat-card-content>
<mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons
        aria-labels="select page of users"></mat-paginator>
</mat-card-footer>