.container {
  padding: 1rem;
  max-width: 100%; /* Full width for container */
}
 
.form-header {
  background-color: #bcdf72; /* Header background color */
  color: black;
  padding: 1rem; /* Padding for better spacing */
  margin-bottom: 0; /* No margin for header */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.well {
  border: 1px solid #dee2e6;
  border-radius: 0 0 0.5rem 0.5rem; /* Rounded corners on bottom */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); /* Light shadow */
  padding: 20px;
  /* min-width: 300px;
  max-width: 90%;
  width: 100%; */
  text-align: justify;
  overflow-y: auto; /* Add vertical scroll */
}
 
.form-group label {
  font-weight: 500;
}
 
.form-control {
  border-radius: 0.375rem;
}
 
.btn {
  border-radius: 0.375rem;
}
 
@media (min-width: 992px) {
  .well {
    max-width: 600px; /* Set a maximum width for larger screens */
  }
}
 
@media (max-width: 768px) {
  .form-header {
    flex-direction: column;
    text-align: center;
  }
 
  .form-header h5 {
    margin-bottom: 1rem;
  }
 
  .form-header button {
    width: auto; /* Do not stretch button */
    margin-top: 0.5rem;
  }
}
 
@media (max-width: 576px) {
  .container {
    padding: 0.5rem;
    max-width: 90%; /* Ensure the container adapts on smaller screens */
  }
 
  .form-group label {
    font-size: 0.9rem; /* Adjust label font size for smaller screens */
  }
 
  .form-header button {
    width: auto; /* Do not stretch button */
    font-size: 0.875rem; /* Smaller font size */
    padding: 0.25rem 0.5rem; /* Compact padding */
  }
 
  .well {
    padding: 1rem;
    overflow-y: auto; /* Ensure scrolling for overflow content */
  }
}
 
