<body>
    <section class="hero-section">
      <div class="img">
        <img
          src="/assets/farginblue.png"
          class="img-fluid"
          alt="Fargin Connect Logo"
          style="border-radius: 10px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1)"
        />
      </div>
      <div class="hero">
        <h3>Fargin Connect</h3>
        <p>How Fargin Connect Elevates Your Success</p>
  
        <p>
          Fargin Connect: Rooted in the Yiddish term “Fargin,” meaning to rejoice
          in others' success, our platform is dedicated to elevating our partners'
          growth.
        </p>
  
        <p>
          What is Fargin Connect? It's a SaaS product designed to simplify Cloud
          Fee payments. Partners upload customer details and dues. Customers scan
          a QR code to fetch and pay their bills via UPI or other online methods,
          ensuring uninterrupted service.
        </p>
        <p>
          How It Helps : Simplifies the payment collection process for partners.
          Customers can pay instantly without interruptions. Reduces the hassle
          for vendors, eliminating the need for repeated visits. Saves time and
          effort, making collections efficient.
        </p>
  
        <p>
          If you’re a Cloud Fee service provider looking to streamline your
          payment process, contact us at sales{{ string }}fargin.in
        </p>
  
        <div class="buttons">
          <!-- <a href="#" class="join" >Back</a> -->
          <button
            style="
              background: linear-gradient(to bottom, #006a8e 23%, #1a1a1a 95%);
              border-radius: 0.9rem;
              font-weight: 600;
              color: white;
              padding: 10px 14px;
            "
          >
            <a
             (click)="logout()"
              style="text-decoration: none; color: white"
              >Login</a
            >
          </button>
        </div>
      </div>
    </section>
  </body>
  