<h4 style="text-align: left; color: #141e46">Fargin Bank History</h4>
&nbsp;&nbsp;
<mat-card-header>
  <div class="row">
    <div class="col">
      <div class="search">
        <form class="form">
          <label for="search">
            <input
              #input
              (keyup)="applyFilter($event)"
              required=""
              autocomplete="off"
              placeholder="Search"
              id="search"
              type="text"
            />
            <div class="icon">
              <svg
                stroke-width="2"
                stroke="currentColor"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="swap-on"
              >
                <path
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                  stroke-linejoin="round"
                  stroke-linecap="round"
                ></path>
              </svg>
              <!-- <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg" class="swap-off">
                            <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round">
                            </path>
                        </svg> -->
            </div>
            <button type="reset" (click)="reload()" class="close-btn">
              <svg
                viewBox="0 0 20 20"
                class="h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </button>
          </label>
        </form>
      </div>
      &nbsp;&nbsp;&nbsp;

      <button
        style="
          color: white;
          background-color: #141e46;
          border-radius: 10px;
          font-size: 12px;
        "
        mat-raised-button
        (click)="exportexcel()"
      >
        Export
      </button>
      <button
        style="
          color: white;
          background-color: #141e46;
          border-radius: 10px;
          font-size: 12px;
        "
        mat-raised-button
        (click)="close()"
      >
        Back
      </button>
    </div>
  </div>
</mat-card-header>
<!-- <mat-card> -->
<mat-card-content>
  <div
    class="example-container text-nowrap mt-3"
    style="overflow-x: scroll; scrollbar-width: thin"
  >
    <table
      id="season-tble"
      matSort
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z1"
    >
      <ng-container matColumnDef="S.No">
        <th mat-header-cell *matHeaderCellDef>S.No</th>
        <td mat-cell *matCellDef="let data; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="accountHolderName">
        <th mat-header-cell *matHeaderCellDef>
            Account Holder Name
        </th>
        <td mat-cell *matCellDef="let data">
          {{ data?.accountHolderName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="accountNumber">
        <th mat-header-cell *matHeaderCellDef>
            Account Number
        </th>
        <td mat-cell *matCellDef="let data">
            {{ data?.accountNumber}}
        </td>
      </ng-container>
          <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type Mode</th>
        <td mat-cell *matCellDef="let data">
          {{ data.typeMode }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bankName">
        <th mat-header-cell *matHeaderCellDef>
            Bank Name
        </th>
        <td mat-cell *matCellDef="let data">
            {{ data?.bankName}}
        </td>
      </ng-container>
      <ng-container matColumnDef="branchName">
        <th mat-header-cell *matHeaderCellDef>
            Branch Name
        </th>
        <td mat-cell *matCellDef="let data">
            {{ data?.branchName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="ifscCode">
        <th mat-header-cell *matHeaderCellDef>
            IFSC Code
        </th>
        <td mat-cell *matCellDef="let data">
            {{ data?.ifscCode}}
        </td>
      </ng-container>

      <ng-container matColumnDef="ledgerId">
        <th mat-header-cell *matHeaderCellDef>
         PG  Ledger ID
        </th>
        <td mat-cell *matCellDef="let data">
            {{ data?.ledgerId}}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="activeStatus">
        <th mat-header-cell *matHeaderCellDef>
            Status
        </th>
        <td mat-cell *matCellDef="let data">
            <span *ngIf=" data?.adminBankDetailEntity?.activeStatus == 1" style="color: blue;">Active</span>
            <span *ngIf=" data?.adminBankDetailEntity?.activeStatus == 0" style="color: red;">InActive</span>
        </td>
      </ng-container> -->

   

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef>
        Updated By
        </th>
        <td mat-cell *matCellDef="let data">
          {{ data.createdBy }}
        </td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>
        Updated At
        </th>
        <td mat-cell *matCellDef="let data">
          {{ data.createdDateTime | date : "dd/MM/yyyy hh:mm a" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr *matNoDataRow>
        <td class="mat-cell" colspan="0" *ngIf="searchPerformed">
          No Data
        </td>
        <td
          class="mat-cell"
          colspan="0"
          *ngIf="!searchPerformed && dataSource.data.length === 0"
        >
          No Data
        </td>
      </tr>
    </table>
  </div>
</mat-card-content>
<mat-card-footer>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    showFirstLastButtons
    aria-labels="select page of users"
  ></mat-paginator>
</mat-card-footer>
