<h4 style="text-align:left;color:#141E46;"> Dues Pending</h4>
<mat-card-header>
    <div class="row mt-4">
        <div class="col">
 
            <div class="search ">
                <form class="form">
                    <label for="search">
                        <input #input required autocomplete="off" placeholder="Search" id="search" type="text" name="search" [(ngModel)]="currentfilval">
                        <div class="icon">
                            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                                    stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <button (click)="reload()" type="reset" class="close-btn">
                            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                                <path clip-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </label>
 
                </form>
 
            </div>&nbsp;&nbsp;&nbsp;
            <button (click)="customerpay(currentfilval)"
            style="color:white;background-color: #141E46;border-radius: 10px;" mat-raised-button>Go</button>
        &nbsp;
            <button style="color:white;background-color: #141E46;border-radius: 10px;" (click)=" exportexcel()"
                mat-raised-button [hidden]="valueduesexport!=='Customer dues-Export'">Export</button>
            <button style="color:white;background-color: #141E46;border-radius: 10px;" (click)="logs()"
                mat-raised-button>Audit Logs</button>
 
                <button    class="custom-btn btn-10"   mat-raised-button style="
                color: white;
                background-color: #141e46;
                border-radius: 10px;
                font-size: smaller;
               
              " routerLink="/dashboard/content">Back</button>
 
 
        </div>
    </div>
</mat-card-header>
<!-- <mat-card> -->
<mat-card-content>
 
    <div class="example-container
    mt-4">
        <table id="season-tble" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
            <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> S.No</th>
                <td mat-cell *matCellDef="let viewall; let i = index"> {{i+1}} </td>
            </ng-container>
 
            <ng-container matColumnDef="setupBoxNumber">
                <th mat-header-cell *matHeaderCellDef>STB No</th>
                <td mat-cell *matCellDef="let viewall">
                    {{viewall.setUpBoxNumber}}
                </td>
            </ng-container>
 
            <ng-container matColumnDef="serviceProviderName">
                <th mat-header-cell *matHeaderCellDef>Mso</th>
                <td mat-cell *matCellDef="let viewall">
                    {{viewall.serviceProviderName}}
                </td>
            </ng-container>
 
            <ng-container matColumnDef="logsview">
                <th mat-header-cell *matHeaderCellDef>Logs View
                </th>
                <td mat-cell *matCellDef="let viewall">
                    <i class="fa fa-eye" (click)="logsview(viewall.customerPayId)"></i>
 
                </td>
            </ng-container>
 
            <ng-container matColumnDef="customername">
                <th mat-header-cell *matHeaderCellDef>Customer Name</th>
                <td mat-cell *matCellDef="let viewall">
                    {{viewall.customerName}}
                </td>
            </ng-container>
 
            <!-- <ng-container matColumnDef="customeremail">
                <th mat-header-cell *matHeaderCellDef>Customer Email</th>
                <td mat-cell *matCellDef="let viewall">
                    {{viewall.customerId.emailAddress}}
                </td>
            </ng-container> -->
 
            <ng-container matColumnDef="transactionId">
                <th mat-header-cell *matHeaderCellDef>Payment Id</th>
                <td mat-cell *matCellDef="let viewall">
                    {{viewall.pgPaymentId || '-'}}
                </td>
            </ng-container>
 
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let viewall">
                    {{viewall.paidAmount || '-'}}
                </td>
            </ng-container>
 
            <ng-container matColumnDef="customerReferenceId">
                <th mat-header-cell *matHeaderCellDef>Customer Id</th>
                <td mat-cell *matCellDef="let viewall">
                    {{viewall.customerReferenceId}}
                </td>
            </ng-container>
 
 
            <ng-container matColumnDef="mobileNumber">
                <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
                <td mat-cell *matCellDef="let viewall">
                    {{viewall.mobileNumber}}
                </td>
            </ng-container>
 
 
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let viewall">
                    <span *ngIf="viewall.paymentStatus=='Success'"
                        style="color:green;"><b>{{viewall?.paymentStatus}}</b></span>
                    <span *ngIf="viewall.paymentStatus=='Due Pending'"
                        style="color:orange;"><b>{{viewall?.paymentStatus}}</b></span>
                    <span *ngIf="viewall.paymentStatus=='Failure'"
                        style="color:red;"><b>{{viewall?.paymentStatus}}</b></span>
                    <span *ngIf="viewall.paymentStatus=='Initiated'"
                        style="color:blue;"><b>{{viewall?.paymentStatus}}</b></span>
                </td>
            </ng-container>
 
            <ng-container matColumnDef="dues">
                <th mat-header-cell *matHeaderCellDef [hidden]="valueReverseDues!=='Customer dues-Reverse Dues'">Reverse
                    Dues</th>
                <td mat-cell *matCellDef="let viewall" [hidden]="valueReverseDues!=='Customer dues-Reverse Dues'">
                    <button [disabled]="viewall.dueStatus === 1 && viewall.paymentStatus!='Success'"
                        (click)="dues(viewall)">
                        <i style="font-size: 20px; cursor: pointer" class="fa fa-edit"></i>
                    </button>
                </td>
            </ng-container>
 
            <ng-container matColumnDef="reverse">
                <th mat-header-cell *matHeaderCellDef>Reverse Status</th>
                <td mat-cell *matCellDef="let viewall">
                    {{ viewall.dueStatus === 1 ? 'Dues Reversed' : 'Not Reversed' }}
                </td>
            </ng-container>
 
 
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef [hidden]="valueduesview!=='Customer dues-View'">View</th>
                <td mat-cell *matCellDef="let viewall" [hidden]="valueduesview!=='Customer dues-View'">
                    <i class="fa fa-eye" (click)="view(viewall.customerPayId)"></i>
                </td>
            </ng-container>
 
            <ng-container matColumnDef="createdat">
                <th mat-header-cell *matHeaderCellDef>Due Generated At</th>
                <td mat-cell *matCellDef="let viewall">
                    {{viewall.createdDateTime | date:'dd/MM/yyyy hh:mm a'}}
                </td>
            </ng-container>
 
            <ng-container matColumnDef="paidat">
                <th mat-header-cell *matHeaderCellDef>Paid At</th>
                <td mat-cell *matCellDef="let viewall">
                    {{viewall.paymentDateTime | date:'dd/MM/yyyy hh:mm a'}}
                </td>
            </ng-container>
 
            <ng-container matColumnDef="Receipt">
                <th mat-header-cell *matHeaderCellDef [hidden]="valueduesReceipt!=='Customer dues-Receipt'">Receipt</th>
                <td mat-cell *matCellDef="let viewall" [hidden]="valueduesReceipt!=='Customer dues-Receipt'">
                    <!-- <button class="btn btn-success btn-sm"  [disabled]="viewall?.paymentStatus!='Success'" >   <i  class="fas fa-receipt" (click)="Receipt(viewall.customerPayId)"></i></button> -->
                    <button class="btn btn-success btn-sm" [disabled]="viewall.paymentStatus!='Success'"
                        style="border:none;" (click)="Receipt(viewall.customerPayId)"> <i class="fas fa-receipt"
                            style="color:#fff;"></i></button>
                </td>
            </ng-container>
 
 
            <ng-container matColumnDef="manualpayment">
                <th mat-header-cell *matHeaderCellDef [hidden]="valueduesmanual!=='Customer dues-Manual Payment'">Manual
                    Payment</th>
                <td mat-cell *matCellDef="let viewall" [hidden]="valueduesmanual!=='Customer dues-Manual Payment'">
                    <button [disabled]="viewall.paymentStatus == 'Success'" class="btn btn-success btn-sm"
                        style="border:none;" (click)="manuvalpayments(viewall.customerPayId)"> <i
                            class="fa-solid fa-address-card" style="color:#fff;cursor:pointer"></i></button>
                </td>
            </ng-container>
 
 
            <ng-container matColumnDef="updateamount">
                <th mat-header-cell *matHeaderCellDef [hidden]="valueduesRefund!=='Customer dues-Refund'">Update Amount
                </th>
                <td mat-cell *matCellDef="let viewall" [hidden]="valueduesRefund!=='Customer dues-Refund'">
                    <button class="btn btn-success btn-sm" (click)="Updatedue(viewall)" style="border:none;"
                        [disabled]="viewall.paymentStatus=='Success'">
                        <i class="fa-regular fa-money-bill-1"></i>
                    </button>
                </td>
            </ng-container>
 
 
 
            <ng-container matColumnDef="refund">
                <th mat-header-cell *matHeaderCellDef [hidden]="valueduesRefund!=='Customer dues-Refund'">Refund</th>
                <td mat-cell *matCellDef="let viewall" [hidden]="valueduesRefund!=='Customer dues-Refund'">
                    <button (click)="refund(viewall)"
                        [disabled]="viewall.pgPaymentId == null || viewall.paymentStatus !== 'Success'">
                        <i class="fa fa-undo"></i>
                    </button>
                </td>
            </ng-container>
 
            <ng-container matColumnDef="commentby">
                <th mat-header-cell *matHeaderCellDef>Comment By</th>
                <td mat-cell *matCellDef="let viewall">
                    <div class="privacy-policy-container">
 
                        <span *ngIf="!isFullPolicyVisible">
                            {{ viewall.commentsBy | slice:0:limit }}
                        </span>
                        <span *ngIf="isFullPolicyVisible">
                            {{ viewall.commentsBy }}
                        </span>
                        <i style="color: #141E46;font-weight: 600;cursor: pointer;" class="read-more"
                            (click)="comment(viewall)">
                            <br>
                            {{ isFullPolicyVisible ? 'Read Less' : '...Read More' }}
                        </i>
                    </div>
                </td>
            </ng-container>
 
 
 
 
 
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            <tr *matNoDataRow>
                <td class="mat-cell" colspan="0" *ngIf="searchPerformed">No Data For {{input.value}}</td>
                <td class="mat-cell" colspan="0" *ngIf="!searchPerformed && dataSource.data.length === 0">No Data
                </td>
            </tr>
 
        </table>
 
    </div>
</mat-card-content>
<mat-card-footer>
    <div class=" row d-flex justify-content-end mt-3 mx-2" *ngIf="!filter">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button style="color:white;background-color: #141E46;">Total Entries:{{this.totalPages}}</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex(pageIndex - 1)"
                [hidden]="pageIndex === 0">Previous</button>
            <button style="color:white;background-color: #141E46;">{{ this.currentpage}} of {{this.totalpage}}
                Pages</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex(pageIndex + 1)"
                [hidden]="pageIndex >= totalpage - 1">Next</button>
        </div>
    </div>
    <div class=" row d-flex justify-content-end mt-3 mx-2" *ngIf="filter">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button style="color:white;background-color: #141E46;">Total Entries:{{this.totalPages1}}</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex1(pageIndex1 - 1)"
                [hidden]="pageIndex1 === 0">Previous</button>
            <button style="color:white;background-color: #141E46;">{{this.currentpage1}} of {{this.totalpage1}}
                Pages</button>
            <button style="color:white;background-color: #141E46;" (click)="changePageIndex1(pageIndex1 + 1)"
                [hidden]="pageIndex1 >= totalpage1 - 1">Next</button>
        </div>
    </div>
</mat-card-footer>