<div class="card-header d-flex justify-content-between align-items-center">
  <h3 class="mb-0" style="font-weight: 700; font-size: 17px;">
    {{"Change the Due Status"|translate}}
  </h3>
  <button class="button1" (click)="close()">{{"Back"|translate}}</button>
</div>

<body class="page">
  <main class="main page__main" [hidden]="status == 'ON'">
    <div class="form main__form">
      <div>
        <p class="d-flex justify-content-center" style="color: #141e46">
          <b>*{{"Are you going to turn ON the due status"|translate}}?</b>
        </p>
        <div class="d-flex justify-content-center">
          <div class="form-check">
            <input
              class="input green"
              type="radio"
              name="activeType"
              id="Fully"
              value="Full"
              (input)="activeStatus($event)"
            />
            <label class="form-check-label" for="Fully"> {{"Fully"|translate}} </label>
          </div>
          &nbsp;&nbsp;

          <!-- <div class="form-check">
            <input
              class="input yellow"
              type="radio"
              name="activeType"
              id="Prorated"
              value="Prorated"
              (input)="activeStatus($event)"
            />
            <label class="form-check-label" for="Prorated"> Prorated </label>
          </div> -->
          &nbsp;&nbsp;
        </div>
      </div>
    </div>
  </main>
  <main class="main page__main" [hidden]="status == 'OFF'">
    <div class="form main__form">
      <div>
        <p class="d-flex justify-content-center" style="color: #141e46">
          <b>{{"Are you going to turn OFF the due status"|translate}}?</b>
        </p>
        <div class="d-flex justify-content-center">
          <div class="form-check">
            <input
              class="input green"
              type="radio"
              name="inactiveType"
              id="Fullys"
              value="Full"
              (input)="inactiveStatus($event)"
            />
            <label class="form-check-label" for="Fullys"> {{"Fully"|translate}} </label>
          </div>
          &nbsp;&nbsp;
          <!-- <div class="form-check">
            <input
              class="input yellow"
              type="radio"
              name="inactiveType"
              id="Prorated"
              value="Prorated"
              (input)="inactiveStatus($event)"
            />
            <label class="form-check-label" for="Prorated"> Prorated </label>
          </div> -->
        </div>
      </div>
    </div>
  </main>
</body>
