.datas {
    color: black;
    font-weight: 500;
  }
   
  .green {
    color: green;
  }
   
  .orange {
    color: orange;
  }
   
  .Red {
    color: red;
  }
 
  .form-header {
    background-color: #bcdf72;
    /* color: whitesmoke; */
    padding: 0.7rem;
    /* border-radius: 0.5rem 0.5rem 0 0; */
    margin-bottom: 0.1rem;
    width:600px;
  }