<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">

<div class="container">
    <div class="form-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Update Entity Onboard</h5>
        <button type="button" class="btn btn-secondary" (click)="close()">Back</button>
    </div>
    <div class="well" >
        <h4 class="card-header" style="font-weight: 500">Personal Details </h4>
        <form [formGroup]="myForm" style="margin-top: 1%;">
            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">Entity Name*</label>
                    <input type="text" id="Entity Name" formControlName="entityName"
                        class="form-control" ngModel="{{detaislone?.entityName}}">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="entityName?.invalid && entityName?.touched && entityName?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="entityName?.invalid && entityName?.touched && entityName?.errors?.['pattern']">
                        Invalid format. Only alphanumeric characters are allowed
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="state">Merchant Legal Name*</label>
                    <input type="text" formControlName="merchantLegalName" id="state"
                       class="form-control" ngModel="{{detaislone?.merchantLegalName}}">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="merchantLegalName?.invalid && merchantLegalName?.touched && merchantLegalName?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="merchantLegalName?.invalid && merchantLegalName?.touched && merchantLegalName?.errors?.['pattern']">
                        Invalid format. Only alphanumeric characters are allowed
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="zip">Account DisplayName*</label>
                    <input type="text" formControlName="accountDisplayName" id="zip" 
                        class="form-control" ngModel="{{detaislone?.accountDisplayName}}">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountDisplayName?.invalid && accountDisplayName?.touched && accountDisplayName?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="accountDisplayName?.invalid && accountDisplayName?.touched && accountDisplayName?.errors?.['pattern']">
                        Invalid format. Only alphanumeric characters are allowed
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label for="Bussiness category">Bussiness category</label>
                    <select formControlName="businessCategoryIds" 
                        id="Bussiness category" class="form-control form-select">
                        <option value="" disabled selected>Select</option>
                        <option *ngFor="let item of categorydetails" [value]="item.businessCategoryId">
                            {{item.categoryName}}</option>

                    </select>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="businessCategoryIds?.invalid && businessCategoryIds?.touched && businessCategoryIds?.errors?.['required']">
                        Field is required
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Mcc Code">Mcc Code</label>
                    <input formControlName="mccCode" readonly type="text" id="Mcc Code"
                        class="form-control" ngModel="{{detaislone?.mccCode}}">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="mccCode?.invalid && mccCode?.touched && mccCode?.errors?.['required']">
                        Field is required
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Entity Plan">Entity Plan</label>
                    <select formControlName="merchantPlanId" id="Bussiness category" class="form-control form-select">
                        <option value="" disabled selected>Select</option>
                        <option *ngFor="let item of entittyplanviewall" [value]="item.merchantPlanId">
                            {{item.planName}}</option>

                    </select>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="merchantPlanId?.invalid && merchantPlanId?.touched && merchantPlanId?.errors?.['required']">
                        Field is required
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">GSTIN(Optional)</label>
                    <input formControlName="gstIn" type="text" id="Entity Name" 
                        class="form-control"  ngModel="{{detaislone?.gstIn}}">
                    <div style="
                        color: red;
                        font-size: 12px;
                        margin-top: 2px;
                        position: relative;
                        ;
                      " *ngIf="gstIn?.invalid && gstIn?.touched && gstIn?.errors?.['pattern']">
                        Enter a Valid GST Number
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">Website (Optional)</label>
                    <input type="text" formControlName="website" id="Entity Name" 
                        class="form-control"  ngModel="{{detaislone?.website}}">
                    <div style="
                        color: red;
                        font-size: 12px;
                        margin-top: 2px;
                        position: relative;
                        ;
                      " *ngIf="website?.invalid && website?.touched && website?.errors?.['pattern']">
                        Enter a Valid Website
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Mcc Code">Country*</label>
                    <input type="text" formControlName="country" id="Mcc Code" class="form-control" ngModel="{{detaislone?.country}}">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="country?.invalid && country?.touched && country?.errors?.['required']">
                        Field is required
                    </div>

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="country?.invalid && country?.touched && country?.errors?.['pattern']">
                        Invalid format. Only alphanumeric characters are allowed
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">State*</label>
                    <input type="text" formControlName="stateName" id="Entity Name" 
                        class="form-control" ngModel="{{detaislone?.stateName}}">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="stateName?.invalid && stateName?.touched && stateName?.errors?.['required']">
                        Field is required
                    </div>

                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="stateName?.invalid && stateName?.touched && stateName?.errors?.['pattern']">
                        Invalid format. Only alphanumeric characters are allowed
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">City*</label>
                    <input type="text" formControlName="city" id="Entity Name"
                        class="form-control" ngModel="{{detaislone?.city}}">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="city?.invalid && city?.touched && city?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="city?.invalid && city?.touched && city?.errors?.['pattern']">
                        Invalid format. Only alphanumeric characters are allowed
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Mcc Code">Pincode*</label>
                    <input minlength="6" maxlength="6" type="text" formControlName="zipcode" id="Mcc Code"
                       class="form-control"  ngModel="{{detaislone?.zipcode}}">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="zipcode?.invalid && zipcode?.touched && zipcode?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="zipcode?.invalid && zipcode?.touched && zipcode?.errors?.['pattern']">
                        Enter a valid Pincode
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">Area*</label>
                    <input type="text" formControlName="area" id="Entity Name" 
                        class="form-control"  ngModel="{{detaislone?.area}}">
                    <div style="
                        color: red;
                        font-size: 12px;
                        margin-top: 2px;
                        position: relative;
                        ;
                      " *ngIf="area?.invalid && area?.touched && area?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                        color: red;
                        font-size: 12px;
                        margin-top: 2px;
                        position: relative;
                        ;
                      " *ngIf="area?.invalid && area?.touched && area?.errors?.['pattern']">
                        Invalid format. Only alphanumeric characters are allowed
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">Billing Address*</label>
                    <input type="text" formControlName="billingAddress" id="Entity Name"
                        class="form-control" ngModel="{{detaislone?.billingAddress}}">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="billingAddress?.invalid && billingAddress?.touched && billingAddress?.errors?.['required']">
                        Field is required
                    </div>
                </div>

                <div class="col-sm-4 form-group">
                    <label for="Mcc Code">Owner/Contact Name*</label>
                    <input type="text" formControlName="contactName" id="Mcc Code" 
                        class="form-control" ngModel="{{detaislone?.contactName}}">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="contactName?.invalid && contactName?.touched && contactName?.errors?.['required']">
                        Field is required
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">Owner/Contact Email*</label>
                    <input type="email" formControlName="contactEmail" id="Entity Name" 
                        class="form-control" ngModel="{{detaislone?.contactEmail}}">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="contactEmail?.invalid && contactEmail?.touched && contactEmail?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="contactEmail?.invalid && contactEmail?.touched && contactEmail?.errors?.['pattern']">
                        please Enter A valid Email
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Entity Name">Primary Mobile Number*</label>
                    <input type="tel" [maxLength]="10" formControlName="contactMobile" id="Entity Name"
                         class="form-control" ngModel="{{detaislone?.contactMobile}}">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="contactMobile?.invalid && contactMobile?.touched && contactMobile?.errors?.['required']">
                        Field is required
                    </div>
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="contactMobile?.invalid && contactMobile?.touched && contactMobile?.errors?.['pattern']">
                        please Enter A valid Mobile Number
                    </div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Mcc Code">Secondary Mobile Number(Optional)</label>
                    <input [maxLength]="10" formControlName="secondaryMobile" type="text" id="Mcc Code"
                       class="form-control" ngModel="{{detaislone?.contactMobile}}">
                    <div style="
                    color: red;
                    font-size: 12px;
                    margin-top: 2px;
                    position: relative;
                    ;
                  " *ngIf="secondaryMobile?.invalid && secondaryMobile?.touched && secondaryMobile?.errors?.['pattern']">
                        please Enter A valid Mobile Number
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-4 form-group">
                    <label for="Mcc Code">LocationServed(Optional)</label>
                    <input formControlName="locationServed" type="text" id="Mcc Code" 
                        class="form-control"  ngModel="{{detaislone?.locationServed}}">
                </div>
                <div class="col-sm-4 form-group">
                    <label for="Mcc Code">serviceOffered(Optional)</label>
                    <input formControlName="serviceOffered" type="text" id="Mcc Code"
                        class="form-control" ngModel="{{detaislone?.serviceOffered}}">
                </div>
                <div class="col-sm-4 form-group">
                </div>
            </div>
            <div>
                <button (click)="submit()" type="submit" class="btn mx-1 "
                    style="background-color:#7db855be">Submit</button>
                <button type="submit" class="btn" style="background-color:#141E46;color:white"
                    (click)="close()">Cancel</button>
            </div>
        </form>
    </div>
    

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>