<body>
    <span>
        <div class="card" style="width: 570px; font-size: 14px;height:auto">
            <div class="form-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">{{"Plan Details"|translate}} </h5>
            </div>
            <!-- <button type="button" class="btn btn-secondary" mat-dialog-close>Back</button> -->
 
            <div class="card">
                <table class="table table-bordered"
                    style="background-color: white; text-align: left;border: 1px solid rgb(154, 154, 153);">
                    <tbody>
                        <tr>
                            <td class="datas">{{"Plan Name"|translate}}</td>
                            <td id="data">{{profileview?.planName}}</td>
                        </tr>
                        <tr>
                            <td class="datas">{{"One Time Setup Fee"|translate}}</td>
                            <td id="data" class="text-success">₹{{profileview?.technicalAmount}}</td>
                        </tr>
                       <tr>
                            <td class="datas">{{"Renewal Fee(Yearly)"|translate}}</td>
                            <td id="data" class="text-success">₹{{profileview?.renewalAmount}}</td>
                        </tr>
                        <tr>
                            <td class="datas">{{"Cloud Fee(Monthly)"|translate}}</td>
                            <td id="data" class="text-success">₹{{profileview?.maintenanceAmount}}</td>
                        </tr>
                        <tr>
                            <td class="datas">{{"Cloud Fee Period"|translate}}</td>
                            <td id="data" >{{profileview?.frequency}}</td>
                        </tr>
 
                        <tr>
                            <td class="datas">{{"Customer Onboard Limit"|translate}}</td>
                            <td id="data">{{profileview?.countLimit}}</td>
                        </tr>

                        <tr>
                            <td class="datas">{{"voiceBoxAdvRent"|translate}}</td>
                            <td id="data">{{profileview?.voiceBoxAdvRent}}</td>
                        </tr>

                        <tr>
                            <td class="datas">{{"voiceBoxSetupFee"|translate}}</td>
                            <td id="data">{{profileview?.voiceBoxSetupFee}}</td>
                        </tr>
             
                    </tbody>
                </table>
 
            </div>
            <div class="text-center mt-3 mb-2">
                <button type="submit" class="btn" style="background-color:#141E46;color:white"
                mat-dialog-close>{{"Close"|translate}}</button>
            </div>
        </div>
    </span>
</body>