
<div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="mb-0" style="font-weight: 700; font-size: 17px; color:black">
        Change the Branch Status
    </h3>
    <button class="button1" (click)="close()">Back</button>
  </div>
  

<body class="page">
    <main class="main page__main">
        <div class="form main__form">
            <div>
                <!-- <p  style="color:#141E46"> <b>*Note: </b> If you select <strong>Main Keys</strong>, all customers will be mapped to the main keys, or else if you select <strong>Branch</strong>, it allows you to choose a specific branch from the dropdown and map customers accordingly.</p> -->
                <p style="color:#141E46;"><b>Note:</b> Choose <strong>Main Keys</strong> to map all customers, or else <strong>Branch</strong> to assign them to a specific branch.</p>

                
                <div class="d-flex justify-content-center">
                    <div class="form-check">
                        <input class="input green" type="radio" [value]="1" name="option" id="yes" 
                        (change)="toggleOption(1)" [(ngModel)]="selectedOption"/>
                        <label class="form-check-label" for="yes">
                            Main keys
                        </label>
                    </div>&nbsp;&nbsp;

                    <div class="form-check">
                        <input class="input yellow" type="radio" [value]="2" name="option" id="no"
                        (change)="toggleOption(2)" [(ngModel)]="selectedOption"/>
                        <label class="form-check-label" for="no">
                            Branch
                        </label>
                    </div>
                </div>

                <!-- Dropdown & Submit Button for Branch Selection -->
                <div *ngIf="selectedOption == 2" class="mt-3">
                    <div class="col-sm-12 form-group">
                        <label for="branchSelect" class="form-label">Select a Branch</label>
                        <select id="branchSelect" class="form-select" [(ngModel)]="selectedBranchId">
                            <option value="" disabled selected>Select</option>
                            <option *ngFor="let item of branchonlyactives" [value]="item.branchId">
                                {{item.branchName}}</option>
                        </select>
                    </div>

                    <div class="button-group mt-3">
                        <button class="btn" (click)="branch()" [disabled]="!selectedBranchId">Submit</button>
                        <button class="btn btn-secondary" matDialogClose>Cancel</button>
                    </div>
                </div>

                <!-- Submit Button for Main Keys Selection -->
                <div *ngIf="selectedOption == 1" class="button-group mt-3">
                    <button class="btn" (click)="mainkeys()">Submit</button>
                    <button class="btn btn-secondary" matDialogClose>Cancel</button>
                </div>

            </div>
        </div>
    </main>
</body>
